@import 'styles/osds-location-tile.color';
@import 'styles/osds-location-tile.typography';

:host {
  display: inline-flex;
  width: var(--width);

  osds-tile {
    &[flex] {
      grid-template-columns: 1fr;
    }
  }

  .location__content {
    display: grid;
    gap: 1em 0;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-areas:
            "location__flag-wrapper"
            "location__text-wrapper";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  .location__flag-wrapper {
    display: block;
    font-size: 0;
    grid-area: location__flag-wrapper;
    justify-self: center;
    align-self: center;
    min-width: var(--ods-size-02);
    max-width: 4rem;
    width: var(--ods-size-11);
  }

  .location__text-wrapper {
    display: grid;
    gap: 0;
    grid-area: location__text-wrapper;
    grid-auto-flow: row;
    grid-template-areas:
            "country"
            "city"
            "info";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-content: center;

    slot {
      display: block;
    }

    slot[name='country'] {
      grid-area: country;
    }

    slot[name='city'] {
      grid-area: city;
    }

    slot[name='info'] {
      display: block;
      grid-area: info;
      margin-top: .5em;

      &:empty {
        margin-top: 0;
      }
    }
  }
}

:host([flex]) {
  display: flex;
  width: 100%;
}

:host([variant='horizontal']) .location__content {
  gap: 0 1em;
  grid-template-areas:
          "location__flag-wrapper location__text-wrapper";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  text-align: left;

  .location__flag-wrapper {
    width: var(--ods-size-11);
  }
}

:host([variant='vertical']) .location__content {
  gap: 1em 0;
  grid-template-areas:
          "location__flag-wrapper"
          "location__text-wrapper";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
