@use '../../../../../style/input';

:host(.ods-clipboard) {
  display: inline-block;
  position: relative;
  height: input.$ods-input-input-height;
}

.ods-clipboard {
  &__input {
    width: inherit;

    &::part(input) {
      padding-right: calc(input.$ods-input-actions-button-width + input.$ods-input-actions-padding-right);
    }
  }

  &__copy {
    display: flex;
    position: absolute;
    top: input.$ods-input-actions-padding-right;
    right: input.$ods-input-actions-padding-right;
    bottom: input.$ods-input-actions-padding-right;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  &__tooltip {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;

    &__copied {
      display: flex;
      flex-flow: row;
      column-gap: 4px;
      align-items: center;

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
