@use '../../../../../style/font';
@use '../../../../../style/state';

@layer ods-molecules {
  .file-thumbnail {
    --ods-file-thumbnail-border-color: var(--ods-semantic-color-border-control);
    --ods-file-thumbnail-object-fit: contain;
    --ods-file-thumbnail-preview-size: 32px;

    display: grid;
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    column-gap: var(--ods-semantic-size-space-gap-inline);
    border: solid var(--ods-semantic-size-border-thickness) var(--ods-file-thumbnail-border-color);
    border-radius: var(--ods-semantic-size-radius-container);
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--error {
      border-color: var(--ods-semantic-color-border-critical);
    }

    &__preview {
      align-self: center;
      border-radius: calc(var(--ods-semantic-size-radius-container) / 2);
      object-fit: var(--ods-file-thumbnail-object-fit);
      object-position: center center;
      width: var(--ods-file-thumbnail-preview-size);
      height: var(--ods-file-thumbnail-preview-size);
    }

    &__icon {
      align-self: center;
      font-size: 32px;

      &--error {
        color: var(--ods-semantic-color-content-critical);
      }
    }

    &__file {
      display: flex;
      flex-direction: column;

      &__name {
        @include font.ellipsis();
      }

      &__size {
        color: var(--ods-semantic-color-content-placeholder);

        &--disabled {
          color: var(--ods-semantic-color-content-disabled);
        }
      }

      &__progress {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: var(--ods-semantic-size-space-gap-inline);
        align-items: center;
      }

      &__error {
        color: var(--ods-semantic-color-content-critical);
        font-size: 0.75rem;
      }
    }

    &__delete {
      align-self: center;
    }
  }
}
