@use '../../../../../style/font';
@use '../../../../../style/state';

@layer ods-molecules {
  .file-thumbnail {
    --ods-file-thumbnail-border-color: var(--ods-color-neutral-300);
    --ods-file-thumbnail-object-fit: contain;
    --ods-file-thumbnail-preview-size: 32px;

    display: grid;
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    column-gap: var(--ods-theme-column-gap);
    border: solid var(--ods-theme-border-width) var(--ods-file-thumbnail-border-color);
    border-radius: var(--ods-theme-border-radius);
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--error {
      border-color: var(--ods-theme-input-border-color-invalid);
    }

    &__preview {
      align-self: center;
      border-radius: calc(var(--ods-theme-border-radius) / 2);
      object-fit: var(--ods-file-thumbnail-object-fit);
      object-position: center center;
      width: var(--ods-file-thumbnail-preview-size);
      height: var(--ods-file-thumbnail-preview-size);
    }

    &__icon {
      align-self: center;
      font-size: 32px;

      &--error {
        color: var(--ods-theme-input-text-color-invalid);
      }
    }

    &__file {
      display: flex;
      flex-direction: column;

      &__name {
        @include font.ellipsis();
      }

      &__size {
        color: var(--ods-theme-input-placeholder-text-color);

        &--disabled {
          color: var(--ods-theme-text-color-disabled);
        }
      }

      &__progress {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: var(--ods-theme-column-gap);
        align-items: center;
      }

      &__error {
        color: var(--ods-theme-input-text-color-invalid);
        font-size: 0.75rem;
      }
    }

    &__delete {
      align-self: center;
    }
  }
}
