@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-autocomplete.mixins';

@mixin osds-autocomplete-theme-color-variant-default() {
  @include ods-and-all-hue-foreach-theme-color((
    selected: '800',
    color: '500',
    border-color: '200',
    background-color: '100'
  )) using($colors) {
    @include osds-autocomplete-on-selected-host() {
      * {
        color: map_get($colors, color);
      }

      .overlay {
        border-color: map_get($colors, border-color);
      }
    }
  }
}

// Main CSS color theme mixin
@mixin osds-autocomplete-theme-color() {
  /** base colors */
  :host {
    .overlay {
      background-color: var(--ods-color-gray-000);
    }
  }

  /** no variant specified: default variant colors */
  :not([variant]) {
    @include osds-autocomplete-theme-color-variant-default();
  }
}
