$ods-switch-height-sm: 24px;
$ods-switch-height-md: 32px;

@layer ods-atoms {
  .switch {
    --ods-switch-background-color: var(--ods-color-neutral-100);
    --ods-switch-border-radius: calc(var(--ods-theme-border-radius) * 2);
    --ods-switch-column-gap: calc(var(--ods-theme-column-gap) / 2);

    box-sizing: border-box;
    display: inline-flex;
    column-gap: var(--ods-switch-column-gap);
    align-items: center;
    justify-content: center;
    border-radius: var(--ods-switch-border-radius);
    background-color: var(--ods-switch-background-color);

    &--sm {
      height: $ods-switch-height-sm;
    }

    &--md {
      height: $ods-switch-height-md;
    }
  }
}
