@use '../../../../../style/checkbox';
@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-atoms {
  .checkbox-control {
    @include checkbox.ods-checkbox();

    &:not([data-disabled]) {
      &:not([data-invalid]) {
        &[data-focus],
        &:hover {
          border-color: var(--ods-semantic-color-interaction-control-hover);
        }
      }

      &[data-state="checked"],
      &[data-state="indeterminate"] {
        border-color: var(--ods-semantic-color-border-selected);
        background: var(--ods-semantic-color-surface-base);

        &[data-focus],
        &:hover {
          border-color: var(--ods-semantic-color-interaction-base-hover);
          background: var(--ods-semantic-color-interaction-base-hover);
        }

        &[data-invalid] {
          border-color: var(--ods-semantic-color-border-critical);
          background-color: var(--ods-semantic-color-surface-critical);
        }
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-invalid] {
      border-color: var(--ods-semantic-color-border-critical);
    }

    &__icon {
      display: block;
    }
  }
}
