@use '../../../../../style/checkbox';
@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-atoms {
  .checkbox-control {
    @include checkbox.ods-checkbox();

    &:not([data-disabled]) {
      &:not([data-invalid]) {
        &:hover {
          border-color: var(--ods-color-form-element-border-hover-default);
        }

        &[data-focus] {
          border-color: var(--ods-color-form-element-border-focus-default);
        }
      }

      &[data-state="checked"],
      &[data-state="indeterminate"] {
        border-color: var(--ods-color-primary-500);
        background: var(--ods-color-primary-500);

        &[data-focus],
        &:hover {
          border-color: var(--ods-color-primary-700);
          background: var(--ods-color-primary-700);
        }

        &[data-invalid] {
          border-color: var(--ods-color-form-element-border-critical);
        }
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-invalid] {
      border-color: var(--ods-color-form-element-border-critical);
    }

    &__icon {
      display: block;
    }
  }
}
