@use '../../../../../style/font';
@use '../../../../../style/tag';

:host(.ods-tag) {
  display: inline-block;
}

.ods-tag {
  &__tag {
    $tag: &;

    @include tag.ods-tag();

    &:not(&#{$tag}--disabled) {
      &#{$tag}--default {
        &#{$tag}--critical {
          @include tag.ods-tag-variant-default('critical');
        }

        &#{$tag}--information {
          @include tag.ods-tag-variant-default('information');
        }

        &#{$tag}--neutral {
          @include tag.ods-tag-variant-default('neutral');
        }

        &#{$tag}--success {
          @include tag.ods-tag-variant-default('success');
        }

        &#{$tag}--warning {
          @include tag.ods-tag-variant-default('warning');
        }
      }

      &#{$tag}--outline {
        &#{$tag}--critical {
          @include tag.ods-tag-variant-outline('critical');
        }

        &#{$tag}--information {
          @include tag.ods-tag-variant-outline('information');
        }

        &#{$tag}--neutral {
          @include tag.ods-tag-variant-outline('neutral');
        }

        &#{$tag}--success {
          @include tag.ods-tag-variant-outline('success');
        }

        &#{$tag}--warning {
          @include tag.ods-tag-variant-outline('warning');
        }
      }
    }

    &--disabled {
      border-color: var(--ods-color-neutral-300);
      background-color: var(--ods-color-neutral-300);
      cursor: not-allowed;
      color: var(--ods-color-neutral-600);
    }

    &--round {
      @include tag.ods-tag-shape('round');
    }

    &--square {
      @include tag.ods-tag-shape('square');
    }

    &--sm {
      @include tag.ods-tag-size('sm');
    }

    &--md {
      @include tag.ods-tag-size('md');

      & #{$tag}__close,
      & #{$tag}__icon {
        font-size: 1rem;
      }
    }

    &--lg {
      @include tag.ods-tag-size('lg');

      & #{$tag}__close,
      & #{$tag}__icon {
        font-size: 1.25rem;
      }
    }

    &__label {
      @include font.ellipsis();
    }
  }
}
