@use '@ovhcloud/ods-react/style';

.order-button {
  $primary-color: #ff0004;
  $button: &;

  --ods-recipe-order-button-color-active: var(--ods-color-critical-700);
  --ods-recipe-order-button-color-hover: var(--ods-color-critical-500);
  --ods-recipe-order-button-text-color: #fff;

  display: flex;
  flex-flow: row;
  column-gap: calc(var(--ods-theme-column-gap) * 2);
  align-items: center;
  border: 0;
  border-radius: var(--ods-theme-border-radius);
  padding: calc(var(--ods-theme-padding-vertical) / 2) calc(var(--ods-theme-column-gap) * 2) calc(var(--ods-theme-padding-vertical) / 2) calc(var(--ods-theme-padding-horizontal) / 2);
  font-weight: 600;

  &:disabled {
    background: var(--ods-theme-background-color-disabled);
    color: var(--ods-theme-text-color-disabled);

    #{$button}__icon {
      color: var(--ods-theme-text-color-disabled);
    }
  }

  &:focus-visible {
    @include style.ods-focus();
  }

  &:not(:disabled) {
    transition: background ease .3s, box-shadow ease .3s;
    box-shadow: -3px -3px 6px 0 #ff4800 inset, 3px 3px 6px 0 #ea0000 inset, -3px -3px 6px 0 #ffd2d2b2, 3px 3px 6px 0 #82000040;
    background: $primary-color linear-gradient(86.59deg, rgba(255, 187, 0, 0) 82.69%, rgba(255, 187, 0, 0.75) 100%);
    cursor: pointer;
    color: var(--ods-recipe-order-button-text-color);

    &:focus-visible,
    &:hover {
      box-shadow: none;
      background: var(--ods-recipe-order-button-color-hover);

      #{$button}__icon {
        box-shadow: none;
        color: var(--ods-recipe-order-button-color-hover);
      }
    }

    &:active {
      box-shadow: none;
      background: var(--ods-recipe-order-button-color-active);

      #{$button}__icon {
        box-shadow: none;
        color: var(--ods-recipe-order-button-color-active);
      }
    }

    #{$button}__icon {
      box-shadow: 3px 3px 6px 0 #82000040 inset, -3px -3px 6px 0 #ffd2d2b2 inset;
    }
  }

  &__icon {
    border-radius: calc(var(--ods-theme-border-radius) * .75);
    background-color: var(--ods-recipe-order-button-text-color);
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    color: $primary-color;
    font-size: 18px;
  }
}
