@use '@ovhcloud/ods-react/style';

.order-button {
  $primary-color: #ff0004;
  $button: &;

  --ods-recipe-order-button-color-active: var(--ods-semantic-color-content-on-critical);
  --ods-recipe-order-button-color-hover: var(--ods-semantic-color-content-critical);
  --ods-recipe-order-button-text-color: #fff;

  display: flex;
  flex-flow: row;
  column-gap: calc(var(--ods-semantic-size-space-gap-inline) * 2);
  align-items: center;
  border: 0;
  border-radius: var(--ods-semantic-size-radius-container);
  padding: calc(var(--ods-semantic-size-space-inset-block) / 2) calc(var(--ods-semantic-size-space-gap-inline) * 2) calc(var(--ods-semantic-size-space-inset-block) / 2) calc(var(--ods-semantic-size-space-inset-inline) / 2);
  font-size: 16px;
  font-weight: 600;

  &:disabled {
    background: var(--ods-semantic-color-surface-disabled);
    color: var(--ods-semantic-color-content-disabled);

    #{$button}__icon {
      color: var(--ods-semantic-color-content-disabled);
    }
  }

  &:focus-visible {
    @include style.ods-focus();
  }

  &:not(:disabled) {
    transition: background ease .3s, box-shadow ease .3s;
    box-shadow: -3px -3px 6px 0 #ff4800 inset, 3px 3px 6px 0 #ea0000 inset, -3px -3px 6px 0 #ffd2d2b2, 3px 3px 6px 0 #82000040;
    background: $primary-color linear-gradient(86.59deg, rgb(255, 187, 0, 0) 82.69%, rgb(255, 187, 0, 0.75) 100%);
    color: var(--ods-recipe-order-button-text-color);
    cursor: pointer;

    &:focus-visible,
    &:hover {
      box-shadow: none;
      background: var(--ods-recipe-order-button-color-hover);

      #{$button}__icon {
        box-shadow: none;
        color: var(--ods-recipe-order-button-color-hover);
      }
    }

    &:active {
      box-shadow: none;
      background: var(--ods-recipe-order-button-color-active);

      #{$button}__icon {
        box-shadow: none;
        color: var(--ods-recipe-order-button-color-active);
      }
    }

    #{$button}__icon {
      box-shadow: 3px 3px 6px 0 #82000040 inset, -3px -3px 6px 0 #ffd2d2b2 inset;
    }
  }

  &__icon {
    border-radius: calc(var(--ods-semantic-size-radius-container) * .75);
    background-color: var(--ods-recipe-order-button-text-color);
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    color: $primary-color;
    font-size: 18px;
  }
}
