@use '../../../../../style/state';

@layer ods-atoms {
  .tile {
    --ods-tile-border-radius: var(--ods-semantic-size-radius-container);
    --ods-tile-border-width: var(--ods-semantic-size-border-thickness);
    --ods-tile-border-color: var(--ods-semantic-color-border-control);
    --ods-tile-background-color: var(--ods-semantic-color-surface-page);
    --ods-tile-background-color-selected: var(--ods-semantic-color-surface-selected);
    --ods-tile-background-color-disabled: var(--ods-semantic-color-surface-neutral-recessed);
    --ods-tile-border-color-selected : var(--ods-semantic-color-border-base);
    --ods-tile-border-color-hover : var(--ods-semantic-color-interaction-control-hover);

    box-sizing: border-box;
    display: inline-block;
    border-radius: var(--ods-tile-border-radius);
    overflow: hidden;
    cursor: pointer;

    &:hover:not(&--selected, &--disabled), &:focus-within:not(&--selected, &--disabled)  {
      border-color: var(--ods-tile-border-color-hover);
      box-shadow: 0 0 0 var(--ods-semantic-size-border-thickness) var(--ods-tile-border-color-hover);
    }

    &--selected {
      border-color: var( --ods-tile-border-color-selected);
      box-shadow: 0 0 0 var(--ods-semantic-size-border-thickness) var(--ods-tile-border-color-selected);
      background-color: var(--ods-tile-background-color-selected);
    }

    &--disabled {
      @include state.ods-is-disabled();

      box-shadow:  none;
      background-color: var(--ods-tile-background-color-disabled);
    }
  }
}
