.theme-generator-palette-modal {
  min-width: 700px;
  max-width: 80vw;
  max-height: 85vh;
}

.theme-generator-palette-modal__preview {
  padding: 16px;
  height: 500px;
  overflow: auto;
}

.theme-generator-palette-modal__preview__tree-view {
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.theme-generator-palette-modal__preview__tree-view__tree-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.theme-generator-palette-modal__preview__tree-view__tree-item__name {
  flex: 1;
  color: var(--ods-color-text);
}

.theme-generator-palette-modal__actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  border-top: 1px solid var(--ods-color-neutral-200);
  padding-top: 16px;
}
