@use '../../../../../style/drawer';

:host(.ods-drawer) {
  display: none;

  * {
    box-sizing: border-box;
  }
}

:host(.ods-drawer--open) {
  display: block;
}

.ods-drawer {
  &__dialog {
    @include drawer.ods-drawer();

    &--bottom {
      @include drawer.ods-drawer-position('bottom')
    }

    &--left {
      @include drawer.ods-drawer-position('left')
    }

    &--right {
      @include drawer.ods-drawer-position('right')
    }

    &--top {
      @include drawer.ods-drawer-position('top')
    }

    &--close-animation--bottom {
      animation: drawer-close-bottom drawer.$animation-duration ease-in-out;
    }

    &--close-animation--left {
      animation: drawer-close-left drawer.$animation-duration ease-in-out;
    }

    &--close-animation--right {
      animation: drawer-close-right drawer.$animation-duration ease-in-out;
    }

    &--close-animation--top {
      animation: drawer-close-top drawer.$animation-duration ease-in-out;
    }
  }
}
