@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-select-option.mixins';

@mixin osds-select-option-theme-color() {
  /** main colors */
  :host {
    .option {
      color: ods-get-color-variable($intent-name: text, $hue: '500');

      &:hover {
        background-color: ods-get-color-variable($intent-name: primary, $hue: '100');
      }

      &.selected {
        background-color: ods-get-color-variable($intent-name: primary, $hue: '200');
      }
    }
  }

  /** disabled colors */
  [disabled],
  [disabled]:focus {
    @include osds-select-option-on-selected-host() {
      opacity: .5;
    }
  }
}
