@use '../../../../../style/focus';
@use '../../../../../style/font';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-atoms {
  .input {
    $input: &;

    @include input.ods-input();

    display: inline-flex;
    flex-flow: row;
    column-gap: calc(var(--ods-theme-column-gap) / 2);

    &:focus-within {
      &:not(:has(button:focus-within)) {
        @include focus.ods-focus();

        &:not([data-readonly]) {
          border-color: var(--ods-theme-input-border-color-hover);
        }
      }
    }

    &:hover {
      border-color: var(--ods-theme-input-border-color-hover);
    }

    &:not([data-disabled])[data-readonly] {
      @include state.ods-is-readonly();
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &#{$input}[data-invalid] {
      @include input.ods-input-error();
    }

    &--with-actions {
      padding-right: input.$ods-input-actions-padding-right;
    }

    &__field {
      border: none;
      background-color: inherit;
      cursor: inherit;
      padding: 0;
      width: 100%;
      color: inherit;
      font-family: inherit;
      font-size: inherit;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &::placeholder {
        @include font.ellipsis();

        color: input.$ods-input-placeholder-color;
      }

      &:focus {
        outline: none;
      }

      &[type="number"] {
        appearance: textfield;
      }

      &[type="search"]::-webkit-search-cancel-button,
      &[type="search"]::-webkit-search-decoration {
        appearance: none;
      }
    }
  }
}
