@use '../../../../../style/badge';
@use '../../../../../style/font';

:host(.ods-badge) {
  display: inline-block;
}

.ods-badge {
  &__badge {
    $badge: &;

    @include badge.ods-badge();

    &--alpha {
      @include badge.ods-badge-color('alpha');
    }

    &--beta {
      @include badge.ods-badge-color('beta');
    }

    &--critical {
      @include badge.ods-badge-color('critical');
    }

    &--information {
      @include badge.ods-badge-color('information');
    }

    &--neutral {
      @include badge.ods-badge-color('neutral');
    }

    &--new {
      @include badge.ods-badge-color('new');
    }

    &--promotion {
      @include badge.ods-badge-color('promotion');
    }

    &--success {
      @include badge.ods-badge-color('success');
    }

    &--warning {
      @include badge.ods-badge-color('warning');
    }

    &--sm {
      @include badge.ods-badge-size('sm');

      & #{$badge}__icon {
        font-size: 0.625rem;
      }
    }

    &--md {
      @include badge.ods-badge-size('md');

      & #{$badge}__icon {
        font-size: 0.833rem;
      }
    }

    &--lg {
      @include badge.ods-badge-size('lg');

      & #{$badge}__icon {
        font-size: 1.05rem;
      }
    }

    &__label {
      @include font.ellipsis();
    }
    
    &--icon-right {
      flex-direction: row-reverse;
    }
  }
}
