
/// @access private
@function ods-get-button-size-properties($size-name) {
  @return (
    height: var(--ods-size-button-#{$size-name}-height),
    border-width: var(--ods-size-button-#{$size-name}-border-width),
    border-radius: var(--ods-size-button-#{$size-name}-border-radius),
    padding-y: var(--ods-size-button-#{$size-name}-padding-y),
    padding-x: var(--ods-size-button-#{$size-name}-padding-x)
  )
}

/// @access private
@function ods-get-button-component-size-definition() {
  @return (
    sm: ods-get-button-size-properties(sm),
    md: ods-get-button-size-properties(md)
  );
}
