
/// @access private
@function ods-get-chip-size-properties($size-name) {
  @return (
    border-radius: var(--ods-size-chip-#{$size-name}-border-radius),
    border-width: var(--ods-size-chip-#{$size-name}-border-width),
    height: var(--ods-size-chip-#{$size-name}-height),
    icon-width: var(--ods-size-chip-#{$size-name}-icon-width),
    inline-margin: var(--ods-size-chip-#{$size-name}-inline-margin),
    padding: var(--ods-size-chip-#{$size-name}-padding),
  )
}

/// @access private
@function ods-get-chip-component-size-definition() {
  @return (
    sm: ods-get-chip-size-properties(sm),
    md: ods-get-chip-size-properties(md)
  );
}
