@use '../../../../../style/font';

@layer ods-organisms {
  .cart-product-group-item {
    $item: &;

    --ods-cart-product-group-item-padding-horizontal: var(--ods-semantic-size-space-inset-inline);
    --ods-cart-product-group-item-padding-vertical: var(--ods-semantic-size-space-inset-block);

    display: flex;
    position: relative;
    flex-flow: column;
    column-gap: var(--ods-semantic-size-space-gap-inline);
    justify-content: space-between;
    background-color: var(--ods-semantic-color-surface-readonly);
    padding: var(--ods-cart-product-group-item-padding-vertical) var(--ods-cart-product-group-item-padding-horizontal);

    &:last-child {
      #{$item}__divider {
        display: none;
      }
    }

    &__details {
      color: var(--ods-semantic-color-content-heading);
      font-size: font.px-to-rem(12px);
      font-weight: 400;
    }

    &__item {
      display: flex;
      flex-flow: row;
      column-gap: var(--ods-semantic-size-space-gap-inline);
      align-items: center;

      &__label {
        flex: 1;
        color: var(--ods-semantic-color-content-text);
        font-size: font.px-to-rem(14px);
        font-weight: 600;
      }

      &__price {
        color: var(--ods-semantic-color-content-text);
        font-size: font.px-to-rem(14px);
        font-weight: 700;
      }
    }

    &__divider {
      position: absolute;
      right: var(--ods-cart-product-group-item-padding-horizontal);
      bottom: 0;
      left: var(--ods-cart-product-group-item-padding-horizontal);
    }
  }
}
