/** base colors */
:host {
  color: var(--ods-color-primary-800);
}

:host {
  line-height: var(--ods-typography-body-400-line-height);
  letter-spacing: var(--ods-typography-body-400-letter-spacing);
  font-family: var(--ods-typography-body-400-font-family);
  font-size: var(--ods-typography-body-400-font-size);
  font-weight: var(--ods-typography-body-400-font-weight);
  font-style: var(--ods-typography-body-400-font-style);
}
:host slot[name=popover-header] {
  line-height: var(--ods-typography-subheading-200-line-height);
  letter-spacing: var(--ods-typography-subheading-200-letter-spacing);
  font-family: var(--ods-typography-subheading-200-font-family);
  font-size: var(--ods-typography-subheading-200-font-size);
  font-weight: var(--ods-typography-subheading-200-font-weight);
  font-style: var(--ods-typography-subheading-200-font-style);
}