.custom-select {
  width: 200px;
}

.custom-select-label {
  color: #4d2a00;
}

.custom-select-control {
  background-color: #4bb2f6;
}

.custom-select-content {
  display: flex;
  max-height: 100px;
}
