@use '../../../../../style/focus';

@layer ods-molecules {
  .select-content {
    --ods-select-group-option-padding-horizontal: var(--ods-theme-input-padding-horizontal);

    border: var(--ods-theme-input-border-width) solid var(--ods-theme-input-border-color);
    background-color: var(--ods-theme-background-color);
    padding: 0;
    max-height: 200px;
    overflow: hidden auto;
    scroll-behavior: smooth;

    &:focus-visible {
      @include focus.ods-focus();
    }

    &[data-empty="true"] {
      visibility: hidden;
    }

    &[data-state="open"] {
      &[data-placement="bottom-start"] {
        border-bottom-left-radius: var(--ods-theme-overlay-border-radius);
        border-bottom-right-radius: var(--ods-theme-overlay-border-radius);
      }

      &[data-placement="top-start"] {
        border-top-left-radius: var(--ods-theme-overlay-border-radius);
        border-top-right-radius: var(--ods-theme-overlay-border-radius);
      }
    }

    &--invalid {
      border-color: var(--ods-theme-input-border-color-invalid);
    }

    [role="group"]:not(:last-child) {
      border-bottom: solid var(--ods-theme-input-border-width) var(--ods-theme-split-border-color);
    }
  }
}
