@use '../../../../../style/focus';

@layer ods-atoms {
  .accordion-trigger {
    $trigger: &;

    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: var(--ods-theme-column-gap);
    align-items: center;
    border: solid var(--ods-accordion-border-width) transparent;
    background: transparent;
    cursor: pointer;
    padding: var(--ods-accordion-padding-vertical) var(--ods-accordion-padding-horizontal);
    text-align: left;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &:disabled {
      cursor: inherit;
    }

    &:not(:disabled) {
      &:focus-visible {
        @include focus.ods-focus();

        z-index: 1;
        border-radius: inherit;
      }

      #{$trigger}__icon {
        transition: transform 0.2s ease-in-out;
        color: var(--ods-theme-primary-color);
        font-size: 1.25rem;
      }
    }

    &--expand-icon-left {
      grid-template-columns: max-content 1fr;
    }

    &[data-state="open"] {
      #{$trigger}__icon {
        transform: rotate(90deg);
      }
    }
  }
}
