@use '../../../../../style/focus';
@use '../../../../../style/state';
@use "../accordion/accordion.module";

@layer ods {
  .accordion-trigger {
    $trigger: &;

    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: accordion.$ods-accordion-padding;
    align-items: center;
    border: accordion.$ods-accordion-border-size solid transparent;
    background: transparent;
    cursor: pointer;
    padding: accordion.$ods-accordion-padding;
    text-align: left;
    font-family: inherit;
    font-size: inherit;

    &:disabled {
      cursor: inherit;
    }

    &:not(:disabled) {
      &:focus-visible {
        @include focus.ods-focus();
      }

      &[data-state='open'] {
        #{$trigger}__icon {
          transform: rotate(180deg);
        }
      }

      #{$trigger}__icon {
        color: var(--ods-color-primary-500);
        font-size: 0.875rem;
      }
    }
  }
}
