.icon-gallery {
  display: flex;
  flex-flow: column;
  row-gap: calc(var(--ods-semantic-size-space-gap-block) * 2);
  align-items: center;
  margin-top: calc(var(--ods-semantic-size-space-gap-block) * 2);
}

.icon-gallery__search {
  max-width: 100%;
  width: 250px;
}

.icon-gallery__list {
  display: flex;
  flex-flow: row wrap;
  gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: "";
}
