@import '~@ovhcloud/ods-common-theming/size/ods-component-size';
@import './osds-checkbox-button.mixins';

@mixin osds-checkbox-button-theme-size() {
  /** sizes */

  @include ods-foreach-theme-size(checkbox-button) using ($sizes) {
    @include osds-checkbox-button-on-main-element() {
      border-width: ods-get-size-property($sizes, border-width);
      height: ods-get-size-property($sizes, height);
      margin: ods-get-size-property($sizes, margin);
      width: ods-get-size-property($sizes, width);
      aspect-ratio: 1/1;
      box-sizing: border-box;
    }
  }
}
