@use '../../../../../style/modal';
@include modal.ods-modal-animation();

@layer ods-molecules {
  .modal-backdrop {
    @include modal.ods-modal-backdrop();
  }

  .modal-positioner {
    display: flex;
    position: fixed;
    inset: 0;
  }

  .modal-content {
    position: relative;

    &:not([hidden]) {
      @include modal.ods-modal();

      &[data-state="open"] {
        animation: modal-open 0.2s ease-in-out;
      }

      &[data-state="closed"] {
        animation: modal-close 0.2s ease-in-out;
      }
    }

    &__close-trigger {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;
      padding: var(--ods-modal-header-padding-vertical) var(--ods-modal-header-padding-horizontal);
    }
  }
}
