@use '../../../../../style/focus';
@use '../../../../../style/state';
@use '../ods-tabs/ods-tabs';

:host(.ods-tab) {
  display: block;
  margin-bottom: -#{ods-tabs.$ods-tabs-border-bottom-size};
  border-bottom: solid ods-tabs.$ods-tabs-border-bottom-size var(--ods-color-neutral-100);
  cursor: pointer;
  padding: 2px 16px;
  text-align: center;
  white-space: nowrap;
  color: var(--ods-color-primary-500);
  font-weight: 600;
}

:host(.ods-tab:focus-visible) {
  @include focus.ods-focus();

  z-index: 1;
  outline-offset: 0;
  border-color: var(--ods-color-neutral-300);
}

:host(.ods-tab:hover:not(.ods-tab--disabled, .ods-tab--selected)) {
  border-color: var(--ods-color-neutral-300);
}

:host(.ods-tab--disabled) {
  @include state.ods-is-disabled();

  border-color: var(--ods-color-neutral-100);
  background-color: inherit;
}

:host(.ods-tab--disabled.ods-tab--selected) {
  border-color: var(--ods-color-neutral-500);
}

:host(.ods-tab--selected:not(.ods-tab--disabled)) {
  border-color: var(--ods-color-primary-500);
}
