@use '../../../../../style/focus';

:host(.ods-tab) {
  display: block;
  border-bottom: solid 2px var(--ods-color-neutral-100);
  cursor: pointer;
  padding: 2px 16px;
  text-align: center;
  white-space: nowrap;
  color: var(--ods-color-primary-500);
  font-weight: 600;
}

:host(.ods-tab:focus-visible) {
  @include focus.ods-focus();

  z-index: 1;
  outline-offset: 0;
}

:host(.ods-tab:hover:not(.ods-tab--disabled, .ods-tab--selected)) {
  border-color: var(--ods-color-neutral-300);
}

:host(.ods-tab--disabled) {
  cursor: not-allowed;
  color: var(--ods-color-neutral-600);
}

:host(.ods-tab--selected:not(.ods-tab--disabled)) {
  border-color: var(--ods-color-primary-500);
}
