@use '../../../../../style/range';
@use '../../../../../style/text';

:host {
  display: inline-flex;
  position: relative;
  width: inherit;
  height: range.$ods-range-height;
}

:host(.ods-range-dual) {
  @include range.ods-range-dual();
}

.ods-range {
  &__range {
    @include range.ods-range();
  }

  &__range-dual {
    @include range.ods-range();
  }

  &__min {
    @include text.ods-text-label();

    position: absolute;
    top: 12px;
  }

  &__max {
    @include text.ods-text-label();

    position: absolute;
    top: 12px;
    right: 0;
  }

  &__shadow-thumb {
    position: absolute;
    top: -2px;
    opacity: 0;
    z-index: -1;
    width: 16px;
    height: 16px;
  }
}
