@use '../../../../../style/range';
@use '../../../../../style/text';

:host {
  display: inline-flex;
  position: relative;
  padding-top: 5px;
  width: inherit;
  height: range.$ods-range-height;
}

:host(.ods-range-dual) {
  @include range.ods-range-dual();
}

.ods-range {
  &__range {
    @include range.ods-range();
  }

  &__range-dual {
    @include range.ods-range();
  }

  &__min {
    @include text.ods-text-label();

    position: absolute;
    top: 12px;
  }

  &__max {
    @include text.ods-text-label();

    position: absolute;
    top: 12px;
    right: 0;
  }

  &__shadow-thumb {
    position: absolute;
    top: -2px;
    opacity: 0;
    z-index: -1;
    width: 16px;
    height: 16px;
  }

  &__ticks {
    position: absolute;
    inset: 0 calc(range.$ods-input-range-size-thumb / 2);
    z-index: range.$range-z-index-dual - 2;

    &__tick {
      position: absolute;
      border-radius: 6px;
      background-color: range.$range-background-color;
      width: 3px;
      height: 18px;

      &--activated {
        background-color: range.$range-background-color-active;
      }
   }
  }
}
