/* stylelint-disable color-hex-length */
// Developer theme color palette
$ods-palette-purple-000: #ffffff;
$ods-palette-purple-025: #fbf6ff;
$ods-palette-purple-050: #f7ecff;
$ods-palette-purple-075: #f1e0ff;
$ods-palette-purple-100: #ebcfff;
$ods-palette-purple-200: #dfb0ff;
$ods-palette-purple-300: #d498fd;
$ods-palette-purple-400: #bc77ec;
$ods-palette-purple-500: #9d5be8;
$ods-palette-purple-600: #7d3ee4;
$ods-palette-purple-700: #612bd9;
$ods-palette-purple-800: #4f1fbb;
$ods-palette-purple-900: #31128a;
$ods-palette-pink-000: #ffffff;
$ods-palette-pink-025: #fffcff;
$ods-palette-pink-050: #fff6ff;
$ods-palette-pink-075: #ffeafc;
$ods-palette-pink-100: #ffe2f6;
$ods-palette-pink-200: #ebcee1;
$ods-palette-pink-300: #d7bacd;
$ods-palette-pink-400: #c2a6b9;
$ods-palette-pink-500: #af93a6;
$ods-palette-pink-600: #9b8093;
$ods-palette-pink-700: #886e80;
$ods-palette-pink-800: #765c6e;
$ods-palette-pink-900: #644b5c;
$ods-palette-green-000: #ffffff;
$ods-palette-green-025: #e3fff3;
$ods-palette-green-050: #c7ffe8;
$ods-palette-green-075: #b6ffdb;
$ods-palette-green-100: #a5ffd0;
$ods-palette-green-200: #83eab5;
$ods-palette-green-300: #6fd6a1;
$ods-palette-green-400: #5ac18e;
$ods-palette-green-500: #45ad7c;
$ods-palette-green-600: #2e9a69;
$ods-palette-green-700: #108758;
$ods-palette-green-800: #007447;
$ods-palette-green-900: #006136;
$ods-palette-orange-000: #ffffff;
$ods-palette-orange-025: #fff0e8;
$ods-palette-orange-050: #ffdfc7;
$ods-palette-orange-075: #ffd7c0;
$ods-palette-orange-100: #ffcbb3;
$ods-palette-orange-200: #ffb6a0;
$ods-palette-orange-300: #ffa28d;
$ods-palette-orange-400: #fc8f7a;
$ods-palette-orange-500: #e67b68;
$ods-palette-orange-600: #d06856;
$ods-palette-orange-700: #bb5545;
$ods-palette-orange-800: #a54335;
$ods-palette-orange-900: #903025;
$ods-palette-yellow-000: #ffffff;
$ods-palette-yellow-025: #fefee3;
$ods-palette-yellow-050: #fbfbc9;
$ods-palette-yellow-075: #f9fbb3;
$ods-palette-yellow-100: #f7fa9d;
$ods-palette-yellow-200: #f6f647;
$ods-palette-yellow-300: #e3e902;
$ods-palette-yellow-400: #ccd904;
$ods-palette-yellow-500: #b5c806;
$ods-palette-yellow-600: #9eb708;
$ods-palette-yellow-700: #87a70a;
$ods-palette-yellow-800: #70960c;
$ods-palette-yellow-900: #405801;
$ods-palette-blue-000: #ffffff;
$ods-palette-blue-025: #f3fdff;
$ods-palette-blue-050: #e6faff;
$ods-palette-blue-075: #cef5ff;
$ods-palette-blue-100: #bef1ff;
$ods-palette-blue-200: #85d9fd;
$ods-palette-blue-300: #4bb2f6;
$ods-palette-blue-400: #157eea;
$ods-palette-blue-500: #0050d7;
$ods-palette-blue-600: #002dbe;
$ods-palette-blue-700: #000e9c;
$ods-palette-blue-800: #00185e;
$ods-palette-blue-900: #000d1f;
$ods-palette-white: #ffffff;
$ods-palette-deep-purple: #4f1fbb;
$ods-palette-light-blue: #a2d2ff;
$ods-palette-navy-blue: #001087;
// Color system variables
$ods-color-neutral-000: $ods-palette-pink-000;
$ods-color-neutral-025: $ods-palette-pink-025;
$ods-color-neutral-050: $ods-palette-pink-050;
$ods-color-neutral-075: $ods-palette-pink-075;
$ods-color-neutral-100: $ods-palette-pink-100;
$ods-color-neutral-200: $ods-palette-pink-200;
$ods-color-neutral-300: $ods-palette-pink-300;
$ods-color-neutral-400: $ods-palette-pink-400;
$ods-color-neutral-500: $ods-palette-pink-500;
$ods-color-neutral-600: $ods-palette-pink-600;
$ods-color-neutral-700: $ods-palette-pink-700;
$ods-color-neutral-800: $ods-palette-pink-800;
$ods-color-neutral-900: $ods-palette-pink-900;
$ods-color-primary-000: $ods-palette-purple-000;
$ods-color-primary-025: $ods-palette-purple-025;
$ods-color-primary-050: $ods-palette-purple-050;
$ods-color-primary-075: $ods-palette-purple-075;
$ods-color-primary-100: $ods-palette-purple-100;
$ods-color-primary-200: $ods-palette-purple-200;
$ods-color-primary-300: $ods-palette-purple-300;
$ods-color-primary-400: $ods-palette-purple-400;
$ods-color-primary-500: $ods-palette-purple-500;
$ods-color-primary-600: $ods-palette-purple-600;
$ods-color-primary-700: $ods-palette-purple-700;
$ods-color-primary-800: $ods-palette-purple-800;
$ods-color-primary-900: $ods-palette-purple-900;
$ods-color-information-000: $ods-palette-purple-000;
$ods-color-information-025: $ods-palette-purple-025;
$ods-color-information-050: $ods-palette-purple-050;
$ods-color-information-075: $ods-palette-purple-075;
$ods-color-information-100: $ods-palette-purple-100;
$ods-color-information-200: $ods-palette-purple-200;
$ods-color-information-300: $ods-palette-purple-300;
$ods-color-information-400: $ods-palette-purple-400;
$ods-color-information-500: $ods-palette-purple-500;
$ods-color-information-600: $ods-palette-purple-600;
$ods-color-information-700: $ods-palette-purple-700;
$ods-color-information-800: $ods-palette-purple-800;
$ods-color-information-900: $ods-palette-purple-900;
$ods-color-success-000: $ods-palette-green-000;
$ods-color-success-025: $ods-palette-green-025;
$ods-color-success-050: $ods-palette-green-050;
$ods-color-success-075: $ods-palette-green-075;
$ods-color-success-100: $ods-palette-green-100;
$ods-color-success-200: $ods-palette-green-200;
$ods-color-success-300: $ods-palette-green-300;
$ods-color-success-400: $ods-palette-green-400;
$ods-color-success-500: $ods-palette-green-500;
$ods-color-success-600: $ods-palette-green-600;
$ods-color-success-700: $ods-palette-green-700;
$ods-color-success-800: $ods-palette-green-800;
$ods-color-success-900: $ods-palette-green-900;
$ods-color-warning-000: $ods-palette-yellow-000;
$ods-color-warning-025: $ods-palette-yellow-025;
$ods-color-warning-050: $ods-palette-yellow-050;
$ods-color-warning-075: $ods-palette-yellow-075;
$ods-color-warning-100: $ods-palette-yellow-100;
$ods-color-warning-200: $ods-palette-yellow-200;
$ods-color-warning-300: $ods-palette-yellow-300;
$ods-color-warning-400: $ods-palette-yellow-400;
$ods-color-warning-500: $ods-palette-yellow-500;
$ods-color-warning-600: $ods-palette-yellow-600;
$ods-color-warning-700: $ods-palette-yellow-700;
$ods-color-warning-800: $ods-palette-yellow-800;
$ods-color-warning-900: $ods-palette-yellow-900;
$ods-color-critical-000: $ods-palette-orange-000;
$ods-color-critical-025: $ods-palette-orange-025;
$ods-color-critical-050: $ods-palette-orange-050;
$ods-color-critical-075: $ods-palette-orange-075;
$ods-color-critical-100: $ods-palette-orange-100;
$ods-color-critical-200: $ods-palette-orange-200;
$ods-color-critical-300: $ods-palette-orange-300;
$ods-color-critical-400: $ods-palette-orange-400;
$ods-color-critical-500: $ods-palette-orange-500;
$ods-color-critical-600: $ods-palette-orange-600;
$ods-color-critical-700: $ods-palette-orange-700;
$ods-color-critical-800: $ods-palette-orange-800;
$ods-color-critical-900: $ods-palette-orange-900;

// Brand colors
$ods-color-alpha: $ods-palette-green-300;
$ods-color-beta: $ods-palette-pink-300;
$ods-color-heading: $ods-palette-deep-purple;
$ods-color-new: $ods-palette-light-blue;
$ods-color-promotion: $ods-palette-navy-blue;
$ods-color-text: $ods-palette-pink-900;

// Form element colors
$ods-color-background-disabled-default: $ods-color-neutral-100;
$ods-color-background-readonly-default: $ods-color-neutral-050;
$ods-color-border-disabled-default: $ods-color-neutral-200;
$ods-color-border-readonly-default: $ods-color-neutral-050;
$ods-color-text-disabled-default: $ods-color-neutral-500;
$ods-color-element-background-selected: $ods-color-primary-800;
$ods-color-element-text-selected: $ods-color-primary-000;
$ods-color-form-element-background-default: $ods-color-neutral-000;
$ods-color-form-element-background-hover-default: $ods-color-neutral-000;
$ods-color-form-element-background-focus-default: $ods-color-neutral-000;
$ods-color-form-element-background-critical: $ods-color-critical-000;
$ods-color-form-element-background-selected-critical: $ods-color-critical-500;
$ods-color-form-element-border-default: $ods-color-neutral-300;
$ods-color-form-element-border-hover-default: $ods-color-neutral-500;
$ods-color-form-element-border-focus-default: $ods-color-neutral-500;
$ods-color-form-element-border-critical: $ods-color-critical-500;
$ods-color-form-element-text-default: $ods-color-text;
$ods-color-form-element-text-placeholder-default: $ods-color-neutral-600;

// Border and spacing
$ods-border-radius-xs: 4px;
$ods-border-radius-sm: 8px;
$ods-border-radius-md: 16px;
$ods-border-radius-lg: 32px;
$ods-border-width-sm: 2px;
$ods-border-width-md: 4px;

// Typography
$ods-font-family-code: "Source Code Pro", arial;
$ods-font-family-default: "Source Sans Pro", "Trebuchet MS", arial, "Segoe UI", sans-serif;

// Form elements
$ods-form-element-input-height: 48px;

// Focus outline
$ods-outline-color-default: $ods-color-primary-700;
$ods-outline-offset: 4px;
$ods-outline-style-default: dashed;
$ods-outline-width: 4px;
/* stylelint-enable color-hex-length */
