@use '../../../../../style/input';

@layer ods-atoms {
  .textarea {
    $textarea: &;

    @include input.ods-input();
    @include input.ods-input-state();

    height: auto;
    resize: none;

    &:not([data-invalid], :disabled, :read-only) {
      &:focus {
        border-color: var(--ods-color-form-element-border-focus-default);
      }

      &:hover {
        border-color: var(--ods-color-form-element-border-hover-default);
      }
    }

    &#{$textarea}[data-invalid] {
      @include input.ods-input-error();
    }
  }
}
