@use '../../../../../style/input';

@layer ods-atoms {
  .textarea {
    $textarea: &;

    @include input.ods-input();
    @include input.ods-input-state();

    height: auto;
    resize: none;

    &:not([data-invalid], :disabled, :read-only) {
      &:focus {
      //&:hover {
        border-color: var(--ods-theme-input-border-color-hover);
      }
    }

    &#{$textarea}[data-invalid] {
      @include input.ods-input-error();
    }
  }
}
