@use '../../../../../style/input';

@layer ods-molecules {
  .quantity-input {
    $quantity: &;

    @include input.ods-input();
    @include input.ods-input-state();

    border-right: 0;
    border-left: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;

    &:focus-visible {
      z-index: 1;
    }

    &:not([data-invalid], :disabled, :read-only) {
      &:focus,
      &:hover {
        border-color: var(--ods-theme-input-border-color-hover);
      }
    }

    &#{$quantity}[data-invalid] {
      @include input.ods-input-error();
    }
  }
}
