@import 'styles/osds-modal.mixins';
@import 'styles/osds-modal.color';
@import 'styles/osds-modal.size';
@import 'styles/osds-modal.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)
@keyframes modal-appear {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

:host {
  display: flex;

  .dialog {
    .wrapper {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;

      .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
      }

      .popup {
        overflow: visible;
        animation: modal-appear 0.2s ease-in-out;

        .header {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          overflow: hidden;
        }

        .content {
          .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

:host([masked]) {
  display: none;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-modal-theme-color;
  @include osds-modal-theme-size;
  @include osds-modal-theme-typography;
}