@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS for the component but not for theming

:host(:focus-visible) {
  outline-style: dotted;
  outline-width: var(--ods-size-inset-02);
  outline-offset: var(--ods-size-inset-02);

  :not([disabled]):focus {
    outline-color: var(--ods-color-gray-500);
  }
}

:host(:not([debug])) {
  display: block;

  .radio__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: var(--ods-size-01);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: var(--ods-size-01);
  }
}

// apply the theme template for the component
@include ods-theme-component() {
}
