@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-group {
    display: flex;
    align-items: center;
    background-color: inherit;
    padding: 0 var(--ods-theme-input-padding-horizontal);
    min-height: input.$ods-input-field-height;
    color: var(--ods-theme-heading-text-color);
    font-size: 1rem;
    font-weight: 600;

    &--disabled {
      @include state.ods-is-disabled();
    }

    &__option {
      padding-left: var(--ods-select-group-option-padding-horizontal);
    }
  }
}
