@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-group {
    display: flex;
    align-items: center;
    background-color: inherit;
    padding: 0 8px; // TODO spacing
    min-height: input.$ods-input-field-height;
    color: var(--ods-color-heading); // TODO use new token
    font-size: 1rem;
    font-weight: 600;

    &--disabled {
      @include state.ods-is-disabled();
    }

    &__option {
      padding-left: 24px; // TODO spacing * 3
    }
  }
}
