$spacings: 0, 2, 4, 8, 12, 16, 24, 32, 40, 48, 64;

@layer ods-quarks {
  .divider {
    transform: scaleY(1);
    border: none;
    background-color: var(--ods-theme-split-background-color);
    height: 1px;

    // [Deprecated] will be removed in next major version
    &--neutral {
      background-color: var(--ods-color-neutral-700);
    }

    // [Deprecated] will be removed in next major version
    &--primary {
      background-color: var(--ods-theme-split-background-color);
    }

    @each $spacing in $spacings {
      &--#{$spacing} {
        margin-top: #{calc($spacing / 2)}px;;
        margin-bottom: #{calc($spacing / 2)}px;;
      }
    }
  }
}
