@import 'styles/osds-range.color';
@import 'styles/osds-range.mixins';
@import 'styles/osds-range.size';
@import 'styles/osds-range.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  display: flex;
  position: relative;
  flex-flow: column;
  width: 100%;
}

:host([inline]) {
  display: inline-flex;
  width: var(--width);
}

[disabled] {
  @include osds-range-on-selected-host {
    opacity: .5;
    cursor: not-allowed;

    * {
      pointer-events: none;
    }
  }
}

.range-input,
.range-input_dual {
  @mixin thumb {
    appearance: none;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    pointer-events: auto;
  }

  appearance: none;
  box-sizing: border-box;
  margin: 0;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: inherit;
  color: transparent;

  &::-webkit-slider-runnable-track {
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  &::-moz-range-track {
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  &::-ms-fill-upper {
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &:focus-visible {
    outline-style: dotted;
  }
}


:host(.dual-range) {
  .range-input,
  .range-input_dual {
    pointer-events: none;
  }

  .range-input_dual {
    position: absolute;
  }
}

.range-bounds:not(:empty) {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  ::slotted([slot="start-bound"]) {
    margin-bottom: var(--ods-size-stack-04);
    width: 100%;
    text-align: start;
  }

  ::slotted([slot="end-bound"]) {
    margin-bottom: var(--ods-size-stack-04);
    width: 100%;
    text-align: end;
  }
 }

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: inherit;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-range-theme-color;
  @include osds-range-theme-size;
  @include osds-range-theme-typography;
}
