@use '../../../../../style/focus';
@use '../../../../../style/range';

@layer ods-atoms {
  .range-thumb {
    $thumb: &;

    @include range.ods-range-thumb();

    &:not([data-disabled]) {
      //&:hover,
      &[data-focus] {
        border-color: var(--ods-theme-input-border-color-hover);
      }
    }

    &[data-dragging],
    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-disabled] {
      background-color: var(--ods-theme-background-color-disabled);
      cursor: not-allowed;
    }

    &#{$thumb}--invalid {
      border-color: var(--ods-theme-input-border-color-invalid);

      &:hover,
      &[data-focus] {
        border-color: var(--ods-theme-input-border-color-invalid);
      }
    }
  }
}
