@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-molecules {
  .tree-view-node-branch {
    $branch: &;
    $chevron-size: 1rem;

    &__control {
      display: flex;
      gap: var(--ods-tree-view-node-row-gap) var(--ods-tree-view-node-column-gap);
      align-items: center;
      border-radius: var(--ods-tree-view-node-border-radius);
      cursor: pointer;
      padding: var(--ods-tree-view-node-padding-vertical) var(--ods-tree-view-node-padding-horizontal);

      //&:not([data-disabled]):hover {
      //  background-color: var(--ods-theme-input-option-background-color-hover);
      //}

      &:is([aria-expanded="true"], [data-state="open"]) {
        #{$branch}__chevron {
          transform: rotate(90deg);
        }
      }

      &:has(.tree-view-node-branch__control__checkbox[data-state="checked"]),
      &:has(.tree-view-node-branch__control__checkbox[data-state="indeterminate"]) {
        background-color: var(--ods-theme-input-option-background-color-selected);

        //&:not([data-disabled]):hover {
        //  background-color: var(--ods-theme-input-option-background-color-selected-hover);
        //}
      }

      &[data-disabled] {
        @include state.ods-is-disabled();

        background-color: transparent;
      }

      &[data-selected]:not(:has(.tree-view-node-branch__control__checkbox)) {
        background-color: var(--ods-theme-input-option-background-color-selected);

        //&:not([data-disabled]):hover {
        //  background-color: var(--ods-theme-input-option-background-color-selected-hover);
        //}
      }

      &[data-focus]:focus-visible {
        @include focus.ods-focus();

        position: relative;
        z-index: 2;
        background-color: var(--ods-theme-input-option-background-color-hover);
      }

      &__chevron {
        display: flex;
        flex: 0 0 $chevron-size;
        align-items: center;
        justify-content: center;
        transition: transform .2s ease;
        width: $chevron-size;
        height: $chevron-size;

        &:is([aria-expanded="true"], [data-state="open"]) {
          transform: rotate(90deg);
        }
      }

      &__children {
        position: relative;
        margin-left: 1rem;
        padding-left: .5rem;

        &::before {
          position: absolute;
          top: .25rem;
          bottom: .25rem;
          left: 0;
          opacity: .15;
          background-color: var(--ods-theme-input-border-color);
          width: 2px;
          content: '';
        }
      }

      &__checkbox {
        display: flex;
        gap: var(--ods-tree-view-node-row-gap) var(--ods-tree-view-node-column-gap);
        width: 100%;
      }
    }
  }
}
