<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-checkbox</title>

  <script type='module' src='/build/ods-checkbox.esm.js'></script>
  <script nomodule src='/build/ods-checkbox.js'></script>
  <link rel="stylesheet" href="/build/ods-checkbox.css">
</head>

<body>
  <p>Default</p>
  <ods-checkbox id="default-checkbox" name="default">
  </ods-checkbox>

  <button id="clear-button">clear</button>
  <button id="reset-button">reset</button>
  <button id="get-validity-button">getValidity</button>

  <script>
    const checkbox = document.getElementById('default-checkbox');
    ['odsBlur', 'odsClear', 'odsFocus', 'odsReset', 'odsChange'].forEach((eventName) =>{
      checkbox.addEventListener(eventName, (event) => {
        console.log(eventName, event);
      });
    });
    const clearButton = document.getElementById('clear-button');
    const resetButton = document.getElementById('reset-button');
    const getValidityButton = document.getElementById('get-validity-button');

    clearButton.addEventListener('click', () => checkbox.clear());
    resetButton.addEventListener('click', () => checkbox.reset());
    getValidityButton.addEventListener('click', async () => {
      const validity = await checkbox.getValidity();
      console.log('validity', validity);
    });
  </script>

  <p>Error</p>
  <ods-checkbox has-error name="error">
  </ods-checkbox>

  <p>Group & Label</p>
  <div>
    <ods-checkbox id="default-checkbox-group" input-id="coding" name="interest" value="coding" is-checked></ods-checkbox>
    <label for="coding">Coding</label>
  </div>

  <div>
    <ods-checkbox input-id="music" name="interest" value="music"></ods-checkbox>
    <label for="music">Music</label>
  </div>
  <button id="reset-group-button">Reset group</button>
  <script>
    const checkboxGroup = document.getElementById('default-checkbox-group');

    const resetGroupButton = document.getElementById('reset-group-button');

    resetGroupButton.addEventListener('click', () => checkboxGroup.reset());

  </script>

  <p>Checked</p>
  <div>
    <ods-checkbox input-id="coding-checked" name="interest-checked" value="coding" is-checked></ods-checkbox>
    <label for="coding-checked">Coding</label>
  </div>

  <div>
    <ods-checkbox input-id="music-checked" name="interest-checked" value="music" is-checked></ods-checkbox>
    <label for="music-checked">Music</label>
  </div>

  <p>Indeterminate</p>
  <div>
    <ods-checkbox input-id="indeterminate" name="indeterminate" value="indeterminate" is-indeterminate></ods-checkbox>
    <label for="indeterminate">Indeterminate</label>
  </div>

  <p>Disabled</p>
  <div>
    <ods-checkbox input-id="disabled" name="disabled" value="disabled" is-disabled></ods-checkbox>
    <label for="disabled">Disabled</label>
  </div>
  <div>
    <ods-checkbox input-id="disabled-checked" name="disabled" value="disabled-checked" is-disabled is-checked></ods-checkbox>
    <label for="disabled-checked">Disabled Checked</label>
  </div>
  <div>
    <ods-checkbox input-id="disabled-indeterminate" name="disabled" value="disabled-indeterminate" is-disabled is-indeterminate></ods-checkbox>
    <label for="disabled-indeterminate">Disabled Indeterminate</label>
  </div>

  <p>Form</p>
  <form id="form" target="_self">
    <div>
      <ods-checkbox input-id="form-coding" name="form-checkbox" value="form-coding" is-checked is-required></ods-checkbox>
      <label for="form-coding">Coding</label>
    </div>
    <label for="natif-checkbox">Test natif</label>
    <input id="natif-checkbox" type="checkbox" required name="form-checkbox"/>
    <!-- <div>
      <ods-checkbox input-id="form-music" name="form-checkbox" value="form-music" is-required></ods-checkbox>
      <label for="form-music">Music</label>
    </div> -->

    <input type="text" name="natif-input">
    <button id="form-reset-button" type="reset">Reset</button>
    <button id="form-submit-button" type="submit">Submit</button>
    <button id="button-check-validity">Check Validity</button>

  </form>

  <script>
    const form = document.getElementById('form');
    const resetFormButton = document.getElementById('form-reset-button');
    const submitFormButton = document.getElementById('form-submit-button');
    const checkValidityButton = document.getElementById('button-check-validity');
    const odsCheckbox = document.querySelector('[input-id="form-coding"]')
    checkValidityButton.addEventListener('click', async() => {
      console.log('odsCheckbox.getValidity()', await odsCheckbox.getValidity())
      console.log('odsCheckbox.checkValidity()', await odsCheckbox.checkValidity())

    });

    const natifCheckbox = document.getElementById('natif-checkbox');
    natifCheckbox.addEventListener('invalid', (e) => {
      e.preventDefault();
      console.log('invalid natif checkbox')
    });

    // odsCheckbox?.addEventListener('invalid', (e) => {
    //   e.preventDefault();
    //   console.log('invalid ods checkbox')
    // });

    form.addEventListener('submit', () => {
      const formData = new FormData(form);
      console.log('formData', formData);
    });
  </script>
</body>
</html>
