@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-textarea.mixins';

@mixin osds-textarea-theme-color-variant-flat() {
  @include ods-and-all-hue-foreach-theme-color((
          color: '500',
          background-color: '000'
  )) using($colors) {
    @include osds-textarea-on-selected-host {
      @include osds-textarea-on-main-element {
        border-color: var(--ods-color-primary-200);
        background-color: map_get($colors, background-color);
        color: map_get($colors, color);

        &::placeholder {
          opacity: 1;
          color: ods-get-color-variable($intent-name: text, $hue: '500');
        }

        &:focus,
        &:active:not([disabled]) {
          background-color: var(--ods-color-primary-100);
        }
      }
    }

    &.ods-error {
      @include osds-textarea-on-selected-host {
        @include osds-textarea-on-main-element {
          border-color: var(--ods-color-error-500);

          &:focus {
            border-color: var(--ods-color-primary-200);
          }
        }
      }
    }
  }

  &[contrasted] {
    @include ods-and-all-hue-foreach-theme-color((
      color: '500-contrasted',
      border-color: '000',
      background-color: (tone: '100', alpha: '.2')
      )) using($colors) {
      @include osds-textarea-on-selected-host {
        @include osds-textarea-on-main-element {
          border-color: map_get($colors, border-color);
          background-color: transparent;
          color: map_get($colors, color);

          &::placeholder {
            color: map_get($colors, color);
          }

          &:active,
          &:focus {
            background-color: map_get($colors, background-color);
          }
        }
      }
    }
  }
}


@mixin osds-textarea-theme-color() {
  :host textarea {
    outline: none;
  }

  /** no variant specified: flat variant colors */
  :not([variant]) {
    @include osds-textarea-theme-color-variant-flat;
  }

  [disabled] {
    @include osds-textarea-on-selected-host {
      opacity: .5;
    }
  }
}
