.identity-card__atomic-link {
  text-transform: capitalize;
}

.identity-card__app-link {
  display: block;
}

.identity-card2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 2rem;
}

.identity-card2__table {
  align-self: flex-start;
  text-align: left;
}
