/*
 * The actual part of the theme that will be exposed as CSS
 */
@use './variables' as var;
@import '../../assets/fonts/ods-icon';
@import '../../assets/fonts/source-code-pro';
@import '../../assets/fonts/source-sans-pro';

:root {
  --ods-border-radius-xs: #{var.$ods-border-radius-xs};
  --ods-border-radius-sm: #{var.$ods-border-radius-sm};
  --ods-border-radius-md: #{var.$ods-border-radius-md};
  --ods-border-radius-lg: #{var.$ods-border-radius-lg};
  --ods-border-width-sm: #{var.$ods-border-width-sm};
  --ods-border-width-md: #{var.$ods-border-width-md};
  --ods-color-alpha: #{var.$ods-color-alpha};
  --ods-color-background-disabled-default: #{var.$ods-color-background-disabled-default};
  --ods-color-background-readonly-default: #{var.$ods-color-background-readonly-default};
  --ods-color-border-disabled-default: #{var.$ods-color-border-disabled-default};
  --ods-color-border-readonly-default: #{var.$ods-color-border-readonly-default};
  --ods-color-beta: #{var.$ods-color-beta};
  --ods-color-critical-000: #{var.$ods-color-critical-000};
  --ods-color-critical-050: #{var.$ods-color-critical-050};
  --ods-color-critical-100: #{var.$ods-color-critical-100};
  --ods-color-critical-200: #{var.$ods-color-critical-200};
  --ods-color-critical-300: #{var.$ods-color-critical-300};
  --ods-color-critical-400: #{var.$ods-color-critical-400};
  --ods-color-critical-500: #{var.$ods-color-critical-500};
  --ods-color-critical-600: #{var.$ods-color-critical-600};
  --ods-color-critical-700: #{var.$ods-color-critical-700};
  --ods-color-critical-800: #{var.$ods-color-critical-800};
  --ods-color-critical-900: #{var.$ods-color-critical-900};
  --ods-color-form-element-background-critical: #{var.$ods-color-form-element-background-critical};
  --ods-color-form-element-background-default: #{var.$ods-color-form-element-background-default};
  --ods-color-form-element-background-focus-default: #{var.$ods-color-form-element-background-focus-default};
  --ods-color-form-element-background-hover-default: #{var.$ods-color-form-element-background-hover-default};
  --ods-color-form-element-border-critical: #{var.$ods-color-form-element-border-critical};
  --ods-color-form-element-border-default: #{var.$ods-color-form-element-border-default};
  --ods-color-form-element-border-focus-default: #{var.$ods-color-form-element-border-focus-default};
  --ods-color-form-element-border-hover-default: #{var.$ods-color-form-element-border-hover-default};
  --ods-color-form-element-text-default: #{var.$ods-color-form-element-text-default};
  --ods-color-form-element-text-placeholder-default: #{var.$ods-color-form-element-text-placeholder-default};
  --ods-color-heading: #{var.$ods-color-heading};
  --ods-color-information-000: #{var.$ods-color-information-000};
  --ods-color-information-050: #{var.$ods-color-information-050};
  --ods-color-information-100: #{var.$ods-color-information-100};
  --ods-color-information-200: #{var.$ods-color-information-200};
  --ods-color-information-300: #{var.$ods-color-information-300};
  --ods-color-information-400: #{var.$ods-color-information-400};
  --ods-color-information-500: #{var.$ods-color-information-500};
  --ods-color-information-600: #{var.$ods-color-information-600};
  --ods-color-information-700: #{var.$ods-color-information-700};
  --ods-color-information-800: #{var.$ods-color-information-800};
  --ods-color-information-900: #{var.$ods-color-information-900};
  --ods-color-neutral-000: #{var.$ods-color-neutral-000};
  --ods-color-neutral-050: #{var.$ods-color-neutral-050};
  --ods-color-neutral-100: #{var.$ods-color-neutral-100};
  --ods-color-neutral-200: #{var.$ods-color-neutral-200};
  --ods-color-neutral-300: #{var.$ods-color-neutral-300};
  --ods-color-neutral-400: #{var.$ods-color-neutral-400};
  --ods-color-neutral-500: #{var.$ods-color-neutral-500};
  --ods-color-neutral-600: #{var.$ods-color-neutral-600};
  --ods-color-neutral-700: #{var.$ods-color-neutral-700};
  --ods-color-neutral-800: #{var.$ods-color-neutral-800};
  --ods-color-neutral-900: #{var.$ods-color-neutral-900};
  --ods-color-new: #{var.$ods-color-new};
  --ods-color-primary-000: #{var.$ods-color-primary-000};
  --ods-color-primary-050: #{var.$ods-color-primary-050};
  --ods-color-primary-100: #{var.$ods-color-primary-100};
  --ods-color-primary-200: #{var.$ods-color-primary-200};
  --ods-color-primary-300: #{var.$ods-color-primary-300};
  --ods-color-primary-400: #{var.$ods-color-primary-400};
  --ods-color-primary-500: #{var.$ods-color-primary-500};
  --ods-color-primary-600: #{var.$ods-color-primary-600};
  --ods-color-primary-700: #{var.$ods-color-primary-700};
  --ods-color-primary-800: #{var.$ods-color-primary-800};
  --ods-color-primary-900: #{var.$ods-color-primary-900};
  --ods-color-promotion: #{var.$ods-color-promotion};
  --ods-color-success-000: #{var.$ods-color-success-000};
  --ods-color-success-050: #{var.$ods-color-success-050};
  --ods-color-success-100: #{var.$ods-color-success-100};
  --ods-color-success-200: #{var.$ods-color-success-200};
  --ods-color-success-300: #{var.$ods-color-success-300};
  --ods-color-success-400: #{var.$ods-color-success-400};
  --ods-color-success-500: #{var.$ods-color-success-500};
  --ods-color-success-600: #{var.$ods-color-success-600};
  --ods-color-success-700: #{var.$ods-color-success-700};
  --ods-color-success-800: #{var.$ods-color-success-800};
  --ods-color-success-900: #{var.$ods-color-success-900};
  --ods-color-text: #{var.$ods-color-text};
  --ods-color-text-disabled-default: #{var.$ods-color-text-disabled-default};
  --ods-color-warning-000: #{var.$ods-color-warning-000};
  --ods-color-warning-050: #{var.$ods-color-warning-050};
  --ods-color-warning-100: #{var.$ods-color-warning-100};
  --ods-color-warning-200: #{var.$ods-color-warning-200};
  --ods-color-warning-300: #{var.$ods-color-warning-300};
  --ods-color-warning-400: #{var.$ods-color-warning-400};
  --ods-color-warning-500: #{var.$ods-color-warning-500};
  --ods-color-warning-600: #{var.$ods-color-warning-600};
  --ods-color-warning-700: #{var.$ods-color-warning-700};
  --ods-color-warning-800: #{var.$ods-color-warning-800};
  --ods-color-warning-900: #{var.$ods-color-warning-900};
  --ods-font-family-code: 'Source Code Pro', arial;
  --ods-font-family-default: 'Source Sans Pro', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
  --ods-form-element-input-height: #{var.$ods-form-element-input-height};
  --ods-outline-color-default: #{var.$ods-outline-color-default};
  --ods-outline-offset: #{var.$ods-outline-offset};
  --ods-outline-style-default: #{var.$ods-outline-style-default};
  --ods-outline-width: #{var.$ods-outline-width};
}
