.custom-drawer__content {
  display: flex;
  background-color: #f64b4b;
  width: 200px;
  opacity: .5;
}

.custom-drawer__trigger {
  border-radius: 10px;
  background-color: transparent;
}

.custom-drawer__trigger:hover {
  background-color: #f64b4b;
  cursor: pointer;
}
