@use '../../../../../style/link';
@use '../../../../../style/state';

@layer ods-atoms {
  .link {
    $current: &;

    @include link.ods-link();

    &--no-text {
      gap: 0;
    }

    &#{$current}--disabled {
      @include state.ods-is-disabled();

      background-color: inherit;

      &:focus-visible,
      &:hover {
        &::after {
          transform: scaleX(0);
        }
      }
    }
  }
}
