{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": ["tsconfig.json"],
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import",
    "eslint-plugin-tsdoc",
    "react"
  ],
  "root": true,
  "rules": {
    "react/prop-types": 0,
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/consistent-indexed-object-style": "error",
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true, "varsIgnorePattern": "h" }],
    "@typescript-eslint/ban-ts-comment": ["error", { "ts-ignore": "allow-with-description" }],
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "brace-style": ["error", "1tbs"],
    "comma-dangle": ["error", "always-multiline"],
    "complexity": ["error"],
    "curly": ["error", "all"],
    "default-case": "error",
    "func-call-spacing": ["error", "never"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "function-call-argument-newline": ["error", "consistent"],
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin", // Built-in imports (come from NodeJS native) go first
          "external", // <- External imports
          "internal", // <- Absolute imports
          [
            "sibling", "parent"
          ], // <- Relative imports, the sibling and parent types they can be mingled together
          "index", // <- index imports
          "unknown" // <- unknown
        ],
        "pathGroups": [
          {
            "pattern": "{.,..}/*.scss", // same directory only
            // pattern: '{.,..}/**/*\.scss' // same & outside directories (e.g. import '../foo/foo.scss')
            "group": "object",
            "position": "after"
          }
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-depth": ["error", {"max": 4}],
    "max-len": ["error", { "code": 400 }],
    "max-params": ["error", 4],
    "newline-per-chained-call": "off",
    "no-array-constructor": "error",
    "no-await-in-loop": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-extra-bind": "error",
    "no-magic-numbers": "off",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-nested-ternary": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error", "before", { "overrides": { "&&": "after" }}],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        "allowSeparatedGroups": false
      }
    ],
    "sort-keys": ["error", "asc"],
    "space-before-function-paren": ["error", "never"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
