{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "**/.yarn/**",
    "**/assets/**",
    "**/docs/**",
    "**/packages/**/dist/**",
    "**/packages/**/doc/**",
    "**/packages/themes/**"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-tsdoc"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "brace-style": ["error", "1tbs"],
    "comma-dangle": ["error", "always-multiline"],
    "complexity": ["error"],
    "curly": ["error", "all"],
    "default-case": "error",
    "func-call-spacing": ["error", "never"],
    "func-style": ["error", "expression"],
    "function-call-argument-newline": ["error", "consistent"],
    "indent": ["error", 2],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-depth": ["error", {"max": 4}],
    "max-len": ["error", { "code": 200 }],
    "max-params": ["error", 4],
    "newline-per-chained-call": "off",
    "no-array-constructor": "error",
    "no-await-in-loop": "error",
    "no-console": "error",
    "no-extra-bind": "error",
    "no-magic-numbers": "error",
    "no-multi-spaces": "error",
    "no-nested-ternary": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "never"],
    "operator-linebreak": ["error", "before"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "sort-imports": "error",
    "sort-keys": ["error", "asc"],
    "space-before-function-paren": ["error", "never"]
  }
}
