/*
 * BREAKPOINTS
 * This file contains all the breakpoints used in the Blue Jeans theme.
 * Here, we are using ems as units for breakpoints, as explained here:
 * https://zellwk.com/blog/media-query-units/
 */
$breakpoint-sizes: (
        "xs": 36, // 576px
        "sm": 48, // 768px
        "md": 62, // 992px
        "lg": 75, // 1200px
        "xl": 87.5 // 1400px
);

:root {
  @each $size, $value in $breakpoint-sizes {
    --ods-breakpoint-#{$size}: #{$value}em;
  }
}
