@import './osds-modal.mixins';
@import '~@ovhcloud/ods-common-theming/size/ods-component-size';

// Main CSS mixin for sizes
@mixin osds-modal-theme-size() {
    :host {
        width: 100%;
        height: 100%;

        * {
            box-sizing: border-box;
        }

        .backdrop {
            width: 100%;
            height: 100%;
        }

        .wrapper {
            width: 70%;
            min-width: 50%;
            max-width: clamp(36rem, 70%, 70%);
            border-radius: var(--ods-size-04);
            margin: var(--ods-size-04);

            .header {
                width: 100%;
                height: calc(var(--ods-size-09) + var(--ods-size-05));
                padding: 0 calc(var(--ods-size-04) / 2);
            }

            .content {
                width: 100%;
                padding: var(--ods-size-06) var(--ods-size-08) var(--ods-size-08);

                .headline {
                    margin-bottom: var(--ods-size-04);
                }

                .slot {
                    max-height: 30vh;
                }

                .actions {
                    margin-top: var(--ods-size-07);
                    width: 100%;
                    gap: var(--ods-size-04);
                }
            }
        }
    }
}
