<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-text</title>

  <script type='module' src='/build/ods-text.esm.js'></script>
  <script nomodule src='/build/ods-text.js'></script>
  <link rel="stylesheet" href="/build/ods-text.css">
</head>

<body>
  <p>Default</p>
  <ods-text>
    test
  </ods-text>

  <p>Code</p>
  <ods-text preset="code">
    code
  </ods-text>

  <p>Caption</p>
  <ods-text preset="caption">
    caption
  </ods-text>

  <p>Span</p>
  <ods-text preset="span">
    span
  </ods-text>

  <p>Heading-1</p>
  <ods-text preset="heading-1">
    heading-1
  </ods-text>

  <p>Heading-2</p>
  <ods-text preset="heading-2">
    heading-2
  </ods-text>

  <p>Heading-3</p>
  <ods-text preset="heading-3">
    heading-3
  </ods-text>

  <p>Heading-4</p>
  <ods-text preset="heading-4">
    heading-4
  </ods-text>

  <p>Heading-5</p>
  <ods-text preset="heading-5">
    heading-5
  </ods-text>

  <p>Heading-6</p>
  <ods-text preset="heading-6">
    heading-6
  </ods-text>

  <p>Custom CSS</p>
  <ods-text class="myCustomText">
    Custom CSS
  </ods-text>
  <style>
    .myCustomText::part(text) {
      color: green;
    }

    p {
      color: gray;
      font-style: italic;
      font-weight: bold;
    }
  </style>
</body>
</html>
