<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-card</title>

  <script type='module' src='/build/ods-card.esm.js'></script>
  <script nomodule src='/build/ods-card.js'></script>
  <link rel="stylesheet" href="/build/ods-card.css">
</head>

<body>
  <p>Default</p>
  <ods-card>
    <span>Hello, world!</span>
  </ods-card>

  <p>Primary</p>
  <ods-card color="primary">
    <span>Hello, world!</span>
  </ods-card>

  <p>Neutral</p>
  <ods-card color="neutral">
    <span>Hello, world!</span>
  </ods-card>

  <style>
    * {
      font-family: 'Source Sans Pro', sans-serif;
    }

    ods-card {
      padding: 24px;
    }
  </style>
</body>
</html>
