@use '../../../../../style/button';
@use '../../../../../style/scroll';

$tab-list-border-bottom-size: 2px;

@layer ods-molecules {
  .tab-list {
    --ods-tab-list-border-color: var(--ods-color-neutral-100);

    display: flex;
    position: relative;
    align-items: baseline;

    &__left-arrow,
    &__right-arrow {
      display: flex;
      position: relative;
      align-items: center;
      align-self: stretch;
      height: auto;

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        transition: opacity ease .3s;
        opacity: 0;
        z-index: 1;
        width: 60px;
        height: 100%;
        content: '';
        pointer-events: none;
      }
    }

    &__left-arrow {
      &::after {
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
      }

      &--active {
        &::after {
          left: button.$ods-button-size-xs;
          opacity: 1;
        }
      }
    }

    &__right-arrow {
      &::after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
      }

      &--active {
        &::after {
          right: button.$ods-button-size-xs;
          opacity: 1;
        }
      }
    }

    &__container {
      @include scroll.hide-scrollbar();

      display: inline-block;
      position: relative;
      width: 100%;
      overflow: auto hidden;
      white-space: nowrap;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: solid $tab-list-border-bottom-size var(--ods-tab-list-border-color);
        content: '';
      }

      &__tabs {
        display: flex;
      }
    }
  }
}
