@use '../../../../../style/button';
@use '../../../../../style/font';
@use '../../../../../style/scroll';

$tab-list-border-bottom-size: 2px;

@layer ods-molecules {
  .tab-list {
    --ods-tab-list-background-color-switch: var(--ods-color-neutral-050);
    --ods-tab-list-border-color: var(--ods-color-neutral-100);
    --ods-tab-list-border-radius-switch-md: var(--ods-theme-border-radius);
    --ods-tab-list-border-radius-switch-sm: var(--ods-theme-border-radius);
    --ods-tab-list-border-radius-switch-xs: var(--ods-theme-border-radius);
    --ods-tab-list-border-width: #{$tab-list-border-bottom-size};

    display: flex;
    position: relative;
    align-items: baseline;

    &__left-arrow,
    &__right-arrow {
      display: flex;
      position: relative;
      align-items: center;
      align-self: stretch;
      height: auto;

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        transition: opacity ease .3s;
        opacity: 0;
        z-index: 10;
        width: 60px;
        height: 100%;
        content: '';
        pointer-events: none;
      }

      &--xs {
        [data-ods="button"] {
          font-size: font.px-to-rem(10px);
        }
      }
    }

    &__left-arrow {
      &::after {
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
      }

      &--md::after {
        left: button.$ods-button-size-md;
      }

      &--sm::after {
        left: button.$ods-button-size-sm;
      }

      &--xs::after {
        left: button.$ods-button-size-xs;
      }

      &--active {
        &::after {
          opacity: 1;
        }
      }
    }

    &__right-arrow {
      &::after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
      }

      &--md::after {
        right: button.$ods-button-size-md;
      }

      &--sm::after {
        right: button.$ods-button-size-sm;
      }

      &--xs::after {
        right: button.$ods-button-size-xs;
      }

      &--active {
        &::after {
          opacity: 1;
        }
      }
    }

    &__container {
      $container: &;

      @include scroll.hide-scrollbar();

      display: inline-block;
      position: relative;
      overflow: auto hidden;
      white-space: nowrap;

      &--default {
        width: 100%;

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: solid var(--ods-tab-list-border-width) var(--ods-tab-list-border-color);
          content: '';
        }
      }

      &--switch {
        background-color: var(--ods-tab-list-background-color-switch);

        &#{$container}--md {
          border-radius: var(--ods-tab-list-border-radius-switch-md);
        }

        &#{$container}--sm {
          border-radius: var(--ods-tab-list-border-radius-switch-sm);
        }

        &#{$container}--xs {
          border-radius: var(--ods-tab-list-border-radius-switch-xs);
        }
      }

      &__tabs {
        display: inline-flex;
      }
    }
  }
}
