@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-accordion-theme-typography() {
  /** typography properties */
  @each $size in ('md') {
    :host([size='#{$size}']) .accordion__wrapper {
      $typography-properties: ods-get-typography-properties(body, '100');

      line-height: ods-get-typography-property($typography-properties, line-height);
      letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
      font-family: ods-get-typography-property($typography-properties, font-family);
      font-size: ods-get-typography-property($typography-properties, font-size);
      font-weight: ods-get-typography-property($typography-properties, font-weight);
      font-style: ods-get-typography-property($typography-properties, font-style);

      .accordion_summary {
        $typography-properties: ods-get-typography-properties(body, '500');

        line-height: ods-get-typography-property($typography-properties, line-height);
        letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
        font-size: ods-get-typography-property($typography-properties, font-size);
        font-weight: ods-get-typography-property($typography-properties, font-weight);
        font-style: ods-get-typography-property($typography-properties, font-style);
      }
    }
  }
}
