@use '../../../../../style/checkbox';
@use '../../../../../style/icon';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-option-indicator {
    @include checkbox.ods-checkbox();

    &:checked {
      border-color: var(--ods-theme-input-border-color-checked);
      background: var(--ods-theme-input-background-color-checked);

      &::before {
        @include icon.ods-icon();

        content: '\e914';
      }
    }

    &:disabled {
      @include state.ods-is-disabled();
    }
  }
}
