@use '../../../../../style/overlay';

:host(.ods-popover) {
  @include overlay.ods-tooltip();

  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.ods-popover {
  &__arrow {
    @include overlay.ods-tooltip-arrow();

    &--hidden {
      display: none;
    }
  }
}
