// general mixins and functions for the component

@mixin osds-range-on-selected-host() {
  :host(&) {
    @content;
  }
}

@mixin osds-range-on-selected-dual-host() {
  :host(&.dual-range) {
    @content;
  }
}

@mixin osds-range-on-main-element() {
  .range-input {
    @content;
  }
}

@mixin osds-range-on-multi-element() {
  .range-input_dual {
    @content;
  }
}

@mixin osds-range-inputs() {
  .range-input, .range-input_dual {
    @content;
  }
}

@mixin track-color($color) {
  &::-moz-range-track {
    background: $color;
  }

  &::-webkit-slider-runnable-track {
    background: $color;
  }

  &::-ms-track {
    background: $color;
  }
}

@mixin thumb-color($background, $border, $hover-color){
  &::-moz-range-thumb {
    border-color: $border;
    background-color: $background;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $border;
    }
  }

  &::-webkit-slider-thumb {
    border-color: $border;
    background-color: $background;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $border;
    }
  }

  &::-ms-thumb {
    border-color: $border;
    background-color: $background;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $border;
    }
  }
}
