@import '~@ovhcloud/ods-common-theming/ods-theme';
@import "styles/osds-content-addon.mixins";

:host {
  display: inline-block;

  .osds-content-addon {
    display: grid;
    grid-template:
    "top top top" min-content "start main end" min-content "bottom bottom bottom" min-content / max-content max-content max-content;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 0 0;
    width: 100%;
    height: 100%;

    .inset-grid {
      display:grid;
      grid-template-areas: "start main end";
      grid-template-columns: auto auto auto;
      align-items: baseline;
    }

    slot {
      display: grid;
    }

    slot[name='top'] {
      grid-area: top;
    }

    slot[name='bottom'] {
      grid-area: bottom;
    }

    slot[name='start'] {
      grid-area: start;
    }

    slot[name='end'] {
      grid-area: end;
    }

    slot[name='main'] {
      grid-area: main;
    }
  }
}
