@layer ods-organisms {
  .combobox-tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    padding: 0 4px;
  }

  .combobox-tag--focused {
    border-color: var(--ods-color-information-200);
    background-color: var(--ods-color-information-100);
  }
}
