.osds-timepicker {
  $main: &;

  :host(&#{&}--inline) {
    display: inline-flex;

  #{$main}__timezones {
      margin-left: var(--ods-size-03);
    }
  }

  :host(&:not(&--inline)) {
    #{$main}__timezones {
      margin-top: var(--ods-size-03);
    }
  }
}
