@import 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap';

:root {
  /* --- */
  // --ods-palette-navy-50: #edf0f7;
  // --ods-palette-navy-100: #bec5e3;
  // --ods-palette-navy-200: #98a3cc;
  // --ods-palette-navy-300: #6e7eb5;
  // --ods-palette-navy-400: #4e5e9e;
  // --ods-palette-navy-500: #3a4a87;
  // --ods-palette-navy-600: #2b3870;
  // --ods-palette-navy-700: #1e2858;
  // --ods-palette-navy-800: #131a3f;
  // --ods-palette-navy-900: #0a1028;

  // --ods-palette-brand-50: var(--ods-palette-navy-50);
  // --ods-palette-brand-100: var(--ods-palette-navy-100);
  // --ods-palette-brand-200: var(--ods-palette-navy-200);
  // --ods-palette-brand-300: var(--ods-palette-navy-300);
  // --ods-palette-brand-400: var(--ods-palette-navy-400);
  // --ods-palette-brand-500: var(--ods-palette-navy-500);
  // --ods-palette-brand-600: var(--ods-palette-navy-600);
  // --ods-palette-brand-700: var(--ods-palette-navy-700);
  // --ods-palette-brand-800: var(--ods-palette-navy-800);
  // --ods-palette-brand-900: var(--ods-palette-navy-900);

  // --ods-palette-brand-50: var(--ods-palette-blue-50);
  // --ods-palette-brand-100: var(--ods-palette-blue-100);
  // --ods-palette-brand-200: var(--ods-palette-blue-200);
  // --ods-palette-brand-300: var(--ods-palette-blue-300);
  // --ods-palette-brand-400: var(--ods-palette-blue-400);
  // --ods-palette-brand-500: var(--ods-palette-blue-500);
  // --ods-palette-brand-600: var(--ods-palette-blue-600);
  // --ods-palette-brand-700: var(--ods-palette-blue-700);
  // --ods-palette-brand-800: var(--ods-palette-blue-800);
  // --ods-palette-brand-900: var(--ods-palette-blue-900);
  
  --ods-palette-brand-50: var(--ods-palette-green-50);
  --ods-palette-brand-100: var(--ods-palette-green-100);
  --ods-palette-brand-200: var(--ods-palette-green-200);
  --ods-palette-brand-300: var(--ods-palette-green-300);
  --ods-palette-brand-400: var(--ods-palette-green-400);
  --ods-palette-brand-500: var(--ods-palette-green-500);
  --ods-palette-brand-600: var(--ods-palette-green-600);
  --ods-palette-brand-700: var(--ods-palette-green-700);
  --ods-palette-brand-800: var(--ods-palette-green-800);
  --ods-palette-brand-900: var(--ods-palette-green-900);
  
  /* --- */
  --ods-semantic-font-family-body: "Outfit", "Outfit Fallback", 'Outfit Variable', sans-serif;
  --ods-semantic-font-family-heading: cursive;
  
  /* --- */
  --ods-semantic-color-surface-page: color-mix(in srgb,#ffcc00 15%, #fff);
  --ods-semantic-color-surface-neutral-recessed: color-mix(in srgb,#ffcc00 40%, #fff);
  --ods-semantic-color-border-neutral-subtle: color-mix(in srgb,#ffcc00 80%, #000);
  --ods-semantic-color-border-neutral-minimal: color-mix(in srgb,#ffcc00 88%, #000);
  --ods-semantic-color-border-control: var(--ods-palette-brand-900);
  --ods-semantic-color-content-heading: var(--ods-palette-brand-800);
  --ods-semantic-size-radius-control: 0;
  --ods-semantic-size-radius-overlay: 8px;
  --ods-semantic-size-radius-container: 16px;
}
