@import 'styles/osds-cart.color';
@import 'styles/osds-cart.mixins';
@import 'styles/osds-cart.size';
@import 'styles/osds-cart.typography';
@import '~@ovhcloud/ods-theming/ods-theme';

:host {
  display: inline-block;
  box-sizing: border-box;

  // avoid side effect alignment from the consumer application
  text-align: left;
}

slot[name="empty"] {
  display: inherit;
}

:host([collapsed]) {
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: min-content 0 min-content;

  .container {
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }
}

:host([collapsible]) {
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: min-content 1fr min-content;

  .container {
    -ms-overflow-style: none;
    align-self: stretch;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: stretch;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-cart-theme-color();
  @include osds-cart-theme-size();
  @include osds-cart-theme-typography();
}
