@import 'styles/osds-select.color';
@import 'styles/osds-select.size';
@import 'styles/osds-select.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  @include osds-select-on-select-element {
    flex: 1;
  }

  /* overlay important properties */
  display: flex; /* best practice for web component */
  position: relative; /* must be here to make the positioning working well */

  /* end overlay important properties */
  cursor: pointer;
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */
  text-align: left;

  .select-trigger {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-style: solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;

    &__label {
      display: inline-flex;
      flex: 1;
      max-width: calc(100% - 24px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .overlay {
    border-style: solid;
    max-height: calc(var(--ods-size-stack-11) * 7.5);
    overflow: auto;

    &.opened {
      display: block;
    }
  }
}

:host([inline]) {
  display: inline-block;
}

:not([disabled]):focus-visible {
  @include osds-select-on-selected-host {
    outline-offset: var(--ods-size-inset-02);
    outline-width: var(--ods-size-inset-02);
    outline-style: dotted;
  }
}

[disabled] {
  @include osds-select-on-selected-host {
    opacity: .5;
    cursor: not-allowed;
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-select-theme-color;
  @include osds-select-theme-size;
  @include osds-select-theme-typography;
}
