@use '../../../../../style/text';

:host(.ods-form-field) {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
}

.ods-form-field {
  &__label {
    @include text.ods-text-label();
  }

  &__bottom-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 4px;

    &__messages {
      display: flex;
      flex-flow: column;
      row-gap: 4px;

      &__error {
        color: var(--ods-color-critical-500);
        font-weight: 600;
      }
    }
  }
}
