@layer ods-molecules {
  .menu-submenu {
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    cursor: pointer;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-semantic-color-interaction-base-subtle-hover);
    }
  }
}
