@layer ods-organisms {
  .combobox-content {
    --ods-combobox-group-option-padding-horizontal: var(--ods-theme-input-padding-horizontal);
    --ods-combobox-option-new-column-gap: var(--ods-theme-column-gap);

    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--ods-color-form-element-border-hover-default);
    background: var(--ods-color-primary-000);
    padding: 0;
    max-height: 400px;
    overflow: auto;

    &--invalid {
      border-color: var(--ods-theme-input-border-color-invalid);
    }

    &--open-bottom {
      border-radius: 0 0 var(--ods-border-radius-sm) var(--ods-border-radius-sm);
    }

    &--open-top {
      border-radius: var(--ods-border-radius-sm) var(--ods-border-radius-sm) 0 0;
    }

    &__empty {
      display: flex;
      align-items: center;
      padding: 0 8px;
      min-height: 32px;
    }
  }
}
