@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-content {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: var(--ods-color-primary-000);
    padding: 0;
    overflow: hidden;
    color: var(--ods-color-text);
    pointer-events: auto;

    &--open-bottom {
      margin-top: calc(var(--ods-border-width-sm) * -1);
      border-radius: 0 0 var(--ods-border-radius-sm) var(--ods-border-radius-sm);
    }

    &--open-top {
      margin-bottom: calc(var(--ods-border-width-sm) * -1);
      border-radius: var(--ods-border-radius-sm) var(--ods-border-radius-sm) 0 0;
    }

    &--disabled {
      @include state.ods-is-disabled();

      // Needed to prevent options to be clickable
      > * {
        pointer-events: none;
      }
    }
  }
}
