@import 'styles/osds-code.mixins';
@import 'styles/osds-code.color';
@import 'styles/osds-code.size';
@import 'styles/osds-code.typography.scss';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/reset/ods-theming-reset.button';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS for the component but not for theming
:host {
  @include osds-code-on-main-element() {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas:
    ". .";
    justify-content: start;
    align-content: start;
    grid-auto-columns: 100%;


    @include osds-code-on-container-element() {
      align-self: start;
      box-sizing: border-box;
      justify-self: start;
      white-space: break-spaces;
      width: 100%;
    }
  }
}

slot[name='copy'] {
  align-self: start;
  box-sizing: border-box;
  display: inline-flex;
  justify-self: end;
  padding: var(--ods-size-03);
  width: 100%;
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-code-theme-color();
  @include osds-code-theme-size();
  @include osds-code-theme-typography();
}
