@import 'styles/osds-code.mixins';
@import 'styles/osds-code.color';
@import 'styles/osds-code.size';
@import 'styles/osds-code.typography.scss';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/reset/ods-theming-reset.button';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS for the component but not for theming
:host {
  @include osds-code-on-main-element() {
    display: flex;

    @include osds-code-on-container-element() {
      flex-grow: 1;
      white-space: pre-line;
    }
  }

  ::slotted([slot="copy"]) {
    flex-shrink: 0;
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-code-theme-color();
  @include osds-code-theme-size();
  @include osds-code-theme-typography();
}
