@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import 'osds-cart.mixins';

// entrypoint for customizing the theme color
@mixin osds-cart-theme-color() {
  :host {
    $color-start: ods-get-color-variable($intent-name: primary, $hue: '700');
    $color-end: ods-get-color-variable($intent-name: primary, $hue: '500');

    background: linear-gradient($color-start, $color-end);
    color: ods-get-color-variable($palette-name: 'gray', $hue: '000');
  }
}
