@use '../../../../../style/state';

@layer ods-atoms {
  .toggle-labels {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    pointer-events: none;

    &__label-on,
    &__label-off {
      display: none;
      transition: color 0.2s;
    }

    &__label-on {
      margin-right: auto;
      margin-left: 2px;
      color: var(--ods-color-neutral-000);

      &--checked {
        display: flex;
      }
    }

    &__label-off {
      $label-off: &;

      margin-right: 2px;
      margin-left: auto;
      color: var(--ods-color-neutral-700);

      &--unchecked {
        display: flex;
      }

      &--focused:not(#{$label-off}--disabled) {
        color: var(--ods-color-neutral-800);
      }

      &--disabled {
        color: var(--ods-color-text-disabled-default);
      }
    }
  }
}
