@import '~@ovhcloud/ods-common-theming/typography/ods-theming-typography';
@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-code-theme-typography() {
  @each $size in ('md') {
    :host([size='#{$size}']) {
      $typography-properties: ods-get-typography-properties(body, '400');

      line-height: ods-get-typography-property($typography-properties, line-height);
      letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
      font-size: ods-get-typography-property($typography-properties, font-size);
      font-weight: ods-get-typography-property($typography-properties, font-weight);
      font-style: ods-get-typography-property($typography-properties, font-style);
    }
  }
}
