@import 'styles/osds-quantity.mixins';
@import 'styles/osds-quantity.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  --ods-input-text-align: center;
  --ods-input-width: calc(2.813rem * var(--ods-size-ratio));
  --ods-icon-vertical-align: middle;

  display: flex;
  flex-direction: row;
}

:host([disabled]) {
  cursor: not-allowed;
}

slot {
  display: block;
}

slot[name] {
  // FIXME this will work only with flex slotted element (like osds-button), shall be fix when we replace slot with osds-button
  width: var(--ods-button-width);
}

slot:not([name]) {
  margin-right: var(--ods-size-03);
  margin-left: var(--ods-size-03);
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-quantity-theme-size;
}
