@use 'sass:math';
@use '../../../../../style/range';

@layer ods-atoms {
  .range {
    --range-padding-bottom: 0;
    --range-padding-right: 0;
    --range-padding-left: 0;

    padding: (math.div(range.$ods-range-thumb-size, 2) - math.div(range.$ods-range-track-height, 2)) var(--range-padding-right) var(--range-padding-bottom) var(--range-padding-left);

    &__control {
      display: flex;
      align-items: center;
      z-index: 2;
    }
  }
}
