@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-divider.mixins';

@mixin osds-divider-theme-color() {

  @include ods-all-hue-foreach-theme-color((
    background-color: '100'
  )) using($colors) {
    @include osds-divider-on-selected-host() {
      hr {
        background-color: map_get($colors, background-color);
      }
    }
  }

  [contrasted] {
    @include ods-and-all-hue-foreach-theme-color((
      background-color: '100-contrasted'
    )) using($colors) {
      @include osds-divider-on-selected-host() {
        hr {
          background-color: map_get($colors, background-color);
        }
      }
    }
  }
}
