@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-cart-total-theme-typography() {
  slot[name='total'] {
    $typography-properties: ods-get-typography-properties(heading, '400');

    line-height: ods-get-typography-property($typography-properties, line-height);
    letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
    font-family: ods-get-typography-property($typography-properties, font-family);
    font-size: ods-get-typography-property($typography-properties, font-size);
    font-weight: ods-get-typography-property($typography-properties, font-weight);
    font-style: ods-get-typography-property($typography-properties, font-style);
  }

  slot[name='info'] {
    $typography-properties: ods-get-typography-properties(caption, '100');

    line-height: ods-get-typography-property($typography-properties, line-height);
    letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
    font-family: ods-get-typography-property($typography-properties, font-family);
    font-size: ods-get-typography-property($typography-properties, font-size);
    font-weight: ods-get-typography-property($typography-properties, font-weight);
    font-style: ods-get-typography-property($typography-properties, font-style);
  }

  slot[name='price'] {
    $typography-properties: ods-get-typography-properties(heading, '500');

    line-height: ods-get-typography-property($typography-properties, line-height);
    letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
    font-family: ods-get-typography-property($typography-properties, font-family);
    font-size: ods-get-typography-property($typography-properties, font-size);
    font-weight: ods-get-typography-property($typography-properties, font-weight);
    font-style: ods-get-typography-property($typography-properties, font-style);
  }

  slot[name='extra'] {
    $typography-properties: ods-get-typography-properties(caption, '100');

    line-height: ods-get-typography-property($typography-properties, line-height);
    letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
    font-family: ods-get-typography-property($typography-properties, font-family);
    font-size: ods-get-typography-property($typography-properties, font-size);
    font-weight: ods-get-typography-property($typography-properties, font-weight);
    font-style: ods-get-typography-property($typography-properties, font-style);
  }
}
