@use '../../../../../style/focus';
@use '../../../../../style/state';

.ods-switch-item {
  height: 100%;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s, color .3s;
    border-radius: var(--ods-border-radius-lg);
    cursor: pointer;
    padding: 0 12px;
    height: inherit;
    color: var(--ods-color-primary-500);
    font-size: 1rem;
    font-weight: 600;

    &:not(.ods-switch-item__label--disabled) {
      &:focus {
        @include focus.ods-focus();

        background-color:  var(--ods-color-primary-100);
      }

      &:hover {
        background-color:  var(--ods-color-primary-100);
      }
    }

    &--disabled {
      @include state.ods-is-disabled();
    }
  }

  &__radio {
    display: none;

    &:checked {
      &:not(:disabled) {
        & + .ods-switch-item__label {
          background-color:  var(--ods-color-primary-600);
          color:  var(--ods-color-primary-000);
        }
      }

      &:disabled {
        & + .ods-switch-item__label {
          @include state.ods-is-disabled();

          background-color: var(--ods-color-neutral-500);
          color: var(--ods-color-neutral-000);
        }
      }
    }
  }
}
