
/// @access private
@function ods-get-accordion-size-properties($size-name) {
    @return (
      border-width: var(--ods-size-accordion-#{$size-name}-border-width),
      padding: var(--ods-size-accordion-#{$size-name}-padding)
    )
  }
  
  /// @access private
  @function ods-get-accordion-component-size-definition() {
    @return (
      md: ods-get-accordion-size-properties(md)
    );
  }
  