
/// @access private
@function ods-get-spinner-size-properties($size-name) {
 @return (
   max-width: var(--ods-size-spinner-#{$size-name}-max-width)
 );
}

/// @access private
@function ods-get-spinner-component-size-definition() {
 @return (
   sm: ods-get--size-properties(sm),
   md: ods-get--size-properties(md),
   lg: ods-get--size-properties(lg)
 );
}
