
/// @access private
@function ods-get-code-size-properties($size-name) {
    @return (
      border-radius: var(--ods-size-code-#{$size-name}-border-radius),
      min-height: var(--ods-size-code-#{$size-name}-min-height),
      padding-y: var(--ods-size-code-#{$size-name}-padding-y),
      padding-x: var(--ods-size-code-#{$size-name}-padding-x)
    )
  }

  /// @access private
  @function ods-get-code-component-size-definition() {
    @return (
      md: ods-get-code-size-properties(md)
    );
  }
