/// @access private
@function ods-get-tooltip-size-properties($size-name) {
  @return (
    grid-column-gap: var(--ods-size-tooltip-#{$size-name}-grid-column-gap),
    border-radius: var(--ods-size-tooltip-#{$size-name}-border-radius),
    padding: var(--ods-size-tooltip-#{$size-name}-padding),
  )
}

/// @access private
@function ods-get-tooltip-component-size-definition() {
  @return (
    md: ods-get-tooltip-size-properties(md)
  );
}
