@import './ods-theming-size.accordion';
@import './ods-theming-size.button';
@import './ods-theming-size.cart';
@import './ods-theming-size.checkbox-button';
@import './ods-theming-size.chip';
@import './ods-theming-size.code';
@import './ods-theming-size.divider';
@import './ods-theming-size.icon';
@import './ods-theming-size.input';
@import './ods-theming-size.radio-button';
@import './ods-theming-size.range';
@import './ods-theming-size.skeleton';
@import './ods-theming-size.select';
@import './ods-theming-size.text';
@import './ods-theming-size.textarea';
@import './ods-theming-size.tile';
@import './ods-theming-size.toggle';

/// the typography definitions for each level and size.
/// @access public
$ods-size-definitions: (
  accordion: ods-get-accordion-component-size-definition(),
  button: ods-get-button-component-size-definition(),
  cart: ods-get-cart-component-size-definition(),
  checkbox-button: ods-get-checkbox-button-component-size-definition(),
  chip: ods-get-chip-component-size-definition(),
  code: ods-get-code-component-size-definition(),
  divider: ods-get-divider-component-size-definition(),
  icon: ods-get-icon-component-size-definition(),
  input: ods-get-input-component-size-definition(),
  radio-button: ods-get-radio-button-component-size-definition(),
  range: ods-get-range-component-size-definition(),
  skeleton: ods-get-skeleton-component-size-definition(),
  select: ods-get-select-component-size-definition(),
  text: ods-get-text-component-size-definition(),
  textarea: ods-get-textarea-component-size-definition(),
  tile: ods-get-tile-component-size-definition(),
  toggle: ods-get-toggle-component-size-definition(),
);

@function ods-get-size-definitions() {
  @return $ods-size-definitions;
}
@import './ods-theming-size.breadcrumb.scss';@import './ods-theming-size.breadcrumb.scss';