@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-option {
    $option: &;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 var(--ods-semantic-size-space-inset-inline);
    min-height: var(--ods-semantic-size-block-size-md);
    white-space: break-spaces;
    color: var(--ods-semantic-color-content-text);
    cursor: pointer;

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--highlighted {
      background-color: var(--ods-semantic-color-interaction-option-hover);
    }

    &--new {
      border-bottom: solid var(--ods-semantic-size-border-thickness) var(--ods-semantic-color-border-neutral-minimal);
    }

    // &--selected:not(#{$option}--highlighted),
    &--selected {
      background-color: var(--ods-semantic-color-surface-selected);
    }

    &__new-item {
      display: flex;
      flex-flow: row;
      column-gap: var(--ods-combobox-option-new-column-gap);
      align-items: center;
      color: var(--ods-semantic-color-content-base);
      font-weight: 600;
    }
  }
}
