.accessibility-control {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 0 10px;
  height: 100%;

  &__results {
    display: flex;
    column-gap: 15px;
    align-items: center;

    &__inapplicables,
    &__incompletes,
    &__passes,
    &__violations {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }

    &__passes {
      color: var(--ods-color-success-700);
    }

    &__violations {
      color: var(--ods-color-critical-700);
    }

    &__incompletes {
      color: var(--ods-color-warning-700);
    }

    &__inapplicables {
      color: var(--ods-color-information-700);
    }
  }
}
