@import '~@ovhcloud/ods-common-theming/size/ods-component-size';
@import './osds-radio-button.mixins';

@mixin osds-radio-button-theme-size() {
  /** sizes */

  @include ods-foreach-theme-size(radio-button) using ($sizes) {
    @include osds-radio-button-on-main-element {
      margin: ods-get-size-property($sizes, margin);
      border-width: ods-get-size-property($sizes, border-width);
      width: ods-get-size-property($sizes, width);
      height: ods-get-size-property($sizes, height);
    }
  }
}
