@import '~@ovhcloud/ods-common-theming/ods-theme';
@import './styles/osds-tab-bar-item.typography';
@import './styles/osds-tab-bar-item.color';

:host {
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  cursor: pointer;
  padding: var(--ods-size-inset-04) calc(var(--ods-size-inset-05) + var(--ods-size-inset-06));
  white-space: nowrap;
}

:host([disabled]) {
  cursor: not-allowed;
}


// apply the theme template for the component
@include ods-theme-component {
  @include osds-tabs-theme-typography;
  @include osds-tab-item-theme-color;
}
