:host(.flag) {
  display: block;
  box-shadow: 0 0 var(--ods-size-05) var(--ods-color-gray-200);
  aspect-ratio: 4/3;
}

.flag {
  &__svg {
    display: flex;

    &--default {
      background: var(--ods-color-gray-200);
      width: 100%;
      height: 100%;
    }
  }
}
