@use '../../../../../style/range';
@use '../../../../../style/text';

$ods-range-tick-width: 2px;
$ods-range-text-top: 16px;

:host {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

:host(.ods-range-dual) {
  @include range.ods-range-dual();
}

.ods-range {
  &__range {
    @include range.ods-range();
  }

  &__range-dual {
    @include range.ods-range();
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;

    &__min {
      @include text.ods-text-label();
    }

    &__max {
      @include text.ods-text-label();
    }
  }

  &__shadow-thumb {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
    width: range.$ods-input-range-size-thumb;
    height: range.$ods-input-range-size-thumb;
  }

  &__ticks {
    --ods-range-tick-width: #{$ods-range-tick-width};

    position: absolute;
    inset: 0 calc(range.$ods-input-range-size-thumb / 2);
    z-index: range.$range-z-index-dual - 2;

    &__tick {
      position: absolute;
      border-radius: 6px;
      background-color: range.$range-background-color;
      width: $ods-range-tick-width;
      height: range.$ods-input-range-size-thumb;

      &:not(.ods-range__ticks__tick--disabled).ods-range__ticks__tick--activated {
        background-color: range.$range-background-color-active;
      }

      &--disabled.ods-range__ticks__tick--activated {
        background-color: var(--ods-color-neutral-500);
      }
   }
  }
}
