@use '../../../../../style/state';

$ods-pagination-button-width: 2.5rem;

:host(.ods-pagination) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host(.ods-pagination--disabled) {
  @include state.ods-is-disabled();

  background-color: inherit;
}

.ods-pagination {
  &__results,
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style-type: none;
  }

  &__results {
    gap: 8px;

    &__label {
      color: var(--ods-color-text);
      font-weight: 600;

      &--disabled {
        color: state.$ods-state-is-disabled-text-color;
      }
    }
  }

  &__list {
    margin: 0;

    &__page,
    &__arrow {
      display: flex;
      align-items: center;
    }

    &__arrow {
      padding: 0 8px;

      &__button::part(button) {
        display: flex;
        justify-content: center;
        width: $ods-pagination-button-width;
      }
    }

    &__page {
      &__ellipsis {
        display: flex;
        justify-content: center;
        width: $ods-pagination-button-width;
      }

      &__button {
        $page-button: &;

        &::part(button) {
          display: none;
          justify-content: center;
          width: $ods-pagination-button-width;
        }

        &--visible {
          &::part(button) {
            display: flex;

            &:focus-visible {
              z-index: 1;
            }
          }
        }

        &--selected {
          &:not(#{$page-button}--disabled) {
            &::part(button) {
              border-color: var(--ods-color-primary-800);
              background-color: var(--ods-color-primary-800);
            }
          }
        }
      }
    }
  }
}
