<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-switch</title>

  <script type='module' src='/build/ods-switch.esm.js'></script>
  <script nomodule src='/build/ods-switch.js'></script>
  <link rel="stylesheet" href="/build/ods-switch.css">
</head>

<body>
  <p>Default</p>
  <ods-switch>
  </ods-switch>

  <p>With radio group</p>
  <ods-switch id="switch-group" name="switch-radio">
    <ods-switch-item is-checked value="1">label1</ods-switch-item>
    <ods-switch-item value="2">label2</ods-switch-item>
    <ods-switch-item value="3">label3</ods-switch-item>
  </ods-switch>
  <button id="clear-button" type="button">clear</button>
  <button id="reset-button" type="button">reset</button>
  <button id="get-validity-button" type="button">getValidity</button>
  <script>
    const switchGroup = document.querySelector('#switch-group');
    ['odsBlur', 'odsClear', 'odsFocus', 'odsReset', 'odsChange'].forEach((eventName) =>{
      switchGroup.addEventListener(eventName, (event) => {
        console.log(eventName, event);
      });
    });
    const clearButton = document.getElementById('clear-button');
    const resetButton = document.getElementById('reset-button');
    const getValidityButton = document.getElementById('get-validity-button');
    clearButton.addEventListener('click', () => switchGroup['is-disabled'] = true);
    resetButton.addEventListener('click', () => switchGroup.reset());
    getValidityButton.addEventListener('click', async () => {
      const validity = await switchGroup.getValidity();
      console.log('validity', validity);
    });
  </script>

  <p>Checked</p>
  <ods-switch name="switch-radio-checked">
    <ods-switch-item value="1">label1</ods-switch-item>
    <ods-switch-item is-checked value="2">label2</ods-switch-item>
    <ods-switch-item value="3">label3</ods-switch-item>
  </ods-switch>

  <p>Disabled</p>
  <ods-switch is-disabled name="switch-radio-disabled">
    <ods-switch-item value="1">label1</ods-switch-item>
    <ods-switch-item value="2">label2</ods-switch-item>
    <ods-switch-item value="3">label3</ods-switch-item>
  </ods-switch>

  <p>Disabled & Checked</p>
  <ods-switch is-disabled name="switch-radio-disabled-checked">
    <ods-switch-item value="1" is-checked>label1</ods-switch-item>
    <ods-switch-item value="2">label2</ods-switch-item>
    <ods-switch-item value="3">label3</ods-switch-item>
  </ods-switch>

  <p>Disabled & error</p>
  <ods-switch is-disabled has-error name="switch-radio-disabled-checked">
    <ods-switch-item value="1" is-checked>label1</ods-switch-item>
    <ods-switch-item value="2">label2</ods-switch-item>
    <ods-switch-item value="3">label3</ods-switch-item>
  </ods-switch>

  <p>Size</p>
  <ods-switch size="md" name="switch-radio-size-md">
    <ods-switch-item value="1">Size md 1</ods-switch-item>
    <ods-switch-item value="2">Size md 2</ods-switch-item>
    <ods-switch-item value="3">Size md 3</ods-switch-item>
  </ods-switch>
  <ods-switch size="sm" name="switch-radio-size-sm">
    <ods-switch-item value="1">Size sm 1</ods-switch-item>
    <ods-switch-item value="2">Size sm 2</ods-switch-item>
    <ods-switch-item value="3">Size sm 3</ods-switch-item>
  </ods-switch>

  <p>Form</p>
  <form id="radio-form" target="_self">
    <ods-switch id="switch-form" name="switch-radio-form" is-required>
      <ods-switch-item value="1">form 1</ods-switch-item>
      <ods-switch-item value="2">form 2</ods-switch-item>
      <ods-switch-item value="3">form 3</ods-switch-item>
    </ods-switch>

<!--    <input type="text" name="natif-input">-->
    <button id="form-submit-button" type="submit">Submit</button>
    <button id="form-reset-button" type="reset">Reset Form</button>
    <button id="form-clear-field-button" type="button">Clear Field</button>
    <button id="form-reset-field-button" type="button">Reset Field</button>
    <button id="form-get-validity-button" type="button">Get validity</button>
    <button id="form-toggle-required-button" type="button">Toggle isRequired</button>

  </form>

  <script>
    const form = document.getElementById('radio-form');
    const clearFieldButton = document.getElementById('form-clear-field-button');
    const resetFieldButton = document.getElementById('form-reset-field-button');
    const submitFormButton = document.getElementById('form-submit-button');
    const getValidityFormButton = document.getElementById('form-get-validity-button');
    const toggleRequiredFormButton = document.getElementById('form-toggle-required-button');
    const odsSwitch = document.getElementById('switch-form');

    clearFieldButton.addEventListener('click', () => {
      odsSwitch.clear();
    });

    resetFieldButton.addEventListener('click', () => {
      odsSwitch.reset();
    });

    getValidityFormButton.addEventListener('click', async() => {
      // console.log(await odsSwitch.getValidity());
      // console.log(await odsSwitch.checkValidity());
      console.log(await odsSwitch.reportValidity());
    });

    submitFormButton.addEventListener('click', (e) => {
      e.preventDefault()
      const formData = new FormData(form);
      console.log('formData', formData);
    });

    toggleRequiredFormButton.addEventListener('click', () => {
      if (odsSwitch.hasAttribute('is-required')) {
        odsSwitch.removeAttribute('is-required')
      } else {
        odsSwitch.setAttribute('is-required', '')
      }
    });

    odsSwitch.addEventListener('odsChange', (e) => {
      console.log('in index: ', e);
    });
  </script>
</body>
</html>
