@use '../../../../../style/modal';

@layer ods-molecules {
  .modal-header {
    $modal-header: &;

    --ods-modal-header-close-button-text-color-primary: var(--ods-color-neutral-000);

    @include modal.ods-modal-header();

    &--critical {
      @include modal.ods-modal-color('critical');
    }

    &--information {
      @include modal.ods-modal-color('information');
    }

    &--neutral {
      @include modal.ods-modal-color('neutral');
    }

    &--primary {
      @include modal.ods-modal-color('primary');

      #{$modal-header}__close {
        &:not(:hover, :active, :focus-visible) {
          color: var(--ods-modal-header-close-button-text-color-primary);
        }
      }
    }

    &--success {
      @include modal.ods-modal-color('success');
    }

    &--warning {
      @include modal.ods-modal-color('warning');
    }
  }
}
