@use '../../../../../style/modal';

@layer ods-molecules {
  .modal-header {
    @include modal.ods-modal-header();

    justify-content: space-between;

    &__content {
      flex: 1;
    }

    &__close {
      align-self: flex-start;
    }
  }
}
