@use '../../../../../style/button';

@layer ods-atoms {
  .input-actions {
    display: inline-flex;
    flex: none;
    flex-flow: row;
    align-items: center;

    &__loading {
      display: flex;
      justify-content: center;
      inline-size: button.$ods-button-size-xs;
    }
  }
}
