$breadcrumb-spacing: 8px;

:host(.ods-breadcrumb) {
  display: flex;
  flex-wrap: wrap;
  column-gap: $breadcrumb-spacing;

  ::slotted(ods-breadcrumb-item:not(:last-child)) {
    &::after {
      padding-left: $breadcrumb-spacing;
      color: var(--ods-color-text);
      font-size: 0.875rem;
      font-weight: 700;
      content: '|';
    }
  }
}
