$breadcrumb-spacing: 8px;

:host(.ods-breadcrumb) {
  display: flex;
  flex-wrap: wrap;
  column-gap: $breadcrumb-spacing;
  align-items: center;

  ::slotted(ods-breadcrumb-item:not(:last-child)) {
    &::after {
      padding-left: $breadcrumb-spacing;
      line-height: 1.5rem;
      color: var(--ods-color-text);
      font-size: 1.1rem;
      font-weight: 700;
      content: '|';
    }
  }
}
