.homepage {
  position: absolute;
  inset: 0;
}

.homepage__content {
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  padding: 4rem;
  max-width: 45rem;
}

.homepage__content__links {
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  font-size: 1.4rem;
}
