@layer ods-atoms {
  .radio-group {
    display: flex;

    &[data-orientation="horizontal"] {
      flex-flow: row;
      column-gap: var(--ods-theme-column-gap);
      align-items: center;
    }

    &[data-orientation="vertical"] {
      flex-flow: column;
      row-gap: var(--ods-theme-row-gap);
    }
  }
}
