.gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem;
  box-sizing: border-box;
  z-index: 1;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
}

.gallery__items__item {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

/* increase weight to override default storybook style */
.gallery .gallery__items__item__preview {
  margin: 0;
  flex: 1 1 auto;
  box-shadow: none;
  border: none;
  border-radius: .5rem;
  max-height: 150px;
}

.gallery__items__item__title {
  margin: .5rem 0;
  text-align: center;
  font-size: 1.25rem;
}
