.ods-link__link {
  display: inline-flex;
  flex-flow: row;
  grid-gap: 8px;
  align-items: center;
  transition: background-size 0.2s ease-out;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}
.ods-link__link:focus-visible, .ods-link__link:hover {
  background-size: 100% 1px;
}
.ods-link__link:focus-visible {
  outline: var(--ods-outline-style) var(--ods-outline-width) var(--ods-color-primary-700);
  outline-offset: var(--ods-outline-offset);
}
.ods-link__link:not(.ods-link__link.ods-link__link--disabled).ods-link__link--primary {
  color: var(--ods-color-primary-500);
}
.ods-link__link:not(.ods-link__link.ods-link__link--disabled).ods-link__link--primary:hover {
  color: var(--ods-color-primary-700);
}
.ods-link__link:not(.ods-link__link.ods-link__link--disabled).ods-link__link--primary:visited {
  color: var(--ods-color-primary-800);
}
.ods-link__link--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--ods-color-neutral-400);
}
.ods-link__link--disabled:focus-visible, .ods-link__link--disabled:hover {
  transition: none;
  background-size: 0;
}
.ods-link__link__icon {
  display: flex;
}