.dashboard-card {
  display: flex;
  flex-flow: column;
  row-gap: calc(var(--ods-semantic-size-space-gap-block) * 1.25);
  padding: calc(var(--ods-semantic-size-space-inset-block) * 2) calc(var(--ods-semantic-size-space-inset-inline) * 2);
  color: var(--ods-semantic-color-content-text);

  &__divider {
    width: 100%;
  }

  &__name,
  &__id,
  &__region,
  &__plugins {
    display: flex;
    flex-flow: column;
    row-gap: var(--ods-semantic-size-space-gap-block);
  }

  &__region {
    &__content {
      display: flex;
      flex-flow: row;
      column-gap: calc(var(--ods-semantic-size-space-gap-inline) / 2);
      align-items: center;
    }
  }

  &__plugins {
    &__content {
      display: flex;
      flex-flow: column;
      row-gap: var(--ods-semantic-size-space-gap-block);

      &__plugin {
        display: inline-flex;
        flex-flow: row;
        column-gap: calc(var(--ods-semantic-size-space-gap-inline) / 2);
        align-items: center;
      }
    }
  }

  &__footer {
    display: flex;
    flex-flow: row;
    column-gap: var(--ods-semantic-size-space-gap-inline);
    align-items: flex-start;
    justify-content: space-between;

    &__actions {
      display: flex;
      flex-flow: column;
      row-gap: var(--ods-semantic-size-space-gap-block);
      align-items: flex-start;
    }
  }
}
