@use '../../../../../style/focus';
@use '../../../../../style/input';

:host(.ods-input) {
  display: inline-block;
  position: relative;
}

$ods-input-actions-button-width: 24px;
$ods-input-icon-padding-right: 4px;
$ods-input-input-padding-right: calc($ods-input-actions-button-width + $ods-input-icon-padding-right);

.ods-input {
  &__actions {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding-right: $ods-input-icon-padding-right;

    &__clearable, &__toggle-mask {
      display: inherit;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 2px;
      background: none;
      cursor: pointer;
      padding: 0;
      width: $ods-input-actions-button-width;
      height: 24px;
      font-size: 1rem;

      &:disabled {
        cursor: not-allowed;
      }

      &:focus-visible {
        @include focus.ods-focus();

        outline-offset: 0;
      }
    }

    /* stylelint-disable no-descending-specificity */
    &__clearable {
      color: var(--ods-color-neutral-600);

      &:not(:disabled, &--readonly) {
        &:hover {
          background-color: var(--ods-color-neutral-100);
        }

        &:active {
          background-color: var(--ods-color-neutral-200);
        }
      }
    }

    &__toggle-mask {
      color: var(--ods-color-primary-500);

      &:not(:disabled, &--readonly) {
        &:hover {
          background-color: var(--ods-color-primary-100);
        }

        &:active {
          background-color: var(--ods-color-primary-200);
        }
      }
    }
    /* stylelint-enable no-descending-specificity */

    &__spinner {
      padding-right: $ods-input-icon-padding-right;
      height: unset;

      &::part(spinner) {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__input {
    $input: &;

    @include input.ods-input();

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:not(#{$input}--error, :disabled) {
      &:focus {
        border-color: var(--ods-form-element-border-color-focused);
      }

      &:hover {
        border-color: var(--ods-form-element-border-color-hover);
      }
    }

    &:not(:disabled)#{$input}--error {
      @include input.ods-input-error();
    }

    &:disabled {
      ~ .ods-input__actions {
        cursor: not-allowed;
      }
    }

    &--clearable, &--loading, &--toggle-mask {
      padding-right: $ods-input-input-padding-right;
    }

    &.ods-input__input--clearable.ods-input__input--toggle-mask {
      padding-right: calc($ods-input-input-padding-right * 2);
    }

    &[type="number"] {
      appearance: textfield;
    }
  }
}
