@use '~@ovhcloud/ods-themes/src/default/variables' as theme;
@use '../../../../../style/focus';
@use '../../../../../style/input';

:host(.ods-input) {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

$ods-input-actions-button-width: 24px;
$ods-input-actions-padding-right: 4px;
$ods-input-input-padding-right: calc($ods-input-actions-button-width + $ods-input-actions-padding-right);

.ods-input {
  &__actions {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding-right: 4px;

    &__clearable, &__toggle-mask, &__spinner {
      border: none;
      border-radius: 2px;
      background: none;
      cursor: pointer;
    }

    &__icon {
      font-size: 16px;
    }

    &__clearable {
      color: var(--ods-color-neutral-600);

      &:hover {
        background-color: var(--ods-color-neutral-100);
      }

      &:active {
        background-color: var(--ods-color-neutral-200);
      }
    }

    &__toggle-mask {
      color: var(--ods-color-primary-500);

      &:hover {
        background-color: var(--ods-color-primary-100);
      }

      &:active {
        background-color: var(--ods-color-primary-200);
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &__clearable, &__toggle-mask {
      width: $ods-input-actions-button-width;
      height: 24px;

      &:focus-visible {
        @include focus.ods-focus();

        outline-offset: 0;
      }
    }

    &__spinner {
      height: unset;

      &::part(spinner) {
        width: 1rem;
        height: 1rem;
      }
    }

  }

  &__input {
    $input: &;

    @include input.ods-input();

    &:not(#{$input}--error, :disabled) {
      &:focus {
        border-color: var(--ods-form-element-border-color-focused);
      }

      &:hover {
        border-color: var(--ods-form-element-border-color-hover);
      }
    }

    &:disabled {
      ~ .ods-input__actions {
        cursor: not-allowed;
        pointer-events: none;

        .ods-input__actions__clearable, .ods-input__actions__toggle-mask {
          cursor: not-allowed;
        }
      }
    }

    &--clearable {
      padding-right: $ods-input-input-padding-right;
    }

    &--error {
      border-color: var(--ods-form-element-border-color-critical);
    }

    &--toggle-mask {
      padding-right: $ods-input-input-padding-right;
    }

    &.ods-input__input--clearable.ods-input__input--toggle-mask {
      padding-right: calc($ods-input-input-padding-right * 2);
    }

    &[type="number"] {
      appearance: textfield;
    }
  }
}
