@use '../../../../../style/focus';
@use '../../../../../style/input';

:host(.ods-input) {
  display: inline-block;
  position: relative;
}

.ods-input {
  &__actions {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding-right: input.$ods-input-actions-padding-right;

    &__spinner {
      padding-right: input.$ods-input-actions-padding-right;
      height: unset;

      &::part(spinner) {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__input {
    $input: &;

    @include input.ods-input();

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:not(#{$input}--error, :disabled, :read-only) {
      &:focus {
        border-color: var(--ods-color-form-element-border-focus-default);
      }

      &:hover {
        border-color: var(--ods-color-form-element-border-hover-default);
      }
    }

    &:not(:disabled)#{$input}--error {
      @include input.ods-input-error();
    }

    &:disabled {
      ~ .ods-input__actions {
        cursor: not-allowed;
      }
    }

    &--clearable, &--loading, &--toggle-mask, &--search {
      padding-right: input.$ods-input-input-padding-right;
    }

    &--clearable {
      &.ods-input__input--toggle-mask,
      &.ods-input__input--search {
        padding-right: calc(input.$ods-input-input-padding-right * 2);
      }
    }

    &--clearable.ods-input__input--toggle-mask.ods-input__input--search {
      padding-right: calc(input.$ods-input-input-padding-right * 3);
    }

    &[type="number"] {
      appearance: textfield;
    }

    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-decoration {
      appearance: none;
    }
  }
}
