@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import 'osds-cart-item-option.mixins';

// entrypoint for customizing the theme color
@mixin osds-cart-item-option-theme-color() {
  :host {
    border-color: ods-get-color-variable($intent-name: primary, $hue: '100');
    background-color: ods-get-color-variable($palette-name: 'blue', $hue: '050');
    color: ods-get-color-variable($intent-name: primary, $hue: '800');
  }
}
