@use '../../../../../style/overlay';

@layer ods-molecules {
  .menu-content {
    --arrow-size: #{overlay.$ods-overlay-arrow-size};
    --arrow-background: #{overlay.$ods-overlay-arrow-background-color};

    @include overlay.ods-overlay();

    z-index: calc(var(--ods-theme-overlay-z-index) + var(--layer-index))!important;
    outline: none;
    padding: 0;
    overflow: hidden;
  }
}
