@use '../../../../../style/overlay';

@layer ods-molecules {
  .menu-content {
    --arrow-size: #{overlay.$ods-overlay-arrow-size};

    @include overlay.ods-overlay();

    z-index: calc(var(--ods-theme-overlay-z-index) + var(--layer-index))!important;
    outline: none;
    padding: 0;
    overflow: hidden;

    &__arrow {
      transform: rotate(45deg);
      background-color: inherit;
    }
  }
}
