@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-tooltip.mixins';

// Main CSS color theme mixin
@mixin osds-tooltip-theme-color() {
  :host {
    border-color: transparent;
  }

  .tooltip-content {
    box-shadow: 0 0 var(--ods-size-05) var(--ods-color-gray-200);
    background-color: #fff;
  }
}
