@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-progress-bar.mixins';

// Main CSS color theme mixin
@mixin osds-progress-bar-theme-color() {
  /** base colors */
  :host {
    border-color: transparent;
  }

  @include osds-progress-bar-on-progress() {
    border: none;
    background-color: ods-get-color-variable($palette-name: 'blue', $hue: '100');
    &::-moz-progress-bar {
      background-color: ods-get-color-variable($palette-name: 'blue', $hue: '500');
    }

    &::-webkit-progress-value {
      background-color: ods-get-color-variable($palette-name: 'blue', $hue: '500');
    }

    &::-webkit-progress-bar {
      background-color: ods-get-color-variable($palette-name: 'blue', $hue: '100');
    }
  }
}
