@import 'styles/osds-textarea.mixins';
@import 'styles/osds-textarea.color';
@import 'styles/osds-textarea.size';
@import 'styles/osds-textarea.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/reset/ods-theming-reset.input';
@import '~@ovhcloud/ods-theming/ods-theme';

:host {
  outline: none;
  @include osds-textarea-on-selected-host() {
    display: flex;

    @include osds-textarea-on-main-element() {
      width: 100%;
    }
  }
}

:host([inline]) {
  display: inline-flex;
  width: var(--width);
}

@include osds-textarea-on-main-element() {
  border-style: solid;
  position: relative;
  text-align: var(--ods-textarea-text-align, left);
}

:not([resizable]) {
  @include osds-textarea-on-selected-host() {
    @include osds-textarea-on-main-element() {
      resize: none;
    }
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-textarea-theme-color();
  @include osds-textarea-theme-size();
  @include osds-textarea-theme-typography();
}
