@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-control {
    $control: &;

    --ods-combobox-control-column-gap: calc(var(--ods-semantic-size-space-gap-inline) / 2);
    --ods-combobox-control-row-gap: calc(var(--ods-semantic-size-space-gap-block) / 2);
    --ods-combobox-control-padding-vertical: calc(var(--ods-semantic-size-space-inset-block-compact) / 2);

    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: var(--ods-combobox-control-row-gap) var(--ods-combobox-control-column-gap);
    align-items: center;
    margin: 0;
    border: var(--ods-semantic-border-thickness) solid var(--ods-semantic-color-border-control);
    border-radius: var(--ods-semantic-size-radius-control);
    padding: var(--ods-combobox-control-padding-vertical) var(--ods-semantic-size-space-inset-inline);
    width: 100%;
    min-height: var(--ods-semantic-size-block-size-md);

    &:not(#{$control}--invalid, #{$control}--disabled, #{$control}--read-only) {
      &:hover,
      &#{$control}--focused {
        border-color: var(--ods-semantic-color-interaction-control-hover);
      }
    }

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--focused {
      @include focus.ods-focus();
    }

    &--invalid.combobox-control--invalid {
      @include input.ods-input-error();
    }

    &--open-bottom {
      border-radius: var(--ods-semantic-size-radius-control) var(--ods-semantic-size-radius-control) 0 0;
    }

    &--open-top {
      border-radius: 0 0 var(--ods-semantic-size-radius-control) var(--ods-semantic-size-radius-control);
    }

    &--read-only {
      border-color: var(--ods-semantic-color-border-readonly);
      background-color: var(--ods-semantic-color-surface-readonly);
    }

    &__tag {
      &--focused {
        border-color: var(--ods-tag-border-color-information-hover);
        background-color: var(--ods-tag-background-color-information-hover);
      }
    }

    &__field {
      display: flex;
      flex: 1;
      align-items: center;

      &__input {
        display: inline-flex;
        flex: 1;
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        min-height: calc(var(--ods-semantic-size-block-size-md) - (var(--ods-combobox-control-padding-vertical) * 2) - (var(--ods-semantic-border-thickness) * 2));
      }

      &__caret {
        $caret-size: 20px;

        appearance: none;
        border: 0;
        background: inherit;
        padding: 0;
        width: $caret-size;
        height: $caret-size;
        color: var(--ods-semantic-color-content-icon);
        cursor: pointer;

        &--disabled {
          color: var(--ods-semantic-color-content-disabled);
          cursor: not-allowed;
        }

        &__icon {
          display: block;
          font-size: $caret-size;

          &--open {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
