@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-control {
    $control: &;

    --ods-combobox-control-column-gap: var(--ods-theme-column-gap);
    --ods-combobox-control-row-gap: var(--ods-theme-row-gap);
    --ods-combobox-control-padding-vertical: var(--ods-theme-input-padding-vertical);

    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: var(--ods-combobox-control-row-gap) var(--ods-combobox-control-column-gap);
    align-items: center;
    margin: 0;
    border: var(--ods-theme-input-border-width) solid var(--ods-theme-input-border-color);
    border-radius: var(--ods-theme-input-border-radius);
    padding: var(--ods-combobox-control-padding-vertical) var(--ods-theme-input-padding-horizontal);
    width: 100%;
    min-height: var(--ods-theme-input-min-height);

    &:not(#{$control}--invalid, #{$control}--disabled, #{$control}--read-only) {
      //&:hover,
      &#{$control}--focused {
        border-color: var(--ods-theme-input-border-color-hover);
      }
    }

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--focused {
      @include focus.ods-focus();
    }

    &--invalid.combobox-control--invalid {
      @include input.ods-input-error();
    }

    &--open-bottom {
      border-radius: var(--ods-theme-input-border-radius) var(--ods-theme-input-border-radius) 0 0;
    }

    &--open-top {
      border-radius: 0 0 var(--ods-theme-input-border-radius) var(--ods-theme-input-border-radius);
    }

    &--read-only {
      border-color: var(--ods-theme-border-color-readonly);
      background-color: var(--ods-theme-background-color-readonly);
    }

    &__tag {
      &--focused {
        border-color: var(--ods-tag-border-color-information-hover);
        background-color: var(--ods-tag-background-color-information-hover);
      }
    }

    &__input {
      display: inline-flex;
      flex: 1;
      outline: none;
      border: none;
      background: transparent;
      padding: 0;
      min-height: calc(var(--ods-theme-input-min-height) - (var(--ods-combobox-control-padding-vertical) * 2) - (var(--ods-theme-input-border-width) * 2));
    }
  }
}
