:host {
  /* overlay important properties */
  display: inline-block; /* best practice for web component */
  position: relative; /* must be here to make the positioning working well */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  /* end overlay important properties */

  /* select recommended properties */
  width: 200px; /* recommended to set the same min width for the component and the surface (for select) */

  user-select: none; /* avoid user text selection on the select */
  cursor: pointer;
  /* end select recommended properties */

  background: #0d4aa9;
  margin: 8px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', 'Trebuchet MS', Arial, 'Segoe UI', sans-serif;
  font-size: 1rem;
  color: white;
}

slot[name=trigger]::slotted(*) {
  /* select recommended properties */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* end select recommended properties */

  font-weight: 600;
  padding: 10px;
}

:host(:hover) {
  background: #2359ad;
}

ocdk-surface {
  /* select recommended properties */
  width: 200px; /* recommended to set the same min width for the component and the surface (for select) */
  max-height: 300px; /* recommended to set a maximum height even for large screen (for select) */
  user-select: none; /* avoid user text selection on the select */
  /* end select recommended properties */

  border-radius: 2px;
  background: white;
  color: black;
  box-shadow: rgb(0 0 0 / 20%) 0 5px 5px -3px, rgb(0 0 0 / 14%) 0 8px 10px 1px, rgb(0 0 0 / 12%) 0 3px 14px 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
