@layer ods-atoms {
  .avatar {
    --ods-avatar-background-color: var( --ods-color-primary-500 );
    --ods-avatar-text-color: var(--ods-color-neutral-000);
    --ods-avatar-border-radius: 50%;
    --ods-avatar-size: 24px;
    --ods-avatar-object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ods-avatar-border-radius);
    background-color: var(--ods-avatar-background-color);
    width: var(--ods-avatar-size);
    height: var(--ods-avatar-size);
    overflow: hidden;
    color: var(--ods-avatar-text-color);
    font-weight: bold;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: var(--ods-avatar-object-fit);
    }
  }
}
