@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import './osds-quantity.mixins';

@mixin osds-quantity-theme-size() {
  /** sizes */
  :host {
    --ods-button-width: calc(2.25rem * var(--ods-size-ratio));
    --ods-size-button-padding-y: 0;
    --ods-size-button-padding-x: 0;
  }
}
