
/// @access private
@function ods-get-text-size-properties($size-name) {
  @return (
    font-size: var(--ods-size-text-#{$size-name}-font-size),
    line-height: var(--ods-size-text-#{$size-name}-line-height)
  );
}

/// @access private
@function ods-get-text-component-size-definition() {
  @return (
    xs: ods-get-text-size-properties(xs),
    sm: ods-get-text-size-properties(sm),
    md: ods-get-text-size-properties(md),
    lg: ods-get-text-size-properties(lg),
    xl: ods-get-text-size-properties(xl)
  );
}
