
/// @access private
@function ods-get-radio-button-size-properties($size-name) {
  @return (
    border-width: var(--ods-size-radio-button-#{$size-name}-border-width),
    height: var(--ods-size-radio-button-#{$size-name}-height),
    margin: var(--ods-size-radio-button-#{$size-name}-margin),
    width: var(--ods-size-radio-button-#{$size-name}-width),
  );
}

/// @access private
@function ods-get-radio-button-component-size-definition() {
  @return (
    md: ods-get-radio-button-size-properties(md),
    sm: ods-get-radio-button-size-properties(sm),
  );
}
