@layer ods-quarks, ods-atoms, ods-molecules, ods-organisms;

:root {
  --ods-border-radius-xs: 2px;
  --ods-border-radius-sm: 4px;
  --ods-border-radius-md: 8px;
  --ods-border-radius-lg: 16px;
  --ods-border-width-sm: 1px;
  --ods-border-width-md: 2px;
  --ods-color-alpha: #fbfe47;
  --ods-color-background-disabled-default: #e6e6e6;
  --ods-color-background-readonly-default: #f2f2f2;
  --ods-color-border-disabled-default: #cccccc;
  --ods-color-border-readonly-default: #f2f2f2;
  --ods-color-beta: #47fe78;
  --ods-color-critical-000: #ffffff;
  --ods-color-critical-025: #fff3f5;
  --ods-color-critical-050: #ffe6ec;
  --ods-color-critical-075: #ffd9e3;
  --ods-color-critical-100: #ffccd9;
  --ods-color-critical-200: #ef99ab;
  --ods-color-critical-300: #e67386;
  --ods-color-critical-400: #cf334e;
  --ods-color-critical-500: #bf0020;
  --ods-color-critical-600: #a6001c;
  --ods-color-critical-700: #800015;
  --ods-color-critical-800: #660011;
  --ods-color-critical-900: #4d000d;
  --ods-color-element-background-selected: #00185e;
  --ods-color-element-text-selected: #ffffff;
  --ods-color-form-element-background-critical: #ffffff;
  --ods-color-form-element-background-default: #ffffff;
  --ods-color-form-element-background-focus-default: #ffffff;
  --ods-color-form-element-background-hover-default: #ffffff;
  --ods-color-form-element-background-selected-critical: #bf0020;
  --ods-color-form-element-border-critical: #bf0020;
  --ods-color-form-element-border-default: #b3b3b3;
  --ods-color-form-element-border-focus-default: #808080;
  --ods-color-form-element-border-hover-default: #808080;
  --ods-color-form-element-text-default: #4d5592;
  --ods-color-form-element-text-placeholder-default: #666666;
  --ods-color-heading: #00185e;
  --ods-color-information-000: #ffffff;
  --ods-color-information-025: #f3fdff;
  --ods-color-information-050: #e6faff;
  --ods-color-information-075: #cef5ff;
  --ods-color-information-100: #bef1ff;
  --ods-color-information-200: #85d9fd;
  --ods-color-information-300: #4bb2f6;
  --ods-color-information-400: #157eea;
  --ods-color-information-500: #0050d7;
  --ods-color-information-600: #002dbe;
  --ods-color-information-700: #000e9c;
  --ods-color-information-800: #00185e;
  --ods-color-information-900: #000d1f;
  --ods-color-neutral-000: #ffffff;
  --ods-color-neutral-025: #f9f9f9;
  --ods-color-neutral-050: #f2f2f2;
  --ods-color-neutral-075: #ececec;
  --ods-color-neutral-100: #e6e6e6;
  --ods-color-neutral-200: #cccccc;
  --ods-color-neutral-300: #b3b3b3;
  --ods-color-neutral-400: #999999;
  --ods-color-neutral-500: #808080;
  --ods-color-neutral-600: #666666;
  --ods-color-neutral-700: #4d4d4d;
  --ods-color-neutral-800: #333333;
  --ods-color-neutral-900: #1a1a1a;
  --ods-color-new: #47fffa;
  --ods-color-primary-000: #ffffff;
  --ods-color-primary-025: #f3fdff;
  --ods-color-primary-050: #e6faff;
  --ods-color-primary-075: #cef5ff;
  --ods-color-primary-100: #bef1ff;
  --ods-color-primary-200: #85d9fd;
  --ods-color-primary-300: #4bb2f6;
  --ods-color-primary-400: #157eea;
  --ods-color-primary-500: #0050d7;
  --ods-color-primary-600: #002dbe;
  --ods-color-primary-700: #000e9c;
  --ods-color-primary-800: #00185e;
  --ods-color-primary-900: #000d1f;
  --ods-color-promotion: #ac246f;
  --ods-color-success-000: #ffffff;
  --ods-color-success-025: #f3fbeb;
  --ods-color-success-050: #e7f7d7;
  --ods-color-success-075: #ddf5d1;
  --ods-color-success-100: #d2f2c2;
  --ods-color-success-200: #90cc7a;
  --ods-color-success-300: #64b347;
  --ods-color-success-400: #47991f;
  --ods-color-success-500: #2b8000;
  --ods-color-success-600: #267300;
  --ods-color-success-700: #226600;
  --ods-color-success-800: #1a4d00;
  --ods-color-success-900: #113300;
  --ods-color-text: #4d5592;
  --ods-color-text-disabled-default: #808080;
  --ods-color-warning-000: #ffffff;
  --ods-color-warning-025: #fffbe5;
  --ods-color-warning-050: #fff7cc;
  --ods-color-warning-075: #feefa4;
  --ods-color-warning-100: #feea86;
  --ods-color-warning-200: #fed265;
  --ods-color-warning-300: #ffbb43;
  --ods-color-warning-400: #ffa322;
  --ods-color-warning-500: #ff8b00;
  --ods-color-warning-600: #cc7000;
  --ods-color-warning-700: #995400;
  --ods-color-warning-800: #663800;
  --ods-color-warning-900: #4d2a00;
  --ods-font-family-code: "Source Code Pro", arial;
  --ods-font-family-default: "Source Sans Pro", "Trebuchet MS", arial, "Segoe UI", sans-serif;
  --ods-form-element-input-height: 32px;
  --ods-outline-color-default: #000e9c;
  --ods-outline-offset: 2px;
  --ods-outline-style-default: solid;
  --ods-outline-width: 2px;
}
