@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

:host {
    osds-input {
        cursor: pointer;
        --ods-input-cursor: pointer;
        --ods-input-icon-cursor: pointer;
    }
}