@import 'styles/osds-message.mixins';
@import 'styles/osds-message.color';
@import 'styles/osds-message.size';
@import 'styles/osds-message.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS for the component but not for theming

:host {
  border: none;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;

  @include osds-message-on-main-element() {
    display: flex;
  }

  :host(&[removable]) {
    @include osds-message-on-main-element() {
      margin-right: var(--ods-size-inline-06);
    }
  }

  .message_content {
    display: flex;
    flex-flow: row;
    align-items: center;

    osds-icon {
      display: inline-block;
      margin-right: var(--ods-size-inline-04);
    }
  }

  .message__close-wrapper {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: -var(--ods-size-inset-03);
    padding: var(--ods-size-inset-03);
  }
}

:host([flex]) {
  display: flex;
  width: 100%;

  @include osds-message-on-main-element() {
    display: flex;
    width: 100%;
  }
}

slot {
  display: inline-flex;
  flex: 1;
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-message-theme-color();
  @include osds-message-theme-size();
  @include osds-message-theme-typography();
}
