@import '~@ovhcloud/ods-common-theming/typography/ods-theming-typography';
@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';
@import './osds-datepicker.mixins';

// Main CSS mixin for typography
@mixin osds-datepicker-theme-typography() {
  :host .datepicker * {
    line-height: var(--ods-line-height-size-03);
    letter-spacing: var(--ods-letter-spacing-size-02);
    font-family: var(--ods-font-family);
    font-size: var(--ods-typo-size-03);
    font-weight: var(--ods-typo-weight-semibold);
  }
}
