@use '../../../../../style/input';
// @use './focus';

@layer ods-organisms {
  .prompt-input-text-control {
    --prompt-input-control-border-width: 1px;
    
    flex-grow: 1;
    outline: none;
    border-color: transparent;
    padding: var(--ods-prompt-input-control-padding-vertical) var(--ods-prompt-input-control-padding-horizontal);
    width: 100%;
    min-height: calc(
      var(--ods-prompt-input-control-min-lines) * var(--ods-prompt-input-control-line-height) + var(--ods-prompt-input-control-padding-vertical) * 2 + var(--prompt-input-control-border-width) * 2
      );
      max-height: calc(
        var(--ods-prompt-input-control-max-lines, 5) * var(--ods-prompt-input-control-line-height) + var(--ods-prompt-input-control-padding-vertical) * 2 + var(--prompt-input-control-border-width) * 2
        );
        line-height: var(--ods-prompt-input-control-line-height);
        /* stylelint-disable-next-line property-no-unknown -- Fallback is provided */
        field-sizing: content;
        
        &[data-invalid] {
          @include input.ods-input-error();
        }

    @supports not (field-sizing: content) {
      --explicit-height: calc(
        var(--ods-prompt-input-control-min-lines) * var(--ods-prompt-input-control-line-height) + var(--ods-prompt-input-control-padding-vertical) * 2
      );

      height: calc(var(--explicit-height) + var(--prompt-input-control-border-width) * 2);
    }
  }
}