.feature-list {
  display: flex;
  flex-flow: column;
  row-gap: var(--ods-semantic-size-space-gap-block);
  margin: 0;
  padding: 0;
  list-style-type: "";

  &__item {
    display: flex;
    flex-flow: row;
    column-gap: calc(var(--ods-semantic-size-space-gap-inline) / 2);
    align-items: baseline;

    &__icon {
      color: var(--ods-semantic-color-content-success);
    }

    &__tooltip-trigger {
      margin-left: calc(var(--ods-semantic-size-space-gap-inline) / 2);
      color: var(--ods-semantic-color-content-base);
    }
  }
}
