@layer ods-atoms {
  .accordion {
    --ods-accordion-border-color: var(--ods-semantic-color-border-control);
    --ods-accordion-border-color-hover: var(--ods-semantic-color-interaction-control-hover);
    --ods-accordion-border-width: 1px;
    --ods-accordion-padding-horizontal: calc(var(--ods-semantic-size-space-inset-inline) * 3);
    --ods-accordion-padding-vertical: calc(var(--ods-semantic-size-space-inset-block) * 3);
    --ods-accordion-border-radius: var(--ods-semantic-size-radius-container);
  }
}
