@layer ods-atoms {
  .accordion {
    --ods-accordion-border-color: var(--ods-theme-border-color);
    //--ods-accordion-border-color-hover: var(--ods-color-neutral-500);
    --ods-accordion-border-width: 1px;
    --ods-accordion-padding-horizontal: var(--ods-theme-padding-horizontal);
    --ods-accordion-padding-vertical: var(--ods-theme-padding-vertical);
    --ods-accordion-border-radius: var(--ods-theme-border-radius);
  }
}
