@import './osds-breadcrumb-item.mixins';
@import '~@ovhcloud/ods-theming/size/ods-component-size';

// Main CSS mixin for sizes
@mixin osds-breadcrumb-item-theme-size() {
  $size-definitions: ods-get-size-definitions();
  $component-size-definition: ods-get-component-size-definition($size-definitions, breadcrumb);
  $size-properties: ods-get-size-properties($component-size-definition, md);

  :host {
    .item {
      padding: ods-get-size-property($size-properties, padding);
    }
  }
}
