import type { Ods{{> componentName }}Attribute } from './interfaces/attributes';
import type { FunctionalComponent } from '@stencil/core';
import { Component, Host, Prop, h } from '@stencil/core';
import { DEFAULT_ATTRIBUTE } from './constants/default-attributes';

/**
 * @slot (unnamed) - {{> componentName }} content
 */
@Component({
  shadow: true,
  styleUrl: 'osds-{{> component-name }}.scss',
  tag: 'osds-{{> component-name }}',
})
export class Osds{{> componentName }} implements Ods{{> componentName }}Attribute {
  @Prop({ reflect: true }) public dummy? = DEFAULT_ATTRIBUTE.dummy;

  render(): FunctionalComponent {
    return (
      <Host class='ods-{{> component-name }}'
            dummy={ this.dummy }>
        <p>ODS Template Component</p>
      </Host>
    );
  }
}
