@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .menu-trigger {
    &:focus-visible {
      @include focus.ods-focus();
    }
  }

  .menu-submenu-trigger {
    display: flex;
    position: relative;
    gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    width: 100%;
    text-align: left;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-semantic-color-interaction-option-hover);
    }

    &__label {
      display: inline-flex;
      align-items: center;
    }
  }
}
