@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .menu-trigger {
    &:focus-visible {
      @include focus.ods-focus();
    }
  }

  .menu-submenu-trigger {
    display: flex;
    position: relative;
    gap: var(--ods-theme-row-gap) var(--ods-theme-column-gap);
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    width: 100%;
    text-align: left;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-theme-input-option-background-color-hover);
    }

    &__label {
      display: inline-flex;
      align-items: center;
    }
  }
}
