@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import './osds-pagination.mixins';

@mixin osds-pagination-theme-size() {
  osds-button::part(button) {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--ods-size-border-radius-01);  
    padding: 0;
  }


  .arrows {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    osds-icon {
      vertical-align: middle;
    }
  }
}
