@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import './osds-pagination.mixins';

@mixin osds-pagination-theme-size() {
  osds-button::part(button) {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
  }
}
