@import '~@ovhcloud/ods-theming/typography/ods-theming-typography';
@import '~@ovhcloud/ods-theming/typography/ods-component-typography';
@import './osds-pagination.mixins';

@mixin osds-pagination-theme-typography() {
  /** typography properties */

  [size='md'] {
    :host(&) {
      .select-trigger {
        $typography-properties: ods-get-typography-properties(body, '400');
        font-family: ods-get-typography-property($typography-properties, font-family);
        font-size: ods-get-typography-property($typography-properties, font-size);
        font-style: ods-get-typography-property($typography-properties, font-style);
        font-weight: ods-get-typography-property($typography-properties, font-weight);
        letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
        line-height: ods-get-typography-property($typography-properties, line-height);
      }
      slot[name='placeholder'] {
        font-weight: var(--ods-typo-weight-semibold);
      }

      .overlay {
        $typography-properties: ods-get-typography-properties(body, '400');
        font-family: ods-get-typography-property($typography-properties, font-family);
        font-size: ods-get-typography-property($typography-properties, font-size);
        font-style: ods-get-typography-property($typography-properties, font-style);
        font-weight: ods-get-typography-property($typography-properties, font-weight);
        letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
        line-height: ods-get-typography-property($typography-properties, line-height);
      }
    }
  }
}
