@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import './osds-pagination.mixins';

@mixin osds-pagination-theme-size() {
  :host {
    --ods-size-button-height: var(--ods-size-pagination-md-height);
    --ods-size-button-border-radius: var(--ods-size-border-radius-01);
    --ods-size-button-padding-y: 0;
    --ods-size-button-padding-x: 0;
  }

  osds-button::part(button) {
    width: calc(2.25rem * var(--ods-size-ratio));
  }

  .arrows {
    padding-left: var(--ods-size-pagination-md-padding-x);
    padding-right: var(--ods-size-pagination-md-padding-x);

    osds-icon {
      vertical-align: middle;
    }
  }
}
