/*
 * SIZING
 * This file contains all spacing properties, margin and padding
 */

$size-base: 1; // 1rem as base
$size-ratio: 1; // default ratio is 1, used for zooming
$sizes: (
        "01": 0.0625, // 1px
        "02": 0.125,  // 2px
        "03": 0.25,   // 4px
        "04": 0.5,    // 8px
        "05": 0.75,   // 12px
        "06": 1,      // 16px
        "07": 1.25,   // 20px
        "08": 1.5,    // 24px
        "09": 2,      // 32px
        "10": 2.5,    // 40px
        "11": 3       // 48px
);

:root {
  --ods-size-ratio: #{$size-ratio};

  @each $size, $value in $sizes {
    --ods-size-#{$size}: calc(#{$size-base * $value}rem * var(--ods-size-ratio));
    --ods-size-n-#{$size}: calc(-1 * var(--ods-size-#{$size}));
  }
}
