@import 'styles/osds-toggle.mixins';
@import 'styles/osds-toggle.color';
@import 'styles/osds-toggle.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  opacity: 1;
  margin: 0;
  border-style: solid;
  border-color: transparent;
  box-shadow: none;
}

@include osds-toggle-on-main-element {
  display: flex;
  width: 100%;
}

@include osds-toggle-on-container-element {
  display: inline-block;
  position: relative;
}

@include osds-toggle-on-slider-element {
  position: absolute;
  inset: 0;
}

@include osds-toggle-on-slider-before-element {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: var(--ods-toggle-transition-slider, none);
  content: "";
}

:host([interactive]) {
  @include osds-toggle-on-slider-element {
    cursor: pointer;
  }
}

:host([disabled]) {
  @include osds-toggle-on-main-element {
    pointer-events: none;
  }

  cursor: not-allowed;
}

slot {
  display: inline-flex;
  flex: 1 1 auto;
}

:host([checking]) {
  @include osds-toggle-on-container-element {
    overflow: visible;

    &::after {
      position: absolute;
      top: -2px;
      left: -2px;
      z-index: -1;
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: var(--ods-toggle-animation-checking-shadow, none);
      content: '';
      filter: blur(5px);
    }

    @keyframes steam {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 100% 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-toggle-theme-color;
  @include osds-toggle-theme-size;
}
