@layer ods {
  .clipboard {
    &__copy {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
    }

    &__tooltip,
    &__tooltip-success {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 600;
    }

    &__tooltip-success {
      display: flex;
      flex-flow: row;
      column-gap: 4px;
      align-items: center;

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
