@layer ods-molecules {
  .clipboard-trigger {
    &__copy {
      align-self: center;
    }

    &__tooltip {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 600;

      &--success {
        display: flex;
        flex-flow: row;
        column-gap: 4px;
        align-items: center;
      }

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
