@layer ods-molecules {
  .clipboard-trigger {
    &__copy {
      align-self: center;
    }

    &__tooltip {
      --clipboard-trigger-tooltip-column-gap: calc(var(--ods-theme-column-gap) / 2);

      margin: 0;
      font-size: 0.75rem;
      font-weight: 600;

      &--success {
        display: flex;
        flex-flow: row;
        column-gap: var(--clipboard-trigger-tooltip-column-gap);
        align-items: center;
      }

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
