@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import '~@ovhcloud/ods-theming/size/ods-theming-size';
@import 'osds-cart-header.mixins';

@mixin osds-cart-header-theme-size() {
  $size-definitions: ods-get-size-definitions();
  $component-size-definition: ods-get-component-size-definition($size-definitions, cart);
  $size-properties: ods-get-size-properties($component-size-definition, sm);

  :host {
    margin-bottom: ods-get-size-property($size-properties, header-margin-bottom);
  }

  .cart-mobile-handle {
    margin: ods-get-size-property($size-properties, mobile-handle-margin);
    padding: ods-get-size-property($size-properties, mobile-handle-padding);

    hr {
      margin: 0 auto;
      width: ods-get-size-property($size-properties, mobile-handle-width);
      height: ods-get-size-property($size-properties, mobile-handle-height);
      border-radius: ods-get-size-property($size-properties, mobile-handle-border-radius);
    }
  }
}
