@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
    osds-input {
        cursor: pointer;
        --ods-input-cursor: pointer;
        --ods-input-icon-cursor: pointer;
    }
}

:host([disabled]) {
    cursor: not-allowed;
    osds-input {
        cursor: not-allowed;
        --ods-input-cursor: not-allowed;
        --ods-input-icon-cursor: not-allowed;
    }
}
