@layer ods-atoms {
  .kbd {
    --ods-kbd-border-width: var(--ods-semantic-size-border-thickness);
    --ods-kbd-border-bottom-width: calc(var(--ods-semantic-size-border-thickness) * 2);
    --ods-kbd-border-radius: calc(var(--ods-semantic-size-radius-container) / 2);
    --ods-kbd-border-color: var(--ods-semantic-color-border-neutral-subtle);
    --ods-kbd-background-color: var(--ods-semantic-color-surface-neutral-minimal);
    --ods-kbd-padding-vertical: calc(var(--ods-semantic-size-space-inset-block) / 4);
    --ods-kbd-padding-horizontal: calc(var(--ods-semantic-size-space-inset-inline) / 2);
    --ods-kbd-text-color: var(--ods-semantic-color-content-on-neutral);

    box-sizing: border-box;
    border-width: var(--ods-kbd-border-width);
    border-bottom-width: var(--ods-kbd-border-bottom-width);
    border-style: solid;
    border-radius: var(--ods-kbd-border-radius);
    border-color: var(--ods-kbd-border-color);
    background-color: var(--ods-kbd-background-color);
    padding: var(--ods-kbd-padding-vertical) var(--ods-kbd-padding-horizontal);
    color: var(--ods-kbd-text-color);
    font-family: var(--ods-semantic-font-family-code), monospace;
  }
}
