@layer ods-atoms {
  .kbd {
    --ods-kbd-border-width: var(--ods-theme-border-width);
    --ods-kbd-border-bottom-width: calc(var(--ods-theme-border-width) * 2);
    --ods-kbd-border-radius: calc(var(--ods-theme-border-radius) / 2);
    --ods-kbd-border-color: var(--ods-color-neutral-200);
    --ods-kbd-background-color: var(--ods-color-neutral-100);
    --ods-kbd-padding-vertical: calc(var(--ods-theme-padding-vertical) / 4);
    --ods-kbd-padding-horizontal: calc(var(--ods-theme-padding-horizontal) / 2);
    --ods-kbd-text-color: var(--ods-color-neutral-700);

    box-sizing: border-box;
    border-width: var(--ods-kbd-border-width);
    border-bottom-width: var(--ods-kbd-border-bottom-width);
    border-style: solid;
    border-radius: var(--ods-kbd-border-radius);
    border-color: var(--ods-kbd-border-color);
    background-color: var(--ods-kbd-background-color);
    padding: var(--ods-kbd-padding-vertical) var(--ods-kbd-padding-horizontal);
    color: var(--ods-kbd-text-color);
    font-family: var(--ods-theme-font-family-code), monospace;
  }
}
