@use '../../../../../style/drawer';

@layer ods-molecules {
  .drawer-positioner {
    &__content {
      @include drawer.ods-drawer();

      opacity: 0;
      pointer-events: none;

      &[data-state='open'] {
        transition: opacity 0s;
        opacity: 1;
        pointer-events: auto;
      }

      &[data-state='closed'] {
        transition: opacity 0s linear drawer.$animation-duration;
        opacity: 0;
        pointer-events: none;
      }

      &-bottom {
        @include drawer.ods-drawer-position('bottom');

        &[data-state='closed'] {
          animation: drawer-close-bottom drawer.$animation-duration ease-in-out;
        }
      }

      &-left {
        @include drawer.ods-drawer-position('left');

        &[data-state='closed'] {
          animation: drawer-close-left drawer.$animation-duration ease-in-out;
        }
      }

      &-right {
        @include drawer.ods-drawer-position('right');

        &[data-state='closed'] {
          animation: drawer-close-right drawer.$animation-duration ease-in-out;
        }
      }

      &-top {
        @include drawer.ods-drawer-position('top');

        &[data-state='closed'] {
          animation: drawer-close-top drawer.$animation-duration ease-in-out;
        }
      }
    }
  }
}
