@layer ods-molecules {
  .menu-group-label {
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    color: var(--ods-semantic-color-content-group-label);
    font-size: 1rem;
    font-weight: 600;
  }
}
