@layer ods-molecules {
  .menu-group-label {
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    color: var(--ods-theme-heading-text-color);
    font-size: 1rem;
    font-weight: 600;
  }
}
