<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-accordion</title>

  <script type='module' src='/build/ods-accordion.esm.js'></script>
  <script nomodule src='/build/ods-accordion.js'></script>
  <link rel="stylesheet" href="/build/ods-accordion.css">

  <style>
    * {
      font-family: 'Source Sans Pro', sans-serif;
    }
  </style>
</head>

<body>
  <p>Default</p>
  <ods-accordion id="default">
    <div slot="summary" style="display: grid; grid-template-columns: 1fr max-content; column-gap: 8px;">
      <span>Hello, world!</span>
      <button id="summary-btn">Summary button</button>
    </div>

    <div>
      <ods-text preset="span">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ods-text>
      <button id="detail-btn">Detail button</button>
    </div>
  </ods-accordion>

  <br />
  <button id="toggle-btn">Toggle</button>

  <script>
    const accordion = document.querySelector('#default');
    const summaryButton = document.querySelector('#summary-btn');
    const toggleButton = document.querySelector('#toggle-btn');
    const detailButton = document.querySelector('#detail-btn');

    accordion.addEventListener('odsToggle', (e) => {
      console.log('toggled: ', e.detail)
    });

    toggleButton.addEventListener('click', () => {
      accordion.toggle();
    });
    summaryButton.addEventListener('click', () => {
      console.log('summary click')
      // accordion.toggle();
      // if (accordion.hasAttribute('is-disabled')) {
      //   accordion.removeAttribute('is-disabled');
      // } else {
      //   accordion.setAttribute('is-disabled', '');
      // }
    });

    detailButton.addEventListener('click', () => {
      console.log('click')
    });
  </script>

  <ods-accordion is-open>
    <ods-text preset="span">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ods-text>
  </ods-accordion>

  <p>Disabled</p>
  <ods-accordion is-disabled>
    <span slot="summary">Hello, world! <button>Details button</button></span>

    <ods-text preset="span">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ods-text>
  </ods-accordion>

  <p>Disabled & open</p>
  <ods-accordion is-disabled is-open>
    <span slot="summary">Hello, world!</span>

    <ods-text preset="span">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ods-text>
  </ods-accordion>

  <p>Native (for comparison)</p>
  <details style="cursor:pointer;">
    <summary>Test</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </details>

  <div style="height: 5000px;"></div>
</body>
</html>
