
/// @access private
@function ods-get-range-size-properties($size-name) {
  @return (
    outline-width: var(--ods-size-range-#{$size-name}-outline-width),
    outline-offset: var(--ods-size-range-#{$size-name}-outline-offset),
    bar-height: var(--ods-size-range-#{$size-name}-bar-height),
    bar-radius: var(--ods-size-range-#{$size-name}-bar-radius),
    thumb-size: var(--ods-size-range-#{$size-name}-thumb-size),
    thumb-border: var(--ods-size-range-#{$size-name}-thumb-border)
  );
}

/// @access private
@function ods-get-range-component-size-definition() {
  @return (
    md: ods-get-range-size-properties(md),
  );
}
