
/// @access private
@function ods-get-skeleton-size-properties($size-name) {
  @return (
    width: var(--ods-size-skeleton-#{$size-name}-width)
  )
}

/// @access private
@function ods-get-skeleton-component-size-definition() {
  @return (
    xs: ods-get-skeleton-size-properties(xs),
    sm: ods-get-skeleton-size-properties(sm),
    md: ods-get-skeleton-size-properties(md),
    lg: ods-get-skeleton-size-properties(lg),
    xl: ods-get-skeleton-size-properties(xl)
  );
}
