
/// @access private
@function ods-get-input-size-properties($size-name) {
  @return (
    height: var(--ods-size-input-#{$size-name}-height),
    border-width: var(--ods-size-input-#{$size-name}-border-width),
    border-radius: var(--ods-size-input-#{$size-name}-border-radius),
    icon-width: var(--ods-size-input-#{$size-name}-icon-width),
    padding: var(--ods-size-input-#{$size-name}-padding),
  )
}

/// @access private
@function ods-get-input-component-size-definition() {
  @return (
    md: ods-get-input-size-properties(md)
  );
}
