
/// @access private
@function ods-get-pagination-size-properties($size-name) {
  @return (
    height: var(--ods-size-pagination-#{$size-name}-height),
    padding-y: var(--ods-size-pagination-#{$size-name}-padding-y),
    padding-x: var(--ods-size-pagination-#{$size-name}-padding-x)
  )
}

/// @access private
@function ods-get-pagination-component-size-definition() {
  @return (
    md: ods-get-pagination-size-properties(md),
  );
}
