@use '../../../../../style/scroll';

@layer ods-molecules {
  .tabs {
    @include scroll.hide-scrollbar();

    display: block;
    padding: var(--ods-outline-width);
    width: 100%;
    overflow-x: auto;
  }
}
