@layer ods-organisms {
  .file-upload-item-status {
    font-weight: 600;

    &__error {
      color: var(--ods-theme-input-text-color-invalid);
      font-size: 0.75rem;
    }

    &__progress {
      display: grid;
      grid-template-columns: 1fr max-content;
      column-gap: var(--ods-theme-column-gap);
      align-items: center;
      font-size: 0.875rem;
      font-weight: 600;
    }

    &__success {
      color: var(--ods-theme-success-color);
      font-size: 0.75rem;
    }
  }
}
