<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev osds-text</title>

  <script type="module">
    !window.ods && (window.ods = {config: {logging: {active:true}}});
  </script>

  <script type='module' src='/build/osds-text.esm.js'></script>
  <script nomodule src='/build/osds-text.js'></script>
  <link rel="stylesheet" href="/build/osds-text.css">
</head>
<body>

<p>Size</p>
<osds-text size='s'>Small</osds-text>
<osds-text>Default</osds-text>
<osds-text size='l'>Large</osds-text>

<p>Color</p>
<osds-text color="default">Default</osds-text>
<osds-text color="primary">Primary</osds-text>
<osds-text color="error">Error</osds-text>

</body>
</html>
