@layer ods-molecules {
  .select-merged-selection {
    &__total {
      color: var(--ods-theme-primary-color);
      font-weight: 700;

      &--disabled {
        color: var(--ods-theme-text-color-disabled);
      }
    }
  }
}
