@layer ods-molecules {
  .select-merged-selection {
    &__total {
      color: var(--ods-semantic-color-content-base);
      font-weight: 700;

      &--disabled {
        color: var(--ods-semantic-color-content-disabled);
      }
    }
  }
}
