@import 'styles/osds-accordion.mixins';
@import 'styles/osds-accordion.color';
@import 'styles/osds-accordion.size';
@import 'styles/osds-accordion.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  @include osds-accordion-on-summary {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
  }

  @include osds-accordion-on-summary-marker {
    display: none;
  }
}

@keyframes toggle {
  0% {
    opacity: 0;
    margin-top: -1.25rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

details[open] > osds-collapsible {
  animation: var(--ods-accordion-animation-opening, none);
}

details > slot {
  display: block;
}

:host([disabled]) {
  @include osds-accordion-on-summary {
    cursor: not-allowed;
    pointer-events: none;
  }

  * {
    opacity: 0.5;
  }
}

@include ods-theme-component {
  @include osds-accordion-theme-color;
  @include osds-accordion-theme-size;
  @include osds-accordion-theme-typography;
}
