.custom-tooltip-trigger {
  border-radius: 10px;
  cursor: pointer;
}

.custom-tooltip-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f64b4b;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
