@import 'styles/osds-input.mixins';
@import 'styles/osds-input.color';
@import 'styles/osds-input.size';
@import 'styles/osds-input.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/reset/ods-theming-reset.input';
@import '~@ovhcloud/ods-theming/ods-theme';

:host {
  align-items: center;
  border-style: solid;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  outline: none;
  overflow: hidden;
  cursor: text;
}

input {
  box-sizing: border-box;
  text-align: var(--ods-input-text-align, left);
}

[flex] {
  @include osds-input-on-selected-host() {
    display: flex;
    width: 100%;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type=number],
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

@include osds-input-on-type-number-main-element() {
  width: 100%;
}

[disabled] {
  @include osds-input-on-selected-host() {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-input-theme-color();
  @include osds-input-theme-size();
  @include osds-input-theme-typography();
}
