.ods-popover-content {
  --arrow-size: 8px;
  --arrow-background: var(--ods-color-primary-000);

  border-radius: 4px;
  filter: drop-shadow(0 2px 8px rgba(0, 14, 156, 0.2));
  background: var(--ods-color-primary-000);
  padding: 8px;
  color: var(--ods-color-text);
}
