@layer ods-molecules {
  .breadcrumb-separator {
    &::after {
      padding: 0 var(--ods-theme-padding-horizontal);
      color: var(--ods-theme-text-color);
      font-weight: 700;
      content: '|';
    }
  }
}
