@import 'styles/osds-pagination.color';
@import 'styles/osds-pagination.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  li {
    list-style-type: none;
    white-space: nowrap;
  }

  .ellipsis, .disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }
}

:not([disabled]):focus-visible {
  @include osds-pagination-on-selected-host {
    outline-offset: var(--ods-size-inset-02);
    outline-width: var(--ods-size-inset-02);
    outline-style: dotted;
  }
}

:host([disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
}

:host([disabled]) osds-button::part(button) {
  cursor: not-allowed;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-pagination-theme-color;
  @include osds-pagination-theme-size;
}
