@use '../../../../../style/overlay';

:host(.ods-tooltip) {
  @include overlay.ods-tooltip();

  display: none;
  top: 0;
  left: 0;
}

:host(.ods-tooltip--absolute) {
  position: absolute;
}

:host(.ods-tooltip--fixed) {
  position: fixed;
}

.ods-tooltip {
  &__arrow {
    @include overlay.ods-tooltip-arrow();

    &--hidden {
      display: none;
    }
  }
}
