@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
    min-height: 32px;
    white-space: break-spaces;
    color: var(--ods-color-text);

    &[data-highlighted] {
      background-color: var(--ods-color-primary-100);
    }

    &[data-disabled] {
      display: none;
    }

    &[data-state="checked"] {
      &[data-highlighted] {
        background-color: var(--ods-color-primary-100);
      }
    }
  }
} 