@use '~@ovhcloud/ods-themes/src/default/variables' as theme;

$ods-badge-height-sm: 19px;
$ods-badge-height-md: 26px;
$ods-badge-height-lg: 28px;

@mixin ods-badge() {
  box-sizing: border-box;
  display: inline-flex;
  flex-flow: row;
  grid-gap: 1px;
  align-items: center;
  color: theme.$ods-color-primary-900;
}

@mixin ods-badge-color($color) {
  @if $color == 'information' {
    background-color: theme.$ods-color-new;
  } @else if $color == 'success' {
    background-color: theme.$ods-color-beta;
  } @else if $color == 'warning' {
    background-color: theme.$ods-color-alpha;
  }
}

@mixin ods-badge-shape($shape) {
  @if $shape == 'round' {
    border-radius: theme.$ods-border-radius-lg;
  } @else if $shape == 'square' {
    border-radius: theme.$ods-border-radius-sm;
  }
}

@mixin ods-badge-size($size) {
  @if $size == 'sm' {
    padding: 2px 4px;
    height: $ods-badge-height-sm;
    font-size: 0.75rem;
  } @else if $size == 'md' {
    padding: 4px;
    height: $ods-badge-height-md;
    font-size: 0.875rem;
  } @else if $size == 'lg' {
    padding: 4px;
    height: $ods-badge-height-lg;
    font-size: 1rem;
  }
}
