@use '~@ovhcloud/ods-themes/src/default/variables' as theme;
@use './focus';

@mixin ods-input() {
  box-sizing: border-box;
  border: var(--ods-border-width-sm) solid var(--ods-form-element-border-color-default);
  border-radius: var(--ods-border-radius-sm);
  padding: 4px 8px;
  height: 32px;
  color: var(--ods-color-text);
  font-size: 1rem;

  &:focus {
    @include focus.ods-focus();
  }

  &:disabled {
    background-color: var(--ods-color-neutral-100);
    cursor: not-allowed;
    color: var(--ods-form-element-foreground-color-disabled);
  }

  &:read-only {
    color: var(--ods-form-element-foreground-color-readonly);
  }
}

@mixin ods-input-error() {
  border-color: var(--ods-form-element-border-color-critical);
}
