@use './focus';

@mixin ods-input() {
  box-sizing: border-box;
  border: var(--ods-border-width-sm) solid var(--ods-form-element-border-color-default);
  border-radius: var(--ods-border-radius-sm);
  cursor: text;
  padding: var(--ods-spacing-4) var(--ods-spacing-8);
  width: 100%;
  height: var(--ods-spacing-32);
  line-height: 16px;
  font-family: var(--ods-font-family-default);
  font-size: 16px;

  &:focus {
    @include focus.ods-focus();
  }
}
