@import './focus';

@mixin ods-link() {
  display: inline-flex;
  flex-flow: row;
  grid-gap: var(--ods-spacing-8);
  align-items: center;
  transition: background-size .2s ease-in, color ease-in-out .1s;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;

  &:focus-visible,
  &:hover {
    transition: background-size .2s ease-out;
    background-size: 100% 1px;
  }

  &:focus-visible {
    @include ods-focus;
  }
}
