@use '../../../../../style/button';

@layer ods-atoms {
  .button {
    $button: &;

    @include button.ods-button();

    position: relative;

    &--xs {
      @include button.ods-button-size('xs');
    }

    &--sm {
      @include button.ods-button-size('sm');
    }

    &--md {
      @include button.ods-button-size('md');
    }

    &--default {
      &#{$button}--critical {
        @include button.ods-button-variant-default('critical');
      }

      &#{$button}--information {
        @include button.ods-button-variant-default('information');
      }

      &#{$button}--neutral {
        @include button.ods-button-variant-default('neutral');
      }

      &#{$button}--primary {
        @include button.ods-button-variant-default('primary');
      }

      &#{$button}--success {
        @include button.ods-button-variant-default('success');
      }

      &#{$button}--warning {
        @include button.ods-button-variant-default('warning');
      }
    }

    &--ghost {
      &#{$button}--critical {
        @include button.ods-button-variant-ghost('critical');
      }

      &#{$button}--information {
        @include button.ods-button-variant-ghost('information');
      }

      &#{$button}--neutral {
        @include button.ods-button-variant-ghost('neutral');
      }

      &#{$button}--primary {
        @include button.ods-button-variant-ghost('primary');
      }

      &#{$button}--success {
        @include button.ods-button-variant-ghost('success');
      }

      &#{$button}--warning {
        @include button.ods-button-variant-ghost('warning');
      }
    }

    &--outline {
      &#{$button}--critical {
        @include button.ods-button-variant-outline('critical');
      }

      &#{$button}--information {
        @include button.ods-button-variant-outline('information');
      }

      &#{$button}--neutral {
        @include button.ods-button-variant-outline('neutral');
      }

      &#{$button}--primary {
        @include button.ods-button-variant-outline('primary');
      }

      &#{$button}--success {
        @include button.ods-button-variant-outline('success');
      }

      &#{$button}--warning {
        @include button.ods-button-variant-outline('warning');
      }
    }

    &__spinner {
      display: flex;
      position: absolute;
      inset: 0;
      align-items: center;
      justify-content: center;
      background-color: var(--ods-theme-background-color-disabled);
    }
  }
}
