@use 'sass:math';
@use '../../../../../style/font';
@use '../../../../../style/state';

$ods-file-upload-padding: 24px;
$ods-file-upload-spacing: 8px;

:host(.ods-file-upload) {
  display: inline-flex;
  flex-flow: column;
  row-gap: 8px;
  border: dashed 1px var(--ods-color-form-element-border-default);
  border-radius: 4px;
  overflow: hidden;
  color: var(--ods-color-text);
}

:host(.ods-file-upload--disabled) {
  @include state.ods-is-disabled();

  .ods-file-upload__dropzone__icon {
    color: state.$ods-state-is-disabled-text-color;
  }
}

:host(.ods-file-upload--error) {
  border-color: var(--ods-color-critical-500);
}

.ods-file-upload {
  &__dropzone {
    display: inline-flex;
    flex-flow: column;
    row-gap: $ods-file-upload-spacing;
    align-items: center;
    padding: $ods-file-upload-padding $ods-file-upload-padding 0;

    &--dragging {
      background-color: var(--ods-color-primary-100);
    }

    &--empty {
      padding: $ods-file-upload-padding;
    }

    &__input {
      display: none;
    }

    &__icon {
      color: var(--ods-color-primary-500);
      font-size: font.px-to-rem(32px);
    }

    &__rules {
      display: flex;
      flex-flow: column;
      align-self: flex-start;

      &__file-format,
      &__max-file,
      &__max-size {
        font-size: font.px-to-rem(12px);
      }
    }

    &__error {
      display: flex;
      flex-flow: column;
      row-gap: 8px;
      width: 100%;
      color: var(--ods-color-critical-500);
      font-size: font.px-to-rem(12px);
      font-weight: 600;
    }
  }

  &__list {
    display: flex;
    flex-flow: column;
    row-gap: math.div($ods-file-upload-spacing, 2);
    padding-bottom: $ods-file-upload-padding;
  }
}
