:host(.ods-button) {
  display: inline-block;
  border-radius: var(--ods-border-radius-md);
  height: inherit;
}

.ods-button__button {
  display: inline-flex;
  align-items: center;
  border-radius: var(--ods-border-radius-md);
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  position: relative;
}
.ods-button__button:disabled {
  border-color: var(--ods-color-neutral-100);
  background-color: var(--ods-color-neutral-100);
  cursor: not-allowed;
  color: var(--ods-color-neutral-600);
}
.ods-button__button:focus-visible {
  outline: var(--ods-outline-style) var(--ods-outline-width) var(--ods-color-primary-700);
  outline-offset: var(--ods-outline-offset);
}
.ods-button__button--sm {
  grid-column-gap: 6px;
  padding: 6px;
  height: 32px;
}
.ods-button__button--md {
  grid-column-gap: 8px;
  padding: 8px;
  height: 40px;
}
.ods-button__button--default.ods-button__button--critical {
  border-width: 1px;
  border-style: solid;
}
.ods-button__button--default.ods-button__button--critical:not(:disabled) {
  border-color: var(--ods-color-critical-500);
  background-color: var(--ods-color-critical-500);
  color: var(--ods-color-primary-000);
}
.ods-button__button--default.ods-button__button--critical:not(:disabled):hover {
  border-color: var(--ods-color-critical-700);
  background-color: var(--ods-color-critical-700);
}
.ods-button__button--default.ods-button__button--critical:not(:disabled):active {
  border-color: var(--ods-color-critical-800);
  background-color: var(--ods-color-critical-800);
}
.ods-button__button--default.ods-button__button--primary {
  border-width: 1px;
  border-style: solid;
}
.ods-button__button--default.ods-button__button--primary:not(:disabled) {
  border-color: var(--ods-color-primary-500);
  background-color: var(--ods-color-primary-500);
  color: var(--ods-color-primary-000);
}
.ods-button__button--default.ods-button__button--primary:not(:disabled):hover {
  border-color: var(--ods-color-primary-700);
  background-color: var(--ods-color-primary-700);
}
.ods-button__button--default.ods-button__button--primary:not(:disabled):active {
  border-color: var(--ods-color-primary-800);
  background-color: var(--ods-color-primary-800);
}
.ods-button__button--ghost.ods-button__button--critical {
  border: 0;
}
.ods-button__button--ghost.ods-button__button--critical:disabled {
  background-color: inherit;
}
.ods-button__button--ghost.ods-button__button--critical:not(:disabled) {
  background-color: inherit;
  color: var(--ods-color-critical-500);
}
.ods-button__button--ghost.ods-button__button--critical:not(:disabled):hover {
  background-color: var(--ods-color-critical-100);
  color: var(--ods-color-critical-700);
}
.ods-button__button--ghost.ods-button__button--critical:not(:disabled):active {
  background-color: var(--ods-color-critical-200);
  color: var(--ods-color-critical-800);
}
.ods-button__button--ghost.ods-button__button--primary {
  border: 0;
}
.ods-button__button--ghost.ods-button__button--primary:disabled {
  background-color: inherit;
}
.ods-button__button--ghost.ods-button__button--primary:not(:disabled) {
  background-color: inherit;
  color: var(--ods-color-primary-500);
}
.ods-button__button--ghost.ods-button__button--primary:not(:disabled):hover {
  background-color: var(--ods-color-primary-100);
  color: var(--ods-color-primary-700);
}
.ods-button__button--ghost.ods-button__button--primary:not(:disabled):active {
  background-color: var(--ods-color-primary-200);
  color: var(--ods-color-primary-800);
}
.ods-button__button--outline.ods-button__button--critical {
  border-width: 1px;
  border-style: solid;
}
.ods-button__button--outline.ods-button__button--critical:disabled {
  border-color: var(--ods-color-neutral-300);
}
.ods-button__button--outline.ods-button__button--critical:not(:disabled) {
  border-color: var(--ods-color-critical-500);
  background-color: var(--ods-color-primary-000);
  color: var(--ods-color-critical-500);
}
.ods-button__button--outline.ods-button__button--critical:not(:disabled):hover {
  border-color: var(--ods-color-critical-700);
  background-color: var(--ods-color-critical-100);
  color: var(--ods-color-critical-700);
}
.ods-button__button--outline.ods-button__button--critical:not(:disabled):active {
  border-color: var(--ods-color-critical-800);
  background-color: var(--ods-color-critical-200);
  color: var(--ods-color-critical-800);
}
.ods-button__button--outline.ods-button__button--primary {
  border-width: 1px;
  border-style: solid;
}
.ods-button__button--outline.ods-button__button--primary:disabled {
  border-color: var(--ods-color-neutral-300);
}
.ods-button__button--outline.ods-button__button--primary:not(:disabled) {
  border-color: var(--ods-color-primary-500);
  background-color: var(--ods-color-primary-000);
  color: var(--ods-color-primary-500);
}
.ods-button__button--outline.ods-button__button--primary:not(:disabled):hover {
  border-color: var(--ods-color-primary-700);
  background-color: var(--ods-color-primary-100);
  color: var(--ods-color-primary-700);
}
.ods-button__button--outline.ods-button__button--primary:not(:disabled):active {
  border-color: var(--ods-color-primary-800);
  background-color: var(--ods-color-primary-200);
  color: var(--ods-color-primary-800);
}
.ods-button__button__spinner {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--ods-color-neutral-100);
}