/* TODO update when ODS component will get an actual dark theme */
.theme-selector__trigger--dark {
  --ods-button-background-color-primary-ghost-hover: #383838;
  --ods-button-background-color-primary-ghost-active: #676767;
  --ods-button-text-color-primary-ghost: #adadad;
  --ods-button-text-color-primary-ghost-hover: #f0f0f0;
  --ods-button-text-color-primary-ghost-active: #fafafa;
  --ods-theme-outline-color: #f0f0f0;
}

.theme-selector__content {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.theme-selector__content__option {
  justify-content: start;
  gap: 8px;
  width: 100%;
}
