@layer ods-organisms {
  .prompt-input-files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--ods-theme-row-gap);

    &:has(> :only-child) {
      align-self: flex-start;
    }
  }
}
