@layer ods-organisms {
  .prompt-input-files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
  }
}
