@layer ods-organisms {
  .prompt-input-files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    gap: var(--ods-theme-row-gap) var(--ods-theme-column-gap);
  }
}
