@use '../../../../../style/link';

:host(.ods-breadcrumb-item) {
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: link.$ods-link-font-weight;
}

:host(.ods-breadcrumb-item--collapsed) {
  display: none;
}

.ods-breadcrumb-item {
  &__last {
    color: var(--ods-color-text);
  }
}
