<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev osds-{{> component-name }}</title>

  <script type="module">
    !window.ods && (window.ods = {config: {logging: {active:true}}});
  </script>

  <script type='module' src='/build/osds-{{> component-name }}.esm.js'></script>
  <script nomodule src='/build/osds-{{> component-name }}.js'></script>
  <link rel="stylesheet" href="/build/osds-{{> component-name }}.css">
</head>
<body>
  <p>Default</p>
  <osds-{{> component-name }}>
  </osds-{{> component-name }}>
</body>
</html>
