@import '~@ovhcloud/ods-theming/typography/ods-component-typography';

slot[name='subhead'] {
  $typography-properties: ods-get-typography-properties(body, '100');
  font-family: ods-get-typography-property($typography-properties, font-family);
  font-size: ods-get-typography-property($typography-properties, font-size);
  font-style: ods-get-typography-property($typography-properties, font-style);
  font-weight: ods-get-typography-property($typography-properties, font-weight);
  letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
  line-height: ods-get-typography-property($typography-properties, line-height);
}

slot[name='title'] {
  $typography-properties: ods-get-typography-properties(heading, '300');
  font-family: ods-get-typography-property($typography-properties, font-family);
  font-size: ods-get-typography-property($typography-properties, font-size);
  font-style: ods-get-typography-property($typography-properties, font-style);
  font-weight: ods-get-typography-property($typography-properties, font-weight);
  letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
  line-height: ods-get-typography-property($typography-properties, line-height);
}

slot[name='price'] {
  $typography-properties: ods-get-typography-properties(heading, '200');
  font-family: ods-get-typography-property($typography-properties, font-family);
  font-size: ods-get-typography-property($typography-properties, font-size);
  font-style: ods-get-typography-property($typography-properties, font-style);
  font-weight: ods-get-typography-property($typography-properties, font-weight);
  letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
  line-height: ods-get-typography-property($typography-properties, line-height);
}

slot[name='extra'] {
  $typography-properties: ods-get-typography-properties(caption, '100');
  font-family: ods-get-typography-property($typography-properties, font-family);
  font-size: ods-get-typography-property($typography-properties, font-size);
  font-style: ods-get-typography-property($typography-properties, font-style);
  font-weight: ods-get-typography-property($typography-properties, font-weight);
  letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
  line-height: ods-get-typography-property($typography-properties, line-height);
}
