@use '../../../../../style/link';

@layer ods-molecules {
  .breadcrumb-ellipsis {
    font-weight: 600;

    &__button {
      @include link.ods-link();

      border: 0;
      background-color: transparent;
      padding: 0;
      line-height: 1;
      color: var(--ods-theme-text-color);
      font-weight: 600;
    }
  }
}
