@import 'styles/osds-cart-section.mixins';
@import 'styles/osds-cart-section.color';
@import 'styles/osds-cart-section.size';
@import 'styles/osds-cart-section.typography';
@import '~@ovhcloud/ods-theming/ods-theme';

:host {
  display: flex;
  flex-direction: column;
}

::slotted(osds-cart-item-option) {
  border: none;
}

::slotted(osds-divider:not(:first-of-type)) {
  box-sizing: border-box;
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-cart-section-theme-color();
  @include osds-cart-section-theme-size();
  @include osds-cart-section-theme-typography();
}
