@import '~@ovhcloud/ods-common-theming/size/ods-component-size';

@mixin osds-menu-theme-size() {
  /** sizes */

  ocdk-surface {
    padding: 0;
    width: auto;
    max-width: 25rem;
    overflow: hidden;
  }
}

::slotted(osds-menu-group:first-of-type) {
  padding-top: var(--ods-size-inset-04);
}
