@import '~@ovhcloud/ods-common-theming/color/ods-component-color';

@mixin osds-menu-theme-color() {

  ocdk-surface {
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000026;
  }
}
