:root {
  /* --- */
  --ods-palette-brand-50: var(--ods-palette-blue-50);
  --ods-palette-brand-100: var(--ods-palette-blue-100);
  --ods-palette-brand-200: var(--ods-palette-blue-200);
  --ods-palette-brand-300: var(--ods-palette-blue-300);
  --ods-palette-brand-400: var(--ods-palette-blue-400);
  --ods-palette-brand-500: var(--ods-palette-blue-500);
  --ods-palette-brand-600: var(--ods-palette-blue-600);
  --ods-palette-brand-700: var(--ods-palette-blue-700);
  --ods-palette-brand-800: var(--ods-palette-blue-800);
  --ods-palette-brand-900: var(--ods-palette-blue-900);
  --ods-palette-twilight: #4d5592;
  
  /* --- */
  --ods-semantic-color-interaction-option-hover: var(--ods-palette-brand-100);
  --ods-semantic-color-surface-backdrop: var(--ods-palette-brand-500);
  --ods-semantic-color-content-heading: var(--ods-palette-brand-800);
  --ods-semantic-color-content-group-label: var(--ods-palette-brand-800);
  --ods-semantic-color-content-icon: var(--ods-palette-brand-500);
  --ods-semantic-color-content-text: var(--ods-palette-twilight);
  --ods-semantic-color-content-on-brand-subtle: var(--ods-palette-brand-700);
}
