@import './osds-modal.mixins';
@import '~@ovhcloud/ods-common-theming/size/ods-component-size';

// Main CSS mixin for sizes
@mixin osds-modal-theme-size() {
  :host {
    width: 100%;
    height: 100%;

    * {
      box-sizing: border-box;
    }

    .backdrop {
      width: 100%;
      height: 100%;
    }

    .wrapper {
      border-radius: var(--ods-size-04);
      padding: 0;
      width: 100%;
      max-width: 512px;

      .header {
        padding: 0 calc(var(--ods-size-04) / 2);
        width: 100%;
        height: calc(var(--ods-size-09) + var(--ods-size-05));
      }

      .content {
        padding: var(--ods-size-06) var(--ods-size-08) var(--ods-size-08);
        width: 100%;

        .headline {
          margin-bottom: var(--ods-size-04);
        }

        .actions {
          gap: var(--ods-size-04);
          margin-top: var(--ods-size-07);
          width: 100%;
        }
      }
    }
  }
}
