@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-modal.mixins';

@mixin osds-modal-theme-color-variant-default() {
  @include ods-and-all-hue-foreach-theme-color((
    color: '800',
    background-color: '100'
  )) using($colors) {
    @include osds-modal-on-selected-host {
      .dialog {
        .wrapper {
          .popup {
            .header {
              background-color: map_get($colors, background-color);
            }
          }
        }
      }
    }
  }
}

// Main CSS color theme mixin
@mixin osds-modal-theme-color() {
  /** base colors */
  :host {
    border-color: transparent;

    .dialog {
      border-color: transparent;
      background: none;

      .wrapper {
        // Doesn't work with most browsers
        &::backdrop {
          background: none;
        }

        .backdrop {
          opacity: 0.75;
          background-color: var(--ods-color-primary-500);
        }

        .popup {
          background-color: var(--ods-color-default-000);
        }
      }
    }
  }

  /** no variant specified: default variant colors */
  :not([variant]) {
    @include osds-modal-theme-color-variant-default;
  }
}
