@import 'styles/osds-chip.mixins';
@import 'styles/osds-chip.color';
@import 'styles/osds-chip.size';
@import 'styles/osds-chip.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  @include osds-chip-on-main-element {
    display: flex;
    align-items: center;
  }

  box-sizing: border-box;
  display: flex;
  align-items: center;
  opacity: 1;
  margin: 0;
  border-style: solid;
  border-color: transparent;
  box-shadow: none;
  overflow: hidden;
  line-height: 1;
}

:host([selectable]),
:host([removable]) osds-icon[name='close'] {
  cursor: pointer;
  user-select: none;
}

:host([selectable]:active),
:host([removable]) osds-icon[name='close']:active {
  transition: background-color ease-in-out 0s;
}

:host([disabled]) {
  @include osds-chip-on-main-element {
    pointer-events: none;
  }

  cursor: not-allowed;
}

:host([inline]) {
  display: inline-flex;
  width: var(--width);
}

:host:not([disabled]):focus-visible {
  @include osds-chip-on-selected-host {
    outline-offset: var(--ods-size-inset-02);
    outline-width: var(--ods-size-inset-02);
    outline-style: dotted;
  }
}

slot {
  display: inline-flex;
  flex: 1;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-chip-theme-color;
  @include osds-chip-theme-size;
  @include osds-chip-theme-typography;
}
