.recipes {
  margin: 0 auto;
}

.recipes__search {
  margin: 24px 0;
}

.recipes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.recipes__grid__empty {
  display: flex;
  grid-column: 1 / -1;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 16px;
}
