{
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "presets": [
    ["@babel/preset-env", { "modules": "auto" }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
