@import '~@ovhcloud/ods-theming/size/ods-component-size';
@import './osds-select.mixins';

@mixin osds-select-theme-size() {
  @include ods-foreach-theme-size(select) using ($sizes) {
    @include osds-select-on-select-element() {
      grid-column-gap: ods-get-size-property($sizes, grid-column-gap);
      height: ods-get-size-property($sizes, height);
      border-width: ods-get-size-property($sizes, border-width);
      border-radius: ods-get-size-property($sizes, border-radius);
      padding: ods-get-size-property($sizes, padding);

      &.opened {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .overlay {
        top: ods-get-size-property($sizes, height);
      }
    }

    @include osds-select-on-overlay-element() {
      border-width: 0 ods-get-size-property($sizes, border-width) ods-get-size-property($sizes, border-width) ods-get-size-property($sizes, border-width);
      top: ods-get-size-property($sizes, height);
      width: calc(100% - var(--ods-size-inline-02));
    }
  }
}
