@use '../../../../../style/input';

$ods-code-primary-color: #fff;
$ods-code-secondary-color: #000;

@layer ods-organisms {
  .code {
    --ods-code-border-radius: var(--ods-theme-border-radius);
    --ods-code-primary-color: #{$ods-code-primary-color};
    --ods-code-secondary-color: #{$ods-code-secondary-color};
    --ods-code-trigger-background-color: #{$ods-code-primary-color};
    --ods-code-trigger-background-color-active: var(--ods-color-neutral-700);
    --ods-code-trigger-background-color-hover: var(--ods-color-neutral-600);
    --ods-code-trigger-outline-color: #{$ods-code-primary-color};

    display: inline-flex;
    flex-flow: row;
    column-gap: var(--ods-theme-column-gap);
    justify-content: space-between;
    border-radius: var(--ods-code-border-radius);
    background-color: var(--ods-code-secondary-color);
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    height: auto;
    min-height: input.$ods-input-field-height;

    &--unthemed {
      color: var(--ods-code-primary-color);
    }

    &__preformat {
      display: flex;
      align-items: center;
      margin: 0;
      white-space: pre-wrap;

      &__code {
        font-family: var(--ods-theme-font-family-code);
      }
    }

    &__clipboard {
      background-color: transparent;
      padding: 0;

      &__trigger {
        &__button {
          color: var(--ods-code-trigger-background-color);

          &:focus-visible,
          &:hover {
            background-color: var(--ods-code-trigger-background-color-hover);
          }

          &:active {
            background-color: var(--ods-code-trigger-background-color-active);
          }

          &:focus {
            outline-color: var(--ods-code-trigger-outline-color);
          }
        }
      }
    }
  }
}
