@use '../../../../../style/input';

$ods-code-primary-color: #fff;
$ods-code-secondary-color: #000;

@layer ods-organisms {
  .code {
    --ods-code-border-radius: calc(var(--ods-theme-border-radius) / 2);
    --ods-code-trigger-background-color-active: var(--ods-color-neutral-700);
    --ods-code-trigger-background-color-hover: var(--ods-color-neutral-600);

    display: inline-flex;
    flex-flow: row;
    column-gap: var(--ods-theme-column-gap);
    justify-content: space-between;
    border-radius: var(--ods-code-border-radius);
    background-color: $ods-code-secondary-color;
    padding: calc(var(--ods-theme-padding-vertical) * 1.5) calc(var(--ods-theme-padding-horizontal) * 1.5);
    height: auto;
    min-height: input.$ods-input-field-height;
    color: $ods-code-primary-color;

    &__preformat {
      display: flex;
      align-items: center;
      margin: 0;
      white-space: pre-wrap;

      &__code {
        font-family: var(--ods-theme-font-family-code);
      }
    }

    &__clipboard {
      background-color: transparent;
      padding: 0;

      &__trigger {
        &__button {
          color: $ods-code-primary-color;

          &:focus-visible,
          &:hover {
            background-color: var(--ods-code-trigger-background-color-hover);
          }

          &:active {
            background-color: var(--ods-code-trigger-background-color-active);
          }

          &:focus {
            outline-color: $ods-code-primary-color;
          }
        }
      }
    }
  }
}
