@use '../../../../../style/input';

:host(.ods-textarea) {
  display: inline-block;
}

.ods-textarea {
  &__textarea {
     @include input.ods-input();

    height: auto;
    resize: none;

    &--error {
      @include input.ods-input-error();
    }

    &--resizable {
      resize: both;
    }
  }
}
