@use '../../../../../style/input';

// As there are no variant or design token dedicated to this component, we'll just set local variable for now
$ods-code-primary-color: #fff;
$ods-code-secondary-color: #000;

:host(.ods-code) {
  display: inline-flex;
  flex-flow: row;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ods-border-radius-sm);
  background-color: $ods-code-secondary-color;
  padding: 12px;
  min-height: input.$ods-input-input-height;
  color: $ods-code-primary-color;
}

.ods-code {
  &__preformat {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 100%;
    white-space: pre-wrap;

    &__code {
      font-family: var(--ods-font-family-code);
    }
  }

  &__copy::part(button) {
    color: $ods-code-primary-color;
    font-size: 0.833rem;

    &:focus-visible,
    &:hover {
      background-color: var(--ods-color-neutral-600);
    }

    &:active {
      background-color: var(--ods-color-neutral-700);
    }

    &:focus {
      outline-color: $ods-code-primary-color;
    }
  }

  &__tooltip {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;

    &__copied {
      display: flex;
      flex-flow: row;
      column-gap: 4px;
      align-items: center;

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
