@import '~@ovhcloud/ods-common-theming/size/ods-component-size';
@import './osds-input.mixins';

@mixin osds-input-theme-size() {
  @include ods-foreach-theme-size(input) using ($sizes) {
    @include osds-input-on-selected-host {
      border-width: ods-get-size-property($sizes, border-width);
      border-radius: ods-get-size-property($sizes, border-radius);
      padding: var(--ods-input-padding, ods-get-size-property($sizes, padding));
      height: ods-get-size-property($sizes, height);

      osds-icon {
        min-width: ods-get-size-property($sizes, icon-width);
        max-width: ods-get-size-property($sizes, icon-width);
        min-height: ods-get-size-property($sizes, icon-height);
        max-height: ods-get-size-property($sizes, icon-height);
      }

      osds-icon:not(:first-of-type) {
        margin-left: var(--ods-size-03);
      }
    }
  }

  /** sizes */
  :host {
    width: var(--ods-input-width, auto);
  }
}
