@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

:host(.ods-clipboard) {
  display: inline-block;
  position: relative;
  height: input.$ods-input-input-height;
}

.ods-clipboard {
  &__container {
    box-sizing: border-box;
    display: inline-flex;
    border-radius: var(--ods-border-radius-sm);
    background-color: state.$ods-state-is-readonly-background-color;
    padding-right: input.$ods-input-actions-padding-right;

    &--disabled {
      @include state.ods-is-disabled();
    }

    &--focused {
      @include focus.ods-focus();
    }

  }

  &__input {
    width: inherit;

    &::part(input) {
      border: none;
      padding-right: calc(input.$ods-input-actions-button-width + input.$ods-input-actions-padding-right);

      &:focus {
        outline: 0;
      }
    }
  }
  
  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(input.$ods-input-actions-padding-right / 2);
    height: auto;
  }

  &__tooltip {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;

    &__copied {
      display: flex;
      flex-flow: row;
      column-gap: 4px;
      align-items: center;

      &__check {
        font-size: 1.125rem;
      }
    }
  }
}
