@use '../../../../../style/state';

@layer ods-atoms {
  .accordion-item {
    display: grid;
    border-width: var(--ods-accordion-border-width);
    border-style: solid;
    border-color: transparent;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:not([data-disabled]) {
      &[data-state="closed"]:hover, &:focus-within {
        transition: .3s border-color ease-out;
        border-color: var(--ods-color-primary-200); // TODO
      }

      &[data-state="open"] {
        border-color: var(--ods-color-primary-500); // TODO
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();

      opacity: 0.5;
    }
  }
}
