@use '../../../../../style/state';

@layer ods-atoms {
  .accordion-item {
    display: grid;
    position: relative;
    border-width: var(--ods-accordion-border-width);
    border-style: solid;
    border-color: var(--ods-accordion-border-color);

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:not([data-disabled]) {
      &[data-state='open'],
      &[data-state='closed']:hover,
      &:focus-within {
        z-index: 1;
        border-color: var(--ods-accordion-border-color-hover);
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();

      opacity: 0.5;
    }
  }
}
