@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-switch.mixins';

@mixin osds-switch-theme-color-variant-default() {
  @include ods-and-all-hue-foreach-theme-color((
    color: '500',
    background-color: '500',
    background-color-checked: '600',
    background-color-checked-hover: '700',
    background-color-hover: '100',
  )) using($colors) {
    @include osds-switch-on-selected-host {
      @include osds-switch-on-switch-items-child {
        color: map_get($colors, color);
      }

      @include osds-switch-on-switch-items-child(':hover') {
        &::before {
          background-color: map_get($colors, background-color-hover);
        }
      }

      @include osds-switch-on-switch-items-child('[checked]') {
        color: var(--ods-color-default-000);

        &::before{
          background-color: map_get($colors, background-color-checked);
        }
      }

      @include osds-switch-on-switch-items-child('[checked]:hover') {
        color: var(--ods-color-default-000);

        &::before {
          background-color: map_get($colors, background-color-checked-hover);
          color: var(--ods-color-default-000);
        }
      }

      background-color: var(--ods-color-gray-100);

      [color="text"] {
        @include osds-switch-on-switch-items-child('[checked]') {
          color: map_get($colors, background-color-checked);
        }
      }
    }
  }
}

@mixin osds-switch-theme-color-variant-default-contrasted() {
  @include ods-and-all-hue-foreach-theme-color((
    color: '700',
    background-color: '500-contrasted',
    background-color-checked: '600-contrasted',
  )) using($colors) {
    @include osds-switch-on-selected-host {
      @include osds-switch-on-switch-items-child('[checked]') {
        color: map_get($colors, color);

        &::before{
          background-color: map_get($colors, background-color-checked);
        }
      }
    }
  }
}

// Main CSS color theme mixin
@mixin osds-switch-theme-color() {
  /** base colors */
  :host {
    background-color: transparent;
  }

  /** no variant specified: default variant colors */
  :not([variant]) {
    @include osds-switch-theme-color-variant-default;

    &[contrasted] {
      @include osds-switch-theme-color-variant-default-contrasted;
    }
  }
}
