@use '../../../../../style/button';
@use '../../../../../style/input';

@layer ods-molecules {
  .quantity-control {
    display: inline-grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    border-radius: var(--ods-semantic-size-radius-control);
    box-shadow: var(--ods-semantic-shadow-control);
    width: calc(button.$ods-button-size-sm * 2 + 50px);

    &__decrement {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &--invalid {
        @include input.ods-input-error();
      }
    }

    &__increment {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &--invalid {
        @include input.ods-input-error();
      }
    }
  }
}
