@import 'styles/osds-cart-item.mixins';
@import 'styles/osds-cart-item.color';
@import 'styles/osds-cart-item.size';
@import 'styles/osds-cart-item.typography';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  @include osds-cart-item-on-main-content {
    display: grid;
    grid-template-areas:
      "subhead price"
      "title extra";
    grid-template-columns: 1fr auto;
    gap: 0 0;
    align-items: baseline;
  }

}

slot {
  display: grid;
}

slot[name="subhead"] {
  grid-area: subhead;
  align-content: center;
}

slot[name="title"] {
  grid-area: title;
}

slot[name="price"] {
  grid-area: price;
  justify-content: right;
}

slot[name="extra"] {
  grid-area: extra;
  align-self: flex-start;
  justify-content: right;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-cart-item-theme-color;
  @include osds-cart-item-theme-size;
}
