// CSS for the component but not for theming

@import '~@ovhcloud/ods-theme-blue-jeans';
@import '~@ovhcloud/ods-common-theming/ods-theme';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

.ods-table {
  display: flex;
  width: 100%;
  overflow-x: auto;
  text-align: left;
  font-family: var(--ods-font-family);
  font-size: var(--ods-typo-size-02);

  table {
    width: 100%;
    border-collapse: collapse;

    caption {
      padding: 10px;
      caption-side: bottom;
      font-weight: var(--ods-typo-weight-semibold);
    }

    thead,
    tbody,
    tfoot {
      tr {
        th,
        td {
          box-sizing: border-box;
          min-width: calc(100vw / 3);
          line-height: 16px;
        }
      }
    }

    thead {
      tr {
        th {
          border: 1px solid var(--ods-color-default-100);
          background-color: var(--ods-color-default-000);
          color: var(--ods-color-primary-800);
          font-weight: var(--ods-typo-weight-semibold);
        }
      }
    }

    tbody {
      tr {
        th,
        td {
          border-top: 1px solid var(--ods-color-default-100);
          border-bottom: 1px solid var(--ods-color-default-100);
          background-color: var(--ods-color-default-000);
          color: var(--ods-color-text-500);
          font-weight: var(--ods-typo-weight-regular);

          &:first-child {
            border-left: 1px solid var(--ods-color-default-100);
          }

          &:last-child {
            border-right: 1px solid var(--ods-color-default-100);
          }
        }
      }
    }

    // TODO : Use breakpoint var when token are ready and in px units.
    //  @media screen and (min-width: var(--ods-breakpoint-xs) + 1px) {
    //  --ods-breakpoint-xs = 576px
    @media screen and (min-width: 576px + 1px) {
      thead,
      tbody,
      tfoot {
        tr {
          th,
          td {
            min-width: auto;
          }
        }
      }
    }
  }

  &--sm {
    table {
      thead,
      tbody,
      tfoot {
        tr {
          /* stylelint-disable no-descending-specificity */
          th,
          td {
            padding: 8px;
            min-height: 32px;
          }
          /* stylelint-enable no-descending-specificity */
        }
      }
    }
  }

  &--md {
    table {
      thead,
      tbody,
      tfoot {
        tr {
          /* stylelint-disable no-descending-specificity */
          th,
          td {
            padding: 16px 8px;
            min-height: 48px;
          }
          /* stylelint-enable no-descending-specificity */
        }
      }
    }
  }

  &--lg {
    table {
      thead,
      tbody,
      tfoot {
        tr {
          /* stylelint-disable no-descending-specificity */
          th,
          td {
            padding: 24px 8px;
            min-height: 64px;
          }
          /* stylelint-enable no-descending-specificity */
        }
      }
    }
  }

  &--striped {
    table {
      tbody {
        tr:nth-child(2n) {
          th,
          td {
            border-top: 1px solid var(--ods-color-default-100);
            border-bottom: 1px solid var(--ods-color-default-100);
            background-color: var(--ods-color-default-050);
          }
        }
      }
    }
  }
}
