@import '~@ovhcloud/ods-theming/typography/ods-theming-typography';
@import '~@ovhcloud/ods-theming/typography/ods-component-typography';
@import './osds-switch.mixins';

// Main CSS mixin for typography
@mixin osds-switch-theme-typography() {
  :host {
    $typography-properties: ods-get-typography-properties(body, '100');
    font-family: ods-get-typography-property($typography-properties, font-family);
    font-style: ods-get-typography-property($typography-properties, font-style);
    font-weight: ods-get-typography-property($typography-properties, font-weight);
    letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
  }
}
