// general mixins and functions for the component

@mixin osds-switch-on-selected-host() {
  :host(&) {
    @content;
  }
}

@mixin osds-switch-on-main-element() {
  .switch__wrapper {
    @content;
  }
}

@mixin osds-switch-on-switch-items-child($property: '') {
  ::slotted(osds-switch-item#{$property}) {
    @content;
  }
}

