@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-switch.mixins';

@mixin osds-switch-theme-color-variant-default() {
  @include ods-and-all-hue-foreach-theme-color((
    color: '500',
    background-color: '500',
    background-color-checked: '600',
    background-color-hover: '100',
  )) using($colors) {
    @include osds-switch-on-selected-host() {
      ::slotted(osds-switch-item) {
        color: map_get($colors, color);
      }
    }

    @include osds-switch-on-selected-host() {
      ::slotted(osds-switch-item:hover) {
        background-color: map_get($colors, background-color-hover);
      }
    }
    @include osds-switch-on-selected-host() {
      ::slotted(osds-switch-item[checked]) {
        color: var(--ods-color-default-000);
        background-color: map_get($colors, background-color-checked);
      }
    }
  }
}

// Main CSS color theme mixin
@mixin osds-switch-theme-color() {
  /** base colors */
  :host {
    background-color: transparent;
  }

  /** no variant specified: default variant colors */
  :not([variant]) {
    @include osds-switch-theme-color-variant-default();
  }
}
