@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)

$switch-item-border-radius: 3em;

:host {
    appearance: none;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0;
    border-radius: 1.375em;
    cursor: pointer;
    text-align: center;
    font-weight: 600;

    &::before {
        position: absolute;
        inset: 0;
        transition: background ease-in-out .1s;
        z-index: -1;
        border-radius: $switch-item-border-radius;
        overflow: hidden;
        content: '';
    }

    & osds-radio {
        padding: 0 .75em;

        &:focus-visible {
            border-radius: $switch-item-border-radius;
        }

        & > * {
            cursor: pointer;
        }
    }
}

:host(.fadein-from-right)::before {
    animation: fadeinfromright ease-out .3s;
}

:host(.fadein-from-left)::before {
    animation: fadeinfromleft ease-out .3s;
}

:host(.fadeout-from-right)::before {
    animation: fadeoutfromright ease-in .3s;
}

:host(.fadeout-from-left)::before {
    animation: fadeoutfromleft ease-in .3s;
}

@keyframes fadeinfromleft {
    from {
        transform: translateX(-3em);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeinfromright {
    from {
        transform: translateX(3em);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeoutfromleft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-3em);
        opacity: 0;
    }
}

@keyframes fadeoutfromright {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(3em);
        opacity: 0;
    }
}
