.theme-generator-tree-view {
  padding: 16px;
}

.theme-generator-tree-view__loading {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 16px;
}

.theme-generator-tree-view__item {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.theme-generator-tree-view__item-name {
  flex: 1;
  color: var(--ods-theme-text-color);
}
