.theme-generator-tree-view {
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.theme-generator-tree-view__loading {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px;
}

.theme-generator-tree-view__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.theme-generator-tree-view__item-name {
  flex: 1;
  color: var(--ods-color-text);
}
