@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import 'osds-link.mixins';

@mixin osds-link-theme-size() {
  :host {
    @include osds-link-on-text-container() {
      display: inline-flex;
      align-items: baseline;
    }

    @include osds-link-on-selected-host() {
      display: inline-flex;
    }
  }
}
