@use '../../../../../style/overlay';

@layer ods-atoms {
  .tooltip-content {
    --arrow-size: #{overlay.$ods-overlay-arrow-size};

    @include overlay.ods-overlay();

    &__arrow {
      transform: rotate(45deg);
      background-color: inherit;
    }
  }
}
