@use '../../../../../style/overlay';

@layer ods-atoms {
  .tooltip-positioner {
    z-index: overlay.$ods-overlay-base-z-index !important;
  }

  .tooltip-content {
    --arrow-size: #{overlay.$ods-overlay-arrow-size};
    --arrow-background: #{overlay.$ods-overlay-arrow-background-color};

    @include overlay.ods-overlay();
  }
}
