@import 'styles/osds-button.mixins';
@import 'styles/osds-button.color';
@import 'styles/osds-button.size';
@import 'styles/osds-button.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/reset/ods-theming-reset.button';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  @include osds-button-on-main-element {
    @include osds-button-on-text-container {
      display: inline-grid;
      position: relative;
      grid-template: "start center end" / auto 1fr auto;
      grid-auto-rows: 1fr;
      grid-auto-columns: 1fr;
      align-items: center;
      justify-content: center;
      max-width: inherit;
      height: 100%;
    }

    box-sizing: border-box;
    display: inherit;
    transition: all ease-in-out 100ms;
    opacity: 1;
    margin: 0;
    border-style: solid;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
    width: var(--ods-button-width, auto);
    overflow: hidden;
    text-decoration: none;
  }

  @include osds-button-on-main-element {
    width: 100%;
  }

  @include osds-button-on-text-container {
    width: inherit;
  }

  display: flex;
  margin: calc(var(--ods-size-inset-n-02) + var(--ods-size-inset-n-02));
  outline: none;
  padding: calc(var(--ods-size-inset-02) + var(--ods-size-inset-02));
  min-width: 0;
  overflow: hidden;
}

:host([text-align]) {
  @include osds-button-on-text-container {
    & span:not([slot]) {
      --ods-icon-vertical-align: bottom;

      grid-area: center;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;

      // fix safari ellipsis
      ::after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        line-height: 0;
      }
    }
  }
}

:host([text-align="center"]) {
  @include osds-button-on-text-container {
    & span:not([slot]) {
      text-align: center;
    }
  }
}

:host([text-align="start"]) {
  @include osds-button-on-text-container {
    & span:not([slot]) {
      text-align: start;
    }
  }
}

:host([text-align="end"]) {
  @include osds-button-on-text-container {
    & span:not([slot]) {
      text-align: end;
    }
  }
}

:not([disabled]):focus-visible {
  @include osds-button-on-selected-host {
    outline-offset: var(--ods-size-inset-02);
    outline-width: var(--ods-size-inset-02);
    outline-style: dotted;
  }
}

:active {
  @include osds-button-on-selected-host {
    transition: background-color ease-in-out 0s;
  }
}

:host([disabled]) {
  @include osds-button-on-main-element {
    cursor: not-allowed;
  }
}

:host([inline]) {
  display: inline-flex;
  width: var(--width);
}

slot {
  display: inline;

  &[name="start"] {
    grid-area: start;
    justify-self: start;
    white-space: nowrap
  }

  &[name="end"] {
    grid-area: end;
    justify-self: end;
    white-space: nowrap
  }
}

::slotted([slot="start"]),
::slotted([slot="end"]) {
  display: flex;
}

::slotted([slot="start"]) {
  margin-right: var(--ods-size-inline-04);
}

::slotted([slot="end"]) {
  margin-left: var(--ods-size-inline-04);
}

::slotted([slot="start"]:empty),
::slotted([slot="end"]:empty) {
  display: none;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-button-theme-color;
  @include osds-button-theme-size;
  @include osds-button-theme-typography;
}
