@import 'styles/osds-select-option.color';
@import 'styles/osds-select-option.size';
@import 'styles/osds-select-option.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  display: block;
  position: relative;
  margin: 0;

  .option {
    display: flex;
    align-items: center;
  }

  .option > .truncated {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }
}

:host(:focus-visible) {
  outline-offset: var(--ods-size-inset-02);
  outline-width: var(--ods-size-inset-02);
  outline-style: dotted;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-select-option-theme-color;
  @include osds-select-option-theme-size;
  @include osds-select-option-theme-typography;
}
