.ods-versions {
  text-align: center;
}

/* TODO update when ODS component will get an actual dark theme */
.ods-versions__trigger--dark {
  --ods-button-background-color-primary-ghost-hover: #f4f5f5;
  --ods-button-background-color-primary-ghost-active: #dfe1e2;
  --ods-button-text-color-primary-ghost: #c9cdcf;
  --ods-button-text-color-primary-ghost-hover: #9ea5a9;
  --ods-button-text-color-primary-ghost-active: #889196;
  --ods-theme-outline-color: #fff;
}

.ods-versions__content {
  z-index: 1;
  overflow-y: auto;
  max-height: 300px;
}

.ods-versions__content__link {
  display: block;
  margin: 0 32px;
}
