.ods-versions {
  text-align: center;
}

/* TODO update when ODS component will get an actual dark theme */
.ods-versions__trigger--dark {
  --ods-button-background-color-primary-ghost-hover: #383838;
  --ods-button-background-color-primary-ghost-active: #676767;
  --ods-button-text-color-primary-ghost: #adadad;
  --ods-button-text-color-primary-ghost-hover: #f0f0f0;
  --ods-button-text-color-primary-ghost-active: #fafafa;
  --ods-theme-outline-color: #f0f0f0;
}

.ods-versions__content {
  z-index: 1;
  overflow-y: auto;
  max-height: 300px;
}

.ods-versions__content__link {
  display: block;
  margin: 0 32px;
}
