@import 'styles/osds-skeleton.mixins';
@import 'styles/osds-skeleton.size';

@import '~@ovhcloud/ods-theming/ods-theme';

:host {
  display: block;
  min-height: .5rem;
  position: relative;

  &::before {
    content: "\00a0";
    font-size: inherit;
  }

  .loader {
    animation: skeleton linear 2s infinite;
    background-color : #f2f2f2;
    background-image: linear-gradient(-90deg, #f2f2f2, #e6e6e6 46%, #e6e6e6 61%, #f2f2f2);
    background-position: -200% 0;
    background-repeat: repeat-y;
    background-size: 50% 12.5rem;
    border-radius: .5rem;
    display: block;
    height: .5rem;
    left: 0;
    min-height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @keyframes skeleton {
      to {
        background-position: 200% 0;
      }
    }
  }
}

[flex] {
  @include osds-skeleton-on-selected-host() {
    display: flex;
    width: 100%;
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-skeleton-theme-size();
}
