@use '../../../../../style/focus';
@use '../../../../../style/message';

:host(.ods-message) {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.ods-message {
  &__message {
    $message: &;

    @include message.ods-message();

    &__dismissible {
      grid-template-columns: max-content 1fr;
    }

    &__icon {
      padding: 0.125rem 0;
      font-size: 1.25rem;
    }

    slot:not([name]) {
      display: flex;
      align-items: center;
    }

    &__close {
      height: auto;

      &--critical::part(button) {
        @include message.ods-message-close('critical');
      }

      &--danger::part(button) {
        @include message.ods-message-close('danger');
      }

      &--information::part(button) {
        @include message.ods-message-close('information');
      }

      &--success::part(button) {
        @include message.ods-message-close('success');
      }

      &--warning::part(button) {
        @include message.ods-message-close('warning');
      }
    }

    &#{$message}--default {
      &#{$message}--critical {
        @include message.ods-message-variant-default('critical');
      }

      &#{$message}--danger {
        @include message.ods-message-variant-default('danger');
      }

      &#{$message}--information {
        @include message.ods-message-variant-default('information');
      }

      &#{$message}--success {
        @include message.ods-message-variant-default('success');
      }

      &#{$message}--warning {
        @include message.ods-message-variant-default('warning');
      }
    }

    &#{$message}--light {
      &#{$message}--critical {
        @include message.ods-message-variant-light('critical');
      }

      &#{$message}--danger {
        @include message.ods-message-variant-light('danger');
      }

      &#{$message}--information {
        @include message.ods-message-variant-light('information');
      }

      &#{$message}--success {
        @include message.ods-message-variant-light('success');
      }

      &#{$message}--warning {
        @include message.ods-message-variant-light('warning');
      }
    }
  }
}
