@use '../../../../../style/focus';
@use '../../../../../style/message';

:host(.ods-message) {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.ods-message {
  &__message {
    $message: &;

    @include message.ods-message();

    &__icon {
      font-size: 1.5rem;
    }

    slot:not([name]) {
      display: flex;
      align-items: center;
    }

    &__close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 0.125rem;
      background: none;
      cursor: pointer;
      padding: 0;
      width: 1.5rem;
      min-width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;

      &:focus-visible {
        @include focus.ods-focus();

        outline-offset: 0;
      }

      &--critical {
        @include message.ods-message-close('critical');
      }

      &--danger {
        @include message.ods-message-close('danger');
      }

      &--information {
        @include message.ods-message-close('information');
      }

      &--success {
        @include message.ods-message-close('success');
      }

      &--warning {
        @include message.ods-message-close('warning');
      }
    }

    &#{$message}--default {
      &#{$message}--critical {
        @include message.ods-message-variant-default('critical');
      }

      &#{$message}--danger {
        @include message.ods-message-variant-default('danger');
      }

      &#{$message}--information {
        @include message.ods-message-variant-default('information');
      }

      &#{$message}--success {
        @include message.ods-message-variant-default('success');
      }

      &#{$message}--warning {
        @include message.ods-message-variant-default('warning');
      }
    }

    &#{$message}--light {
      &#{$message}--critical {
        @include message.ods-message-variant-light('critical');
      }

      &#{$message}--danger {
        @include message.ods-message-variant-light('danger');
      }

      &#{$message}--information {
        @include message.ods-message-variant-light('information');
      }

      &#{$message}--success {
        @include message.ods-message-variant-light('success');
      }

      &#{$message}--warning {
        @include message.ods-message-variant-light('warning');
      }
    }
  }
}
