@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host(.phone-number) {
  --ods-select-option-overflow: visible;
  
  display: inline-flex;
}

$phone-number-input-width: 236px;

.phone-number {
  &__input {
    flex: auto;
    width: $phone-number-input-width;

    &--not-first {
      border-left-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__select {
    --ods-size-select-border-radius-bottom-right: 0;
    --ods-size-select-border-radius-top-right: 0;
    --ods-size-select-border-right-width: 0;
    --ods-size-select-surface-width: #{$phone-number-input-width + 71px};

    &-label {
      width: 24px;
      height: 18px;
    }

    &__option {
      display: flex;
      align-items: center;

      &__flag {
        display: inline-block;
        margin-right: .5em;
        width: 24px;
      }
    }

    &.opened + .phone-number__input {
      border-bottom-right-radius: 0;
    }
  }
}
