@layer ods-organisms {
  .data-table-header-cell {
    &--sortable {
      cursor: pointer;
    }

    &__content {
      display: flex;
      flex-flow: row;
      column-gap: var(--ods-semantic-size-space-gap-inline);
      justify-content: space-between;
      text-align: left;
    }

    &__sort-icon {
      color: var(--ods-semantic-color-content-disabled);

      &--sorted {
        color: var(--ods-semantic-color-content-icon);
      }
    }
  }
}
