$ods-combobox-item-min-height: 32px;
$ods-combobox-item-horizontal-padding: 8px;

:host(.ods-combobox-item) {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 $ods-combobox-item-horizontal-padding;
  min-height: $ods-combobox-item-min-height;
  color: var(--ods-color-text);

  ::slotted(.ods-combobox-item--highlighted) {
    font-weight: 600;
  }
}

:host(.ods-combobox-item:hover),
:host(.ods-combobox-item--focused) {
  background-color: var(--ods-color-primary-100);
}

:host(.ods-combobox-item--hidden) {
  display: none;
}
