@import 'styles/osds-menu-item.color';
@import 'styles/osds-menu-item.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host{
  --ods-size-button-border-radius: 0;
  --ods-size-button-padding-x: var(--ods-size-inset-04);

  display: block;
}
