@import 'styles/osds-radio-button.mixins';
@import 'styles/osds-radio-button.color';
@import 'styles/osds-radio-button.size';
@import 'styles/osds-radio-button.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: fit-content;

  > ::slotted(*) {
    display: grid;
  }

  .radio-button {
    position:relative;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
  }
}

[checked] {
  @include osds-radio-button-on-checked-element {
    position:absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    content: "";
  }
}

[disabled] {
  @include osds-radio-button-on-selected-host {
    opacity: 0.5;
  }

  @include osds-radio-button-on-main-element {
    cursor: not-allowed;
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-radio-button-theme-color;
  @include osds-radio-button-theme-size;
  @include osds-radio-button-theme-typography;
}
