@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-modal.mixins';

@mixin osds-modal-theme-color-variant-default() {
  @include ods-and-all-hue-foreach-theme-color((
    color: '800',
    background-color: '100'
  )) using($colors) {
    @include osds-modal-on-selected-host {
      .wrapper {
        .header {
          background-color: map_get($colors, background-color);
        }
      }
    }
  }
}

// Main CSS color theme mixin
@mixin osds-modal-theme-color() {
  /** base colors */
  :host {
    border-color: transparent;

    .backdrop {
      background-color: var(--ods-color-primary-500);
    }

    .wrapper {
      background: #fff;
    }

    .wrapper::backdrop {
      opacity: 0;
    }
  }

  /** no variant specified: default variant colors */
  :not([variant]) {
    @include osds-modal-theme-color-variant-default;
  }
}
