<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-radio</title>

  <script type='module' src='/build/ods-radio.esm.js'></script>
  <script nomodule src='/build/ods-radio.js'></script>
  <link rel="stylesheet" href="/build/ods-radio.css">
</head>

<body>
  <p>Default & Methods</p>
  <div>
    <ods-radio input-id="huey" name="drone" value="huey"></ods-radio>
    <label for="huey">Huey</label>
  </div>

  <div>
    <ods-radio input-id="dewey" name="drone" value="dewey" is-checked></ods-radio>
    <label for="dewey">Dewey</label>
  </div>

  <div>
    <ods-radio input-id="louie" name="drone" value="louie"></ods-radio>
    <label for="louie">Louie</label>
  </div>
  <button id="clear-button">clear</button>
  <button id="reset-button">reset</button>
  <button id="get-validity-button">getValidity</button>

  <script>
    const radio = document.querySelector('ods-radio[input-id="huey"]');

    ['odsBlur', 'odsClear', 'odsFocus', 'odsReset', 'odsChange'].forEach((eventName) =>{
      radio.addEventListener(eventName, (event) => {
        console.log(eventName, event);
      });
    });
    const clearButton = document.getElementById('clear-button');
    const resetButton = document.getElementById('reset-button');
    const getValidityButton = document.getElementById('get-validity-button');

    clearButton.addEventListener('click', () => radio.clear());
    resetButton.addEventListener('click', () => radio.reset());
    getValidityButton.addEventListener('click', async () => {
      const validity = await radio.getValidity();
      console.log('validity', validity);
    });
  </script>

  <p>Error</p>
  <div>
    <ods-radio input-id="huey" name="error" value="huey" has-error></ods-radio>
    <label for="huey">Huey</label>
  </div>

  <p>Multiline label</p>
  <div>
    <ods-radio input-id="multiligne" name="multiligne" value="multiligne"></ods-radio>
    <label for="multiligne">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
  </div>

  <p>Disabled</p>
  <div>
    <ods-radio is-disabled is-checked input-id="checked" name="disabled" value="checked"></ods-radio>
    <label for="checked">Check</label>
  </div>
  <div>
    <ods-radio is-disabled input-id="not-checked" name="disabled" value="not-checked"></ods-radio>
    <label for="not-checked">Not Check</label>
  </div>

  <p>Custom CSS</p>
  <ods-radio class="my-radio" input-id="custom-css" name="custom-css" value="custom-css">
  </ods-radio>
  <label for="custom-css">Custom CSS</label>
  <style>
    .my-radio > input[type="radio"]:not(:disabled):checked {
      background-color: red;
      border-color: red;
    }
  </style>

  <p>Form</p>
  <form id="radio-form" target="_self">
    <ods-input name="ods-input" value="On Vous Heberge ?" clearable></ods-input>
    <div>
      <ods-radio input-id="huey-form" name="name" value="huey" id="form-radio1"></ods-radio>
      <label for="huey-form">Huey</label>
    </div>

    <div>
      <ods-radio input-id="dewey-form" name="name" value="dewey"></ods-radio>
      <label for="dewey-form">Dewey</label>
    </div>

    <div>
      <ods-radio input-id="louie-form" name="name" value="louie"></ods-radio>
      <label for="louie-form">Louie</label>
    </div>

    <input type="text" name="natif-input">
    <button id="form-reset-button" type="reset">Reset</button>
    <button id="form-submit-button" type="submit">Submit</button>
    <button id="form-toggle-is-required" type="button">Toggle is-required</button>
  </form>

  <script>
    const form = document.getElementById('radio-form');
    const resetFormButton = document.getElementById('form-reset-button');
    const submitFormButton = document.getElementById('form-submit-button');
    const toggleIsRequiredButton = document.getElementById('form-toggle-is-required');
    const radio1 = document.querySelector('#form-radio1')

    submitFormButton.addEventListener('click', () => {
      const formData = new FormData(form);
      console.log('formData', formData);
    });

    toggleIsRequiredButton.addEventListener('click', async() => {
      if (radio1.hasAttribute('is-required')) {
        radio1.removeAttribute('is-required');
      } else {
        radio1.setAttribute('is-required', 'true');
      }
      console.log((await radio1.getValidity()).valid);
      console.log(await radio1.checkValidity());
    });
  </script>

  <p>Font / Alignment</p>
    <div style="display: inline-flex; justify-content: center; align-items: center; gap: 5px;">
      <ods-radio input-id="font1" value="font1"></ods-radio>
      <label for="font1">Font1</label>
    </div>
    <br>
    <div style="display: inline-flex; justify-content: center; align-items: center; gap: 5px;">
      <ods-radio input-id="font2" value="font2"></ods-radio>
      <label for="font2" style="font-size: 2rem;">Font2</label>
    </div>
    <br>
    <div style="display: inline-flex; justify-content: center; align-items: center; gap: 5px;">
      <ods-radio input-id="font3" value="font3"></ods-radio>
      <label for="font3" style="font-size: 3rem;">Font3</label>
    </div>
</body>
</html>
