@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-molecules {
  .tree-view-node-item {
    display: flex;
    gap: var(--ods-tree-view-node-row-gap) var(--ods-tree-view-node-column-gap);
    align-items: center;
    border-radius: var(--ods-tree-view-node-border-radius);
    padding: var(--ods-tree-view-node-padding-vertical) var(--ods-tree-view-node-padding-horizontal);

    &:hover {
      background-color: var(--ods-theme-input-option-background-color-hover);
      cursor: pointer;
    }

    &:has(.tree-view-node-item__checkbox[data-state="checked"]),
    &:has(.tree-view-node-item__checkbox[data-state="indeterminate"]) {
      background-color: var(--ods-theme-input-option-background-color-selected);

      &:not([data-disabled]):hover {
        background-color: var(--ods-theme-input-option-background-color-selected-hover);
      }
    }

    &[data-disabled="true"] {
      @include state.ods-is-disabled();

      background-color: transparent;
    }

    &[data-selected]:not(:has(.tree-view-node-item__checkbox)) {
      background-color: var(--ods-theme-input-option-background-color-selected);

      &:not([data-disabled]):hover {
        background-color: var(--ods-theme-input-option-background-color-selected-hover);
      }
    }

    &[data-focus]:focus-visible {
      @include focus.ods-focus();

      position: relative;
      z-index: 2;
      background-color: var(--ods-theme-input-option-background-color-hover);
    }

    &__checkbox {
      display: flex;
      gap: var(--ods-tree-view-node-row-gap) var(--ods-tree-view-node-column-gap);
      width: 100%;
    }
  }
}
