@use '../../../../../style/input';

:host(.ods-textarea) {
  display: inline-block;
}

.ods-textarea {
  &__textarea {
    $textarea: &;

    @include input.ods-input();

    height: auto;
    resize: none;

    &:not(#{$textarea}--error, :disabled, :read-only) {
      &:focus {
        border-color: var(--ods-color-form-element-border-focus-default);
      }

      &:hover {
        border-color: var(--ods-color-form-element-border-hover-default);
      }
    }

    &--error {
      @include input.ods-input-error();
    }

    &--resizable {
      resize: both;
    }
  }
}
