@use '../../../../../style/link';
@use '../../../../../style/state';
@use '../../../../../style/font';

.ods-link {
  &__link {
    $current: &;

    @include link.ods-link();

    &:not(&#{$current}--disabled) {
      &#{$current}--primary {
        @include link.ods-link-color('primary');
      }
    }

    &--disabled {
      @include state.ods-is-disabled();

      background-color: inherit;

      &:focus-visible,
      &:hover {
        transition: none;
        background-size: 0;
      }
    }

    &__label {
      @include font.ellipsis();
    }

    &__icon {
      display: flex;
    }

    &--icon-left {
      flex-direction: row-reverse;
    }
  }
}
