@use '~@ovhcloud/ods-themes/src/default/variables' as theme;
@use '../../../../../style/link';

.ods-link {
  &__link {
    $current: &;

    @include link.ods-link();

    &:not(&#{$current}--disabled) {
      &#{$current}--primary {
        color: theme.$ods-color-primary-500;

        &:hover {
          color: theme.$ods-color-primary-700;
        }

        &:visited {
          color: theme.$ods-color-primary-800;
        }
      }
    }

    &--disabled {
      opacity: .5;
      cursor: not-allowed;
      color: theme.$ods-color-neutral-400;

      &:focus-visible,
      &:hover {
        transition: none;
        background-size: 0;
      }
    }
  }
}
