.theme-generator-wrapper {
  box-sizing: border-box;
  border: solid var(--ods-border-width-sm) var(--ods-color-primary-500);
  border-radius: var(--ods-border-radius-md);
  overflow: hidden;
  background-color: var(--ods-theme-background-color);
}

.theme-generator {
  background-color: var(--ods-theme-background-color);
}

.theme-generator--fullscreen {
  display: grid;
  grid-template-rows: max-content 1fr;
  position: fixed;
  inset: 0;
  z-index: 90;
  border: 0;
  height: 100vh;
}

.theme-generator__menu {
  display: flex;
  flex-flow: row;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid var(--ods-border-width-sm) var(--ods-color-primary-500);
  padding: 0 8px;
}

.theme-generator__menu__left,
.theme-generator__menu__right {
  display: flex;
  gap: 8px;
  align-items: center;
}

.theme-generator__container {
  overflow: hidden;
  min-height: 50vh;
  resize: vertical;
}

.theme-generator__container__resize {
  padding: 0;
}

.theme-generator__container__resize--horizontal {
  margin: 16px 2px;
  width: 4px;
  min-width: auto;
}

.theme-generator__container__resize--vertical {
  margin: 2px 16px;
  height: 4px;
  min-height: auto;
}
