@layer ods-atoms {
  .radio {
    display: flex;
    column-gap: var(--ods-semantic-size-space-gap-inline);
    align-items: center;
    width: max-content;
    cursor: pointer;

    &[data-disabled] {
      cursor: not-allowed;
    }
  }
}
