@layer ods-organisms {
  .phone-number-control {
    flex: 1 1 auto;
    width: auto;
    min-inline-size: 0;
    font-weight: inherit;

    &--adjoined {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
