@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-tab-bar-item.mixin.scss';

@mixin osds-tab-item-theme-color() {
    .tabs-tab {
        div {
            color: var(--ods-color-primary-500);
        }
        div:hover {
            border-bottom-color: var(--ods-color-primary-700);
            color:var(--ods-color-primary-700);
        }
    }
    [disabled] {
        @include osds-tab-bar-item-on-selected-host() {
            .tabs-tab {
                div {
                    color: rgba(0,0,0,.25);;
                }
            }    
        }
    }
    [contrasted] {
        @include osds-tab-bar-item-on-selected-host() {
            .tabs-tab {
                div {
                    color: var(--ods-color-primary-100);
                }
                div:hover {
                    border-bottom-color: var(--ods-color-primary-100);
                }
            }    
        }
    }
    [contrasted][disabled] {
        @include osds-tab-bar-item-on-selected-host() {
            .tabs-tab {
                div {
                    color: rgba(0,0,0,.25);
                }
            }    
        }
    }    
    [contrasted][active] {
        @include osds-tab-bar-item-on-selected-host() {
            .tabs-tab {
                div {
                    border-bottom-color: var(--ods-color-primary-100);
                }
                div:hover {
                    border-bottom-color: var(--ods-color-primary-100);
                }
            }    
        }
    }    
}