@import '~@ovhcloud/ods-theming/ods-theme';
@import '../osds-tabs/styles/osds-tabs.typography.scss';
@import './osds-tab-bar-item.mixin.scss';
@import '~@ovhcloud/ods-theming/ods-theme';
@import '../osds-tab-bar-item/osds-tab-bar-item.color.scss';

:host {
  .tabs-tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    div {
      padding: 18px 16px 8px 16px;
      margin: 0 0.5rem;
    }

    div:hover {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}

:host([disabled]) {
  .tabs-tab {
    div {
      cursor: not-allowed;        
    }
    div:hover {
      border-bottom: none; 
    }
  }
}  

:host([active]) {
  .tabs-tab {
    div {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    div:hover {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}  

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-tabs-theme-typography();
  @include osds-tab-item-theme-color();
}
