@import '~@ovhcloud/ods-theming/ods-theme';
@import '../osds-tabs/styles/osds-tabs.typography.scss';
@import '../osds-tabs/styles/osds-tabs.color.scss';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

.tabs-tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    &.tabs-tab-contrasted {

      div:hover {
        border-bottom: 2px solid var(--ods-color-primary-100);
      }

      &.tabs-tab-active div {
        border-bottom: 2px solid white;
      }

      &.tabs-tab-active div:hover {
        border-bottom: 2px solid var(--ods-color-primary-100);
      }

      &.tabs-tab-disabled div {
        cursor: not-allowed;
      }
    }

    div {
      padding: 18px 1rem 5px 1rem;
      margin: 0 0.5rem;
    }

    div:hover {
      border-bottom: 2px solid var(--ods-color-primary-700);
    }

    &.tabs-tab-disabled div {
      cursor: not-allowed;
    }

    &.tabs-tab-disabled div:hover {
      border-bottom: none;
    }

    &.tabs-tab-active div {
      border-bottom: 2px solid var(--ods-color-primary-500);
    }

    &.tabs-tab-active div:hover {
      border-bottom: 2px solid var(--ods-color-primary-700);
    }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-tabs-theme-typography();
  @include osds-tabs-theme-color();
}
