.tabs-tab {
    //background: lightcyan;
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    div {
      padding: 18px 1rem 5px 1rem;
      color: #0050D7;
      //background: pink;
    }

    &.tabs-tab-disabled div {
      color: rgba(0,0,0,.25);
      cursor: not-allowed;
    }

    &.tabs-tab-active div {
      //background: red;
      color: #000E9C;
      border-bottom: 3px solid #000E9C;
      font-weight: 600;
    }
  }