:host(.ods-quantity) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ods-quantity {
  &__button {
    &::part(button) {
      position: inherit;

      &:focus-visible {
        position: relative;
      }
    }

    &:first-of-type::part(button) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type::part(button) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__input {
    position: inherit;
    width: inherit;

    &::part(input) {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      padding: 4px;
      width: 50px;
      text-align: center;

      &:focus-visible {
        position: relative;
      }
    }
  }
}
