@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';
@import "~tabulator-tables/dist/css/tabulator.min.css";

@mixin ods-input-checkbox($cell: 0) {
    input[type="checkbox"] {
        appearance: none;
        margin: 0;
        border: solid 2px var(--ods-color-primary-500);
        border-radius: var(--ods-size-border-radius-01);
        cursor: pointer;
        width: 16px;
        height: 16px;

        @if $cell == 1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            mask-position: center;
            mask-repeat: no-repeat;
        }

        &:checked::before {
            background-color: var(--ods-color-primary-500);
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke-linecap='round' stroke-width='2' d='M4 13l5 5M20 7L9 18'/%3E%3Cpath fill='%23000000' d='M19.293 6.293a1 1 0 011.414 1.414l-11 11a.995.995 0 01-.53.277l-.118.014h-.118a.996.996 0 01-.648-.29l-5-5a1 1 0 011.414-1.415L9 16.585z'/%3E%3C/g%3E%3C/svg%3E");
        }

        &:indeterminate::before {
            background-color: var(--ods-color-primary-500);
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M20 11a1 1 0 010 2H4a1 1 0 010-2h16z'/%3E%3C/svg%3E");
        }
    }
}

$ods-border-datagrid: solid 1px var(--ods-color-blue-200);

:host {
    height: 100%;
}

.tabulator {
    box-sizing: border-box;
    border: none;
    background-color: #FFF;
    position: initial;

    .tabulator-tableholder {
        position: initial;

        .tabulator-table {
            position: initial;
        }

        .tabulator-row {
            display: --webkit-inline-flex;
            background-color: #FFF;
            cursor: default;
            position: initial;

            &:hover {
                background-color: #FFF;
            }

            &:last-child {
                border-bottom: $ods-border-datagrid;
            }
        }
    
        .tabulator-cell {
            box-sizing: border-box;
            border-top: $ods-border-datagrid;
            border-right: none;

            &:not(.ods-selectable__input-checkbox) {
                position: initial;
            }

            &:first-child {
                border-left: $ods-border-datagrid;
            }

            &:last-of-type {
                border-right: $ods-border-datagrid;
            }

            &.ods-selectable__input-checkbox {
                @include ods-input-checkbox(1);

                padding-left: 9px;
            }
        }

        .tabulator-placeholder {
            &[tabulator-render-mode="virtual"] {
                min-height: auto;
            }

            .tabulator-placeholder-contents {
                border: $ods-border-datagrid;
                line-height: var(--ods-typography-body-500-line-height);
                letter-spacing: var(--ods-typography-body-500-letter-spacing);
                color: var(--ods-color-text-500);
                font-family: var(--ods-typography-body-500-font-family);
                font-size: var(--ods-typography-body-500-font-size);
                font-weight: var(--ods-typography-body-500-font-weight);
                font-style: var(--ods-typography-body-500-font-style);
            }
        }
    }

    .tabulator-header {
        border-bottom: none;
        background-color: #FFF;
        height: unset !important;
        position: initial;

        .tabulator-header-contents {
            position: initial;
        }

        .tabulator-headers {
            height: unset !important;

            .tabulator-col {
                justify-content: center;
                border: none;
                background-color: #FFF;
                
                &.ods-hidabled-columns {
                    position: initial;

                    .tabulator-col-content {
                        position: initial;
                    }

                    .tabulator-col-title-holder {
                        position: initial;
                    }

                    osds-popover {
                        position: initial;
                    }
                }

                &.tabulator-sortable {
                    &:hover {
                        background-color: #FFF;
                    }

                    & .tabulator-col-title {
                        padding-right: 10px;
                    }
                }

                .tabulator-col-content {
                    .tabulator-col-title-holder {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .tabulator-col-title {
                            width: unset;
                        }

                        .tabulator-col-sorter {
                            position: inherit;
                        }
                    }
                }
                
                &.ods-selectable__input-checkbox {
                    @include ods-input-checkbox;

                    .tabulator-col-content {
                        margin-top: 5px;
                        margin-left: 1px;
                        padding: 0;
                    }
                }

                &[aria-sort="descending"] {
                    .tabulator-col-content {
                        .tabulator-col-title-holder {
                            .tabulator-col-sorter {
                                top: 2px;
                            }
                        }
                    }
                }

                &[aria-sort="ascending"], &[aria-sort="none"] {
                    .tabulator-col-content {
                        .tabulator-col-title-holder {
                            .tabulator-col-sorter {
                                top: -7px;
                            }
                        }
                    }
                }

                
            }
        }
    }
}
