@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';
@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import '~@ovhcloud/ods-common-theming/size/ods-component-size';

@mixin osds-icon-host() {
  :host(&) {
    @content;
  }
}

:host(.ods-icon) {
  display: inline-block;
  vertical-align: var(--ods-icon-vertical-align);
  mask: center/contain no-repeat;
  mask-image: var(--icon-mask-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'/%3E"));
}

/** sizes */
@include ods-foreach-theme-size(icon) using ($sizes) {
  @include osds-icon-host {
    width: ods-get-size-property($sizes, width);
    height: ods-get-size-property($sizes, height);
  }
}


@include ods-one-hue-foreach-theme-color('500') using ($color) {
  @include osds-icon-host {
    background-color: $color;
  }
}

.ods-icon {
  &--contrasted {
    @include ods-and-one-hue-foreach-theme-color('500-contrasted') using ($color) {
      @include osds-icon-host {
        background-color: $color;
      }
    }
  }
  
  &--hoverable {
    :host(&[color='default']) {
      background-color: currentcolor;
    }
  
    :host(&:not([color='default'])){
      @include ods-and-one-hue-foreach-theme-color('700') using ($color) {
        :host(&:hover) {
          background-color: $color;
        }
      }
    }
  }
}

