@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-control {
    $control: &;

    box-sizing: border-box;
    display: inline-flex;
    column-gap: var(--ods-theme-column-gap);
    align-items: center;
    justify-content: space-between;
    border: var(--ods-theme-input-border-width) solid var(--ods-theme-input-border-color);
    border-radius: var(--ods-theme-input-border-radius);
    background-color: var(--ods-theme-background-color);
    cursor: pointer;
    padding: var(--ods-theme-input-padding-vertical) var(--ods-theme-input-padding-horizontal);
    width: 100%;
    min-height: input.$ods-input-field-height;
    color: var(--ods-theme-input-text-color);
    font-family: inherit;
    font-size: 1rem;

    &:focus {
      @include focus.ods-focus();

      border-color: var(--ods-theme-input-border-color-hover);
    }

    &:not([data-disabled], [data-readonly]):hover {
      border-color: var(--ods-theme-input-border-color-hover);
    }

    &:not([data-disabled])[data-readonly] {
      @include state.ods-is-readonly();

      cursor: default;
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-placeholder-shown] {
      color: input.$ods-input-placeholder-color;
    }

    &[data-state="open"] {
      border-color: var(--ods-theme-input-border-color-hover);

      &[data-empty="false"] {
        &[data-placement="bottom-start"] {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &[data-placement="top-start"] {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &#{$control}[data-invalid] {
      @include input.ods-input-error();
    }

    &__icon {
      color: var(--ods-theme-primary-color);
      font-size: 1.25rem;

      &[data-state="open"] {
        transform: rotate(180deg);
      }

      &--disabled {
        color: var(--ods-theme-text-color-disabled);
      }
    }
  }
}
