@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-control {
    $control: &;

    box-sizing: border-box;
    display: inline-flex;
    column-gap: 8px; // TODO spacing
    align-items: center;
    justify-content: space-between;
    border: var(--ods-border-width-sm) solid var(--ods-color-form-element-border-default); // TODO input token
    border-radius: var(--ods-border-radius-sm); // TODO input token
    background-color: #fff; // ods-theme-bg
    cursor: pointer;
    padding: 0 8px; // TODO spacing
    width: 100%;
    min-height: input.$ods-input-field-height;
    color: var(--ods-color-text); // TODO new token
    font-family: inherit;
    font-size: 1rem;

    &:focus {
      @include focus.ods-focus();

      border-color: var(--ods-color-form-element-border-hover-default); // TODO input token
    }

    &:not([data-disabled], [data-readonly]):hover {
      border-color: var(--ods-color-form-element-border-hover-default); // TODO input token
    }

    &:not([data-disabled])[data-readonly] {
      @include state.ods-is-readonly();

      cursor: default;
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-placeholder-shown] {
      color: input.$ods-input-placeholder-color;
    }

    &[data-state="open"] {
      border-color: var(--ods-color-form-element-border-hover-default); // TODO input token

      &[data-empty="false"] {
        &[data-placement="bottom-start"] {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &[data-placement="top-start"] {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &#{$control}[data-invalid] {
      @include input.ods-input-error();
    }

    &__icon {
      color: var(--ods-color-primary-500); // --ods-theme-text-color-ghost
      font-size: 1.25rem;

      &[data-state="open"] {
        transform: rotate(180deg);
      }

      &--disabled {
        color: var(--ods-color-neutral-600); // TODO should be the same as --ods-theme-text-color-ghost-disabled (which is neutral-500)
      }
    }
  }
}
