@import 'styles/osds-cart-footer-item.mixins';
@import 'styles/osds-cart-footer-item.color';
@import 'styles/osds-cart-footer-item.size';
@import 'styles/osds-cart-footer-item.typography';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  @include osds-cart-footer-item-on-main-content {
    display: grid;
    grid-template:
      "cell-subhead-title cell-price-extra" 1fr "cell-subhead-title cell-price-extra" 1fr / 1fr auto;
    gap: 0 0;
  }
}

slot {
  display: grid;
}

.cell-subhead-title {
  display: grid;
  grid-area: cell-subhead-title;
  grid-template-areas:
    "subhead"
    "title";
  grid-template-columns: 1fr;
  align-content: center;
}

.cell-price-extra {
  display: grid;
  grid-area: cell-price-extra;
  grid-template-areas:
    "price"
    "extra";
  grid-template-columns: 1fr;
  align-content: center;
}

slot[name="subhead"] {
  grid-area: subhead;
  align-content: center;
}

slot[name="title"] {
  grid-area: title;
}

slot[name="price"] {
  grid-area: price;
  justify-content: right;
}

slot[name="extra"] {
  grid-area: extra;
  justify-content: right;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-cart-footer-item-theme-color;
  @include osds-cart-footer-item-theme-size;
  @include osds-cart-footer-item-theme-typography;
}
