<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-clipboard</title>

  <script type='module' src='/build/ods-clipboard.esm.js'></script>
  <script nomodule src='/build/ods-clipboard.js'></script>
  <link rel="stylesheet" href="/build/ods-clipboard.css">
</head>

<body>
  <p>Default</p>
  <ods-clipboard>
  </ods-clipboard>

  <p>Default with label</p>
  <ods-form-field>
    <label for="form-field-clipboard" slot="label">
      Name
    </label>

    <ods-clipboard id="form-field-clipboard">
    </ods-clipboard>
  </ods-form-field>

  <label for="clipboard-default-label">Some label</label>
  <ods-clipboard id="clipboard-default-label">
  </ods-clipboard>

  <p>Custom host id</p>
  <ods-clipboard id="my-clipboard">
  </ods-clipboard>

  <p>Disabled</p>
  <ods-clipboard id="disabled-clipboard" value="Disabled" is-disabled>
  </ods-clipboard>
  <button onclick="toggleDisable()">Toggle disable state</button>

  <p>Masked</p>
  <ods-clipboard id="masked-clipboard" value="Masked" is-masked>
  </ods-clipboard>
  <script>
    const disabledClipboard = document.querySelector('#disabled-clipboard');

    function toggleDisable() {
      if (disabledClipboard.getAttribute('is-disabled') !== null) {
        disabledClipboard.removeAttribute('is-disabled')
      } else {
        disabledClipboard.setAttribute('is-disabled', '');
      }
    }
  </script>

  <p>Custom labels</p>
  <ods-clipboard label-copy="Copier le contenu" label-copy-success="Copié !">
  </ods-clipboard>

  <p>Value</p>
  <ods-clipboard value="Some content to copy Some content to copy Some content to copy Some content to copy">
  </ods-clipboard>

  <p>Custom tooltip style</p>
  <ods-clipboard class="custom-tooltip" value="Some content to copy">
  </ods-clipboard>
  <style>
    .custom-tooltip::part(tooltip) {
      width: 300px;
    }
  </style>

  <p>Event</p>
  <ods-clipboard id="event-clipboard" value="Event copied content">
  </ods-clipboard>
  <script>
    const eventClipboard = document.querySelector('#event-clipboard');

    eventClipboard.addEventListener('odsCopy', (e) => {
      console.log('odsCopy event received');
      console.log(e);
    });
  </script>

  <p>Form</p>

  <form id="form">
    <ods-form-field>
      <label for="clipboard-form" slot="label">
        Name
      </label>

      <ods-clipboard id="clipboard-form" value="test">
      </ods-clipboard>
    </ods-form-field>

    <label for="input-form-last-name">Last name:</label>
    <ods-input id="input-form-last-name"
               is-required
               name="lastName">
    </ods-input>

    <input type="text" name="natif-input" required>

    <button id="clipboard-form-reset-button" type="reset">Reset</button>
    <button id="clipboard-form-submit-button" type="submit">Submit</button>
  </form>
  <script>
    const formElement = document.querySelector('#form');

    formElement.addEventListener('submit', (e) => {
      const formData = new FormData(formElement);
      console.log('formData', formData);
    });
  </script>
</body>
</html>
