@layer ods-atoms {
  .checkbox {
    display: flex;
    column-gap: var(--ods-theme-column-gap);
    align-items: center;
    cursor: pointer;
    width: max-content;

    &[data-disabled] {
      cursor: not-allowed;
    }
  }
}
