@use 'sass:math';
@use '../../../../../style/font';
@use '../../../../../style/state';
@use '../ods-file-upload/ods-file-upload' as file-upload;

:host(.ods-file-upload-item) {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 8px;
  align-items: flex-start;
  padding: 0 file-upload.$ods-file-upload-padding;
  color: var(--ods-color-text);
}

:host(.ods-file-upload-item--disabled) {
  @include state.ods-is-disabled();

  .ods-file-upload-item__icon {
    color: state.$ods-state-is-disabled-text-color;
  }
}

.ods-file-upload-item {
  &__icon {
    margin-top: math.div(file-upload.$ods-file-upload-spacing, 2);
    color: var(--ods-color-primary-500);
    font-size: font.px-to-rem(24px);
  }

  &__file {
    display: flex;
    flex-flow: column;
    row-gap: math.div(file-upload.$ods-file-upload-spacing, 2);

    &__info {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      column-gap: file-upload.$ods-file-upload-spacing;
      align-items: baseline;

      &__name {
        @include font.ellipsis();
      }

      &__remove::part(button),
      &__size {
        font-size: font.px-to-rem(12px);
      }
    }

    &__error {
      color: var(--ods-color-critical-500);
      font-size: font.px-to-rem(12px);
      font-weight: 600;
    }

    &__progress {
      display: grid;
      grid-template-columns: 1fr max-content;
      column-gap: file-upload.$ods-file-upload-spacing;
      align-items: center;
      font-size: font.px-to-rem(14px);
      font-weight: 600;

      &__bar {
        &::part(progress) {
          width: 100%;
        }
      }
    }

    &__success {
      color: var(--ods-color-success-500);
      font-size: font.px-to-rem(12px);
      font-weight: 600;
    }
  }
}
