@layer ods-molecules {
  .tree-view-node {
    --ods-tree-view-node-border-radius: calc(var(--ods-semantic-size-radius-container) / 2);
    --ods-tree-view-node-column-gap: var(--ods-semantic-size-space-gap-inline);
    --ods-tree-view-node-row-gap: var(--ods-semantic-size-space-gap-block);
    --ods-tree-view-node-padding-horizontal: var(--ods-semantic-size-space-inset-inline);
    --ods-tree-view-node-padding-vertical: calc(var(--ods-semantic-size-space-inset-inline) / 2);
  }
}
