@use 'sass:math';

/**
 * Transform a px value to its rem equivalent
 * ex: px-to-rem(14px) => return 0.875rem
 */
@function px-to-rem($size, $font-size: 16px) {
  @return math.div($size, $font-size) * 1rem;
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
