$ods-state-is-disabled-background-color: var(--ods-color-background-disabled-default);
$ods-state-is-disabled-border-color: var(--ods-color-border-disabled-default);
$ods-state-is-disabled-text-color: var(--ods-color-text-disabled-default);
$ods-state-is-readonly-background-color: var(--ods-color-background-readonly-default);
$ods-state-is-readonly-border-color: var(--ods-color-border-readonly-default);

@mixin ods-is-disabled() {
  border-color: $ods-state-is-disabled-border-color;
  background-color: $ods-state-is-disabled-background-color;
  cursor: not-allowed;
  color : $ods-state-is-disabled-text-color;
}

@mixin ods-is-readonly() {
  border-color: $ods-state-is-readonly-border-color;
  background-color: $ods-state-is-readonly-background-color;
}
