$ods-badge-border-radius: calc(var(--ods-theme-border-radius) / 2);
$ods-badge-height-sm: 20px;
$ods-badge-height-md: 24px;
$ods-badge-height-lg: 28px;
$ods-badge-padding-horizontal-sm: calc(var(--ods-theme-padding-horizontal) / 2);
$ods-badge-padding-vertical-sm: calc(var(--ods-theme-padding-vertical) / 2);
$ods-badge-padding-horizontal-md: calc(var(--ods-theme-padding-horizontal) / 2);
$ods-badge-padding-vertical-md: calc(var(--ods-theme-padding-vertical) / 2);
$ods-badge-padding-horizontal-lg: calc(var(--ods-theme-padding-horizontal) * 0.75);
$ods-badge-padding-vertical-lg: calc(var(--ods-theme-padding-vertical) * 0.75);

@mixin ods-badge() {
  --ods-badge-border-radius: #{$ods-badge-border-radius};
  --ods-badge-padding-horizontal-sm: #{$ods-badge-padding-horizontal-sm};
  --ods-badge-padding-vertical-sm: #{$ods-badge-padding-vertical-sm};
  --ods-badge-padding-horizontal-md: #{$ods-badge-padding-horizontal-md};
  --ods-badge-padding-vertical-md: #{$ods-badge-padding-vertical-md};
  --ods-badge-padding-horizontal-lg: #{$ods-badge-padding-horizontal-lg};
  --ods-badge-padding-vertical-lg: #{$ods-badge-padding-vertical-lg};
  --ods-badge-background-color-alpha: var(--ods-color-alpha);
  --ods-badge-text-color-alpha: var(--ods-color-primary-900);
  --ods-badge-background-color-beta: var(--ods-color-beta);
  --ods-badge-text-color-beta: var(--ods-color-primary-900);
  --ods-badge-background-color-critical: var(--ods-color-critical-100);
  --ods-badge-text-color-critical: var(--ods-color-critical-900);
  --ods-badge-background-color-information: var(--ods-color-information-100);
  --ods-badge-text-color-information: var(--ods-color-information-900);
  --ods-badge-background-color-neutral: var(--ods-color-neutral-100);
  --ods-badge-text-color-neutral: var(--ods-color-neutral-700);
  --ods-badge-background-color-new: var(--ods-color-new);
  --ods-badge-text-color-new: var(--ods-color-primary-900);
  --ods-badge-background-color-primary: var(--ods-color-primary-500);
  --ods-badge-text-color-primary: var(--ods-color-neutral-000);
  --ods-badge-background-color-promotion: var(--ods-color-promotion);
  --ods-badge-text-color-promotion: var(--ods-color-neutral-000);
  --ods-badge-background-color-success: var(--ods-color-success-100);
  --ods-badge-text-color-success: var(--ods-color-success-900);
  --ods-badge-background-color-warning: var(--ods-color-warning-100);
  --ods-badge-text-color-warning: var(--ods-color-warning-900);

  box-sizing: border-box;
  display: inline-flex;
  flex-flow: row;
  gap: 0.25rem;
  align-items: center;
  border-radius: var(--ods-badge-border-radius);
}

@mixin ods-badge-color($color) {
  @if $color == 'alpha' {
    background-color: var(--ods-badge-background-color-alpha);
    color: var(--ods-badge-text-color-alpha);
  } @else if $color == 'beta' {
    background-color: var(--ods-badge-background-color-beta);
    color: var(--ods-badge-text-color-beta);
  } @else if $color == 'critical' {
    background-color: var(--ods-badge-background-color-critical);
    color: var(--ods-badge-text-color-critical);
  } @else if $color == 'information' {
    background-color: var(--ods-badge-background-color-information);
    color: var(--ods-badge-text-color-information);
  } @else if $color == 'neutral' {
    background-color: var(--ods-badge-background-color-neutral);
    color: var(--ods-badge-text-color-neutral);
  } @else if $color == 'new' {
    background-color: var(--ods-badge-background-color-new);
    color: var(--ods-badge-text-color-new);
  } @else if $color == 'primary' {
    background-color: var(--ods-badge-background-color-primary);
    color: var(--ods-badge-text-color-primary);
  } @else if $color == 'promotion' {
    background-color: var(--ods-badge-background-color-promotion);
    color: var(--ods-badge-text-color-promotion);
  } @else if $color == 'success' {
    background-color: var(--ods-badge-background-color-success);
    color: var(--ods-badge-text-color-success);
  } @else if $color == 'warning' {
    background-color: var(--ods-badge-background-color-warning);
    color: var(--ods-badge-text-color-warning);
  }
}

@mixin ods-badge-size($size) {
  @if $size == 'sm' {
    padding: var(--ods-badge-padding-vertical-sm) var(--ods-badge-padding-horizontal-sm);
    min-height: $ods-badge-height-sm;
    line-height: 1;
    font-size: 0.75rem;
  } @else if $size == 'md' {
    padding: var(--ods-badge-padding-vertical-md) var(--ods-badge-padding-horizontal-md);
    min-height: $ods-badge-height-md;
    line-height: 1;
    font-size: 0.875rem;
  } @else if $size == 'lg' {
    padding: var(--ods-badge-padding-vertical-lg) var(--ods-badge-padding-horizontal-lg);
    min-height: $ods-badge-height-lg;
    line-height: 1;
    font-size: 1rem;
  }
}
