$ods-breakpoint-sub-mobile: 360px;
$ods-breakpoint-mobile: 576px;
$ods-breakpoint-tablet: 768px;
$ods-breakpoint-desktop: 992px;
$ods-breakpoint-large-screen: 1200px;
$ods-breakpoint-widescreen: 1400px;
