@use './focus';
@use './state';

$ods-button-border-radius-xs: var(--ods-border-radius-xs);
$ods-button-border-radius-sm: var(--ods-border-radius-sm);
$ods-button-border-radius-md: var(--ods-border-radius-md);
$ods-button-border-radius-width: var(--ods-border-width-sm);
$ods-button-size-xs: 24px;
$ods-button-size-sm: 32px;
$ods-button-size-md: 40px;

@mixin ods-button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $ods-button-border-radius-md;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;

  &:disabled {
    @include state.ods-is-disabled();
  }

  &:focus-visible {
    @include focus.ods-focus();
  }
}

@mixin ods-button-size($size) {
  @if $size == 'xs' {
    column-gap: 6px;
    border-radius: $ods-button-border-radius-xs;
    padding: 5px;
    min-width: $ods-button-size-xs;
    min-height: $ods-button-size-xs;
    line-height: 1;
    font-size: 0.75rem;
  } @else if $size == 'sm' {
    column-gap: 6px;
    border-radius: $ods-button-border-radius-sm;
    padding: 5px;
    min-width: $ods-button-size-sm;
    min-height: $ods-button-size-sm;
    line-height: 1.15;
  } @else if $size == 'md' {
    column-gap: 8px;
    padding: 7px;
    min-width: $ods-button-size-md;
    min-height: $ods-button-size-md;
    line-height: 1.15;
  }
}

@mixin ods-button-variant-default($color) {
  border-width: $ods-button-border-radius-width;
  border-style: solid;

  &:not(:disabled) {
    @if $color == 'critical' {
      border-color: var(--ods-color-critical-500);
      background-color: var(--ods-color-critical-500);
      color: var(--ods-color-primary-000);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-critical-700);
        background-color: var(--ods-color-critical-700);
      }

      &:active {
        border-color: var(--ods-color-critical-800);
        background-color: var(--ods-color-critical-800);
      }
    } @else if $color == 'information' {
      border-color: var(--ods-color-information-100);
      background-color: var(--ods-color-information-100);
      color: var(--ods-color-information-700);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-information-200);
        background-color: var(--ods-color-information-200);
      }

      &:active {
        border-color: var(--ods-color-information-300);
        background-color: var(--ods-color-information-300);
      }
    } @else if $color == 'neutral' {
      border-color: var(--ods-color-neutral-600);
      background-color: var(--ods-color-neutral-600);
      color: var(--ods-color-neutral-000);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-neutral-700);
        background-color: var(--ods-color-neutral-700);
      }

      &:active {
        border-color: var(--ods-color-neutral-800);
        background-color: var(--ods-color-neutral-800);
      }
    } @else if $color == 'primary' {
      border-color: var(--ods-color-primary-500);
      background-color: var(--ods-color-primary-500);
      color: var(--ods-color-primary-000);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-primary-700);
        background-color: var(--ods-color-primary-700);
      }

      &:active {
        border-color: var(--ods-color-primary-800);
        background-color: var(--ods-color-primary-800);
      }
    } @else if $color == 'success' {
      border-color: var(--ods-color-success-500);
      background-color: var(--ods-color-success-500);
      color: var(--ods-color-success-000);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-success-700);
        background-color: var(--ods-color-success-700);
      }

      &:active {
        border-color: var(--ods-color-success-800);
        background-color: var(--ods-color-success-800);
      }
    } @else if $color == 'warning' {
      border-color: var(--ods-color-warning-400);
      background-color: var(--ods-color-warning-400);
      color: var(--ods-color-warning-900);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-warning-500);
        background-color: var(--ods-color-warning-500);
      }

      &:active {
        border-color: var(--ods-color-warning-600);
        background-color: var(--ods-color-warning-600);
      }
    }
  }
}

@mixin ods-button-variant-ghost($color) {
  border: $ods-button-border-radius-width solid transparent;

  &:disabled {
    background-color: inherit;
  }

  &:not(:disabled) {
    @if $color == 'critical' {
      background-color: inherit;
      color: var(--ods-color-critical-500);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-critical-100);
        color: var(--ods-color-critical-700);
      }

      &:active {
        background-color: var(--ods-color-critical-200);
        color: var(--ods-color-critical-800);
      }
    } @else if $color == 'information' {
      background-color: inherit;
      color: var(--ods-color-information-500);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-information-100);
        color: var(--ods-color-information-700);
      }

      &:active {
        background-color: var(--ods-color-information-200);
        color: var(--ods-color-information-800);
      }
    } @else if $color == 'neutral' {
      background-color: inherit;
      color: var(--ods-color-neutral-600);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-neutral-100);
        color: var(--ods-color-neutral-700);
      }

      &:active {
        background-color: var(--ods-color-neutral-200);
        color: var(--ods-color-neutral-800);
      }
    } @else if $color == 'primary' {
      background-color: inherit;
      color: var(--ods-color-primary-500);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-primary-100);
        color: var(--ods-color-primary-700);
      }

      &:active {
        background-color: var(--ods-color-primary-200);
        color: var(--ods-color-primary-800);
      }
    } @else if $color == 'success' {
      background-color: inherit;
      color: var(--ods-color-success-500);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-success-100);
        color: var(--ods-color-success-700);
      }

      &:active {
        background-color: var(--ods-color-success-200);
        color: var(--ods-color-success-800);
      }
    } @else if $color == 'warning' {
      background-color: inherit;
      color: var(--ods-color-warning-700);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-color-warning-100);
        color: var(--ods-color-warning-800);
      }

      &:active {
        background-color: var(--ods-color-warning-200);
        color: var(--ods-color-warning-900);
      }
    }
  }
}

@mixin ods-button-variant-outline($color) {
  border-width: $ods-button-border-radius-width;
  border-style: solid;

  &:not(:disabled) {
    @if $color == 'critical' {
      border-color: var(--ods-color-critical-500);
      background-color: var(--ods-color-primary-000);
      color: var(--ods-color-critical-500);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-critical-700);
        background-color: var(--ods-color-critical-100);
        color: var(--ods-color-critical-700);
      }

      &:active {
        border-color: var(--ods-color-critical-800);
        background-color: var(--ods-color-critical-200);
        color: var(--ods-color-critical-800);
      }
    } @else if $color == 'information' {
      border-color: var(--ods-color-information-500);
      background-color: var(--ods-color-information-000);
      color: var(--ods-color-information-500);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-information-700);
        background-color: var(--ods-color-information-100);
        color: var(--ods-color-information-700);
      }

      &:active {
        border-color: var(--ods-color-information-800);
        background-color: var(--ods-color-information-200);
        color: var(--ods-color-information-800);
      }
    } @else if $color == 'neutral' {
      border-color: var(--ods-color-neutral-600);
      background-color: var(--ods-color-neutral-000);
      color: var(--ods-color-neutral-600);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-neutral-700);
        background-color: var(--ods-color-neutral-100);
        color: var(--ods-color-neutral-700);
      }

      &:active {
        border-color: var(--ods-color-neutral-800);
        background-color: var(--ods-color-neutral-200);
        color: var(--ods-color-neutral-800);
      }
    } @else if $color == 'primary' {
      border-color: var(--ods-color-primary-500);
      background-color: var(--ods-color-primary-000);
      color: var(--ods-color-primary-500);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-primary-700);
        background-color: var(--ods-color-primary-100);
        color: var(--ods-color-primary-700);
      }

      &:active {
        border-color: var(--ods-color-primary-800);
        background-color: var(--ods-color-primary-200);
        color: var(--ods-color-primary-800);
      }
    } @else if $color == 'success' {
      border-color: var(--ods-color-success-500);
      background-color: var(--ods-color-success-000);
      color: var(--ods-color-success-500);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-success-700);
        background-color: var(--ods-color-success-100);
        color: var(--ods-color-success-700);
      }

      &:active {
        border-color: var(--ods-color-success-800);
        background-color: var(--ods-color-success-200);
        color: var(--ods-color-success-800);
      }
    } @else if $color == 'warning' {
      border-color: var(--ods-color-warning-700);
      background-color: var(--ods-color-warning-000);
      color: var(--ods-color-warning-700);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-color-warning-800);
        background-color: var(--ods-color-warning-100);
        color: var(--ods-color-warning-800);
      }

      &:active {
        border-color: var(--ods-color-warning-900);
        background-color: var(--ods-color-warning-200);
        color: var(--ods-color-warning-900);
      }
    }
  }
}
