@use './focus';
@use './state';

$ods-button-border-radius-xs: calc(var(--ods-theme-border-radius) / 4);
$ods-button-border-radius-sm: calc(var(--ods-theme-border-radius) / 2);
$ods-button-border-radius-md: var(--ods-theme-border-radius);
$ods-button-border-radius-width: var(--ods-theme-border-width);
$ods-button-column-gap-xs: calc(var(--ods-theme-column-gap) * 0.75);
$ods-button-column-gap-sm: calc(var(--ods-theme-column-gap) * 0.75);
$ods-button-column-gap-md: var(--ods-theme-column-gap);
$ods-button-padding-horizontal-xs: calc(var(--ods-theme-padding-horizontal) / 4);
$ods-button-padding-vertical-xs: calc(var(--ods-theme-padding-vertical) / 4);
$ods-button-padding-horizontal-sm: calc(var(--ods-theme-padding-horizontal) / 2);
$ods-button-padding-vertical-sm: calc(var(--ods-theme-padding-vertical) / 2);
$ods-button-padding-horizontal-md: var(--ods-theme-padding-horizontal);
$ods-button-padding-vertical-md: var(--ods-theme-padding-vertical);
$ods-button-size-xs: 24px;
$ods-button-size-sm: 32px;
$ods-button-size-md: 40px;

@mixin ods-button() {
  --ods-button-border-radius-xs: #{$ods-button-border-radius-xs};
  --ods-button-border-radius-sm: #{$ods-button-border-radius-sm};
  --ods-button-border-radius-md: #{$ods-button-border-radius-md};
  --ods-button-border-radius-width: #{$ods-button-border-radius-width};
  --ods-button-column-gap-xs: #{$ods-button-column-gap-xs};
  --ods-button-column-gap-sm: #{$ods-button-column-gap-sm};
  --ods-button-column-gap-md: #{$ods-button-column-gap-md};
  --ods-button-padding-horizontal-xs: #{$ods-button-padding-horizontal-xs};
  --ods-button-padding-vertical-xs: #{$ods-button-padding-vertical-xs};
  --ods-button-padding-horizontal-sm: #{$ods-button-padding-horizontal-sm};
  --ods-button-padding-vertical-sm: #{$ods-button-padding-vertical-sm};
  --ods-button-padding-horizontal-md: #{$ods-button-padding-horizontal-md};
  --ods-button-padding-vertical-md: #{$ods-button-padding-vertical-md};

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;

  &:disabled {
    @include state.ods-is-disabled();
  }

  &:focus-visible {
    @include focus.ods-focus();
  }
}

@mixin ods-button-size($size) {
  @if $size == 'xs' {
    column-gap: var(--ods-button-column-gap-xs);
    border-radius: var(--ods-button-border-radius-xs);
    padding: var(--ods-button-padding-vertical-xs) var(--ods-button-padding-horizontal-xs);
    min-width: $ods-button-size-xs;
    min-height: $ods-button-size-xs;
    line-height: 1;
    font-size: 0.75rem;
  } @else if $size == 'sm' {
    column-gap: var(--ods-button-column-gap-sm);
    border-radius: var(--ods-button-border-radius-sm);
    padding: var(--ods-button-padding-vertical-sm) var(--ods-button-padding-horizontal-sm);
    min-width: $ods-button-size-sm;
    min-height: $ods-button-size-sm;
    line-height: 1.15;
  } @else if $size == 'md' {
    column-gap: var(--ods-button-column-gap-md);
    border-radius: var(--ods-button-border-radius-md);
    padding: var(--ods-button-padding-vertical-md) var(--ods-button-padding-horizontal-md);
    min-width: $ods-button-size-md;
    min-height: $ods-button-size-md;
    line-height: 1.15;
  }
}

@mixin ods-button-variant-default($color) {
  border-width: var(--ods-button-border-radius-width);
  border-style: solid;

  &:not(:disabled) {
    @if $color == 'critical' {
      border-color: var(--ods-theme-border-color-critical);
      background-color: var(--ods-theme-background-color-critical);
      color: var(--ods-theme-text-color-critical);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-critical-hover);
        background-color: var(--ods-theme-background-color-critical-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-critical-active);
        background-color: var(--ods-theme-background-color-critical-active);
      }
    } @else if $color == 'information' {
      border-color: var(--ods-theme-border-color-information);
      background-color: var(--ods-theme-background-color-information);
      color: var(--ods-theme-text-color-information);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-information-hover);
        background-color: var(--ods-theme-background-color-information-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-information-active);
        background-color: var(--ods-theme-background-color-information-active);
      }
    } @else if $color == 'neutral' {
      border-color: var(--ods-theme-border-color-neutral);
      background-color: var(--ods-theme-background-color-neutral);
      color: var(--ods-theme-text-color-neutral);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-neutral-hover);
        background-color: var(--ods-theme-background-color-neutral-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-neutral-active);
        background-color: var(--ods-theme-background-color-neutral-active);
      }
    } @else if $color == 'primary' {
      border-color: var(--ods-theme-border-color-primary);
      background-color: var(--ods-theme-background-color-primary);
      color: var(--ods-theme-text-color-primary);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-primary-hover);
        background-color: var(--ods-theme-background-color-primary-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-primary-active);
        background-color: var(--ods-theme-background-color-primary-active);
      }
    } @else if $color == 'success' {
      border-color: var(--ods-theme-border-color-success);
      background-color: var(--ods-theme-background-color-success);
      color: var(--ods-theme-text-color-success);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-success-hover);
        background-color: var(--ods-theme-background-color-success-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-success-active);
        background-color: var(--ods-theme-background-color-success-active);
      }
    } @else if $color == 'warning' {
      border-color: var(--ods-theme-border-color-warning);
      background-color: var(--ods-theme-background-color-warning);
      color: var(--ods-theme-text-color-warning);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-warning-hover);
        background-color: var(--ods-theme-background-color-warning-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-warning-active);
        background-color: var(--ods-theme-background-color-warning-active);
      }
    }
  }
}

@mixin ods-button-variant-ghost($color) {
  border: var(--ods-button-border-radius-width) solid transparent;

  &:disabled {
    background-color: inherit;
  }

  &:not(:disabled) {
    @if $color == 'critical' {
      background-color: var(--ods-theme-background-color-critical-ghost);
      color: var(--ods-theme-text-color-critical-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-critical-ghost-hover);
        color: var(--ods-theme-text-color-critical-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-critical-ghost-active);
        color: var(--ods-theme-text-color-critical-ghost-active);
      }
    } @else if $color == 'information' {
      background-color: var(--ods-theme-background-color-information-ghost);
      color: var(--ods-theme-text-color-information-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-information-ghost-hover);
        color: var(--ods-theme-text-color-information-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-information-ghost-active);
        color: var(--ods-theme-text-color-information-ghost-active);
      }
    } @else if $color == 'neutral' {
      background-color: var(--ods-theme-background-color-neutral-ghost);
      color: var(--ods-theme-text-color-neutral-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-neutral-ghost-hover);
        color: var(--ods-theme-text-color-neutral-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-neutral-ghost-active);
        color: var(--ods-theme-text-color-neutral-ghost-active);
      }
    } @else if $color == 'primary' {
      background-color: var(--ods-theme-background-color-primary-ghost);
      color: var(--ods-theme-text-color-primary-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-primary-ghost-hover);
        color: var(--ods-theme-text-color-primary-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-primary-ghost-active);
        color: var(--ods-theme-text-color-primary-ghost-active);
      }
    } @else if $color == 'success' {
      background-color: var(--ods-theme-background-color-success-ghost);
      color: var(--ods-theme-text-color-success-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-success-ghost-hover);
        color: var(--ods-theme-text-color-success-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-success-ghost-active);
        color: var(--ods-theme-text-color-success-ghost-active);
      }
    } @else if $color == 'warning' {
      background-color: var(--ods-theme-background-color-warning-ghost);
      color: var(--ods-theme-text-color-warning-ghost);

      &:focus-visible,
      &:hover {
        background-color: var(--ods-theme-background-color-warning-ghost-hover);
        color: var(--ods-theme-text-color-warning-ghost-hover);
      }

      &:active {
        background-color: var(--ods-theme-background-color-warning-ghost-active);
        color: var(--ods-theme-text-color-warning-ghost-active);
      }
    }
  }
}

@mixin ods-button-variant-outline($color) {
  border-width: var(--ods-button-border-radius-width);
  border-style: solid;

  &:not(:disabled) {
    @if $color == 'critical' {
      border-color: var(--ods-theme-border-color-critical-outline);
      background-color: var(--ods-theme-background-color-critical-outline);
      color: var(--ods-theme-text-color-critical-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-critical-outline-hover);
        background-color: var(--ods-theme-background-color-critical-outline-hover);
        color: var(--ods-theme-text-color-critical-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-critical-outline-active);
        background-color: var(--ods-theme-background-color-critical-outline-active);
        color: var(--ods-theme-text-color-critical-outline-active);
      }
    } @else if $color == 'information' {
      border-color: var(--ods-theme-border-color-information-outline);
      background-color: var(--ods-theme-background-color-information-outline);
      color: var(--ods-theme-text-color-information-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-information-outline-hover);
        background-color: var(--ods-theme-background-color-information-outline-hover);
        color: var(--ods-theme-text-color-information-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-information-outline-active);
        background-color: var(--ods-theme-background-color-information-outline-active);
        color: var(--ods-theme-text-color-information-outline-active);
      }
    } @else if $color == 'neutral' {
      border-color: var(--ods-theme-border-color-neutral-outline);
      background-color: var(--ods-theme-background-color-neutral-outline);
      color: var(--ods-theme-text-color-neutral-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-neutral-outline-hover);
        background-color: var(--ods-theme-background-color-neutral-outline-hover);
        color: var(--ods-theme-text-color-neutral-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-neutral-outline-active);
        background-color: var(--ods-theme-background-color-neutral-outline-active);
        color: var(--ods-theme-text-color-neutral-outline-active);
      }
    } @else if $color == 'primary' {
      border-color: var(--ods-theme-border-color-primary-outline);
      background-color: var(--ods-theme-background-color-primary-outline);
      color: var(--ods-theme-text-color-primary-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-primary-outline-hover);
        background-color: var(--ods-theme-background-color-primary-outline-hover);
        color: var(--ods-theme-text-color-primary-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-primary-outline-active);
        background-color: var(--ods-theme-background-color-primary-outline-active);
        color: var(--ods-theme-text-color-primary-outline-active);
      }
    } @else if $color == 'success' {
      border-color: var(--ods-theme-border-color-success-outline);
      background-color: var(--ods-theme-background-color-success-outline);
      color: var(--ods-theme-text-color-success-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-success-outline-hover);
        background-color: var(--ods-theme-background-color-success-outline-hover);
        color: var(--ods-theme-text-color-success-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-success-outline-active);
        background-color: var(--ods-theme-background-color-success-outline-active);
        color: var(--ods-theme-text-color-success-outline-active);
      }
    } @else if $color == 'warning' {
      border-color: var(--ods-theme-border-color-warning-outline);
      background-color: var(--ods-theme-background-color-warning-outline);
      color: var(--ods-theme-text-color-warning-outline);

      &:focus-visible,
      &:hover {
        border-color: var(--ods-theme-border-color-warning-outline-hover);
        background-color: var(--ods-theme-background-color-warning-outline-hover);
        color: var(--ods-theme-text-color-warning-outline-hover);
      }

      &:active {
        border-color: var(--ods-theme-border-color-warning-outline-active);
        background-color: var(--ods-theme-background-color-warning-outline-active);
        color: var(--ods-theme-text-color-warning-outline-active);
      }
    }
  }
}
