$ods-checkbox-size: 16px;

@mixin ods-checkbox() {
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: solid var(--ods-semantic-size-border-thickness) var(--ods-semantic-color-border-control);
  border-radius: var(--ods-semantic-size-radius-control);
  background: var(--ods-semantic-color-surface-page);
  width: $ods-checkbox-size;
  height: $ods-checkbox-size;
  color: var(--ods-semantic-color-content-on-solid);
  font-size: 0.875rem;
  cursor: pointer;
}
