@use './focus';
@use './state';

$ods-input-actions-padding-right: calc(var(--ods-theme-padding-horizontal) / 2);
$ods-input-field-height: var(--ods-theme-input-min-height);
$ods-input-placeholder-color: var(--ods-theme-input-placeholder-text-color);

@mixin ods-input() {
  box-sizing: border-box;
  border: var(--ods-theme-input-border-width) solid var(--ods-theme-input-border-color);
  border-radius: var(--ods-theme-input-border-radius);
  padding: var(--ods-theme-input-padding-vertical) var(--ods-theme-input-padding-horizontal);
  min-height: $ods-input-field-height;
  color: var(--ods-theme-input-text-color);
  font-family: inherit;
  font-size: 1rem;
}

@mixin ods-input-error() {
  border-color: var(--ods-theme-input-border-color-invalid);
}

@mixin ods-input-state() {
  &:focus {
    @include focus.ods-focus();
  }

  &:disabled {
    @include state.ods-is-disabled();
  }

  &:not(:disabled):read-only {
    @include state.ods-is-readonly();
  }
}
