@use './focus';

$ods-link-font-weight: 600;

@mixin ods-link() {
  --ods-link-column-gap: var(--ods-semantic-size-space-gap-inline);
  --ods-link-row-gap: var(--ods-semantic-size-space-gap-block);

  display: inline-flex;
  position: relative;
  flex-flow: row;
  gap: var(--ods-link-row-gap) var(--ods-link-column-gap);
  align-items: center;
  width: max-content;
  text-decoration: none;
  color: var(--ods-semantic-color-content-base);
  font-weight: $ods-link-font-weight;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform var(--ods-semantic-motion-duration-fast) var(--ods-semantic-motion-easing-enter);
    background-color: currentcolor;
    width: 100%;
    height: 1px;
    content: "";
    will-change: transform;
  }

  &:hover,
  &:focus-visible {
    color: var(--ods-semantic-color-interaction-base-hover);

    &::after {
      transform: scaleX(1);
    }
  }

  &:focus-visible {
    @include focus.ods-focus();
  }

  &:visited {
    color: var(--ods-semantic-color-content-visited);
  }
}
