@use './focus';

$ods-link-font-weight: 600;

@mixin ods-link() {
  display: inline-flex;
  flex-flow: row;
  gap: 8px;
  align-items: center;
  transition: background-size .2s ease-out;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
  color: var(--ods-color-primary-500);
  font-weight: $ods-link-font-weight;

  &:focus-visible,
  &:hover {
    background-size: 100% 1px;
    color: var(--ods-color-primary-600);
  }

  &:focus-visible {
    @include focus.ods-focus();
  }

  &:visited {
    color: var(--ods-color-primary-700);
  }
}
