@mixin ods-message() {
  box-sizing: border-box;
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

@mixin ods-message-variant-default($color) {
  @if $color == 'critical' {
    background-color: var(--ods-color-critical-100);
    color: var(--ods-color-critical-700);
  } @else if $color == 'information' {
    background-color: var(--ods-color-information-100);
    color: var(--ods-color-information-700);
  } @else if $color == 'neutral' {
    background-color: var(--ods-color-neutral-100);
    color: var(--ods-color-neutral-700);
  } @else if $color == 'primary' {
    background-color: var(--ods-color-primary-500);
    color: var(--ods-color-primary-000);
  } @else if $color == 'success' {
    background-color: var(--ods-color-success-100);
    color: var(--ods-color-success-700);
  } @else if $color == 'warning' {
    background-color: var(--ods-color-warning-100);
    color: var(--ods-color-warning-700);
  }
}

@mixin ods-message-variant-light($color) {
  background-color: var(--ods-color-neutral-000);

  @if $color == 'critical' {
    color: var(--ods-color-critical-700);
  } @else if $color == 'information' {
    color: var(--ods-color-information-700);
  } @else if $color == 'neutral' {
    color: var(--ods-color-neutral-700);
  } @else if $color == 'primary' {
    color: var(--ods-color-primary-700);
  } @else if $color == 'success' {
    color: var(--ods-color-success-700);
  } @else if $color == 'warning' {
    color: var(--ods-color-warning-700);
  }
}
