@mixin ods-message() {
  box-sizing: border-box;
  display: inline-flex;
  column-gap: var(--ods-theme-column-gap);
  align-items: center;
  padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
}

@mixin ods-message-variant-default($color) {
  @if $color == 'critical' {
    background-color: var(--ods-color-critical-075); // TODO
    color: var(--ods-color-critical-700); // TODO
  } @else if $color == 'information' {
    background-color: var(--ods-color-information-075); // TODO
    color: var(--ods-color-information-700); // TODO
  } @else if $color == 'neutral' {
    background-color: var(--ods-color-neutral-075); // TODO
    color: var(--ods-color-neutral-700); // TODO
  } @else if $color == 'primary' {
    background-color: var(--ods-color-primary-500); // TODO
    color: var(--ods-color-primary-000); // TODO
  } @else if $color == 'success' {
    background-color: var(--ods-color-success-075); // TODO
    color: var(--ods-color-success-700); // TODO
  } @else if $color == 'warning' {
    background-color: var(--ods-color-warning-075); // TODO
    color: var(--ods-color-warning-700); // TODO
  }
}

@mixin ods-message-variant-light($color) {
  background-color: var(--ods-theme-background-color);

  @if $color == 'critical' {
    color: var(--ods-color-critical-700); // TODO
  } @else if $color == 'information' {
    color: var(--ods-color-information-700); // TODO
  } @else if $color == 'neutral' {
    color: var(--ods-color-neutral-700); // TODO
  } @else if $color == 'primary' {
    color: var(--ods-color-primary-700); // TODO
  } @else if $color == 'success' {
    color: var(--ods-color-success-700); // TODO
  } @else if $color == 'warning' {
    color: var(--ods-color-warning-700); // TODO
  }
}
