@use './breakpoint';
@use './overlay';

$ods-modal-border-radius: var(--ods-border-radius-sm); // [Deprecated] will be removed in next major version
$ods-modal-header-height: 32px;
$ods-modal-margin: 16px; // [Deprecated] will be removed in next major version
$ods-modal-margin-horizontal: var(--ods-theme-padding-horizontal);
$ods-modal-margin-vertical: var(--ods-theme-padding-vertical);
$ods-modal-size: 512px;
$ods-modal-z-index: overlay.$ods-overlay-modal-z-index; // [Deprecated] will be removed in next major version

@mixin ods-modal() {
  --ods-modal-border-radius: var(--ods-theme-overlay-border-radius);
  --ods-modal-header-height: #{$ods-modal-header-height};
  --ods-modal-header-background-color-critical: var(--ods-color-critical-075);
  --ods-modal-header-background-color-information: var(--ods-color-information-075);
  --ods-modal-header-background-color-neutral: var(--ods-color-neutral-075);
  --ods-modal-header-background-color-primary: var(--ods-color-primary-500);
  --ods-modal-header-background-color-success: var(--ods-color-success-075);
  --ods-modal-header-background-color-warning: var(--ods-color-warning-075);
  --ods-modal-header-padding-horizontal: var(--ods-theme-padding-horizontal);
  --ods-modal-header-padding-vertical: var(--ods-theme-padding-vertical);
  --ods-modal-margin-horizontal: #{$ods-modal-margin-horizontal};
  --ods-modal-margin-vertical: #{$ods-modal-margin-vertical};
  --ods-modal-mobile-max-height: #{$ods-modal-size};
  --ods-modal-mobile-max-width: #{$ods-modal-size};

  display: flex;
  flex-direction: column;
  margin: auto var(--ods-modal-margin-horizontal);
  border: none;
  border-radius: var(--ods-modal-border-radius);
  background: var(--ods-theme-background-color);
  width: 100%;
  min-width: 320px;
  max-width: calc(100% - var(--ods-modal-margin-horizontal));
  min-height: 100px;
  max-height: calc(100% - var(--ods-modal-margin-vertical));

  @media screen and (width >= (breakpoint.$ods-breakpoint-mobile)) {
    margin: auto;
    max-width: var(--ods-modal-mobile-max-width);
    max-height: var(--ods-modal-mobile-max-height);
  }
}

@mixin ods-modal-animation() {
  @keyframes modal-open {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes modal-close {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }
}

@mixin ods-modal-backdrop() {
  position: fixed;
  inset: 0;
  opacity: var(--ods-theme-backdrop-opacity);
  background-color: var(--ods-theme-backdrop-background-color);
}

@mixin ods-modal-body() {
  border-bottom-left-radius: var(--ods-modal-border-radius);
  border-bottom-right-radius: var(--ods-modal-border-radius);
  padding: 16px;
  overflow-y: auto;
}

@mixin ods-modal-color($color) {
  @if $color == 'critical' {
    background-color: var(--ods-modal-header-background-color-critical);
  } @else if $color == 'information' {
    background-color: var(--ods-modal-header-background-color-information);
  } @else if $color == 'neutral' {
    background-color: var(--ods-modal-header-background-color-neutral);
  } @else if $color == 'primary' {
    background-color: var(--ods-modal-header-background-color-primary);
  } @else if $color == 'success' {
    background-color: var(--ods-modal-header-background-color-success);
  } @else if $color == 'warning' {
    background-color: var(--ods-modal-header-background-color-warning);
  }
}

@mixin ods-modal-header() {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: var(--ods-modal-border-radius);
  border-top-right-radius: var(--ods-modal-border-radius);
  padding: var(--ods-modal-header-padding-vertical) var(--ods-modal-header-padding-horizontal);
  padding-bottom: 0;
}
