@use './breakpoint';
@use './overlay';

$ods-modal-border-radius: var(--ods-border-radius-sm);
$ods-modal-header-height: 32px;
$ods-modal-margin: 16px;
$ods-modal-size: 512px;
$ods-modal-z-index: overlay.$ods-overlay-modal-z-index;

@mixin ods-modal() {
  display: flex;
  flex-direction: column;
  margin: auto $ods-modal-margin;
  border: none;
  border-radius: $ods-modal-border-radius;
  background: var(--ods-color-neutral-000);
  width: 100%;
  min-width: 320px;
  max-width: calc(100% - ($ods-modal-margin * 2));
  min-height: 100px;
  max-height: calc(100% - ($ods-modal-margin * 2));

  @media screen and (width >= (breakpoint.$ods-breakpoint-mobile)) {
    margin: auto;
    max-width: $ods-modal-size;
    max-height: $ods-modal-size;
  }
}

@mixin ods-modal-animation() {
  @keyframes modal-open {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes modal-close {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }
}

@mixin ods-modal-backdrop() {
  position: fixed;
  inset: 0;
  opacity: 0.75;
  z-index: $ods-modal-z-index - 1;
  background-color: var(--ods-color-primary-500);
}

@mixin ods-modal-body() {
  border-bottom-left-radius: $ods-modal-border-radius;
  border-bottom-right-radius: $ods-modal-border-radius;
  padding: 24px;
  overflow-y: auto;
}

@mixin ods-modal-color($color) {
  @if $color == 'critical' {
    background-color: var(--ods-color-critical-100);
  } @else if $color == 'information' {
    background-color: var(--ods-color-information-100);
  } @else if $color == 'neutral' {
    background-color: var(--ods-color-neutral-100);
  } @else if $color == 'primary' {
    background-color: var(--ods-color-primary-500);
  } @else if $color == 'success' {
    background-color: var(--ods-color-success-100);
  } @else if $color == 'warning' {
    background-color: var(--ods-color-warning-100);
  }
}

@mixin ods-modal-header() {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: $ods-modal-border-radius;
  border-top-right-radius: $ods-modal-border-radius;
  padding: 4px;
  height: $ods-modal-header-height;
  overflow: hidden;
}
