$ods-overlay-arrow-background-color: var(--ods-theme-background-color);
$ods-overlay-arrow-size: 8px;
$ods-overlay-base-z-index: var(--ods-theme-overlay-z-index);
$ods-overlay-select-z-index: $ods-overlay-base-z-index;
$ods-overlay-modal-z-index: calc(#{$ods-overlay-base-z-index} + 1);
$ods-overlay-drawer-z-index: calc(#{$ods-overlay-modal-z-index} + 1);

@mixin ods-overlay() {
  z-index: $ods-overlay-base-z-index;
  border-radius: calc(var(--ods-theme-border-radius) / 2);
  box-shadow: var(--ods-theme-overlay-box-shadow);
  background: var(--ods-theme-background-color);
  padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
  color: var(--ods-theme-text-color);
}
