$ods-progress-bar-border-radius: var(--ods-theme-border-radius);

@mixin ods-progress-bar() {
  --ods-progress-bar-border-radius: #{$ods-progress-bar-border-radius};

  appearance: none;
  border: none;
  border-radius: var(--ods-progress-bar-border-radius);
  background-color: var(--ods-theme-track-background-color);
  width: 100%;
  height: 8px;

  &::-webkit-progress-bar {
    border-radius: var(--ods-progress-bar-border-radius);
    background-color: var(--ods-theme-track-background-color);
  }

  &::-webkit-progress-value {
    border-radius: var(--ods-progress-bar-border-radius);
    background-color: var(--ods-theme-progress-background-color);
  }

  &::-moz-progress-bar {
    border-radius: var(--ods-progress-bar-border-radius);
    background-color: var(--ods-theme-progress-background-color);
  }
}
