$ods-progress-bar-border-radius: 8px;

@mixin ods-progress-bar() {
  appearance: none;
  border: none;
  border-radius: $ods-progress-bar-border-radius;
  background-color: var(--ods-color-neutral-100);
  height: 8px;

  &::-webkit-progress-bar {
    border-radius: $ods-progress-bar-border-radius;
    background-color: var(--ods-color-neutral-100);
  }

  &::-webkit-progress-value {
    border-radius: $ods-progress-bar-border-radius;
    background-color: var(--ods-color-primary-500);
  }

  &::-moz-progress-bar {
    border-radius: $ods-progress-bar-border-radius;
    background-color: var(--ods-color-primary-500);
  }
}
