@mixin ods-skeleton() {
  display: block;
  border-radius: .5rem;
  background-color : var(--ods-color-neutral-050);
  background-image: linear-gradient(-90deg, var(--ods-color-neutral-050), var(--ods-color-neutral-100) 46%, var(--ods-color-neutral-100) 61%, var(--ods-color-neutral-050));
  background-position: -200% 0;
  background-repeat: repeat-y;
  background-size: 50% 100%;
  height: .5rem;
  min-height: 10px;
  animation: skeleton linear 2s infinite;

  @keyframes skeleton {
    to {
      background-position: 200% 0;
    }
  }
}
