$ods-state-is-disabled-background-color: var(--ods-theme-background-color-disabled);
$ods-state-is-disabled-border-color: var(--ods-theme-border-color-disabled);
$ods-state-is-disabled-text-color: var(--ods-theme-text-color-disabled);
$ods-state-is-readonly-background-color: var(--ods-theme-background-color-readonly);
$ods-state-is-readonly-border-color: var(--ods-theme-border-color-readonly);

@mixin ods-is-disabled() {
  border-color: $ods-state-is-disabled-border-color;
  background-color: $ods-state-is-disabled-background-color;
  cursor: not-allowed;
  color : $ods-state-is-disabled-text-color;
}

@mixin ods-is-readonly() {
  border-color: $ods-state-is-readonly-border-color;
  background-color: $ods-state-is-readonly-background-color;
}
