@mixin ods-table($size) {
  --ods-table-border-color: var(--ods-semantic-color-border-neutral-minimal);
  --ods-table-cell-padding-horizontal-sm: var(--ods-semantic-size-space-inset-inline);
  --ods-table-cell-padding-vertical-sm: var(--ods-semantic-size-space-inset-block);
  --ods-table-cell-padding-horizontal-md: var(--ods-semantic-size-space-inset-inline);
  --ods-table-cell-padding-vertical-md: calc(var(--ods-semantic-size-space-inset-block) * 2);
  --ods-table-cell-padding-horizontal-lg: var(--ods-semantic-size-space-inset-inline);
  --ods-table-cell-padding-vertical-lg: calc(var(--ods-semantic-size-space-inset-block) * 3);
  --ods-table-head-background-color: var(--ods-semantic-color-surface-neutral-recessed);

  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  caption {
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    caption-side: bottom;
    font-weight: 600;
  }

  thead,
  tbody,
  tfoot {
    tr {
      th,
      td {
        box-sizing: border-box;
        line-height: 1rem;

        @if $size == 'sm' {
          padding: var(--ods-table-cell-padding-vertical-sm) var(--ods-table-cell-padding-horizontal-sm);
          min-height: 32px;
        } @else if $size == 'md' {
          padding: var(--ods-table-cell-padding-vertical-md) var(--ods-table-cell-padding-horizontal-md);
          min-height: 48px;
        } @else if $size == 'lg' {
          padding: var(--ods-table-cell-padding-vertical-lg) var(--ods-table-cell-padding-horizontal-lg);
          min-height: 64px;
        }
      }
    }
  }

  thead {
    tr {
      th {
        border-top: 1px solid var(--ods-table-border-color);
        border-right: 1px solid var(--ods-table-border-color);
        border-bottom: 1px solid var(--ods-table-border-color);
        background-color: var(--ods-table-head-background-color);
        color: var(--ods-semantic-color-content-heading);
        font-weight: 600;

        &:first-child {
          border-left: 1px solid var(--ods-table-border-color);
        }
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        border-bottom: 1px solid var(--ods-table-border-color);
        background-color: var(--ods-semantic-color-surface-page);
        color: var(--ods-semantic-color-content-text);

        &:first-child {
          border-left: 1px solid var(--ods-table-border-color);
        }

        &:last-child {
          border-right: 1px solid var(--ods-table-border-color);
        }
      }
    }
  }
}
