@use './breakpoint';

@mixin ods-table($size) {
  --ods-table-border-color: var(--ods-color-neutral-100);
  --ods-table-cell-padding-horizontal-sm: var(--ods-theme-padding-horizontal);
  --ods-table-cell-padding-vertical-sm: var(--ods-theme-padding-vertical);
  --ods-table-cell-padding-horizontal-md: var(--ods-theme-padding-horizontal);
  --ods-table-cell-padding-vertical-md: calc(var(--ods-theme-padding-vertical) * 2);
  --ods-table-cell-padding-horizontal-lg: var(--ods-theme-padding-horizontal);
  --ods-table-cell-padding-vertical-lg: calc(var(--ods-theme-padding-vertical) * 3);
  --ods-table-head-background-color: var(--ods-color-neutral-050);

  width: 100%;
  border-collapse: collapse;

  caption {
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    caption-side: bottom;
    font-weight: 600;
  }

  thead,
  tbody,
  tfoot {
    tr {
      th,
      td {
        box-sizing: border-box;
        min-width: calc(100vw / 3);
        line-height: 1rem;

        @if $size == 'sm' {
          padding: var(--ods-table-cell-padding-vertical-sm) var(--ods-table-cell-padding-horizontal-sm);
          min-height: 32px;
        } @else if $size == 'md' {
          padding: var(--ods-table-cell-padding-vertical-md) var(--ods-table-cell-padding-horizontal-md);
          min-height: 48px;
        } @else if $size == 'lg' {
          padding: var(--ods-table-cell-padding-vertical-lg) var(--ods-table-cell-padding-horizontal-lg);
          min-height: 64px;
        }
      }
    }
  }

  thead {
    tr {
      th {
        border: 1px solid var(--ods-table-border-color);
        background-color: var(--ods-table-head-background-color);
        color: var(--ods-theme-heading-text-color);
        font-weight: 600;
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        border-top: 1px solid var(--ods-table-border-color);
        border-bottom: 1px solid var(--ods-table-border-color);
        background-color: var(--ods-theme-background-color);
        color: var(--ods-theme-text-color);

        &:first-child {
          border-left: 1px solid var(--ods-table-border-color);
        }

        &:last-child {
          border-right: 1px solid var(--ods-table-border-color);
        }
      }
    }
  }

  @media screen and (width >= (breakpoint.$ods-breakpoint-mobile)) {
    thead,
    tbody,
    tfoot {
      tr {
        th,
        td {
          min-width: auto;
        }
      }
    }
  }
}
