@use './font';

@mixin ods-text-caption() {
  color: var(--ods-theme-text-color);
  font-size: font.px-to-rem(12px);
  font-weight: 400;
}

@mixin ods-text-code() {
  color: var(--ods-theme-text-color);
  font-family: var(--ods-theme-font-family-code);
  font-size: font.px-to-rem(16px);
  font-weight: 400;
}

@mixin ods-text-heading-1() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(36px);
  font-weight: 700;
}

@mixin ods-text-heading-2() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(28px);
  font-weight: 700;
}

@mixin ods-text-heading-3() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(24px);
  font-weight: 700;
}

@mixin ods-text-heading-4() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(20px);
  font-weight: 700;
}

@mixin ods-text-heading-5() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(18px);
  font-weight: 700;
}

@mixin ods-text-heading-6() {
  margin: 0;
  color: var(--ods-theme-heading-text-color);
  font-size: font.px-to-rem(16px);
  font-weight: 700;
}

@mixin ods-text-label() {
  color: var(--ods-theme-text-color);
  font-size: font.px-to-rem(16px);
  font-weight: 600;
}

@mixin ods-text-paragraph() {
  margin: 0;
  color: var(--ods-theme-text-color);
  font-size: font.px-to-rem(16px);
  font-weight: 400;
}

@mixin ods-text-small() {
  color: var(--ods-color-text);
  font-size: 14px;
  font-weight: 400;
}

@mixin ods-text-span() {
  color: var(--ods-theme-text-color);
  font-size: font.px-to-rem(16px);
  font-weight: 400;
}
