:host(.ods-input) {
  display: inline-block;
  position: relative;
}

.ods-input__actions {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  gap: 2px;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
}
.ods-input__actions__clearable, .ods-input__actions__toggle-mask {
  display: inherit;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
}
.ods-input__actions__clearable:disabled, .ods-input__actions__toggle-mask:disabled {
  cursor: not-allowed;
}
.ods-input__actions__clearable:focus-visible, .ods-input__actions__toggle-mask:focus-visible {
  outline: var(--ods-outline-style) var(--ods-outline-width) var(--ods-color-primary-700);
  outline-offset: var(--ods-outline-offset);
  outline-offset: 0;
}
.ods-input__actions__clearable {
  color: var(--ods-color-neutral-600);
  font-size: 0.75rem;
}
.ods-input__actions__clearable:not(:disabled, .ods-input__actions__clearable--readonly):hover {
  background-color: var(--ods-color-neutral-100);
}
.ods-input__actions__clearable:not(:disabled, .ods-input__actions__clearable--readonly):active {
  background-color: var(--ods-color-neutral-200);
}
.ods-input__actions__toggle-mask {
  color: var(--ods-color-neutral-600);
  font-size: 0.833rem;
}
.ods-input__actions__toggle-mask:not(:disabled) {
  color: var(--ods-color-primary-500);
}
.ods-input__actions__toggle-mask:not(:disabled):hover {
  background-color: var(--ods-color-primary-100);
}
.ods-input__actions__toggle-mask:not(:disabled):active {
  background-color: var(--ods-color-primary-200);
}
.ods-input__actions__spinner {
  padding-right: 4px;
  height: unset;
}
.ods-input__actions__spinner::part(spinner) {
  width: 1rem;
  height: 1rem;
}
.ods-input__input {
  box-sizing: border-box;
  border: var(--ods-border-width-sm) solid var(--ods-form-element-border-color-default);
  border-radius: var(--ods-border-radius-sm);
  padding: 4px 8px;
  width: 100%;
  height: 32px;
  color: var(--ods-color-text);
  font-size: 1rem;
}
.ods-input__input:focus {
  outline: var(--ods-outline-style) var(--ods-outline-width) var(--ods-color-primary-700);
  outline-offset: var(--ods-outline-offset);
}
.ods-input__input:disabled {
  background-color: var(--ods-color-neutral-100);
  cursor: not-allowed;
  color: var(--ods-form-element-foreground-color-disabled);
}
.ods-input__input:-moz-read-only {
  color: var(--ods-form-element-foreground-color-readonly);
}
.ods-input__input:read-only {
  color: var(--ods-form-element-foreground-color-readonly);
}
.ods-input__input::-webkit-outer-spin-button, .ods-input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.ods-input__input:not(.ods-input__input--error, :disabled):focus {
  border-color: var(--ods-form-element-border-color-focused);
}
.ods-input__input:not(.ods-input__input--error, :disabled):hover {
  border-color: var(--ods-form-element-border-color-hover);
}
.ods-input__input:not(:disabled).ods-input__input--error {
  border-color: var(--ods-form-element-border-color-critical);
}
.ods-input__input:disabled ~ .ods-input__actions {
  cursor: not-allowed;
}
.ods-input__input--clearable, .ods-input__input--loading, .ods-input__input--toggle-mask {
  padding-right: 28px;
}
.ods-input__input.ods-input__input--clearable.ods-input__input--toggle-mask {
  padding-right: 56px;
}
.ods-input__input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}