@use '../../../../../style/link';
@use '../../../../../style/state';

.ods-link {
  $current: &;

  @include link.ods-link();

  &:not(&#{$current}--disabled) {
    &#{$current}--primary {
      @include link.ods-link-color('primary');
    }
  }

  &--disabled {
    @include state.ods-is-disabled();

    background-color: inherit;

    &:focus-visible,
    &:hover {
      transition: none;
      background-size: 0;
    }
  }
}
