.roadmap-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: solid 1px;
  padding: 0 calc(var(--ods-theme-padding-horizontal) / 2);
}

.roadmap-item__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
