@import '~@ovhcloud/ods-common-theming/size/ods-component-size';
@import '~@ovhcloud/ods-common-theming/size/ods-theming-size';
@import 'osds-cart-footer.mixins';

@mixin osds-cart-footer-theme-size() {
  $size-definitions: ods-get-size-definitions();
  $component-size-definition: ods-get-component-size-definition($size-definitions, cart);
  $size-properties: ods-get-size-properties($component-size-definition, sm);
}

