@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-toggle.mixins';

@mixin osds-toggle-theme-color-variant-flat() {

  @include ods-and-all-hue-foreach-theme-color((
          background-color: '500'
  )) using($colors) {
    @include osds-toggle-on-selected-host() {
      @include osds-toggle-on-slider-before-element() {
        background-color: map_get($colors, background-color);
      }
      @include osds-toggle-on-slider-element() {
        background-color: var(--ods-color-gray-100);
      }
    }
  }

  &[checking] {
    @include osds-toggle-on-selected-host() {
      @include osds-toggle-on-container-element() {
        &:after {
          background-image: linear-gradient(transparent, transparent),
          linear-gradient(45deg, var(--ods-color-gray-500), var(--ods-color-gray-100), var(--ods-color-gray-000));
        }
      }
    }
  }

  &[contrasted] {
    @include ods-and-all-hue-foreach-theme-color((
      background-color: '500-contrasted'
    )) using($colors) {
      @include osds-toggle-on-selected-host() {
        @include osds-toggle-on-slider-before-element() {
          background-color: map_get($colors, background-color);
        }
        @include osds-toggle-on-slider-element() {
          background-color: var(--ods-color-gray-100-contrasted);
        }
      }
    }
  }

  &:not([checked]) {
    @include osds-toggle-on-selected-host() {
      @include osds-toggle-on-slider-before-element() {
        background-color: var(--ods-color-gray-500);
      }
    }
  }

  &[interactive]:not([disabled]) {
    @include ods-and-one-hue-foreach-theme-color('600') using($color) {
      :host(&:hover) {
        @include osds-toggle-on-slider-before-element() {
          background-color: $color;
        }
      }
      @include ods-and-one-hue-foreach-theme-color('700') using($color) {
        :host(&:active) {
          @include osds-toggle-on-slider-before-element() {
            background-color: $color;
          }
        }
      }
    }
  }

  &[interactive]:not([checked]):not([disabled]) {
    @include osds-toggle-on-selected-host() {
      :host(&:hover) {
        @include osds-toggle-on-slider-before-element() {
          background-color: var(--ods-color-gray-600);
        }
      }
      :host(&:active) {
        @include osds-toggle-on-slider-before-element() {
          background-color: var(--ods-color-gray-700);
        }
      }
    }
  }


  &[interactive][contrasted]:not([disabled]) {
    @include ods-and-one-hue-foreach-theme-color('600-contrasted') using($color) {
      :host(&:hover) {
        @include osds-toggle-on-slider-before-element() {
          background-color: $color;
        }
      }
      @include ods-and-one-hue-foreach-theme-color('700-contrasted') using($color) {
        :host(&:active) {
          @include osds-toggle-on-slider-before-element() {
            background-color: $color;
          }
        }
      }
    }

    &[interactive]:not([checked]) {
      @include osds-toggle-on-selected-host() {
        :host(&:hover) {
          @include osds-toggle-on-slider-before-element() {
            background-color: var(--ods-color-gray-600-contrasted);
          }
        }
        :host(&:active) {
          @include osds-toggle-on-slider-before-element() {
            background-color: var(--ods-color-gray-700-contrasted);
          }
        }
      }
    }
  }
}

@mixin osds-toggle-theme-color() {
  /** base colors */
  :host {
    border-color: transparent;
  }

  /** no variant specified: flat variant colors */
  :not([variant]) {
    @include osds-toggle-theme-color-variant-flat();
  }
  /** disabled colors */
  [disabled] {
    @include osds-toggle-on-selected-host() {
      @include osds-toggle-on-slider-before-element() {
        opacity: .5;
      }
    }
  }
}
