.pagination-item {
  display: flex;
  justify-content: center;
  width: 40px;

  &[data-selected] {
    &:not(:disabled) {
      border-color: var(--ods-theme-border-color-selected);
      background-color: var(--ods-theme-background-color-selected);
    }
  }
}
