@import 'styles/osds-menu-group.color';
@import 'styles/osds-menu-group.size';
@import 'styles/osds-menu-group.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host{
  display: inline-block;
  max-width: 24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

@include ods-theme-component {
  @include osds-menu-group-theme-color;
  @include osds-menu-group-theme-size;
  @include osds-menu-group-theme-typography;
}
