<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-breadcrumb</title>

  <script type='module' src='/build/ods-breadcrumb.esm.js'></script>
  <script nomodule src='/build/ods-breadcrumb.js'></script>
  <link rel="stylesheet" href="/build/ods-breadcrumb.css">
</head>

<body>
  <p>Default</p>
  <ods-breadcrumb>
    <ods-breadcrumb-item href="#"
                         icon="home">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Link">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         icon="arrow-right"
                         label="Link icon">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Text">
    </ods-breadcrumb-item>
  </ods-breadcrumb>

  <p>Disabled</p>
  <ods-breadcrumb>
    <ods-breadcrumb-item href="#"
                         icon="home"
                         is-disabled>
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Link"
                         is-disabled>
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         icon="arrow-right"
                         label="Link icon"
                         is-disabled>
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Text"
                         is-disabled>
    </ods-breadcrumb-item>
  </ods-breadcrumb>

  <p>Collapsed</p>
  <ods-breadcrumb>
    <ods-breadcrumb-item href="#"
                         icon="home">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="First">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Second">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Third">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Last">
    </ods-breadcrumb-item>
  </ods-breadcrumb>

  <p>Custom link style</p>
  <ods-breadcrumb>
    <ods-breadcrumb-item href="#"
                         icon="home">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item href="#"
                         label="Link">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item class="my-link"
                         href="#"
                         label="Link custom">
    </ods-breadcrumb-item>

    <ods-breadcrumb-item class="my-last"
                         href="#"
                         label="Text">
    </ods-breadcrumb-item>
  </ods-breadcrumb>
  <style>
    .my-link::part(link) {
      color: green;
    }

    .my-last::part(last) {
      color: #ed733d;
    }
  </style>
</body>
</html>
