@import 'styles/osds-quantity.mixins';
@import 'styles/osds-quantity.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  display: flex;
  flex-direction: row;
  --ods-input-text-align: center;
  --ods-input-width: calc(2.813rem * var(--ods-size-ratio));
  --ods-icon-vertical-align: middle;
}

:host([disabled]) {
  cursor: not-allowed;
}

slot:not([name]) {
  margin-left: var(--ods-size-03);
  margin-right: var(--ods-size-03);
}

slot {
  display: block;
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-quantity-theme-size();
}
