$spacings: 0, 2, 4, 8, 12, 16, 24, 32, 40, 48, 64;

@layer ods {
  .ods-divider {
    transform: scaleY(1);
    border: none;
    height: 1px;

    &--light {
      background-color: var(--ods-color-neutral-100);
    }

    &--dark {
      background-color: var(--ods-color-neutral-700);
    }

    @each $spacing in $spacings {
      &--#{$spacing} {
        margin-top: #{calc($spacing / 2)}px;;
        margin-bottom: #{calc($spacing / 2)}px;;
      }
    }
  }
}
