@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';
@import '~vanillajs-datepicker/dist/css/datepicker.min.css';

$ods-datepicker-item-size: 36px;
$ods-datepicker-padding: 6px;

@mixin custom-view() {
  height: $ods-datepicker-item-size;

  &:not(.disabled) {
    color: var(--ods-color-primary-500);

    &:not(.selected):hover {
      background-color: var(--ods-color-primary-100);
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: state.$ods-state-is-disabled-text-color;
  }

  &.focused {
    @include focus.ods-focus();

    z-index: 1;
    outline-offset: 0;
    background-color: var(--ods-color-primary-100);
  }

  &.selected {
    background-color: var(--ods-color-primary-800);
    color: var(--ods-color-primary-000);
  }
}

:host(.ods-datepicker) {
  display: inline-block;
  position: relative;
}

:host(.ods-datepicker--fixed) {
  position: fixed;
}


.ods-datepicker {
  &__input {
    $input: &;

    @include input.ods-input();

    padding-right: input.$ods-input-input-padding-right;

    &:not(#{$input}--error, :disabled, :read-only) {
      &:focus {
        border-color: var(--ods-color-form-element-border-focus-default);
      }

      &:hover {
        border-color: var(--ods-color-form-element-border-hover-default);
      }
    }

    &:not(:disabled)#{$input}--error {
      @include input.ods-input-error();

      ~.datepicker {
        .datepicker-picker {
          @include input.ods-input-error();
        }
      }
    }

    &--clearable,
    &--loading {
      padding-right: input.$ods-input-input-padding-right * 2;
    }
  }

  &__actions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-flow: row;
    column-gap: $ods-datepicker-padding;
    align-items: center;
    padding: $ods-datepicker-padding;

    &__spinner {
      margin-right: $ods-datepicker-padding;
      height: auto;

      &::part(spinner) {
        width: 1rem;
        height: 1rem;
      }
    }

    &__icon {
      color: var(--ods-color-primary-500);

      &--disabled,
      &--readonly {
        color: var(--ods-color-neutral-500);
      }
    }
  }
}

.datepicker {
  .datepicker-picker {
    border: var(--ods-border-width-sm) solid var(--ods-color-form-element-border-default);
    box-shadow: none;
    padding: 4px;

    .datepicker-header {
      .datepicker-controls {
        .next-button:not(:disabled),
        .prev-button:not(:disabled),
        .view-switch {
          color: var(--ods-color-primary-500);

          &:hover {
            background-color: var(--ods-color-primary-100);
          }
        }

        .next-button:disabled,
        .prev-button:disabled {
          color: state.$ods-state-is-disabled-text-color;

          &:hover {
            background-color: inherit;
          }
        }

        .view-switch {
          display: flex;
          flex-flow: row;
          column-gap: 6px;
          font-weight: 600;
        }
      }
    }

    .datepicker-main {
      .datepicker-view {
        &.months {
          .month {
            @include custom-view();
          }
        }

        &.years {
          .year {
            @include custom-view();
          }
        }

        .days {
          .days-of-week {
            .dow {
              width: $ods-datepicker-item-size;
              height: $ods-datepicker-item-size;
              color: var(--ods-color-text);
              font-size: 1rem;
              font-weight: 400;
            }
          }

          .datepicker-grid {
            .day {
              @include custom-view();

              border-radius: 50%;
              font-weight: 600;

              &:not(.disabled) {
                &.next,
                &.prev {
                  opacity: .5;
                }
              }

              &.today {
                position: relative;

                &::after {
                  position: absolute;
                  bottom: 3px;
                  border-radius: 50%;
                  background-color: var(--ods-color-primary-500);
                  width: 4px;
                  height: 4px;
                  content: '';
                }

                &:not(.focused, .selected) {
                  background-color: inherit;
                }

                &.selected::after {
                  background-color: var(--ods-color-primary-000);
                }
              }
            }
          }
        }
      }
    }
  }
}
