@use '../../../../../style/icon';

@layer ods-quarks {
  .icon {
    @include icon.ods-icon();

    &--analysis::before { content: '\e933'; }
    &--arrow-crossed::before { content: '\e901'; }
    &--arrow-down::before { content: '\e904'; }
    &--arrow-down-left::before { content: '\e902'; }
    &--arrow-down-right::before { content: '\e903'; }
    &--arrow-left::before { content: '\e906'; }
    &--arrow-left-right::before { content: '\e905'; }
    &--arrow-right::before { content: '\e907'; }
    &--arrow-up::before { content: '\e90b'; }
    &--arrow-up-down::before { content: '\e908'; }
    &--arrow-up-left::before { content: '\e909'; }
    &--arrow-up-right::before { content: '\e90a'; }
    &--bell::before { content: '\e90e'; }
    &--bill::before { content: '\e913'; }
    &--blog::before { content: '\e9b8'; }
    &--book::before { content: '\e90f'; }
    &--box::before { content: '\e91c'; }
    &--brain::before { content: '\e9c9'; }
    &--building::before { content: '\e953'; }
    &--cable::before { content: '\e962'; }
    &--calculator::before { content: '\e96e'; }
    &--calendar::before { content: '\e910'; }
    &--castle::before { content: '\e987'; }
    &--chain-link::before { content: '\e9bd'; }
    &--check::before { content: '\e914'; }
    &--chevron-double-left::before { content: '\e915'; }
    &--chevron-double-right::before { content: '\e916'; }
    &--chevron-down::before { content: '\e917'; }
    &--chevron-left::before { content: '\e918'; }
    &--chevron-left-slash::before { content: '\e9b2'; }
    &--chevron-left-underscore::before { content: '\e9b3'; }
    &--chevron-right::before { content: '\e919'; }
    &--chevron-up::before { content: '\e91a'; }
    &--circle-check::before { content: '\e912'; }
    &--circle-check-full::before { content: '\e9b4'; }
    &--circle-info::before { content: '\e956'; }
    &--circle-info-full::before { content: '\e9b5'; }
    &--circle-question::before { content: '\e96c'; }
    &--circle-question-full::before { content: '\e9b6'; }
    &--circle-three-nodes::before { content: '\e929'; }
    &--circle-user::before { content: '\e992'; }
    &--circle-xmark::before { content: '\e93f'; }
    &--circle-xmark-full::before { content: '\e9b7'; }
    &--clock-time-four::before { content: '\e91d'; }
    &--clock-time-nine::before { content: '\e91e'; }
    &--clock-time-six::before { content: '\e91f'; }
    &--clock-time-three::before { content: '\e920'; }
    &--clock-time-twelve::before { content: '\e921'; }
    &--cloud::before { content: '\e927'; }
    &--cloud-check::before { content: '\e922'; }
    &--cloud-download::before { content: '\e923'; }
    &--cloud-lock::before { content: '\e924'; }
    &--cloud-upload::before { content: '\e926'; }
    &--cloud-xmark::before { content: '\e925'; }
    &--cog::before { content: '\e928'; }
    &--columns::before { content: '\e932'; }
    &--comment::before { content: '\e911'; }
    &--cpu::before { content: '\e98e'; }
    &--credit-card::before { content: '\e92b'; }
    &--crown::before { content: '\e996'; }
    &--d-pad::before { content: '\e92e'; }
    &--diamond-exclamation::before { content: '\e930'; }
    &--diamond-exclamation-full::before { content: '\e92f'; }
    &--diamonds-full::before { content: '\e92a'; }
    &--diagnostic::before { content: '\e9ca'; }
    &--discord::before { content: '\e9b9'; }
    &--disk::before { content: '\e998'; }
    &--download::before { content: '\e934'; }
    &--drag-drop::before { content: '\e9ba'; }
    &--ellipsis-horizontal::before { content: '\e935'; }
    &--ellipsis-vertical::before { content: '\e936'; }
    &--email::before { content: '\e937'; }
    &--emoticon::before { content: '\e93d'; }
    &--emoticon-dizzy::before { content: '\e938'; }
    &--emoticon-neutral::before { content: '\e939'; }
    &--emoticon-sad::before { content: '\e93a'; }
    &--emoticon-smile::before { content: '\e93b'; }
    &--emoticon-wink::before { content: '\e93c'; }
    &--equal::before { content: '\e93e'; }
    &--external-link::before { content: '\e940'; }
    &--eye::before { content: '\e942'; }
    &--eye-off::before { content: '\e941'; }
    &--facebook::before { content: '\e9bb'; }
    &--fiber::before { content: '\e999'; }
    &--file::before { content: '\e946'; }
    &--file-copy::before { content: '\e943'; }
    &--file-minus::before { content: '\e944'; }
    &--file-plus::before { content: '\e945'; }
    &--filter::before { content: '\e947'; }
    &--flame::before { content: '\e99a'; }
    &--flask-empty::before { content: '\e958'; }
    &--flask-full::before { content: '\e959'; }
    &--flask-half::before { content: '\e95a'; }
    &--floppy::before { content: '\e99b'; }
    &--focus::before { content: '\e948'; }
    &--folder::before { content: '\e94b'; }
    &--folder-minus::before { content: '\e949'; }
    &--folder-plus::before { content: '\e94a'; }
    &--funnel::before { content: '\e99c'; }
    &--game-console::before { content: '\e94c'; }
    &--game-controller::before { content: '\e94e'; }
    &--game-controller-alt::before { content: '\e94d'; }
    &--gathering::before { content: '\e94f'; }
    &--gift::before { content: '\e99d'; }
    &--github::before { content: '\e9bc'; }
    &--globe::before { content: '\e950'; }
    &--grid::before { content: '\e900'; }
    &--grid-alt::before { content: '\e951'; }
    &--hamburger-menu::before { content: '\e952'; }
    &--handshake::before { content: '\e9cb'; }
    &--headphones::before { content: '\e9cc'; }
    &--heart::before { content: '\e99e'; }
    &--heart-full::before { content: '\e99f'; }
    &--heart-half::before { content: '\e9a0'; }
    &--hexagon-exclamation::before { content: '\e92d'; }
    &--hexagon-exclamation-full::before { content: '\e92c'; }
    &--hierarchy::before { content: '\e954'; }
    &--history::before { content: '\e9a1'; }
    &--home::before { content: '\e955'; }
    &--key::before { content: '\e957'; }
    &--keyboard::before { content: '\e9cd'; }
    &--leaf::before { content: '\e95b'; }
    &--lifebuoy::before { content: '\e95c'; }
    &--lightbulb::before { content: '\e95d'; }
    &--lightning::before { content: '\e9a2'; }
    &--linkedin::before { content: '\e9be'; }
    &--list::before { content: '\e95e'; }
    &--location::before { content: '\e95f'; }
    &--lock-close::before { content: '\e960'; }
    &--lock-open::before { content: '\e961'; }
    &--magic-wand::before { content: '\e9a3'; }
    &--magnifying-glass::before { content: '\e971'; }
    &--meter::before { content: '\e997'; }
    &--mic::before { content: '\e9c0'; }
    &--mic-off::before { content: '\e9bf'; }
    &--minus::before { content: '\e963'; }
    &--money::before { content: '\e964'; }
    &--money-bag-default::before { content: '\e9a6'; }
    &--money-bag-dollar::before { content: '\e9a4'; }
    &--money-bag-euro::before { content: '\e9a5'; }
    &--monitor::before { content: '\e931'; }
    &--moon::before { content: '\e9c1'; }
    &--network::before { content: '\e965'; }
    &--pen::before { content: '\e966'; }
    &--percent::before { content: '\e9a7'; }
    &--phone::before { content: '\e967'; }
    &--piggy-bank::before { content: '\e9a8'; }
    &--pin::before { content: '\e9c3'; }
    &--pin-off::before { content: '\e9c2'; }
    &--plus::before { content: '\e968'; }
    &--printer::before { content: '\e969'; }
    &--question::before { content: '\e96d'; }
    &--reddit::before { content: '\e9ce'; }
    &--refresh::before { content: '\e96f'; }
    &--resize::before { content: '\e970'; }
    &--robot::before { content: '\e9a9'; }
    &--server::before { content: '\e90d'; }
    &--server-rack::before { content: '\e90c'; }
    &--share-nodes::before { content: '\e972'; }
    &--share-screen::before { content: '\e9c4'; }
    &--shield::before { content: '\e97b'; }
    &--shield-check::before { content: '\e973'; }
    &--shield-exclamation::before { content: '\e97a'; }
    &--shield-firewall::before { content: '\e974'; }
    &--shield-lock::before { content: '\e975'; }
    &--shield-minus::before { content: '\e976'; }
    &--shield-off::before { content: '\e977'; }
    &--shield-plus::before { content: '\e978'; }
    &--shield-xmark::before { content: '\e979'; }
    &--shopping-cart::before { content: '\e980'; }
    &--shopping-cart-error::before { content: '\e97d'; }
    &--shopping-cart-minus::before { content: '\e97e'; }
    &--shopping-cart-plus::before { content: '\e97f'; }
    &--shopping-cart-xmark::before { content: '\e97c'; }
    &--shrink::before { content: '\e981'; }
    &--shutdown::before { content: '\e982'; }
    &--snowflake::before { content: '\e9cf'; }
    &--sort-alpha-down::before { content: '\e983'; }
    &--sort-alpha-up::before { content: '\e984'; }
    &--sort-numeric-down::before { content: '\e985'; }
    &--sort-numeric-up::before { content: '\e986'; }
    &--sparkle::before { content: '\e9aa'; }
    &--split-horizontal::before { content: '\e9ab'; }
    &--split-vertical::before { content: '\e9ac'; }
    &--ssl-key::before { content: '\e9d0'; }
    &--star::before { content: '\e989'; }
    &--star-full::before { content: '\e988'; }
    &--star-half::before { content: '\e9ad'; }
    &--store::before { content: '\e98a'; }
    &--suitcase::before { content: '\e9d1'; }
    &--sun::before { content: '\e9c5'; }
    &--sync::before { content: '\e9ae'; }
    &--tag::before { content: '\e96b'; }
    &--target::before { content: '\e9d2'; }
    &--thumbs-down::before { content: '\e9af'; }
    &--thumbs-up::before { content: '\e9b0'; }
    &--timer::before { content: '\e91b'; }
    &--traffic-cone::before { content: '\e98c'; }
    &--trash::before { content: '\e98d'; }
    &--triangle-exclamation::before { content: '\e995'; }
    &--triangle-exclamation-full::before { content: '\e994'; }
    &--triangle-three-nodes::before { content: '\e96a'; }
    &--truck::before { content: '\e98f'; }
    &--twitch::before { content: '\e9c6'; }
    &--undo::before { content: '\e990'; }
    &--upload::before { content: '\e991'; }
    &--user::before { content: '\e9d3'; }
    &--user-full::before { content: '\e993'; }
    &--vault::before { content: '\e9b1'; }
    &--x::before { content: '\e9c7'; }
    &--xmark::before { content: '\e98b'; }
    &--youtube::before { content: '\e9c8'; }
  }
}
