.custom-combobox {
  position: relative;
  width: 300px;
}

.custom-combobox__control {
  outline-color: var(--ods-semantic-color-border-drag-over);
  border-radius: 4px;
  background-color: var(--ods-semantic-color-interaction-selected-highlight-hover);
}

.custom-combobox__content {
  background-color: var(--ods-semantic-color-surface-information-subtle);
}

.custom-option {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.custom-option__label {
  color: var(--ods-semantic-color-content-text);
  font-weight: 500;
}

.custom-option__description {
  margin-top: 4px;
  font-size: 0.875rem;
}
