.custom-combobox {
  width: 300px;
}

.custom-combobox [data-ods="combobox-control"] {
  outline-color: var(--ods-color-primary-100);
  border-radius: 4px;
  background-color: var(--ods-color-primary-100);
}

.custom-combobox [data-ods="combobox-content"] {
  background-color: var(--ods-color-primary-200);
}

.custom-option {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.custom-option__label {
  color: var(--ods-color-text);
  font-weight: 500;
}

.custom-option__description {
  margin-top: 4px;
  font-size: 0.875rem;
}
