@import 'styles/osds-search-bar.mixins';
@import 'styles/osds-search-bar.color';
@import 'styles/osds-search-bar.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  display: inline-flex;

  osds-select {
    --ods-size-select-border-radius-bottom-right: 0;
    --ods-size-select-border-radius-top-right: 0;
  }

  .first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  osds-input {
    flex: auto;
  }

  osds-input:not(.first) {
    border-left-width: 0;
    border-radius: 0;
  }

  osds-button {
    flex-shrink: 0;

    &::part(button) {
      --ods-size-button-sm-border-width: var(--ods-size-01);

      border-left: 0;
      border-radius: 0 var(--ods-size-border-radius-01) var(--ods-size-border-radius-01) 0;
    }
  }
}

:host([contrasted]) {
  osds-button {
    &::part(button) {
      border-color: var(--ods-color-primary-200);
    }
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-search-bar-theme-color;
  @include osds-search-bar-theme-size;
}
