@import 'styles/osds-textarea.mixins';
@import 'styles/osds-textarea.color';
@import 'styles/osds-textarea.size';
@import 'styles/osds-textarea.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/reset/ods-theming-reset.input';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  @include osds-textarea-on-selected-host {
    @include osds-textarea-on-main-element {
      width: 100%;
    }

    display: flex;
  }

  outline: none;

  textarea {
    box-sizing: border-box;
    width: 100%;
  }
}

:host([disabled]) {
  textarea {
    cursor: not-allowed;
  }
}

:host([inline]) {
  display: inline-flex;
  width: var(--width);
}

@include osds-textarea-on-main-element {
  position: relative;
  border-style: solid;
  text-align: var(--ods-textarea-text-align, left);
}

:not([resizable]) {
  @include osds-textarea-on-selected-host {
    @include osds-textarea-on-main-element {
      resize: none;
    }
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-textarea-theme-color;
  @include osds-textarea-theme-size;
  @include osds-textarea-theme-typography;
}
