/* Global typography */
body {
  font-family: var(--ods-font-family-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

/* Apply theme modifiers on root element beneath body to avoid impacting portal elements */
body[data-theme="dark"] > #storybook-docs {
  --ods-theme-anchor-text-color: #ffae00;
  --ods-theme-anchor-text-color-hover: #e59400;
  --ods-theme-anchor-text-color-visited: #c78200;
  --ods-theme-background-color: #000;
  --ods-theme-heading-text-color: #c9cdcf;
  --ods-theme-outline-color: #fff;
  --ods-theme-text-color: #fff;
}

body[data-theme="dark"] [data-ods="table"] {
  --ods-table-striped-background-color: var(--ods-theme-heading-text-color);
}

body > #storybook-docs {
  background-color: var(--ods-theme-background-color);
  color: var(--ods-theme-text-color);
}

/* Code preview typography */
pre * {
  font-family: var(--ods-font-family-code);
  font-size: 13px;
  line-height: 19px;
  color: #fff;
}

img {
  max-width: 100%;
}

/* Doc pages content */
#storybook-docs > .sbdocs-wrapper {
  padding: 1.5rem 3rem 3rem 3rem;
  background-color: var(--ods-theme-background-color);
}

/* Force ODS link color while there are still some markdown links */
#storybook-docs .sbdocs-a {
  color: var(--ods-theme-anchor-text-color);
}

.toc-list.toc-list .toc-list-item > a {
  color: var(--ods-theme-text-color);
}

.toc-list.toc-list .toc-list-item.is-active-li > a {
  color: var(--ods-theme-anchor-text-color);
}

/* Prevent storybook auto-added p tag to mess up the Message rendering */
[data-ods="message-body"] p {
  margin: 0;
}

/* Hide live coding editor overflow container weird persistent line */
#monacoOverflowContainer {
  outline: none;
}
