#storybook-docs > .sbdocs-wrapper {
  padding: 1.5rem 3rem 3rem 3rem;
  justify-content: flex-start;
}

/***************************************
 * TYPOGRAPHY
 ***************************************/

html body *:not(pre):not(code),
html body .sbdocs-content *:not(pre):not(code) {
  font-family: 'Source Sans Pro', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
}

pre,
code {
  font-family: 'Source Code Pro', arial !important;
}

.sbdocs-content > h1,
.sbdocs-content > div:not(.sb-unstyled) > h1,
.sbdocs-content > h2,
.sbdocs-content > div:not(.sb-unstyled) > h2,
.sbdocs-content > h3,
.sbdocs-content > div:not(.sb-unstyled) > h3,
.sbdocs-content > h4,
.sbdocs-content > div:not(.sb-unstyled) > h4,
.sbdocs-content > h5,
.sbdocs-content > div:not(.sb-unstyled) > h5,
.sbdocs-content > h6,
.sbdocs-content > div:not(.sb-unstyled) > h6 {
  color: var(--ods-color-primary-800);
}

.sbdocs-content :where(span:not(.sb-anchor, .sb-unstyled, .sb-unstyled span)) {
  font-size: 1rem !important;
}

.sbdocs-content :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
  font-size: 1rem !important;
}

/***************************************
 * TABLE OF CONTENT
 ***************************************/

.toc-link {
  color: #0050d7 !important;
  font-size: 1rem;
}

.toc-list-item.is-active-li > a {
  color: #000e9c !important;
}
