@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-accordion-theme-typography() {
  /** typography properties */
  @each $size in ('md') {
    :host([size='#{$size}']) .accordion__wrapper {
      $typography-properties: ods-get-typography-properties(body, '100');
      font-family: ods-get-typography-property($typography-properties, font-family);
      font-size: ods-get-typography-property($typography-properties, font-size);
      font-style: ods-get-typography-property($typography-properties, font-style);
      font-weight: ods-get-typography-property($typography-properties, font-weight);
      letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
      line-height: ods-get-typography-property($typography-properties, line-height);

      .accordion_summary {
        $typography-properties: ods-get-typography-properties(body, '500');
        font-size: ods-get-typography-property($typography-properties, font-size);
        font-style: ods-get-typography-property($typography-properties, font-style);
        font-weight: ods-get-typography-property($typography-properties, font-weight);
        letter-spacing: ods-get-typography-property($typography-properties, letter-spacing);
        line-height: ods-get-typography-property($typography-properties, line-height);
      }
    }
  }
}
