$ods-switch-height-sm: 24px;
$ods-switch-height-md: 32px;

:host(.ods-switch) {
  box-sizing: border-box;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  border-radius: var(--ods-border-radius-lg);
  background-color: var(--ods-color-neutral-100);
}

:host(.ods-switch--sm) {
  height: $ods-switch-height-sm;

  &::slotted(.ods-switch-item__label) {
    padding: 4px 12px;
  }
}

:host(.ods-switch--md) {
  height: $ods-switch-height-md;
}

:host(:not(.ods-switch--disabled).ods-switch--error) {
  border: 1px solid var(--ods-color-form-element-border-critical);
}
