@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-option {
    display: flex;
    gap: var(--ods-theme-row-gap) var(--ods-theme-column-gap);
    align-items: center;
    cursor: pointer;
    padding: 0 var(--ods-theme-input-padding-horizontal);
    min-height: input.$ods-input-field-height;
    color: var(--ods-theme-input-text-color);

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-theme-input-option-background-color-hover);
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-state="checked"] {
      background-color: var(--ods-theme-input-option-background-color-selected);

      &:hover,
      &[data-highlighted],
      &[data-highlighted]:hover {
        background-color: var(--ods-theme-input-option-background-color-selected-hover);
      }
    }

    &--multiple {
      display: grid;
      grid-template-columns: max-content 1fr;
    }
  }
}
