@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .select-option {
    display: flex;
    gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
    align-items: center;
    padding: 0 var(--ods-semantic-size-space-inset-inline);
    min-height: input.$ods-input-field-height;
    color: var(--ods-semantic-color-content-text);
    cursor: pointer;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-semantic-color-interaction-highlight-hover);
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-state="checked"] {
      background-color: var(--ods-semantic-color-surface-selected);

      &:hover,
      &[data-highlighted],
      &[data-highlighted]:hover {
        background-color: var(--ods-semantic-color-interaction-selected-highlight-hover);
      }
    }

    &--multiple {
      display: grid;
      grid-template-columns: max-content 1fr;
    }
  }
}
