@use '../../../../../style/focus';
@use '../../../../../style/radio';
@use '../../../../../style/state';

@layer ods-atoms {
  .radio-control {
    @include radio.ods-radio();

    &:not([data-disabled]) {
      &:not([data-invalid]) {
        &[data-focus],
        &:hover {
          border-color: var(--ods-semantic-color-interaction-control-hover);
        }
      }

      &[data-state="checked"] {
        border-color: var(--ods-semantic-color-border-selected);
        background-color: var(--ods-semantic-color-surface-base);

        &::before {
          transform: scale(1);
        }

        &[data-focus],
        &:hover {
          border-color: var(--ods-semantic-color-interaction-base-hover);
          background: var(--ods-semantic-color-interaction-base-hover);
        }

        &[data-invalid] {
          border-color: var(--ods-semantic-color-border-critical);
          background-color: var(--ods-semantic-color-surface-critical);
        }
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();

      &[data-state="checked"] {
        &::before {
          transform: scale(1);
          background-color: state.$ods-state-is-disabled-text-color;
        }
      }
    }

    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-invalid] {
      border-color: var(--ods-semantic-color-border-critical);
    }
  }
}
