@use '../../../../../style/focus';
@use '../../../../../style/radio';
@use '../../../../../style/state';

@layer ods-atoms {
  .radio-control {
    @include radio.ods-radio();

    &:not([data-disabled]) {
      &:not([data-invalid]) {
        &[data-focus] {
        //&:hover {
          border-color: var(--ods-theme-input-border-color-hover);
        }
      }

      &[data-state="checked"] {
        border-color: var(--ods-theme-input-border-color-checked);
        background-color: var(--ods-theme-input-background-color-checked);

        &::before {
          transform: scale(1);
        }

        &[data-focus] {
        //&:hover {
          border-color: var(--ods-theme-input-border-color-checked-hover);
          background: var(--ods-theme-input-background-color-checked-hover);
        }

        &[data-invalid] {
          border-color: var(--ods-theme-input-border-color-invalid);
          background-color: var(--ods-theme-input-background-color-invalid);
        }
      }
    }

    &[data-disabled] {
      @include state.ods-is-disabled();

      &[data-state="checked"] {
        &::before {
          transform: scale(1);
          background-color: state.$ods-state-is-disabled-text-color;
        }
      }
    }

    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-invalid] {
      border-color: var(--ods-theme-input-border-color-invalid);
    }
  }
}
