@import 'styles/osds-input.mixins';
@import 'styles/osds-input.color';
@import 'styles/osds-input.size';
@import 'styles/osds-input.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/reset/ods-theming-reset.input';
@import '~@ovhcloud/ods-common-theming/ods-theme';

.osds-input {
  &__icon-button {
    display: inline-flex;
    border: none;
    background: none;
    padding: 0;
  }
}

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border-style: solid;
  cursor: text;
  overflow: hidden;
}

:host osds-icon {
  flex-shrink: 0;
}

:host(:not([disabled])) osds-icon {
  cursor: var(--ods-input-icon-cursor, default);
}

:host([inline]) {
  display: inline-flex;
}

:host osds-icon[name="close"],
:host osds-icon[name="eye-open"],
:host osds-icon[name="eye-closed"] {
  cursor: pointer;
}

:host([disabled]) osds-icon {
  cursor: not-allowed;
}

input {
  box-sizing: border-box;
  cursor: var(--ods-input-cursor, text);
  width: 100%;
  text-align: var(--ods-input-text-align, left);
}

[disabled] {
  @include osds-input-on-selected-host {
    opacity: .5;
    cursor: not-allowed;
  }

  cursor: not-allowed;
}

input[type="number"] {
  appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-input-theme-color;
  @include osds-input-theme-size;
  @include osds-input-theme-typography;
}
