<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-phone-number</title>

  <script type='module' src='/build/ods-phone-number.esm.js'></script>
  <script nomodule src='/build/ods-phone-number.js'></script>
  <link rel="stylesheet" href="/build/ods-phone-number.css">
</head>

<body style="margin-bottom: 200px;">
  <h1>Input only</h1>
  <p>Default</p>
  <ods-phone-number countries="all">
  </ods-phone-number>

  <!-- <p>Disabled</p>
  <ods-phone-number is-disabled>
  </ods-phone-number>

  <p>Readonly</p>
  <ods-phone-number is-readonly
                    value="0123456789">
  </ods-phone-number>

  <p>Clearable</p>
  <ods-phone-number is-clearable
                    value="0123456789">
  </ods-phone-number>

  <p>Readonly & clearable</p>
  <ods-phone-number is-clearable
                    is-readonly
                    value="0123456789">
  </ods-phone-number>

  <p>Has Error</p>
  <ods-phone-number has-error>
  </ods-phone-number>

  <p>Pattern</p>
  <ods-phone-number pattern="\d*">
  </ods-phone-number>

  <p>Default value</p>
  <ods-phone-number default-value="0123456789">
  </ods-phone-number>

  <p>Value</p>
  <ods-phone-number value="(844) 462-9181">
  </ods-phone-number>

  <p>IsoCode + valid value</p>
  <ods-phone-number iso-code="fr" value="0123456789">
  </ods-phone-number>

  <p>IsoCode + wrong value</p>
  <ods-phone-number iso-code="fr" value="1234">
  </ods-phone-number> -->

  <!-- <p>Methods & Events</p>
  <ods-phone-number id="opn-input-methods"
                    default-value="+18444629181"
                    is-required>
  </ods-phone-number>
  <button id="opn-input-clear-button">Clear</button>
  <button id="opn-input-reset-button">Reset</button>
  <button id="opn-input-get-validity-button">GetValidity</button>
  <script>
    const opnInputMethods = document.getElementById('opn-input-methods');
    const opnInputClearButton = document.getElementById('opn-input-clear-button');
    const opnInputResetButton = document.getElementById('opn-input-reset-button');
    const opnInputGetValidityButton = document.getElementById('opn-input-get-validity-button');

    opnInputClearButton.addEventListener('click', () => opnInputMethods.clear());
    opnInputResetButton.addEventListener('click', () => opnInputMethods.reset());
    opnInputGetValidityButton.addEventListener('click', async() => {
      console.log(await opnInputMethods.getValidity());
    });

    // opnInputMethods.addEventListener('odsBlur', () => { console.log('on blur') });
    // opnInputMethods.addEventListener('odsChange', (e) => { console.log('on change', e) });
    // opnInputMethods.addEventListener('odsClear', () => { console.log('on clear') });
    // opnInputMethods.addEventListener('odsFocus', () => { console.log('on focus') });
    // opnInputMethods.addEventListener('odsReset', () => { console.log('on reset') });
  </script> -->

  <p>Form</p>
  <form id="opn-input-form">
    <ods-phone-number id="opn-element"
                      iso-code="fr"
                      countries="all"
                      is-required
                      name="input-form"
                      >
    </ods-phone-number>
    <button id="opn-toggle-is-required-button" type="button">Toggle is required</button>
    <button id="opn-reset-phone-number-button" type="button">Reset phone-number</button>
    <button id="opn-input-form-reset-button" type="reset">Reset</button>
    <button id="opn-input-form-submit-button" type="submit">Submit</button>
  </form>
  <script>
    const opnElement = document.querySelector('#opn-element');
    const opnInputForm = document.querySelector('#opn-input-form');
    const opnInputSubmitFormButton = document.querySelector('#opn-input-form-submit-button');
    const opnResetPhoneNumberButton = document.querySelector('#opn-reset-phone-number-button');
    const opnToggleIsRequiredButton = document.querySelector('#opn-toggle-is-required-button');

    opnInputSubmitFormButton.addEventListener('click', async() => {
      // e.preventDefault(); // comment to test native validation messages
      const formData = new FormData(opnInputForm);
      console.log('formData', formData);
      console.log(await opnElement?.getValidity())
    });

    opnResetPhoneNumberButton.addEventListener('click', async() => {
      await opnElement.reset();
    })

    opnToggleIsRequiredButton.addEventListener('click', async() => {
      if (opnElement.hasAttribute('is-required')) {
        opnElement.removeAttribute('is-required');
      } else {
        opnElement.setAttribute('is-required', 'true');
      }
    });

    // opnElement.addEventListener('odsChange', async(e) => {
    //   console.log('on change', e.detail.value);
    //   console.log(await opnElement.getValidity());
    // });
  </script>

  <!--<p>Countries update</p>
  <ods-phone-number id="phone-number-countries">
  </ods-phone-number>
  <button id="btn-update-countries">Update countries</button>
  <script>
    const phoneNumberCountries = document.querySelector('#phone-number-countries');
    const btnUpdateCountries = document.querySelector('#btn-update-countries');

    btnUpdateCountries.addEventListener('click', () => {
      console.log(`has attr: ${phoneNumberCountries.hasAttribute('countries')}`)
      if (phoneNumberCountries.hasAttribute('countries')) {
        phoneNumberCountries.removeAttribute('countries')
      } else {
        phoneNumberCountries.setAttribute('countries', 'all');
      }
    });
  </script>

  <hr />

  <h1>Input and countries</h1>
  <p>No locale | No iso code | All countries</p>
  <ods-phone-number countries="all">
  </ods-phone-number>

  <p>Locale OK (fr) | No iso code | All countries</p>
  <ods-phone-number countries="all" locale="fr">
  </ods-phone-number>

  <p>Locale KO | No iso code | All countries</p>
  <ods-phone-number countries="all" locale="zw">
  </ods-phone-number>

  <p>No locale | Iso code OK (fr) | All countries</p>
  <ods-phone-number countries="all" iso-code="fr">
  </ods-phone-number>

  <p>No locale | Iso code KO | All countries</p>
  <ods-phone-number countries="all" iso-code="aa">
  </ods-phone-number>

  <p>Disabled</p>
  <ods-phone-number countries="all"
                    is-disabled>
  </ods-phone-number>

  <p>Readonly</p>
  <ods-phone-number countries="all"
                    is-readonly>
  </ods-phone-number>

  <p>Has Error</p>
  <ods-phone-number countries="all"
                    has-error>
  </ods-phone-number>

  <p>Default value - not a valid prefix</p>
  <ods-phone-number countries="all"
                    default-value="+88123456789">
  </ods-phone-number>

  <p>Default value - no iso code matching</p>
  <ods-phone-number countries='["fr"]'
                    default-value="+3212345678"
                    iso-code="be">
  </ods-phone-number>

  <p>Default value - iso code matching</p>
  <ods-phone-number countries='["fr", "be"]'
                    default-value="+3212345678"
                    iso-code="be">
  </ods-phone-number>

    <p>Methods & Events</p>
    <ods-phone-number id="opn-countries-methods"
                      countries="all"
                      default-value="+18444629181">
    </ods-phone-number>
    <button id="opn-countries-clear-button">Clear</button>
    <button id="opn-countries-reset-button">Reset</button>
    <button id="opn-countries-get-validity-button">GetValidity</button>
    <script>
      const opnCountriesMethods = document.getElementById('opn-countries-methods');
      const opnCountriesClearButton = document.getElementById('opn-countries-clear-button');
      const opnCountriesResetButton = document.getElementById('opn-countries-reset-button');
      const opnCountriesGetValidityButton = document.getElementById('opn-countries-get-validity-button');

      opnCountriesClearButton.addEventListener('click', () => opnCountriesMethods.clear());
      opnCountriesResetButton.addEventListener('click', () => opnCountriesMethods.reset());
      opnCountriesGetValidityButton.addEventListener('click', async() => {
        console.log(await opnCountriesMethods.getValidity());
      });

      // opnCountriesMethods.addEventListener('odsBlur', () => { console.log('on blur') });
      // opnCountriesMethods.addEventListener('odsChange', (e) => { console.log('on change', e.detail.value) });
      // opnCountriesMethods.addEventListener('odsClear', () => { console.log('on clear') });
      // opnCountriesMethods.addEventListener('odsFocus', () => { console.log('on focus') });
      // opnCountriesMethods.addEventListener('odsReset', () => { console.log('on reset') });
    </script>

  <p>Form</p>
  <form id="opn-countries-form">
    <ods-phone-number countries="all"
                      default-value="0123456789"
                      iso-code="fr"
                      name="input-form-countries"
                      value="0666666666">
    </ods-phone-number>
    <button id="opn-countries-form-reset-button" type="reset">Reset</button>
    <button id="opn-countries-form-submit-button" type="submit">Submit</button>
  </form>
  <script>
    const opnCountriesForm = document.querySelector('#opn-countries-form');
    const opnCountriesSubmitFormButton = document.querySelector('#opn-countries-form-submit-button');

    opnCountriesSubmitFormButton.addEventListener('click', () => {
      const formData = new FormData(opnCountriesForm);
      console.log('formData', formData);
    });
  </script>

  <p>i18n | isoCode update</p>
  <ods-phone-number id="phone-number-locale"
                    countries="all"
                    locale="fr">
  </ods-phone-number>
  <button id="btn-update-locale">Update locale</button>
  <span>Current locale: <span id="current-locale">fr</span></span>
  <button id="btn-update-iso-code">Update iso code</button>
  <span>Current iso code: <span id="current-iso-code">undefined</span></span>
  <script>
    const phoneNumberLocale = document.querySelector('#phone-number-locale');
    const btnUpdateIsoCode = document.querySelector('#btn-update-iso-code');
    const btnUpdateLocale = document.querySelector('#btn-update-locale');
    const currentIsoCode = document.querySelector('#current-iso-code');
    const currentLocale = document.querySelector('#current-locale');

    btnUpdateIsoCode.addEventListener('click', () => {
      if (phoneNumberLocale.getAttribute('iso-code') === 'fr') {
        phoneNumberLocale.setAttribute('iso-code', 'de');
        currentIsoCode.innerText = 'de';
      } else {
        phoneNumberLocale.setAttribute('iso-code', 'fr');
        currentIsoCode.innerText = 'fr';
      }
    });

    btnUpdateLocale.addEventListener('click', () => {
      if (phoneNumberLocale.getAttribute('locale') === 'fr') {
        phoneNumberLocale.setAttribute('locale', 'en');
        currentLocale.innerText = 'en';
      } else {
        phoneNumberLocale.setAttribute('locale', 'fr');
        currentLocale.innerText = 'fr';
      }
    });
  </script>

  <p>Custom CSS</p>
  <ods-phone-number class="custom-phone-number"
                    countries="all">
  </ods-phone-number>
  <style>
    .custom-phone-number::part(input) {
      width: 100px;
    }
    .custom-phone-number::part(select) {
      width: 100px;
    }
  </style>

  <p>With label</p>
  <label for="labelled-phone-number">My phone-number</label>
  <ods-phone-number id="labelled-phone-number">
  </ods-phone-number>

  <label for="labelled-phone-number-countries">My phone-number with countries</label>
  <ods-phone-number id="labelled-phone-number-countries"
                    countries="all">
  </ods-phone-number> -->
</body>
</html>
