<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-message</title>

  <script type='module' src='/build/ods-message.esm.js'></script>
  <script nomodule src='/build/ods-message.js'></script>
  <link rel="stylesheet" href="/build/ods-message.css">

  <style>
    .my-message::part(message) {
      background-color: yellow;
    }

    .my-text::part(text) {
      margin: 0;
    }

    .my-icon {
      padding-left: 4px;
      font-size: 18px;
    }

    .multiline {
      width: 120px;
    }

    .width::part(message) {
      width: 100%;
    }

    .height::part(message) {
      height: 200px;
    }
  </style>
</head>

<body>
  <p>Default</p>
  <ods-message>Default Message</ods-message>

  <p>Variant</p>
  <ods-message variant="default">Default variant message</ods-message>
  <ods-message variant="light">Light variant message</ods-message>

  <p>Color - Default</p>
  <ods-message color="critical" variant="default">Critical message</ods-message>
  <ods-message color="danger" variant="default">Danger message</ods-message>
  <ods-message color="information" variant="default">Information message</ods-message>
  <ods-message color="success" variant="default">Success message</ods-message>
  <ods-message color="warning" variant="default">Warning message</ods-message>

  <p>Color - Light</p>
  <ods-message color="critical" variant="light">Critical message</ods-message>
  <ods-message color="danger" variant="light">Danger message</ods-message>
  <ods-message color="information" variant="light">Information message</ods-message>
  <ods-message color="success" variant="light">Success message</ods-message>
  <ods-message color="warning" variant="light">Warning message</ods-message>

  <p>Not dismissible</p>
  <ods-message is-dismissible="false">Not Dismissible Message</ods-message>

  <p>Custom style</p>
  <ods-message class="my-message">Custom Message</ods-message>

  <p>Interactive element in slot</p>
  <ods-message><button>Click me</button></ods-message>

  <p>Text & tooltip in slot</p>
  <ods-message>
    <div style="display: inline-flex;">
      <ods-text preset="heading-5"
                class="my-text">
        Message content
      </ods-text>
      <ods-icon id="tooltip-trigger-2"
                class="my-icon"
                name="circle-question">
      </ods-icon>

      <ods-tooltip trigger-id="tooltip-trigger-2">
        Tooltip content
      </ods-tooltip>
    </div>
  </ods-message>

  <p>Select in slot</p>
  <ods-message>
    <select name="pets" id="pet-select">
      <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
    </select>
  </ods-message>

  <p>Multiline</p>
  <div class="multiline">
    <ods-message >
      A long text in a small space
    </ods-message>
  </div>

  <p>Message with defined width</p>
  <ods-message class="width">
    Message content
  </ods-message>

  <p>Message with defined height</p>
  <ods-message class="height">
    Message content
  </ods-message>
</body>
</html>
