@use '../../../../../style/modal';
@use '../../../../../style/focus';
@include modal.animation-mixin(modal-open);
@include modal.animation-mixin(modal-close);

:host(.ods-modal) {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

:host(.ods-modal--open) {
  display: flex;
}

.ods-modal {
  &__dialog {
    @include modal.ods-modal();

    animation: modal-open 0.2s ease-in-out;

    &--close-animation {
      animation: modal-close 0.1s ease-in-out;
    }

    &__header {
      @include modal.ods-modal-header();

      &--critical {
        @include modal.ods-modal-color('critical');
      }

      &--information {
        @include modal.ods-modal-color('information');
      }

      &--neutral {
        @include modal.ods-modal-color('neutral');
      }

      &--success {
        @include modal.ods-modal-color('success');
      }

      &--warning {
        @include modal.ods-modal-color('warning');
      }

      &__close {
        @include modal.ods-modal-close-button();

        &--critical::part(button) {
          @include modal.ods-modal-close-button-color('critical');
        }

        &--information::part(button) {
          @include modal.ods-modal-close-button-color('information');
        }

        &--neutral::part(button) {
          @include modal.ods-modal-close-button-color('neutral');
        }

        &--success::part(button) {
          @include modal.ods-modal-close-button-color('success');
        }

        &--warning::part(button) {
          @include modal.ods-modal-close-button-color('warning');
        }
      }
    }

    &__content {
      @include modal.ods-modal-content();

      &__actions {
        @include modal.ods-modal-actions();
      }
    }
  }
}
