@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-atoms {
  .toggle-control {
    $control: &;

    --ods-toggle-control-background-color: var(--ods-color-neutral-200);
    --ods-toggle-control-background-color-hover: var(--ods-color-neutral-300);
    --ods-toggle-control-border-color: var(--ods-color-neutral-200);
    --ods-toggle-control-border-color-hover: var(--ods-color-neutral-300);
    --ods-toggle-control-label-off-text-color: var(--ods-color-neutral-700);
    --ods-toggle-control-label-on-text-color: var(--ods-color-neutral-000);
    --ods-toggle-control-thumb-background-color: var(--ods-color-neutral-000);

    box-sizing: border-box;
    display: inline-block;
    position: relative;
    border: 1px solid var(--ods-toggle-control-border-color);
    border-radius: 1rem;
    background-color: var(--ods-toggle-control-background-color);
    width: 48px;
    height: 24px;

    &:hover,
    &[data-focus] {
      border-color: var(--ods-toggle-control-border-color-hover);
      background-color: var(--ods-toggle-control-background-color-hover);
    }

    &[data-focus] {
      @include focus.ods-focus();
    }

    &[data-disabled] {
      @include state.ods-is-disabled();

      border-color: state.$ods-state-is-disabled-background-color;
    }

    &[data-state="checked"] {
      &:not([data-disabled]) {
        transition: background-color 0.2s ease, border-color 0.2s ease;
        border-color: var(--ods-theme-input-border-color-checked);
        background-color: var(--ods-theme-input-background-color-checked);

        //&:hover,
        &[data-focus] {
          border-color: var(--ods-theme-input-border-color-checked-hover);
          background-color: var(--ods-theme-input-background-color-checked-hover);

          &[data-invalid] {
            border-color: var(--ods-theme-input-border-color-invalid);
          }
        }

        &[data-invalid] {
          background-color: var(--ods-theme-input-background-color-invalid);
        }
      }

      #{$control}__thumb {
        transform: translateX(24px);
      }
    }

    &#{$control}[data-invalid] {
      border-color: var(--ods-theme-input-border-color-invalid);
    }

    &__thumb {
      position: absolute;
      bottom: 1px;
      left: 1px;
      transform: translateX(0);
      transition: transform 0.4s ease;
      z-index: 2;
      margin: auto;
      border-radius: 16px;
      background-color: var(--ods-toggle-control-thumb-background-color);
      width: 20px;
      height: 20px;

      &:not([data-disabled]) {
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px 0;
      }
    }
  }
}
