@layer ods-organisms {
  .toast {
    box-shadow: var(--ods-semantic-shadow-overlay);
    pointer-events: auto;

    [data-ods="message-body"] {
      color: var(--ods-semantic-color-content-text);
    }
  }
}
