@import '~@ovhcloud/ods-common-theming/size/ods-component-size';
@import './osds-button.mixins';

.button {
  border-width: var(--ods-size-inset-02);
  border-radius: var(--ods-size-border-radius-02);
  padding: 0 var(--ods-size-squish-06-x);
  height: 3.25rem;
}

@mixin osds-button-theme-size() {
  /** sizes */

  @include ods-foreach-theme-size(button) using ($sizes) {
    @include osds-button-on-selected-host {
      border-width: ods-get-size-property($sizes, border-width);
      border-radius: var(--ods-size-button-border-radius, ods-get-size-property($sizes, border-radius));
      padding: var(--ods-size-button-padding-y, ods-get-size-property($sizes, padding-y)) var(--ods-size-button-padding-x, ods-get-size-property($sizes, padding-x));
      height: var(--ods-size-button-height, ods-get-size-property($sizes, height));
      font-size: ods-get-size-property($sizes, font-size);
    }
  }

  /** circle */
  [circle] {
    @include osds-button-on-selected-host {
      border-radius: 999em;
      padding: var(--ods-size-03);
      height: min-content;
      aspect-ratio: 1;
    }
  }

}
