@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import 'osds-link.mixins';

@mixin osds-link-theme-color() {
  @include ods-all-hue-foreach-theme-color((
          color: '500',
  )) using($colors) {
    @include osds-link-on-selected-host {
      @include osds-link-on-link-container {
        color: map_get($colors, color);
      }
    }
  }

  @include ods-all-hue-foreach-theme-color((
          color: '700',
          border-color: '700',
  )) using($colors) {
    :host(&:hover),
    :host(&:focus-within) {
      @include osds-link-on-link-container {
        color: map_get($colors, color);
      }
    }
  }

  @include ods-all-hue-foreach-theme-color((
    color: '800',
    border-color: '800',
  )) using($colors) {
    :host(&:active) {
      @include osds-link-on-link-container {
        color: map_get($colors, color);
      }
    }
  }

  :host {
    @include osds-link-on-text-content {
      background-image: linear-gradient(currentcolor, currentcolor);
    }
  }

  :host(:not([href])),
  :host([href=""]) {
    @include osds-link-on-link-container {
      background-color: transparent;
    }
  }

  [contrasted] {
    @include ods-and-all-hue-foreach-theme-color((
            color: '500-contrasted'
    )) using($colors) {
      @include osds-link-on-selected-host {
        @include osds-link-on-link-container {
          color: map_get($colors, color);
        }
      }
    }
  }
}

