@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-tabs-theme-typography() {
  :host {
    line-height: var(--ods-typo-size-04);
    font-family: var(--ods-font-family);
    font-size: var(--ods-typo-size-03);
    font-weight: var(--ods-typo-weight-semibold);
  }
}
