@import 'styles/osds-tile.color';
@import 'styles/osds-tile.mixins';
@import 'styles/osds-tile.size';
@import 'styles/osds-tile.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid var(--ods-size-inset-02);
}

:host(:not([inline])) {
  @include osds-tile-on-selected-host {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
  }
}

:host([inline]){
  display: inline-flex;
  width: var(--width);
}

[disabled] {
  @include osds-tile-on-selected-host {
    cursor: not-allowed;

    * {
      pointer-events: none;
    }
  }
}

:not([checking])[disabled] {
  @include osds-tile-on-selected-host {
    opacity: .5;
  }
}

[hoverable]:not([disabled]) {
  @include osds-tile-on-selected-host {
    cursor: pointer;
  }
}

[rounded] {
  @include osds-tile-on-selected-host {
    border-radius: var(--ods-size-border-radius-02);
  }
}

slot[name="start"],
slot[name="end"],
.tile__centered-text {
  display: inline-flex;
}

::slotted([slot="start"]),
::slotted([slot="end"])  {
  display: inherit;

  &:empty {
    display: none;
  }
}

slot[name="start"] {
  justify-content: flex-start;
}

slot[name="end"] {
  justify-content: flex-end;
}

.tile__centered-text {
  justify-content: center;
}

[checking] {
  @include osds-tile-on-selected-host {
    position: relative;
    overflow: visible;

    &::after {
      position: absolute;
      top: -2px;
      left: -2px;
      z-index: -1;
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: steam 3s linear infinite;
      content: '';
      filter: blur(5px);
    }

    @keyframes steam {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 100% 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-tile-theme-color;
  @include osds-tile-theme-size;
  @include osds-tile-theme-typography;
}
