.price {
  display: flex;
  flex-flow: column;

  &__info,
  &__title {
    color: var(--ods-theme-text-color);
    font-size: 12px;
  }

  &__title {
    font-weight: 700;
  }

  &__value {
    color: var(--ods-theme-primary-color);
    font-size: 20px;
    font-weight: 700;
  }

  &__info {
    font-weight: 400;
  }
}
