:host(.ods-form-field) {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
}

.ods-form-field {
  &__bottom-bar {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: flex-start;
    justify-content: space-between;

    &__error-message {
      color: var(--ods-color-critical-500);
      font-weight: 600;
    }

    &__separator {
      flex: 1;
      content: '';
    }
  }
}