:host(.ods-form-field) {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
}

.ods-form-field {
  &__top-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 4px;
  }

  &__bottom-bar {
    &__error-message {
      color: var(--ods-color-critical-500);
    }
  }
}