@use '../../../../../style/focus';
@use '../../../../../style/state';

.ods-toggle {
  &__container {
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 48px;
    height: 24px;

    &--error {
      border-color: var(--ods-color-form-element-border-critical);
    }

    &__slider {
      $slider: &;

      position: absolute;
      inset: 0;
      border-radius: 1rem;
      background-color: var(--ods-color-neutral-200);
      cursor: pointer;

      &::before {
        position: absolute;
        bottom: 2px;
        left: 2px;
        transition: all .4s ease;
        z-index: 1;
        border-radius: 1rem;
        box-shadow: 0 1px 1px 0#00000040;
        background-color: var(--ods-color-neutral-000);
        width: 20px;
        height: 20px;
        content: '';
      }

      &:not(#{$slider}--disabled):hover {
        background-color: var(--ods-color-neutral-300);

        & #{$slider}__label {
          color: var(--ods-color-neutral-800);
        }
      }

      &--disabled {
        @include state.ods-is-disabled();

        &::before {
          box-shadow: none;
        }

        & #{$slider}__label {
          color: state.$ods-state-is-disabled-text-color;
        }
      }

      &__label {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        padding-right: 4px;
        color: var(--ods-color-neutral-700);
        font-size: 12px;
        font-weight: 700;
        pointer-events: none;
        user-select: none;
      }
    }

    &__input {
      opacity: 0;
      width: 0;
      height: 0;

      &:focus + .ods-toggle__container__slider {
        @include focus.ods-focus();

        background-color: var(--ods-color-neutral-300);

        .ods-toggle__container__slider__label {
          color: var(--ods-color-neutral-800);
        }
      }

      &:focus:checked + :not(.ods-toggle__container__slider--disabled).ods-toggle__container__slider {
        background-color: var(--ods-color-primary-700);

        .ods-toggle__container__slider__label {
          color: var(--ods-color-neutral-000);
        }
      }

      &:checked {
        & + .ods-toggle__container__slider::before {
          transform: translateX(24px);
        }

        & + .ods-toggle__container__slider .ods-toggle__container__slider__label {
          left: 0;
          padding-left: 4px;
        }

        & + :not(.ods-toggle__container__slider--disabled).ods-toggle__container__slider {
          background-color: var(--ods-color-primary-500);

          &:hover {
            background-color: var(--ods-color-primary-700);
          }

          & .ods-toggle__container__slider__label {
            color: var(--ods-color-neutral-000);
          }
        }
      }
    }
  }
}
