@import 'styles/osds-select-group.color';
@import 'styles/osds-select-group.size';
@import 'styles/osds-select-group.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  cursor: default;
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-select-group-theme-color;
  @include osds-select-group-theme-size;
  @include osds-select-group-theme-typography;
}
