@layer ods-atoms {
  .tile-alt-container {
    --ods-tile-alt-container-background-color: var(--ods-color-neutral-050);
    --ods-tile-alt-container-background-color-selected: var(--ods-color-primary-075);
    --ods-tile-alt-container-background-color-disabled: var(--ods-color-neutral-100);

    box-sizing: border-box;
    background-color: var(--ods-tile-alt-container-background-color);

    &--selected {
      background-color: var(--ods-tile-alt-container-background-color-selected);
    }

    &--disabled {
      background-color: var(--ods-tile-alt-container-background-color-disabled);
      cursor: not-allowed;
    }
  }
}

