import { Meta } from '@storybook/addon-docs';
import Specifications{{> ComponentName }} from '@ovhcloud/ods-{{> component-dir}}/src/components/{{> component-name }}/documentation/specifications/specifications-{{> component-name }}.mdx';

<Meta title="ODS Components/TODO/{{> ComponentName }}/Specifications" />

# {{> ComponentName }} - Design Specifications
----

{{> ComponentName }} TODO add small description:
<div>
  <a href="#"
     target="_blank">
    ZEROHEIGHT - {{> COMPONENT_NAME }} DESIGN GUIDELINES &nbsp;
  </a>
</div>

# {{> ComponentName }} - Technical Specification
----

<Specifications{{> ComponentName }} />
