<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-content-addon</title>

  <script type="module">
    !window.ods && (window.ods = {config: {logging: {active:true}}});
  </script>

  <script type='module' src='/build/osds-content-addon.esm.js'></script>
  <script nomodule src='/build/osds-content-addon.js'></script>
  <link rel="stylesheet" href="/build/osds-content-addon.css">
</head>
<body>

<osds-content-addon>
  <span slot="start">Start</span>
  <span slot="main"> Main</span>
  <span slot="end">End</span>
  <span slot="top">Top</span>
  <span slot="bottom">Bottom</span>
</osds-content-addon>

</body>
</html>
