@layer ods-organisms {
  .file-upload {
    --ods-file-upload-item-background-color-hover: var(--ods-color-primary-050);
    --ods-file-upload-item-border-radius: var(--ods-theme-border-radius);
    --ods-file-upload-padding-horizontal: var(--ods-theme-padding-horizontal);
    --ods-file-upload-padding-vertical: var(--ods-theme-padding-vertical);

    display: inline-flex;
    flex-flow: column;
    row-gap: var(--ods-theme-row-gap);
    color: var(--ods-theme-input-text-color);
  }
}
