@layer ods-organisms {
  .file-upload {
    --ods-file-upload-padding-horizontal: var(--ods-theme-padding-horizontal);
    --ods-file-upload-padding-vertical: var(--ods-theme-padding-vertical);

    display: inline-flex;
    flex-flow: column;
    color: var(--ods-theme-input-text-color);
  }
}
