@use '../../../../../style/state';

@layer ods-organisms {
  .file-upload {
    $file-upload: &;

    --ods-file-upload-padding-horizontal: calc(var(--ods-theme-padding-horizontal) * 3);
    --ods-file-upload-padding-vertical: calc(var(--ods-theme-padding-vertical) * 3);

    display: inline-flex;
    flex-flow: column;
    border: dashed 1px var(--ods-theme-input-border-color);
    border-radius: calc(var(--ods-theme-border-radius) / 2);
    overflow: hidden;
    color: var(--ods-theme-input-text-color);

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &#{$file-upload}--invalid {
      border-color: var(--ods-theme-input-border-color-invalid);
    }
  }
}
