//@use '../../../../../style/link';
//@use '../../../../../style/state';
//@use '../../../../../style/font';
$ods-state-is-disabled-background-color: var(--ods-color-background-disabled-default);
$ods-state-is-disabled-border-color: var(--ods-color-border-disabled-default);
$ods-state-is-disabled-text-color: var(--ods-color-text-disabled-default);
$ods-state-is-readonly-background-color: var(--ods-color-background-readonly-default);
$ods-state-is-readonly-border-color: var(--ods-color-border-readonly-default);

.ods-link {
  $current: &;

  display: inline-flex;
  flex-flow: row;
  grid-gap: 8px;
  align-items: center;
  transition: background-size .2s ease-out;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;

  &:focus-visible,
  &:hover {
    background-size: 100% 1px;
  }

  &:focus-visible {
    outline: var(--ods-outline-style-default) var(--ods-outline-width) var(--ods-outline-color-default);
    outline-offset: var(--ods-outline-offset);
  }

  &:not(&#{$current}--disabled) {
    &#{$current}--primary {
      color: var(--ods-color-primary-500);

      &:focus-visible,
      &:hover {
        color: var(--ods-color-primary-600);
      }

      &:visited {
        color: var(--ods-color-primary-700);
      }
    }
  }

  &--disabled {
    border-color: $ods-state-is-disabled-border-color;
    cursor: not-allowed;
    color : $ods-state-is-disabled-text-color;

    background-color: inherit;

    &:focus-visible,
    &:hover {
      transition: none;
      background-size: 0;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    display: flex;
  }

  &--icon-left {
    flex-direction: row-reverse;
  }
}
