@import 'styles/osds-progress-bar.mixins';
@import 'styles/osds-progress-bar.color';
@import 'styles/osds-progress-bar.size';
@import 'styles/osds-progress-bar.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)
:host {

}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-progress-bar-theme-color();
  @include osds-progress-bar-theme-size();
  @include osds-progress-bar-theme-typography();
}
