@import './osds-popover.mixins';

// Main CSS mixin for sizes
@mixin osds-popover-theme-size() {
  ocdk-surface {
    padding: var(--ods-size-04);
    width: max-content;
    max-width: 300px;
    overflow: visible;
  }
}
