@use '../../../../../style/scroll';

:host(.ods-tabs) {
  @include scroll.hide-scrollbar();

  display: inline-flex;
  flex-flow: row;
  padding: var(--ods-outline-width);
  width: inherit;
  overflow-x: auto;
}
