@use '../../../../../style/state';

@layer ods-organisms {
  .command-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc(var(--ods-semantic-size-radius-container) / 2);
    padding: calc(var(--ods-semantic-size-space-inset-block) / 2) var(--ods-semantic-size-space-inset-inline);
    cursor: pointer;

    &[aria-disabled='true'] {
      @include state.ods-is-disabled();
    }

    &--highlighted {
      background-color: var(--ods-semantic-color-interaction-base-subtle-hover);
    }
  }
}
