@layer ods-molecules {
  .form-field-label {
    --ods-form-field-label-row-gap: var(--ods-theme-row-gap);
    --ods-form-field-label-column-gap: var(--ods-theme-column-gap);

    display: flex;
    gap: var(--ods-form-field-label-row-gap) var(--ods-form-field-label-column-gap);
    width: fit-content;
  }
}
