@layer ods-molecules {
  .form-field-label {
    --ods-form-field-label-row-gap: calc(var(--ods-theme-row-gap) / 2);

    display: flex;
    gap: var(--ods-form-field-label-row-gap);
    width: fit-content;
  }
}
