.custom-code {
  background-color: var(--ods-semantic-color-surface-page);
  color: var(--ods-semantic-color-content-on-brand-subtle);
}

.custom-code [data-part='trigger'] {
  color: var(--ods-semantic-color-content-on-brand-subtle);
}

.custom-code [data-part='trigger']:hover {
  border-radius: var(--ods-border-radius-sm);
  background-color: var(--ods-semantic-color-surface-selected-solid);
  color: var(--ods-semantic-color-content-on-solid);
}

.custom-code:hover {
  background-color: var(--ods-semantic-color-surface-selected);
}
