@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-code.mixins';

@mixin osds-code-theme-color() {
  :not([variant]) {

    @include ods-and-all-hue-foreach-theme-color((
      color: '000',
      background-color: '900'
    )) using($colors) {
      @include osds-code-on-selected-host() {
        color: map_get($colors, color);
        background-color: map_get($colors, background-color);
      }
    }

    &[contrasted] {
      @include ods-and-all-hue-foreach-theme-color((
        color: '000-contrasted',
        background-color: '900-contrasted'
      )) using($colors) {
        @include osds-code-on-selected-host() {
          color: map_get($colors, color);
          background-color: map_get($colors, background-color);
        }
      }
    }
  }
}
