@layer ods-atoms {
  .meter {
    --ods-meter-background-color-critical: var(--ods-theme-critical-color);
    --ods-meter-background-color-normal: var(--ods-theme-primary-color);
    --ods-meter-background-color-warning: var(--ods-theme-warning-color);

    position: relative;
    border-radius: var(--ods-theme-border-radius);
    background-color: var(--ods-theme-track-background-color);
    width: 100%;
    height: 8px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      width: var(--ods-meter-fill-width);
      height: 100%;
      content: '';
    }

    &--critical::after {
      background-color: var(--ods-meter-background-color-critical);
    }

    &--normal::after {
      background-color: var(--ods-meter-background-color-normal);
    }

    &--warning::after {
      background-color: var(--ods-meter-background-color-warning);
    }
  }
}
