@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-datepicker.mixins';

// Main CSS color theme mixin
@mixin osds-datepicker-theme-color() {
  /** base colors */
  :host {
    @include ods-and-all-hue-foreach-theme-color((
      selected: '800',
      color: '500',
      border-color: '200',
      background-color: '100'
    )) using($colors) {
      @include osds-datepicker-on-selected-host {
        .datepicker {
          * {
            color: map_get($colors, color);
          }

          .datepicker-picker {
            border-color: map_get($colors, border-color);
            background-color: var(--ods-color-gray-000);

            .datepicker-header,
            .datepicker-controls {
              .prev-btn,
              .next-btn {
                background: none;
              }

              .prev-btn:hover,
              .next-btn:hover {
                background: map_get($colors, background-color);
              }

              .view-switch {
                background: none;

                &:hover {
                  background: map_get($colors, background-color);
                }
              }
            }

            .datepicker-main {
              .datepicker-grid {
                .datepicker-cell:hover {
                  background: map_get($colors, background-color);
                }

                .selected,
                .selected:hover {
                  background: map_get($colors, selected);
                }
              }

              .datepicker-view {
                .days {
                  .days-of-week {
                    .dow {
                      color: var(--ods-color-text-500);
                    }
                  }

                  .datepicker-grid {
                    .datepicker-cell {
                      background: none;
                    }

                    .datepicker-cell:hover,
                    .selected {
                      background: map_get($colors, background-color);
                    }

                    .selected,
                    .selected:hover {
                      background: map_get($colors, selected);
                      color: var(--ods-color-gray-000);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  :host([error][color]) {
    .datepicker {
      .datepicker-picker {
        border-color: ods-get-color-variable($intent-name: error, $hue: '500');
      }
    }
  }
}
