@use '../../../../../style/input';

@layer ods {
  .clipboard {
    &__input {
      border: none;
      width: inherit;

      // This is to enforce specificity, until we manage multiple atomic layers
      &:not(#\9):focus-within { /* stylelint-disable-line selector-id-pattern */
        outline: 0;
      }
    }
  }
}
