@import 'styles/osds-select.color';
@import 'styles/osds-select.size';
@import 'styles/osds-select.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS for the component but not for theming

:host {
  /* overlay important properties */
  display: inline-block; /* best practice for web component */
  position: relative; /* must be here to make the positioning working well */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  /* end overlay important properties */
  cursor: pointer;
  text-align: left;

  &[disabled] {
    .select-trigger {
      opacity: 0.5;
    }
  }

  .select-trigger {
    align-items: center;
    border-style: solid;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  .overlay {
    border-style: solid;
    max-height: calc(var(--ods-size-stack-11) * 7.5);
    overflow: auto;

    &.opened {
      display: block;
    }
  }

  .select-trigger > .label {
    flex: 1;
    max-width: calc(100% - 24px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:not([disabled]):focus-visible {
  @include osds-select-on-selected-host() {
    outline-style: dotted;
    outline-width: var(--ods-size-inset-02);
    outline-offset: var(--ods-size-inset-02);
  }
}

[disabled] {
  @include osds-select-on-selected-host() {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

[flex] {
  @include osds-select-on-selected-host() {
    display: flex;
  }
  @include osds-select-on-select-element() {
    flex: 1;
  }
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-select-theme-color();
  @include osds-select-theme-size();
  @include osds-select-theme-typography();
}
