:host {
  slot[name='country'] {
    color: var(--ods-color-primary-800);
  }

  slot[name='city'] {
    color: var(--ods-color-text-500);
  }

  slot[name='info'] {
    color: var(--ods-color-text-500);
  }
}
