@import '../../assets/sprite-flags-24x24';

:host(.ods-phone-number) {
  display: inline-flex;
}

.ods-phone-number {
  &__iso-codes {
    min-width: 64px;

    &::part(select) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::part(flag) {
      display: inline-block;
      filter: drop-shadow(0 0 2px rgba(0, 13, 31, 0.25));
      z-index: 1;
      background-image: $sprite-flags-background-image;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }

    @each $iso-code, $background-position in $sprite-flags-background-position {
      &::part(flag-#{$iso-code}) {
        background-position: $background-position;
      }
    }

    &--is-disabled {
      &::part(flag) {
        opacity: .5;
      }
    }
  }

  &__input {
    width: inherit;

    &:focus {
      position: relative;
      z-index: 1;
    }

    &--sibling {
      margin-left: -1px; // to merge input and select borders

      &::part(input) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
