/*
 * FONT WEIGHTS
 * This file contains all specific font widths, mostly for our main font (Source Sans Pro)
 */

$font-weights: (
        "extra-light": 200,
        "light": 300,
        "regular": 400,
        "semibold": 600,
        "bold": 700,
        "black": 900,
);

:root {
  @each $size, $value in $font-weights {
    --ods-typo-weight-#{$size}: #{$value};

  }

  // TODO: Fix to remove
  --ods-typography-title-lg-font-weight: 700;
  --ods-typography-title-xs-font-weight: 700;
}
