@import 'styles/osds-tooltip.mixins';
@import 'styles/osds-tooltip.color';
@import 'styles/osds-tooltip.size';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)
:host {
  /* overlay important properties */
  display: inline-block; /* best practice for web component */
  position: var(--ods-tooltip-position, relative); /* must be here to make the positioning working well */
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */

  /* end overlay important properties */
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-tooltip-theme-color;
  @include osds-tooltip-theme-size;
}
