@import 'styles/osds-tooltip.mixins';
@import 'styles/osds-tooltip.color';
@import 'styles/osds-tooltip.size';
@import 'styles/osds-tooltip.typography';
@import '~@ovhcloud/ods-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)
:host {
  /* overlay important properties */
  display: inline-block; /* best practice for web component */
  position: relative; /* must be here to make the positioning working well */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  /* end overlay important properties */

  // TODO
  //.tooltip-content {
  //  position: relative;
  //
  //  &::after {
  //    $tip-size: 5px;
  //    content: "";
  //    position: absolute;
  //    top: 100%;
  //    left: 50%;
  //    margin-left: -$tip-size;
  //    border-width: $tip-size;
  //    border-style: solid;
  //    border-color: #fff transparent transparent transparent;
  //  }
  //}
}

// apply the theme template for the component
@include ods-theme-component() {
  @include osds-tooltip-theme-color();
  @include osds-tooltip-theme-size();
  @include osds-tooltip-theme-typography();
}
