@import '~@ovhcloud/ods-common-theming/typography/ods-component-typography';

@mixin osds-cart-header-theme-typography() {
  :host {
    $heading: ods-get-typography-properties(heading, "400");

    line-height: ods-get-typography-property($heading, line-height);
    letter-spacing: ods-get-typography-property($heading, letter-spacing);
    font-family: ods-get-typography-property($heading, font-family);
    font-size: ods-get-typography-property($heading, font-size);
    font-weight: ods-get-typography-property($heading, font-weight);
    font-style: ods-get-typography-property($heading, font-style);
  }
}
