import { type JSX } from 'react';
import './index.module.css';

const {{> ComponentName }} = (): JSX.Element => {
  return (
    <div>
      Tailwind Example
    </div>
  );
};

export {
  {{> ComponentName }},
};
