@use '../../../../../style/overlay';

@layer ods-organisms {
  .combobox-content {
    box-sizing: border-box;
    z-index: overlay.$ods-overlay-select-z-index;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: var(--ods-color-primary-000);
    padding: 0;
    color: var(--ods-color-text);

    &[data-state="open"] {
      &[data-placement="bottom"] {
        border-bottom-left-radius: var(--ods-border-radius-sm);
        border-bottom-right-radius: var(--ods-border-radius-sm);
      }

      &[data-placement="top"] {
        border-top-left-radius: var(--ods-border-radius-sm);
        border-top-right-radius: var(--ods-border-radius-sm);
      }
    }

    &__empty {
      display: flex;
      align-items: center;
      padding: 0 8px;
      min-height: 32px;
      color: var(--ods-color-text);
    }
  }
}
