@use '../../../../../style/checkbox';

.ods-checkbox {
  display: inline-flex;
  width: inherit;
  height: inherit;

  &__checkbox {
    @include checkbox.ods-checkbox();

    &--error {
      border-color: var(--ods-color-form-element-border-critical);
    }
  }
}
