@layer ods-molecules {
  .form-field {
    --ods-form-field-row-gap: calc(var(--ods-semantic-size-space-gap-block) / 2);

    display: flex;
    flex-direction: column;
    row-gap: var(--ods-form-field-row-gap);
  }
}
