@import './osds-progress-bar.mixins';
@import '~@ovhcloud/ods-common-theming/size/ods-component-size';

// Main CSS mixin for sizes
@mixin osds-progress-bar-theme-size() {
  @include osds-progress-bar-on-progress {
    appearance: none;
    transition : width ease 0.3s;
    border-radius: var(--ods-size-03);
    width: 100%;
    height: var(--ods-size-03);

    &::-moz-progress-bar {
      border-radius: var(--ods-size-03);
    }

    &::-webkit-progress-bar {
      border-radius: var(--ods-size-03);
      overflow: hidden;
    }
  }

    @include osds-progress-bar-on-wrapper {
      display: flex;
      align-items: center;
      transition: width ease-in-out 0.3s;
    }
}
