<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-tabs</title>

  <script type='module' src='/build/ods-tabs.esm.js'></script>
  <script nomodule src='/build/ods-tabs.js'></script>
  <link rel="stylesheet" href="/build/ods-tabs.css">

  <style>
    * {
      font-family: 'Source Sans Pro', sans-serif;
    }
  </style>
</head>

<body>
  <p>Default</p>
  <ods-tabs id="default">
    <ods-tab id="default-1">Tab 1</ods-tab>
    <ods-tab id="default-2">Tab 2</ods-tab>
    <ods-tab id="default-3">Tab 3</ods-tab>
  </ods-tabs>
  <script>
    const defaultTabs = document.querySelector('#default');
    const allDefaults = defaultTabs.querySelectorAll('ods-tab');

    defaultTabs.addEventListener('odsTabSelected', (event) => {
      allDefaults.forEach((tab) => {
        tab.removeAttribute('is-selected');
      });

      document.querySelector(`#${event.target.id}`).setAttribute('is-selected', 'true');
    });
  </script>

  <p>Is Selected</p>
  <ods-tabs>
    <ods-tab>Tab 1</ods-tab>
    <ods-tab>Tab 2</ods-tab>
    <ods-tab is-selected>Tab 3</ods-tab>
  </ods-tabs>

  <p>Is Disabled</p>
  <ods-tabs id="disabled">
    <ods-tab id="disabled-1">Tab 1</ods-tab>
    <ods-tab id="disabled-2" is-disabled is-selected>Tab 2</ods-tab>
    <ods-tab id="disabled-3" is-disabled>Tab 3</ods-tab>
  </ods-tabs>
  <script>
    const disabledTabs = document.querySelector('#disabled');
    const allDisabled = disabledTabs.querySelectorAll('ods-tab');

    disabledTabs.addEventListener('odsTabSelected', (event) => {
      allDisabled.forEach((tab) => {
        tab.removeAttribute('is-selected');
      });

      document.querySelector(`#${event.target.id}`).setAttribute('is-selected', 'true');
    });
  </script>

  <p>Overflow X</p>
  <div style="width: 300px;">
    <ods-tabs>
      <ods-tab>Tab 1</ods-tab>
      <ods-tab>Tab 2</ods-tab>
      <ods-tab>Tab 3</ods-tab>
      <ods-tab>Tab 4</ods-tab>
      <ods-tab>Tab 5</ods-tab>
      <ods-tab>Tab 6</ods-tab>
    </ods-tabs>
  </div>
</body>
</html>
