@import '~@ovhcloud/ods-theming/size/ods-component-size';

// Main CSS mixin for sizes
@mixin osds-tooltip-theme-size() {
  $size-definitions: ods-get-size-definitions();
  $component-size-definition: ods-get-component-size-definition($size-definitions, tooltip);

  ocdk-surface {
    width: max-content;
    max-width: 300px;
    word-break: break-all;
    overflow: visible;
  }

  .tooltip-content {
    $size-properties: ods-get-size-properties($component-size-definition, md);
    border-radius: ods-get-size-property($size-properties, border-radius);
    padding: ods-get-size-property($size-properties, padding);
  }
}
