:host(.ods-icon) {
  display: inline-block;
  -webkit-mask: center/contain no-repeat;
          mask: center/contain no-repeat;
  -webkit-mask-image: var(--ods-icon-mask-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'/%3E"));
          mask-image: var(--ods-icon-mask-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'/%3E"));
  background-color: var(--ods-color-primary-500);
  width: 1rem;
  height: 1rem;
}