@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import 'osds-message.mixins';

@mixin osds-message-theme-color() {

  :host {
    border-color: transparent;
  }

  :not([variant]) {
    @include ods-and-all-hue-foreach-theme-color((
            color: '900',
            background-color: '100'
    )) using($colors) {
      @include osds-message-on-selected-host() {
        color: map_get($colors, color);
        background-color: map_get($colors, background-color);
      }
    }

    &[contrasted] {
      @include ods-and-all-hue-foreach-theme-color((
              color: '500',
              background-color: '500-contrasted'
      )) using($colors) {
        @include osds-message-on-selected-host() {
          color: map_get($colors, color);
          background-color: map_get($colors, background-color);
        }
      }
    }
  }
}
