<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-skeleton</title>

  <script type='module' src='/build/ods-skeleton.esm.js'></script>
  <script nomodule src='/build/ods-skeleton.js'></script>
  <link rel="stylesheet" href="/build/ods-skeleton.css">
</head>

<body>
  <p>Default</p>
  <ods-skeleton>
  </ods-skeleton>

  <p>Custom Css</p>
  <ods-skeleton class="my-skeleton"></ods-skeleton>
  <style>
    .my-skeleton::part(skeleton) {
      width: 100px;
    }
  </style>

  <p>Inline</p>
  <ods-skeleton class="my-skeleton--inline"></ods-skeleton><span>text inline</span>

  <style>
    .my-skeleton--inline {
      display: inline-block;
      width: 100px;
    }
  </style>
</body>
</html>
