<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-progress-bar</title>

  <script type='module' src='/build/ods-progress-bar.esm.js'></script>
  <script nomodule src='/build/ods-progress-bar.js'></script>
  <link rel="stylesheet" href="/build/ods-progress-bar.css">
</head>

<body>
  <p>Default</p>
  <ods-progress-bar value="50">
  </ods-progress-bar>

  <p>Max (50)</p>
  <ods-progress-bar max="50" value="20">
  </ods-progress-bar>

  <p>End label</p>
  <ods-progress-bar value="50"></ods-progress-bar><span>50%</span>

  <p>Custom CSS</p>
  <ods-progress-bar class="my-progress">
  </ods-progress-bar>
  <style>
    .my-progress::part(progress) {
      width: 100px;
    }
  </style>
</body>
</html>
