@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?pd8djp');
  src:  url('font/icomoon.eot?pd8djp#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?pd8djp') format('truetype'),
  url('font/icomoon.woff?pd8djp') format('woff'),
  url('font/icomoon.svg?pd8djp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--sun:before {
  content: "\e900";
}
.icon--moon:before {
  content: "\e901";
}
.icon--github:before {
  content: "\e902";
}
