/* stylelint-disable color-hex-length */
$ods-palette-purple-000: #ffffff;
$ods-palette-purple-025: #fbf6ff;
$ods-palette-purple-050: #f7ecff;
$ods-palette-purple-075: #f1e0ff;
$ods-palette-purple-100: #ebcfff;
$ods-palette-purple-200: #dfb0ff;
$ods-palette-purple-300: #d498fd;
$ods-palette-purple-400: #bc77ec;
$ods-palette-purple-500: #9d5be8;
$ods-palette-purple-600: #7d3ee4;
$ods-palette-purple-700: #612bd9;
$ods-palette-purple-800: #4f1fbb;
$ods-palette-purple-900: #31128a;
$ods-palette-taupe-000: #ffffff;
$ods-palette-taupe-025: #fffcff;
$ods-palette-taupe-050: #fff6ff;
$ods-palette-taupe-075: #ffeafc;
$ods-palette-taupe-100: #ffe2f6;
$ods-palette-taupe-200: #ebcee1;
$ods-palette-taupe-300: #d7bacd;
$ods-palette-taupe-400: #c2a6b9;
$ods-palette-taupe-500: #af93a6;
$ods-palette-taupe-600: #9b8093;
$ods-palette-taupe-700: #886e80;
$ods-palette-taupe-800: #765c6e;
$ods-palette-taupe-900: #644b5c;
$ods-palette-mint-000: #ffffff;
$ods-palette-mint-025: #e3fff3;
$ods-palette-mint-050: #c7ffe8;
$ods-palette-mint-075: #b6ffdb;
$ods-palette-mint-100: #a5ffd0;
$ods-palette-mint-200: #83eab5;
$ods-palette-mint-300: #6fd6a1;
$ods-palette-mint-400: #5ac18e;
$ods-palette-mint-500: #45ad7c;
$ods-palette-mint-600: #2e9a69;
$ods-palette-mint-700: #108758;
$ods-palette-mint-800: #007447;
$ods-palette-mint-900: #006136;
$ods-palette-lime-000: #ffffff;
$ods-palette-lime-025: #fefee3;
$ods-palette-lime-050: #fbfbc9;
$ods-palette-lime-075: #f9fbb3;
$ods-palette-lime-100: #f7fa9d;
$ods-palette-lime-200: #f6f647;
$ods-palette-lime-300: #e3e902;
$ods-palette-lime-400: #ccd904;
$ods-palette-lime-500: #b5c806;
$ods-palette-lime-600: #9eb708;
$ods-palette-lime-700: #87a70a;
$ods-palette-lime-800: #70960c;
$ods-palette-lime-900: #405801;
$ods-palette-peach-000: #ffffff;
$ods-palette-peach-025: #fff0e8;
$ods-palette-peach-050: #ffdfc7;
$ods-palette-peach-075: #ffd7c0;
$ods-palette-peach-100: #ffcbb3;
$ods-palette-peach-200: #ffb6a0;
$ods-palette-peach-300: #ffa28d;
$ods-palette-peach-400: #fc8f7a;
$ods-palette-peach-500: #e67b68;
$ods-palette-peach-600: #d06856;
$ods-palette-peach-700: #bb5545;
$ods-palette-peach-800: #a54335;
$ods-palette-peach-900: #903025;
$ods-palette-white: #ffffff;
$ods-palette-jeans-blue: #a2d2ff;
$ods-palette-navy-blue: #001087;
$ods-color-neutral-000: $ods-palette-taupe-000;
$ods-color-neutral-025: $ods-palette-taupe-025;
$ods-color-neutral-050: $ods-palette-taupe-050;
$ods-color-neutral-075: $ods-palette-taupe-075;
$ods-color-neutral-100: $ods-palette-taupe-100;
$ods-color-neutral-200: $ods-palette-taupe-200;
$ods-color-neutral-300: $ods-palette-taupe-300;
$ods-color-neutral-400: $ods-palette-taupe-400;
$ods-color-neutral-500: $ods-palette-taupe-500;
$ods-color-neutral-600: $ods-palette-taupe-600;
$ods-color-neutral-700: $ods-palette-taupe-700;
$ods-color-neutral-800: $ods-palette-taupe-800;
$ods-color-neutral-900: $ods-palette-taupe-900;
$ods-color-primary-000: $ods-palette-purple-000;
$ods-color-primary-025: $ods-palette-purple-025;
$ods-color-primary-050: $ods-palette-purple-050;
$ods-color-primary-075: $ods-palette-purple-075;
$ods-color-primary-100: $ods-palette-purple-100;
$ods-color-primary-200: $ods-palette-purple-200;
$ods-color-primary-300: $ods-palette-purple-300;
$ods-color-primary-400: $ods-palette-purple-400;
$ods-color-primary-500: $ods-palette-purple-500;
$ods-color-primary-600: $ods-palette-purple-600;
$ods-color-primary-700: $ods-palette-purple-700;
$ods-color-primary-800: $ods-palette-purple-800;
$ods-color-primary-900: $ods-palette-purple-900;
$ods-color-information-000: $ods-palette-purple-000;
$ods-color-information-025: $ods-palette-purple-025;
$ods-color-information-050: $ods-palette-purple-050;
$ods-color-information-075: $ods-palette-purple-075;
$ods-color-information-100: $ods-palette-purple-100;
$ods-color-information-200: $ods-palette-purple-200;
$ods-color-information-300: $ods-palette-purple-300;
$ods-color-information-400: $ods-palette-purple-400;
$ods-color-information-500: $ods-palette-purple-500;
$ods-color-information-600: $ods-palette-purple-600;
$ods-color-information-700: $ods-palette-purple-700;
$ods-color-information-800: $ods-palette-purple-800;
$ods-color-information-900: $ods-palette-purple-900;
$ods-color-success-000: $ods-palette-mint-000;
$ods-color-success-025: $ods-palette-mint-025;
$ods-color-success-050: $ods-palette-mint-050;
$ods-color-success-075: $ods-palette-mint-075;
$ods-color-success-100: $ods-palette-mint-100;
$ods-color-success-200: $ods-palette-mint-200;
$ods-color-success-300: $ods-palette-mint-300;
$ods-color-success-400: $ods-palette-mint-400;
$ods-color-success-500: $ods-palette-mint-500;
$ods-color-success-600: $ods-palette-mint-600;
$ods-color-success-700: $ods-palette-mint-700;
$ods-color-success-800: $ods-palette-mint-800;
$ods-color-success-900: $ods-palette-mint-900;
$ods-color-warning-000: $ods-palette-lime-000;
$ods-color-warning-025: $ods-palette-lime-025;
$ods-color-warning-050: $ods-palette-lime-050;
$ods-color-warning-075: $ods-palette-lime-075;
$ods-color-warning-100: $ods-palette-lime-100;
$ods-color-warning-200: $ods-palette-lime-200;
$ods-color-warning-300: $ods-palette-lime-300;
$ods-color-warning-400: $ods-palette-lime-400;
$ods-color-warning-500: $ods-palette-lime-500;
$ods-color-warning-600: $ods-palette-lime-600;
$ods-color-warning-700: $ods-palette-lime-700;
$ods-color-warning-800: $ods-palette-lime-800;
$ods-color-warning-900: $ods-palette-lime-900;
$ods-color-critical-000: $ods-palette-peach-000;
$ods-color-critical-025: $ods-palette-peach-025;
$ods-color-critical-050: $ods-palette-peach-050;
$ods-color-critical-075: $ods-palette-peach-075;
$ods-color-critical-100: $ods-palette-peach-100;
$ods-color-critical-200: $ods-palette-peach-200;
$ods-color-critical-300: $ods-palette-peach-300;
$ods-color-critical-400: $ods-palette-peach-400;
$ods-color-critical-500: $ods-palette-peach-500;
$ods-color-critical-600: $ods-palette-peach-600;
$ods-color-critical-700: $ods-palette-peach-700;
$ods-color-critical-800: $ods-palette-peach-800;
$ods-color-critical-900: $ods-palette-peach-900;
$ods-color-brand-dark-blue: $ods-palette-purple-800;
$ods-color-brand-green: $ods-palette-lime-500;
$ods-color-brand-masterbrand: $ods-palette-purple-700;
$ods-color-brand-orange: $ods-palette-peach-600;
$ods-color-brand-skyblue: $ods-palette-purple-900;
$ods-color-brand-yellow: $ods-palette-lime-100;
$ods-color-alpha: $ods-palette-mint-300;
$ods-color-beta: $ods-palette-taupe-300;
$ods-color-eco: $ods-palette-peach-300;
$ods-color-heading: $ods-palette-purple-800;
$ods-color-limited: $ods-palette-taupe-500;
$ods-color-new: $ods-palette-jeans-blue;
$ods-color-promotion: $ods-palette-navy-blue;
$ods-color-text: $ods-palette-taupe-900;
$ods-color-background-disabled-default: $ods-color-neutral-100;
$ods-color-background-readonly-default: $ods-color-neutral-050;
$ods-color-border-disabled-default: $ods-color-neutral-200;
$ods-color-border-readonly-default: $ods-color-neutral-050;
$ods-color-text-disabled-default: $ods-color-neutral-500;
$ods-color-element-background-selected: $ods-color-primary-800;
$ods-color-element-text-selected: $ods-color-primary-000;
$ods-color-form-element-background-default: $ods-color-neutral-000;
$ods-color-form-element-background-hover-default: $ods-color-neutral-000;
$ods-color-form-element-background-focus-default: $ods-color-neutral-000;
$ods-color-form-element-background-critical: $ods-color-critical-000;
$ods-color-form-element-background-selected-critical: $ods-color-critical-500;
$ods-color-form-element-border-default: $ods-color-neutral-300;
$ods-color-form-element-border-hover-default: $ods-color-neutral-500;
$ods-color-form-element-border-focus-default: $ods-color-neutral-500;
$ods-color-form-element-border-critical: $ods-color-critical-500;
$ods-color-form-element-text-default: $ods-color-text;
$ods-color-form-element-text-placeholder-default: $ods-color-neutral-600;
$ods-border-radius-xs: 4px;
$ods-border-radius-sm: 8px;
$ods-border-radius-md: 16px;
$ods-border-radius-lg: 32px;
$ods-border-width-sm: 2px;
$ods-border-width-md: 4px;
$ods-breakpoint-sub-mobile: 360px;
$ods-breakpoint-mobile: 576px;
$ods-breakpoint-tablet: 768px;
$ods-breakpoint-desktop: 992px;
$ods-breakpoint-large-screen: 1200px;
$ods-breakpoint-widescreen: 1400px;
$ods-form-element-input-height: 48px;
$ods-outline-color-default: $ods-color-primary-700;
$ods-outline-offset: 4px;
$ods-outline-style-default: dashed;
$ods-outline-width: 4px;
$ods-transition-duration-default: 300ms;
/* stylelint-enable color-hex-length */
