@use '../../../../../style/button';
@use '../../../../../style/focus';
@use '../../../../../style/state';

@layer ods-molecules {
  .datepicker-content {
    --ods-datepicker-content-padding-horizontal: var(--ods-theme-padding-horizontal);
    --ods-datepicker-content-padding-vertical: var(--ods-theme-padding-vertical);

    border: var(--ods-theme-input-border-width) solid var(--ods-theme-input-border-color);
    border-radius: var(--ods-theme-overlay-border-radius);
    background-color: var(--ods-theme-background-color);
    padding: var(--ods-datepicker-content-padding-vertical) var(--ods-datepicker-content-padding-horizontal);

    &--invalid {
      border-color: var(--ods-theme-input-border-color-invalid);
    }

    &__table {
      width: calc(button.$ods-button-size-sm * 7);
      table-layout: fixed;

      &__week-day {
        box-sizing: border-box;
        width: button.$ods-button-size-sm;
        height: button.$ods-button-size-sm;
        color: var(--ods-theme-text-color);
        font-size: 1rem;
        font-weight: 400;

        &[data-disabled] {
          color: state.$ods-state-is-disabled-text-color;
        }
      }

      &__day {
        &:not(:disabled) {
          &[data-selected] {
            &[data-today] {
              &::after {
                background-color: var(--ods-theme-text-color-selected);
              }

              &[data-focus],
              &:hover {
                &::after {
                  background-color: var(--ods-theme-text-color-selected);
                }
              }
            }
          }

          &[data-today] {
            &::after {
              background-color: var(--ods-button-background-color-primary);
            }

            &[data-focus],
            &:hover {
              &::after {
                background-color: var(--ods-button-background-color-primary-hover);
              }
            }
          }
        }

        &[data-today] {
          position: relative;

          &::after {
            position: absolute;
            bottom: 3px;
            border-radius: 50%;
            background-color: state.$ods-state-is-disabled-text-color;
            width: 4px;
            height: 4px;
            content: "";
          }
        }

        &[data-outside-range] {
          opacity: 0.5;
        }
      }

      &__day,
      &__month,
      &__year {
        &:focus-visible {
          z-index: 2;
        }

        &:not(:disabled) {
          &[data-focus] {
            background-color: var(--ods-button-background-color-primary-ghost-hover);
            color: var(--ods-button-text-color-primary-ghost-hover);
          }

          &[data-selected] {
            background-color: var(--ods-theme-background-color-selected);
            color: var(--ods-theme-text-color-selected);

            &:focus-visible,
            &:hover {
              background-color: var(--ods-theme-background-color-selected);
              color: var(--ods-theme-text-color-selected);
            }
          }
        }

        &[data-focus] {
          &:focus-visible {
            @include focus.ods-focus;
          }

          &[data-unavailable] {
            background-color: var(--ods-theme-background-color-disabled);
            color: var(--ods-theme-border-color-disabled);
          }
        }

        &[data-selected] {
          background-color: var(--ods-theme-background-color-disabled);
          color: var(--ods-theme-border-color-disabled);
        }
      }

      &__month,
      &__year {
        width: calc(button.$ods-button-size-sm * 7 / 4);
      }
    }
  }
}
