@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-text.mixins';

@mixin osds-text-theme-color() {

    @include ods-all-hue-foreach-theme-color((
      color: '500',
    )) using($colors) {
      @include osds-text-on-selected-host() {
        color: map_get($colors, color);
      }
    }

    [hue] {
      @include ods-and-all-hue-foreach-theme-color((
              color: '500'
      )) using($colors) {
        @include osds-text-on-selected-host() {
          color: var(--osds-text-color-specific-hue, map_get($colors, color));
        }
      }
    }

    [contrasted] {
      @include ods-and-all-hue-foreach-theme-color((
        color: '500-contrasted'
      )) using($colors) {
        @include osds-text-on-selected-host() {
          color: map_get($colors, color);
        }
      }
    }

}

