@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming
:host {
  input {
    display: none;
  }
}

:host(:focus-visible) {
    outline-style: dotted;
    outline-width: var(--ods-size-inset-02);
    outline-offset: var(--ods-size-inset-02);
}

// apply the theme template for the component
@include ods-theme-component() {
  // set here additional stuff
}
