@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS for the component but not for theming

:host(:not([disabled]):focus-visible) {
  outline: var(--ods-color-gray-500) dotted var(--ods-size-inset-02);
  outline-offset: var(--ods-size-inset-02);
}

:host(:not([debug])) {
  display: block;

  .radio__input {
    position: absolute;
    width: var(--ods-size-01);
    height: var(--ods-size-01);
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}
