@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .menu-item {
    cursor: pointer;
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-theme-input-option-background-color-hover);
    }
  }
}
