@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .menu-item {
    position: relative;
    padding: var(--ods-theme-padding-vertical) var(--ods-theme-padding-horizontal);
    cursor: pointer;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-theme-input-option-background-color-hover);
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }
  }
}
