@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods-molecules {
  .menu-item {
    position: relative;
    padding: var(--ods-semantic-size-space-inset-block) var(--ods-semantic-size-space-inset-inline);
    cursor: pointer;

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-semantic-color-interaction-highlight-hover);
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }
  }
}
