@use '../../../../../style/table';

@layer ods-organisms {
  .table {
    --ods-table-striped-background-color: var(--ods-color-neutral-050);

    &--sm {
      @include table.ods-table('sm');
    }

    &--md {
      @include table.ods-table('md');
    }

    &--lg {
      @include table.ods-table('lg');
    }

    &--striped {
      tbody {
        tr:nth-child(2n) {
          th,
          td {
            background-color: var(--ods-table-striped-background-color);
          }
        }
      }
    }
  }
}
