@use '../../../../../style/state';

@layer ods-organisms {
  .file-upload-dropzone {
    $dropzone: &;

    display: flex;
    flex-flow: column;
    row-gap: var(--ods-theme-row-gap);
    align-items: center;
    padding: var(--ods-file-upload-padding-vertical) var(--ods-file-upload-padding-horizontal) 0;

    &--disabled {
      #{$dropzone}__icon {
        color: state.$ods-state-is-disabled-text-color;
      }
    }

    &--dragging {
      background-color: var(--ods-theme-background-color-drag-over);
    }

    &--empty {
      padding: var(--ods-file-upload-padding-vertical) var(--ods-file-upload-padding-horizontal);
    }

    &__icon {
      color: var(--ods-theme-primary-color);
      font-size: 2rem;
    }

    &__rules {
      display: flex;
      flex-flow: column;
      align-self: flex-start;
      font-size: 0.75rem;
    }

    &__error {
      display: flex;
      flex-flow: column;
      row-gap: var(--ods-theme-row-gap);
      color: var(--ods-theme-input-text-color-invalid);
      font-size: 0.75rem;
      font-weight: 600;

      &__divider {
        width: 100%;
      }
    }
  }
}
