@use '../../../../../style/state';

@layer ods-organisms {
  .file-upload-dropzone {
    display: flex;
    flex-flow: column;
    row-gap: var(--ods-theme-row-gap);

    &__rules {
      display: flex;
      flex-flow: column;
      font-size: 0.75rem;
    }

    &__zone {
      $zone: &;

      display: flex;
      flex-flow: column;
      gap: var(--ods-theme-row-gap) var(--ods-theme-column-gap);
      align-items: center;
      border: dashed 1px var(--ods-theme-input-border-color);
      border-radius: var(--ods-theme-border-radius);
      padding: var(--ods-file-upload-padding-vertical) var(--ods-file-upload-padding-horizontal);

      &--compact {
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--ods-file-upload-padding-vertical) var(--ods-file-upload-padding-horizontal);
      }

      &--dragging {
        background-color: var(--ods-theme-background-color-drag-over);
      }

      &--disabled {
        @include state.ods-is-disabled();

        #{$zone}__icon {
          color: state.$ods-state-is-disabled-text-color;
        }
      }

      &--invalid#{$zone}--invalid {
        border-color: var(--ods-theme-input-border-color-invalid);
      }

      &__icon {
        color: var(--ods-theme-primary-color);
        font-size: 2rem;
      }
    }

    &__error {
      color: var(--ods-theme-input-text-color-invalid);
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}
