@use '../../../../../style/state';

@layer ods-organisms {
  .file-upload-dropzone {
    display: flex;
    flex-flow: column;
    row-gap: var(--ods-semantic-size-space-gap-block);

    &__rules {
      display: flex;
      flex-flow: column;
      font-size: 0.75rem;
    }

    &__zone {
      $zone: &;

      display: flex;
      flex-flow: column;
      gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
      align-items: center;
      border: dashed 1px var(--ods-semantic-color-border-control);
      border-radius: calc(var(--ods-semantic-size-radius-container) / 2);
      padding: calc(var(--ods-file-upload-padding-vertical) * 3) calc(var(--ods-file-upload-padding-horizontal) * 3);

      &--compact {
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--ods-file-upload-padding-vertical) var(--ods-file-upload-padding-horizontal);
      }

      &--dragging {
        background-color: var(--ods-semantic-color-surface-drag-over);
      }

      &--disabled {
        @include state.ods-is-disabled();

        #{$zone}__icon {
          color: state.$ods-state-is-disabled-text-color;
        }
      }

      &--invalid#{$zone}--invalid {
        border-color: var(--ods-semantic-color-border-critical);
      }

      &__icon {
        color: var(--ods-semantic-color-content-base);
        font-size: 2rem;
      }
    }

    &__error {
      color: var(--ods-semantic-color-content-critical);
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}
