@use '../../../../../style/focus';
@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods {
  .clipboard {
    @include state.ods-is-readonly();

    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    border-width: 0;
    border-style: solid;
    border-radius: var(--ods-border-radius-sm);
    padding-right: input.$ods-input-actions-padding-right;
    height: input.$ods-input-field-height;

    &:focus-within:not(:has(button:focus-within)) {
      @include focus.ods-focus();
    }

    &--disabled {
      @include state.ods-is-disabled();
    }
  }
}
