/* stylelint-disable color-hex-length */
$ods-palette-blue-000: #ffffff;
$ods-palette-blue-025: #f3fdff;
$ods-palette-blue-050: #e6faff;
$ods-palette-blue-075: #cef5ff;
$ods-palette-blue-100: #bef1ff;
$ods-palette-blue-200: #85d9fd;
$ods-palette-blue-300: #4bb2f6;
$ods-palette-blue-400: #157eea;
$ods-palette-blue-500: #0050d7;
$ods-palette-blue-600: #002dbe;
$ods-palette-blue-700: #000e9c;
$ods-palette-blue-800: #00185e;
$ods-palette-blue-900: #000d1f;
$ods-palette-gray-000: #ffffff;
$ods-palette-gray-025: #f9f9f9;
$ods-palette-gray-050: #f2f2f2;
$ods-palette-gray-075: #ececec;
$ods-palette-gray-100: #e6e6e6;
$ods-palette-gray-200: #cccccc;
$ods-palette-gray-300: #b3b3b3;
$ods-palette-gray-400: #999999;
$ods-palette-gray-500: #808080;
$ods-palette-gray-600: #666666;
$ods-palette-gray-700: #4d4d4d;
$ods-palette-gray-800: #333333;
$ods-palette-gray-900: #1a1a1a;
$ods-palette-green-000: #ffffff;
$ods-palette-green-025: #f3fbeb;
$ods-palette-green-050: #e7f7d7;
$ods-palette-green-075: #ddf5d1;
$ods-palette-green-100: #d2f2c2;
$ods-palette-green-200: #90cc7a;
$ods-palette-green-300: #64b347;
$ods-palette-green-400: #47991f;
$ods-palette-green-500: #2b8000;
$ods-palette-green-600: #267300;
$ods-palette-green-700: #226600;
$ods-palette-green-800: #1a4d00;
$ods-palette-green-900: #113300;
$ods-palette-orange-000: #ffffff;
$ods-palette-orange-025: #fffbe5;
$ods-palette-orange-050: #fff7cc;
$ods-palette-orange-075: #feefa4;
$ods-palette-orange-100: #feea86;
$ods-palette-orange-200: #fed265;
$ods-palette-orange-300: #ffbb43;
$ods-palette-orange-400: #ffa322;
$ods-palette-orange-500: #ff8b00;
$ods-palette-orange-600: #cc7000;
$ods-palette-orange-700: #995400;
$ods-palette-orange-800: #663800;
$ods-palette-orange-900: #4d2a00;
$ods-palette-red-000: #ffffff;
$ods-palette-red-025: #fff3f5;
$ods-palette-red-050: #ffe6ec;
$ods-palette-red-075: #ffd9e3;
$ods-palette-red-100: #ffccd9;
$ods-palette-red-200: #ef99ab;
$ods-palette-red-300: #e67386;
$ods-palette-red-400: #cf334e;
$ods-palette-red-500: #bf0020;
$ods-palette-red-600: #a6001c;
$ods-palette-red-700: #800015;
$ods-palette-red-800: #660011;
$ods-palette-red-900: #4d000d;
$ods-palette-white: #ffffff;
$ods-palette-twilight: #4d5592;
$ods-palette-deep-sapphire: #00185e;
$ods-palette-royal-fuschia: #ac246f;
$ods-palette-deep-orange: #df3602;
$ods-palette-light-yellow-green: #dffe81;
$ods-palette-canary-yellow: #fbfe47;
$ods-palette-inch-worm: #ccff66;
$ods-palette-bright-green: #47fe78;
$ods-palette-bright-cyan: #47fffa;
$ods-palette-turquoise-blue: #73e3ff;
$ods-palette-bright-gold: #ffd124;
$ods-palette-kiwi-green: #a6d64d;
$ods-palette-dusty-orange: #ed733d;
$ods-color-neutral-000: $ods-palette-gray-000;
$ods-color-neutral-025: $ods-palette-gray-025;
$ods-color-neutral-050: $ods-palette-gray-050;
$ods-color-neutral-075: $ods-palette-gray-075;
$ods-color-neutral-100: $ods-palette-gray-100;
$ods-color-neutral-200: $ods-palette-gray-200;
$ods-color-neutral-300: $ods-palette-gray-300;
$ods-color-neutral-400: $ods-palette-gray-400;
$ods-color-neutral-500: $ods-palette-gray-500;
$ods-color-neutral-600: $ods-palette-gray-600;
$ods-color-neutral-700: $ods-palette-gray-700;
$ods-color-neutral-800: $ods-palette-gray-800;
$ods-color-neutral-900: $ods-palette-gray-900;
$ods-color-primary-000: $ods-palette-blue-000;
$ods-color-primary-025: $ods-palette-blue-025;
$ods-color-primary-050: $ods-palette-blue-050;
$ods-color-primary-075: $ods-palette-blue-075;
$ods-color-primary-100: $ods-palette-blue-100;
$ods-color-primary-200: $ods-palette-blue-200;
$ods-color-primary-300: $ods-palette-blue-300;
$ods-color-primary-400: $ods-palette-blue-400;
$ods-color-primary-500: $ods-palette-blue-500;
$ods-color-primary-600: $ods-palette-blue-600;
$ods-color-primary-700: $ods-palette-blue-700;
$ods-color-primary-800: $ods-palette-blue-800;
$ods-color-primary-900: $ods-palette-blue-900;
$ods-color-information-000: $ods-palette-blue-000;
$ods-color-information-025: $ods-palette-blue-025;
$ods-color-information-050: $ods-palette-blue-050;
$ods-color-information-075: $ods-palette-blue-075;
$ods-color-information-100: $ods-palette-blue-100;
$ods-color-information-200: $ods-palette-blue-200;
$ods-color-information-300: $ods-palette-blue-300;
$ods-color-information-400: $ods-palette-blue-400;
$ods-color-information-500: $ods-palette-blue-500;
$ods-color-information-600: $ods-palette-blue-600;
$ods-color-information-700: $ods-palette-blue-700;
$ods-color-information-800: $ods-palette-blue-800;
$ods-color-information-900: $ods-palette-blue-900;
$ods-color-success-000: $ods-palette-green-000;
$ods-color-success-025: $ods-palette-green-025;
$ods-color-success-050: $ods-palette-green-050;
$ods-color-success-075: $ods-palette-green-075;
$ods-color-success-100: $ods-palette-green-100;
$ods-color-success-200: $ods-palette-green-200;
$ods-color-success-300: $ods-palette-green-300;
$ods-color-success-400: $ods-palette-green-400;
$ods-color-success-500: $ods-palette-green-500;
$ods-color-success-600: $ods-palette-green-600;
$ods-color-success-700: $ods-palette-green-700;
$ods-color-success-800: $ods-palette-green-800;
$ods-color-success-900: $ods-palette-green-900;
$ods-color-warning-000: $ods-palette-orange-000;
$ods-color-warning-025: $ods-palette-orange-025;
$ods-color-warning-050: $ods-palette-orange-050;
$ods-color-warning-075: $ods-palette-orange-075;
$ods-color-warning-100: $ods-palette-orange-100;
$ods-color-warning-200: $ods-palette-orange-200;
$ods-color-warning-300: $ods-palette-orange-300;
$ods-color-warning-400: $ods-palette-orange-400;
$ods-color-warning-500: $ods-palette-orange-500;
$ods-color-warning-600: $ods-palette-orange-600;
$ods-color-warning-700: $ods-palette-orange-700;
$ods-color-warning-800: $ods-palette-orange-800;
$ods-color-warning-900: $ods-palette-orange-900;
$ods-color-critical-000: $ods-palette-red-000;
$ods-color-critical-025: $ods-palette-red-025;
$ods-color-critical-050: $ods-palette-red-050;
$ods-color-critical-075: $ods-palette-red-075;
$ods-color-critical-100: $ods-palette-red-100;
$ods-color-critical-200: $ods-palette-red-200;
$ods-color-critical-300: $ods-palette-red-300;
$ods-color-critical-400: $ods-palette-red-400;
$ods-color-critical-500: $ods-palette-red-500;
$ods-color-critical-600: $ods-palette-red-600;
$ods-color-critical-700: $ods-palette-red-700;
$ods-color-critical-800: $ods-palette-red-800;
$ods-color-critical-900: $ods-palette-red-900;
$ods-color-brand-dark-blue: $ods-palette-blue-800;
$ods-color-brand-green: $ods-palette-kiwi-green;
$ods-color-brand-masterbrand: $ods-palette-blue-700;
$ods-color-brand-orange: $ods-palette-dusty-orange;
$ods-color-brand-skyblue: $ods-palette-turquoise-blue;
$ods-color-brand-yellow: $ods-palette-bright-gold;
$ods-color-alpha: $ods-palette-canary-yellow;
$ods-color-beta: $ods-palette-bright-green;
$ods-color-eco: $ods-palette-light-yellow-green;
$ods-color-heading: $ods-palette-deep-sapphire;
$ods-color-limited: $ods-palette-deep-orange;
$ods-color-new: $ods-palette-bright-cyan;
$ods-color-promotion: $ods-palette-inch-worm;
$ods-color-text: $ods-palette-twilight;
$ods-color-background-disabled-default: $ods-color-neutral-100;
$ods-color-background-readonly-default: $ods-color-neutral-050;
$ods-color-border-disabled-default: $ods-color-neutral-200;
$ods-color-border-readonly-default: $ods-color-neutral-050;
$ods-color-text-disabled-default: $ods-color-neutral-500;
$ods-color-element-background-selected: $ods-color-primary-800;
$ods-color-element-text-selected: $ods-color-primary-000;
$ods-color-form-element-background-default: $ods-color-neutral-000;
$ods-color-form-element-background-hover-default: $ods-color-neutral-000;
$ods-color-form-element-background-focus-default: $ods-color-neutral-000;
$ods-color-form-element-background-critical: $ods-color-critical-000;
$ods-color-form-element-background-selected-critical: $ods-color-critical-500;
$ods-color-form-element-border-default: $ods-color-neutral-300;
$ods-color-form-element-border-hover-default: $ods-color-neutral-500;
$ods-color-form-element-border-focus-default: $ods-color-neutral-500;
$ods-color-form-element-border-critical: $ods-color-critical-500;
$ods-color-form-element-text-default: $ods-color-text;
$ods-color-form-element-text-placeholder-default: $ods-color-neutral-600;
$ods-border-radius-xs: 2px;
$ods-border-radius-sm: 4px;
$ods-border-radius-md: 8px;
$ods-border-radius-lg: 16px;
$ods-border-width-sm: 1px;
$ods-border-width-md: 2px;
$ods-breakpoint-sub-mobile: 360px;
$ods-breakpoint-mobile: 576px;
$ods-breakpoint-tablet: 768px;
$ods-breakpoint-desktop: 992px;
$ods-breakpoint-large-screen: 1200px;
$ods-breakpoint-widescreen: 1400px;
$ods-form-element-input-height: 32px;
$ods-outline-color-default: $ods-color-primary-700;
$ods-outline-offset: 2px;
$ods-outline-style-default: solid;
$ods-outline-width: 2px;
$ods-transition-duration-default: 300ms;
/* stylelint-enable color-hex-length */
