@import '../../assets/fonts/source-code-pro';
@import '../../assets/fonts/source-sans-pro';

/* stylelint-disable color-hex-length */
$ods-color-neutral-000: #ffffff;
$ods-color-neutral-050: #f2f2f2;
$ods-color-neutral-100: #e6e6e6;
$ods-color-neutral-200: #cccccc;
$ods-color-neutral-300: #b3b3b3;
$ods-color-neutral-400: #999999;
$ods-color-neutral-500: #808080;
$ods-color-neutral-600: #666666;
$ods-color-neutral-700: #4d4d4d;
$ods-color-neutral-800: #333333;
$ods-color-neutral-900: #1a1a1a;
$ods-color-primary-000: #ffffff;
$ods-color-primary-050: #e6faff;
$ods-color-primary-100: #bef1ff;
$ods-color-primary-200: #85d9fd;
$ods-color-primary-300: #4bb2f6;
$ods-color-primary-400: #157eea;
$ods-color-primary-500: #0050d7;
$ods-color-primary-600: #002dbe;
$ods-color-primary-700: #000e9c;
$ods-color-primary-800: #00185e;
$ods-color-primary-900: #000d1f;
$ods-color-critical-000: #ffffff;
$ods-color-critical-050: #ffe6ec;
$ods-color-critical-100: #ffccd9;
$ods-color-critical-200: #ef99ab;
$ods-color-critical-300: #e67386;
$ods-color-critical-400: #cf334e;
$ods-color-critical-500: #bf0020;
$ods-color-critical-600: #a6001c;
$ods-color-critical-700: #800015;
$ods-color-critical-800: #660011;
$ods-color-critical-900: #4d000d;
$ods-single-color-text: #4d5592;
$ods-spacing-1: 0.063rem;
$ods-spacing-2: 0.13rem;
$ods-spacing-4: 0.25rem;
$ods-spacing-8: 0.5rem;
$ods-spacing-12: 0.75rem;
$ods-spacing-16: 1rem;
$ods-spacing-20: 1.25rem;
$ods-spacing-24: 1.5rem;
$ods-spacing-32: 2rem;
$ods-spacing-40: 2.5rem;
$ods-spacing-48: 3rem;
$ods-border-radius-sm: $ods-spacing-4;
$ods-border-radius-md: $ods-spacing-8;
$ods-border-radius-lg: $ods-spacing-16;
$ods-outline-color: $ods-color-primary-700;
$ods-outline-width: $ods-spacing-2;
$ods-outline-offset: $ods-spacing-2;
$ods-outline-style: solid;
$ods-form-element-background-color-default: $ods-color-neutral-000;
$ods-form-element-background-color-hover: $ods-color-primary-100;
$ods-form-element-background-color-pressed: $ods-color-primary-200;
$ods-form-element-background-color-active: $ods-color-primary-200;
$ods-form-element-background-color-focused: $ods-color-primary-100;
$ods-form-element-background-color-critical: $ods-color-critical-000;
$ods-form-element-foreground-color-text: $ods-single-color-text;
$ods-form-element-border-color-default: $ods-color-neutral-300;
$ods-form-element-foreground-color-placeholder: $ods-color-neutral-600;
$ods-form-element-border-color-hover: $ods-color-primary-200;
$ods-form-element-border-color-pressed: $ods-color-primary-200;
$ods-form-element-border-color-active: $ods-color-primary-200;
$ods-form-element-border-color-focused: $ods-color-neutral-300;
$ods-form-element-border-color-critical: $ods-color-critical-500;
$ods-notifier-background-color-neutral-default: $ods-color-neutral-100;
$ods-notifier-background-color-neutral-hover: $ods-color-neutral-200;
$ods-notifier-background-color-neutral-pressed: $ods-color-neutral-300;
$ods-notifier-background-color-neutral-focused: $ods-color-neutral-200;
$ods-notifier-background-color-critical-default: $ods-color-critical-100;
$ods-notifier-background-color-critical-hover: $ods-color-critical-200;
$ods-notifier-background-color-critical-pressed: $ods-color-critical-300;
$ods-notifier-background-color-critical-focused: $ods-color-critical-200;
$ods-notifier-border-color-neutral-default: $ods-color-neutral-100;
$ods-notifier-border-color-neutral-hover: $ods-color-neutral-200;
$ods-notifier-border-color-neutral-pressed: $ods-color-neutral-300;
$ods-notifier-border-color-neutral-focused: $ods-color-neutral-200;
$ods-notifier-border-color-critical-default: $ods-color-critical-100;
$ods-notifier-border-color-critical-hover: $ods-color-critical-200;
$ods-notifier-border-color-critical-pressed: $ods-color-critical-300;
$ods-notifier-border-color-critical-focused: $ods-color-critical-200;
$ods-notifier-foreground-color-neutral-default: $ods-color-neutral-800;
$ods-notifier-foreground-color-neutral-focused: $ods-color-neutral-800;
$ods-notifier-foreground-color-critical-default: $ods-color-critical-800;
$ods-notifier-foreground-color-critical-focused: $ods-color-critical-800;
/* stylelint-enable color-hex-length */

:root {
  --ods-color-neutral-050: #{$ods-color-neutral-050};
  --ods-color-neutral-100: #{$ods-color-neutral-100};
  --ods-color-neutral-500: #{$ods-color-neutral-500};
  --ods-color-primary-000: #{$ods-color-primary-000};
  --ods-color-primary-200: #{$ods-color-primary-200};
  --ods-color-primary-500: #{$ods-color-primary-500};
  --ods-color-primary-700: #{$ods-color-primary-700};
  --ods-color-primary-800: #{$ods-color-primary-800};
  --ods-font-family-code: 'Source Code Pro', arial;
  --ods-font-family-default: 'Source Sans Pro', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
  --ods-spacing-1: #{$ods-spacing-1};
  --ods-spacing-2: #{$ods-spacing-2};
  --ods-spacing-4: #{$ods-spacing-4};
  --ods-spacing-8: #{$ods-spacing-8};
  --ods-outline-color: #{$ods-outline-color};
  --ods-outline-width: #{$ods-outline-width};
  --ods-outline-offset: #{$ods-outline-offset};
  --ods-outline-style: #{$ods-outline-style};
}
