/*
 * Expose the theme design tokens and layers order.
 */
@use './variables' as var;
@layer ods-quarks, ods-atoms, ods-molecules, ods-organisms;

:root {
  // Color Palettes
  //--ods-color-alpha: #{var.$ods-color-alpha};
  //--ods-color-beta: #{var.$ods-color-beta};
  //--ods-color-critical-000: #{var.$ods-color-critical-000};
  //--ods-color-critical-025: #{var.$ods-color-critical-025};
  //--ods-color-critical-050: #{var.$ods-color-critical-050};
  //--ods-color-critical-075: #{var.$ods-color-critical-075};
  //--ods-color-critical-100: #{var.$ods-color-critical-100};
  //--ods-color-critical-200: #{var.$ods-color-critical-200};
  //--ods-color-critical-300: #{var.$ods-color-critical-300};
  //--ods-color-critical-400: #{var.$ods-color-critical-400};
  //--ods-color-critical-500: #{var.$ods-color-critical-500};
  //--ods-color-critical-600: #{var.$ods-color-critical-600};
  //--ods-color-critical-700: #{var.$ods-color-critical-700};
  //--ods-color-critical-800: #{var.$ods-color-critical-800};
  //--ods-color-critical-900: #{var.$ods-color-critical-900};
  //--ods-color-information-000: #{var.$ods-color-information-000};
  //--ods-color-information-025: #{var.$ods-color-information-025};
  //--ods-color-information-050: #{var.$ods-color-information-050};
  //--ods-color-information-075: #{var.$ods-color-information-075};
  //--ods-color-information-100: #{var.$ods-color-information-100};
  //--ods-color-information-200: #{var.$ods-color-information-200};
  //--ods-color-information-300: #{var.$ods-color-information-300};
  //--ods-color-information-400: #{var.$ods-color-information-400};
  //--ods-color-information-500: #{var.$ods-color-information-500};
  //--ods-color-information-600: #{var.$ods-color-information-600};
  //--ods-color-information-700: #{var.$ods-color-information-700};
  //--ods-color-information-800: #{var.$ods-color-information-800};
  //--ods-color-information-900: #{var.$ods-color-information-900};
  //--ods-color-neutral-000: #{var.$ods-color-neutral-000};
  //--ods-color-neutral-025: #{var.$ods-color-neutral-025};
  //--ods-color-neutral-050: #{var.$ods-color-neutral-050};
  //--ods-color-neutral-075: #{var.$ods-color-neutral-075};
  //--ods-color-neutral-100: #{var.$ods-color-neutral-100};
  //--ods-color-neutral-200: #{var.$ods-color-neutral-200};
  //--ods-color-neutral-300: #{var.$ods-color-neutral-300};
  //--ods-color-neutral-400: #{var.$ods-color-neutral-400};
  //--ods-color-neutral-500: #{var.$ods-color-neutral-500};
  //--ods-color-neutral-600: #{var.$ods-color-neutral-600};
  //--ods-color-neutral-700: #{var.$ods-color-neutral-700};
  //--ods-color-neutral-800: #{var.$ods-color-neutral-800};
  //--ods-color-neutral-900: #{var.$ods-color-neutral-900};
  //--ods-color-new: #{var.$ods-color-new};
  //--ods-color-primary-000: #{var.$ods-color-primary-000};
  //--ods-color-primary-025: #{var.$ods-color-primary-025};
  //--ods-color-primary-050: #{var.$ods-color-primary-050};
  //--ods-color-primary-075: #{var.$ods-color-primary-075};
  //--ods-color-primary-100: #{var.$ods-color-primary-100};
  //--ods-color-primary-200: #{var.$ods-color-primary-200};
  //--ods-color-primary-300: #{var.$ods-color-primary-300};
  //--ods-color-primary-400: #{var.$ods-color-primary-400};
  //--ods-color-primary-500: #{var.$ods-color-primary-500};
  //--ods-color-primary-600: #{var.$ods-color-primary-600};
  //--ods-color-primary-700: #{var.$ods-color-primary-700};
  //--ods-color-primary-800: #{var.$ods-color-primary-800};
  //--ods-color-primary-900: #{var.$ods-color-primary-900};
  //--ods-color-promotion: #{var.$ods-color-promotion};
  //--ods-color-success-000: #{var.$ods-color-success-000};
  //--ods-color-success-025: #{var.$ods-color-success-025};
  //--ods-color-success-050: #{var.$ods-color-success-050};
  //--ods-color-success-075: #{var.$ods-color-success-075};
  //--ods-color-success-100: #{var.$ods-color-success-100};
  //--ods-color-success-200: #{var.$ods-color-success-200};
  //--ods-color-success-300: #{var.$ods-color-success-300};
  //--ods-color-success-400: #{var.$ods-color-success-400};
  //--ods-color-success-500: #{var.$ods-color-success-500};
  //--ods-color-success-600: #{var.$ods-color-success-600};
  //--ods-color-success-700: #{var.$ods-color-success-700};
  //--ods-color-success-800: #{var.$ods-color-success-800};
  //--ods-color-success-900: #{var.$ods-color-success-900};
  //--ods-color-warning-000: #{var.$ods-color-warning-000};
  //--ods-color-warning-025: #{var.$ods-color-warning-025};
  //--ods-color-warning-050: #{var.$ods-color-warning-050};
  //--ods-color-warning-075: #{var.$ods-color-warning-075};
  //--ods-color-warning-100: #{var.$ods-color-warning-100};
  //--ods-color-warning-200: #{var.$ods-color-warning-200};
  //--ods-color-warning-300: #{var.$ods-color-warning-300};
  //--ods-color-warning-400: #{var.$ods-color-warning-400};
  //--ods-color-warning-500: #{var.$ods-color-warning-500};
  //--ods-color-warning-600: #{var.$ods-color-warning-600};
  //--ods-color-warning-700: #{var.$ods-color-warning-700};
  //--ods-color-warning-800: #{var.$ods-color-warning-800};
  //--ods-color-warning-900: #{var.$ods-color-warning-900};
  --ods-color-alpha: #FFFF76;
  --ods-color-beta: #6CFFA0;
  --ods-color-critical-000: #fff1f0;
  --ods-color-critical-025: #fff3f5;
  --ods-color-critical-050: #ffe6ec;
  --ods-color-critical-075: #ffd9e3;
  --ods-color-critical-100: #fff0f0;
  --ods-color-critical-200: #fcd7d7;
  --ods-color-critical-300: #f0a5a8;
  --ods-color-critical-400: #e3787f;
  --ods-color-critical-500: #d7505e;
  --ods-color-critical-600: #b03848;
  --ods-color-critical-700: #8a2536;
  --ods-color-critical-800: #631625;
  --ods-color-critical-900: #3d0d18;
  --ods-color-information-000: #f0f9ff;
  --ods-color-information-025: #f3fdff;
  --ods-color-information-050: #e6faff;
  --ods-color-information-075: #cef5ff;
  --ods-color-information-100: #f0f9ff;
  --ods-color-information-200: #f0f8ff;
  --ods-color-information-300: #f0f8ff;
  --ods-color-information-400: #cfe7ff;
  --ods-color-information-500: #a2ccfb;
  --ods-color-information-600: #7fa4d4;
  --ods-color-information-700: #5f7fad;
  --ods-color-information-800: #445c87;
  --ods-color-information-900: #2f4061;
  --ods-color-neutral-000: #d5dbe3;
  --ods-color-neutral-025: #f9f9f9;
  --ods-color-neutral-050: #f2f2f2;
  --ods-color-neutral-075: #ececec;
  --ods-color-neutral-100: #c9ced6;
  --ods-color-neutral-200: #bdc1c9;
  --ods-color-neutral-300: #b1b5bd;
  --ods-color-neutral-400: #a5a8b0;
  --ods-color-neutral-500: #9699a3;
  --ods-color-neutral-600: #6d707d;
  --ods-color-neutral-700: #474a57;
  --ods-color-neutral-800: #252730;
  --ods-color-neutral-900: #08080a;
  --ods-color-new: #7AFFFF;
  --ods-color-primary-000: #f0f9ff;
  --ods-color-primary-025: #f3fdff;
  --ods-color-primary-050: #e6faff;
  --ods-color-primary-075: #cef5ff;
  --ods-color-primary-100: #f0f8ff;
  --ods-color-primary-200: #e3f1ff;
  --ods-color-primary-300: #badbff;
  --ods-color-primary-400: #91c3ff;
  --ods-color-primary-500: #66a2f7;
  --ods-color-primary-600: #4b7fd1;
  --ods-color-primary-700: #355eab;
  --ods-color-primary-800: #224285;
  --ods-color-primary-900: #182c5e;
  --ods-color-promotion: #AC246F;
  --ods-color-success-000: #ecf5e6;
  --ods-color-success-025: #f3fbeb;
  --ods-color-success-050: #e7f7d7;
  --ods-color-success-075: #ddf5d1;
  --ods-color-success-100: #dfe8da;
  --ods-color-success-200: #cbdbc3;
  --ods-color-success-300: #a8cf97;
  --ods-color-success-400: #85c26e;
  --ods-color-success-500: #63b64a;
  --ods-color-success-600: #468f33;
  --ods-color-success-700: #2c6920;
  --ods-color-success-800: #184211;
  --ods-color-success-900: #091c07;
  --ods-color-warning-000: #fff8e6;
  --ods-color-warning-025: #fffbe5;
  --ods-color-warning-050: #fff7cc;
  --ods-color-warning-075: #feefa4;
  --ods-color-warning-100: #ffeabd;
  --ods-color-warning-200: #ffda94;
  --ods-color-warning-300: #ffc66b;
  --ods-color-warning-400: #f5a940;
  --ods-color-warning-500: #e78917;
  --ods-color-warning-600: #c2690a;
  --ods-color-warning-700: #9c4b00;
  --ods-color-warning-800: #753500;
  --ods-color-warning-900: #4f2100;

  // Theme colors
  --ods-theme-anchor-text-color: #66a2f7;
  //--ods-theme-anchor-text-color-hover: #355eab;
  --ods-theme-anchor-text-color-visited: #355eab;
  --ods-theme-background-color: #fff;
  --ods-theme-background-color-disabled: #c9ced6;
  --ods-theme-background-color-drag-over: #f0f8ff;
  --ods-theme-background-color-readonly: #f2f2f2;
  --ods-theme-background-color-selected: #224285;
  --ods-theme-border-color: #9699a3;
  --ods-theme-border-color-disabled: #bdc1c9;
  --ods-theme-border-color-drag-over: #f0f8ff;
  --ods-theme-border-color-readonly: #f2f2f2;
  --ods-theme-border-color-selected: #224285;
  --ods-theme-brand-color: #355eab;
  --ods-theme-heading-text-color: #00185e;
  --ods-theme-progress-background-color: #66a2f7;
  --ods-theme-split-background-color: #c9ced6;
  --ods-theme-split-border-color: #c9ced6;
  --ods-theme-text-color: #4d5592;
  --ods-theme-text-color-disabled: #9699a3;
  --ods-theme-text-color-selected: #f0f9ff;
  --ods-theme-track-background-color: #c9ced6;
  --ods-theme-track-background-color-disabled: #9699a3;

  // Color variants
  --ods-theme-critical-color: #d7505e;
  --ods-theme-information-color: #a2ccfb;
  --ods-theme-neutral-color: #9699a3;
  --ods-theme-primary-color: #66a2f7;
  --ods-theme-success-color: #63b64a;
  --ods-theme-warning-color: #e78917;

  // Outline
  --ods-theme-outline-color: #355eab;
  --ods-theme-outline-offset: 0;
  --ods-theme-outline-style: solid;
  --ods-theme-outline-width: 2px;

  // Spacings
  --ods-theme-border-radius: 4px;
  --ods-theme-border-width: 1px;
  --ods-theme-column-gap: 4px;
  --ods-theme-padding-horizontal: 4px;
  --ods-theme-padding-vertical: 4px;
  --ods-theme-row-gap: 4px;

  // Overlay
  --ods-theme-backdrop-background-color: #66a2f7;
  --ods-theme-backdrop-opacity: 0.75;
  --ods-theme-overlay-border-radius: var(--ods-theme-border-radius);
  --ods-theme-overlay-box-shadow: 0 2px 8px rgba(0, 14, 156, 0.2);
  --ods-theme-overlay-z-index: 99;

  // Fonts
  --ods-theme-font-family: 'Noto Sans Display', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
  --ods-theme-font-family-code: 'Noto Sans Mono', arial;

  // Form elements
  --ods-theme-input-background-color-checked: #66a2f7;
  --ods-theme-input-background-color-checked-hover: #355eab;
  --ods-theme-input-background-color-invalid: #d7505e;
  --ods-theme-input-border-color: #b1b5bd;
  --ods-theme-input-border-color-checked: #66a2f7;
  --ods-theme-input-border-color-checked-hover: #355eab;
  --ods-theme-input-border-color-hover: #9699a3;
  --ods-theme-input-border-color-invalid: #d7505e;
  --ods-theme-input-border-radius: var(--ods-theme-border-radius);
  --ods-theme-input-border-width: var(--ods-theme-border-width);
  --ods-theme-input-min-height: 32px;
  --ods-theme-input-option-background-color-hover: #f0f8ff;
  --ods-theme-input-option-background-color-selected: #e6faff;
  --ods-theme-input-option-background-color-selected-hover: #f0f8ff;
  --ods-theme-input-padding-horizontal: 4px;
  --ods-theme-input-padding-vertical: 2px;
  --ods-theme-input-placeholder-text-color: #6d707d;
  --ods-theme-input-text-color: var(--ods-theme-text-color);
  --ods-theme-input-text-color-checked: var(--ods-theme-background-color);
  --ods-theme-input-text-color-invalid: #d7505e;

  // [Deprecated] will be removed in next major version
  //--ods-border-radius-xs: #{var.$ods-border-radius-xs};
  //--ods-border-radius-sm: #{var.$ods-border-radius-sm};
  //--ods-border-radius-md: #{var.$ods-border-radius-md};
  //--ods-border-radius-lg: #{var.$ods-border-radius-lg};
  //--ods-border-width-sm: #{var.$ods-border-width-sm};
  //--ods-border-width-md: #{var.$ods-border-width-md};
  //--ods-color-background-disabled-default: #{var.$ods-color-background-disabled-default};
  //--ods-color-background-readonly-default: #{var.$ods-color-background-readonly-default};
  //--ods-color-border-disabled-default: #{var.$ods-color-border-disabled-default};
  //--ods-color-border-readonly-default: #{var.$ods-color-border-readonly-default};
  //--ods-color-element-background-selected: #{var.$ods-color-element-background-selected};
  //--ods-color-element-text-selected: #{var.$ods-color-element-text-selected};
  //--ods-color-form-element-background-critical: #{var.$ods-color-form-element-background-critical};
  //--ods-color-form-element-background-default: #{var.$ods-color-form-element-background-default};
  //--ods-color-form-element-background-focus-default: #{var.$ods-color-form-element-background-focus-default};
  //--ods-color-form-element-background-hover-default: #{var.$ods-color-form-element-background-hover-default};
  //--ods-color-form-element-background-selected-critical: #{var.$ods-color-form-element-background-selected-critical};
  //--ods-color-form-element-border-critical: #{var.$ods-color-form-element-border-critical};
  //--ods-color-form-element-border-default: #{var.$ods-color-form-element-border-default};
  //--ods-color-form-element-border-focus-default: #{var.$ods-color-form-element-border-focus-default};
  //--ods-color-form-element-border-hover-default: #{var.$ods-color-form-element-border-hover-default};
  //--ods-color-form-element-text-default: #{var.$ods-color-form-element-text-default};
  //--ods-color-form-element-text-placeholder-default: #{var.$ods-color-form-element-text-placeholder-default};
  //--ods-color-heading: #{var.$ods-color-heading};
  //--ods-color-text: #{var.$ods-color-text};
  //--ods-color-text-disabled-default: #{var.$ods-color-text-disabled-default};
  //--ods-font-family-code: 'Source Code Pro', arial;
  //--ods-font-family-default: 'Source Sans Pro', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
  //--ods-form-element-input-height: #{var.$ods-form-element-input-height};
  //--ods-outline-color-default: #{var.$ods-outline-color-default};
  //--ods-outline-offset: #{var.$ods-outline-offset};
  //--ods-outline-style-default: #{var.$ods-outline-style-default};
  //--ods-outline-width: #{var.$ods-outline-width};
}
