@use '../_common' as common;
@use '_palette' as palette;

/*
 * Expose Here SASS variables that will be used by ODS users
 * Do not put CSS here!
 */

// FONTS
$ods-font-family: 'Source Sans Pro', 'Trebuchet MS', arial, 'Segoe UI', sans-serif;
$ods-font-family-code: 'Source Code Pro', arial;

// COLORS
$ods-color-alpha: palette.$ods-single-color-alpha;
$ods-color-beta: palette.$ods-single-color-beta;
$ods-color-brand-dark-blue: palette.$ods-single-color-brand-dark-blue;
$ods-color-brand-green: palette.$ods-single-color-brand-green;
$ods-color-brand-master: palette.$ods-single-color-brand-masterbrand;
$ods-color-brand-orange: palette.$ods-single-color-brand-orange;
$ods-color-brand-skyblue: palette.$ods-single-color-brand-skyblue;
$ods-color-brand-yellow: palette.$ods-single-color-brand-yellow;
$ods-color-critical-000: palette.$ods-color-red-000;
$ods-color-critical-050: palette.$ods-color-red-050;
$ods-color-critical-100: palette.$ods-color-red-100;
$ods-color-critical-200: palette.$ods-color-red-200;
$ods-color-critical-300: palette.$ods-color-red-300;
$ods-color-critical-400: palette.$ods-color-red-400;
$ods-color-critical-500: palette.$ods-color-red-500;
$ods-color-critical-600: palette.$ods-color-red-600;
$ods-color-critical-700: palette.$ods-color-red-700;
$ods-color-critical-800: palette.$ods-color-red-800;
$ods-color-critical-900: palette.$ods-color-blue-900;
$ods-color-eco: palette.$ods-single-color-eco;
$ods-color-heading: palette.$ods-single-color-heading;
$ods-color-information-000: palette.$ods-color-blue-000;
$ods-color-information-050: palette.$ods-color-blue-050;
$ods-color-information-100: palette.$ods-color-blue-100;
$ods-color-information-200: palette.$ods-color-blue-200;
$ods-color-information-300: palette.$ods-color-blue-300;
$ods-color-information-400: palette.$ods-color-blue-400;
$ods-color-information-500: palette.$ods-color-blue-500;
$ods-color-information-600: palette.$ods-color-blue-600;
$ods-color-information-700: palette.$ods-color-blue-700;
$ods-color-information-800: palette.$ods-color-blue-800;
$ods-color-information-900: palette.$ods-color-blue-900;
$ods-color-limited: palette.$ods-single-color-limited;
$ods-color-neutral-000: palette.$ods-color-gray-000;
$ods-color-neutral-050: palette.$ods-color-gray-050;
$ods-color-neutral-100: palette.$ods-color-gray-100;
$ods-color-neutral-200: palette.$ods-color-gray-200;
$ods-color-neutral-300: palette.$ods-color-gray-300;
$ods-color-neutral-400: palette.$ods-color-gray-400;
$ods-color-neutral-500: palette.$ods-color-gray-500;
$ods-color-neutral-600: palette.$ods-color-gray-600;
$ods-color-neutral-700: palette.$ods-color-gray-700;
$ods-color-neutral-800: palette.$ods-color-gray-800;
$ods-color-neutral-900: palette.$ods-color-gray-900;
$ods-color-new: palette.$ods-single-color-new;
$ods-color-promotion: palette.$ods-single-color-promotion;
$ods-color-primary-000: palette.$ods-color-blue-000;
$ods-color-primary-050: palette.$ods-color-blue-050;
$ods-color-primary-100: palette.$ods-color-blue-100;
$ods-color-primary-200: palette.$ods-color-blue-200;
$ods-color-primary-300: palette.$ods-color-blue-300;
$ods-color-primary-400: palette.$ods-color-blue-400;
$ods-color-primary-500: palette.$ods-color-blue-500;
$ods-color-primary-600: palette.$ods-color-blue-600;
$ods-color-primary-700: palette.$ods-color-blue-700;
$ods-color-primary-800: palette.$ods-color-blue-800;
$ods-color-primary-900: palette.$ods-color-blue-900;
$ods-color-success-000: palette.$ods-color-green-000;
$ods-color-success-050: palette.$ods-color-green-050;
$ods-color-success-100: palette.$ods-color-green-100;
$ods-color-success-200: palette.$ods-color-green-200;
$ods-color-success-300: palette.$ods-color-green-300;
$ods-color-success-400: palette.$ods-color-green-400;
$ods-color-success-500: palette.$ods-color-green-500;
$ods-color-success-600: palette.$ods-color-green-600;
$ods-color-success-700: palette.$ods-color-green-700;
$ods-color-success-800: palette.$ods-color-green-800;
$ods-color-success-900: palette.$ods-color-green-900;
$ods-color-text: palette.$ods-single-color-text;
$ods-color-warning-000: palette.$ods-color-orange-000;
$ods-color-warning-050: palette.$ods-color-orange-050;
$ods-color-warning-100: palette.$ods-color-orange-100;
$ods-color-warning-200: palette.$ods-color-orange-200;
$ods-color-warning-300: palette.$ods-color-orange-300;
$ods-color-warning-400: palette.$ods-color-orange-400;
$ods-color-warning-500: palette.$ods-color-orange-500;
$ods-color-warning-600: palette.$ods-color-orange-600;
$ods-color-warning-700: palette.$ods-color-orange-700;
$ods-color-warning-800: palette.$ods-color-orange-800;
$ods-color-warning-900: palette.$ods-color-orange-900;

// BORDERS
$ods-border-radius-sm: 4px;
$ods-border-radius-md: 6px;
$ods-border-radius-lg: 16px;
$ods-border-width-sm: 1px;
$ods-border-width-md: 2px;

// OUTLINE
$ods-outline-color: $ods-color-primary-700;
$ods-outline-width: $ods-border-width-md;
$ods-outline-offset: 2px;
$ods-outline-style: solid;

// TRANSITIONS
$ods-transition-duration-default: 300ms;

// BREAKPOINTS
$ods-breakpoint-sub-mobile: common.$ods-dimension-breakpoint-sub-mobile;
$ods-breakpoint-mobile: common.$ods-dimension-breakpoint-mobile;
$ods-breakpoint-tablet: common.$ods-dimension-breakpoint-tablet;
$ods-breakpoint-desktop: common.$ods-dimension-breakpoint-desktop;
$ods-breakpoint-large-screen: common.$ods-dimension-breakpoint-large-screen;
$ods-breakpoint-widescreen: common.$ods-dimension-breakpoint-widescreen;

// COMPONENTS
$ods-form-element-background-color-default: $ods-color-primary-000;
$ods-form-element-background-color-hover: $ods-color-primary-000;
$ods-form-element-background-color-pressed: $ods-color-primary-200;
$ods-form-element-background-color-active: $ods-color-primary-200;
$ods-form-element-background-color-focused: $ods-color-primary-000;
$ods-form-element-border-color-default: $ods-color-neutral-300;
$ods-form-element-border-color-hover: $ods-color-neutral-500;
$ods-form-element-border-color-pressed: $ods-color-primary-200;
$ods-form-element-border-color-active: $ods-color-primary-200;
$ods-form-element-border-color-focused: $ods-color-primary-200;
$ods-form-element-foreground-color-text: $ods-color-text;
$ods-form-element-foreground-color-placeholder: $ods-color-neutral-600;
$ods-form-element-border-color-critical: $ods-color-critical-500;
$ods-form-element-background-color-critical: $ods-color-critical-000;
$ods-notifier-background-color-neutral-default: $ods-color-neutral-100;
$ods-notifier-background-color-neutral-hover: $ods-color-neutral-200;
$ods-notifier-background-color-neutral-pressed: $ods-color-neutral-300;
$ods-notifier-background-color-neutral-focused: $ods-color-neutral-200;
$ods-notifier-background-color-critical-default: $ods-color-critical-100;
$ods-notifier-background-color-critical-hover: $ods-color-critical-200;
$ods-notifier-background-color-critical-pressed: $ods-color-critical-300;
$ods-notifier-background-color-critical-focused: $ods-color-critical-200;
$ods-notifier-border-color-neutral-default: $ods-color-neutral-100;
$ods-notifier-border-color-neutral-hover: $ods-color-neutral-200;
$ods-notifier-border-color-neutral-pressed: $ods-color-neutral-300;
$ods-notifier-border-color-neutral-focused: $ods-color-neutral-200;
$ods-notifier-border-color-critical-default: $ods-color-critical-100;
$ods-notifier-border-color-critical-hover: $ods-color-critical-200;
$ods-notifier-border-color-critical-pressed: $ods-color-critical-300;
$ods-notifier-border-color-critical-focused: $ods-color-critical-200;
$ods-notifier-foreground-color-neutral-default: $ods-color-neutral-800;
$ods-notifier-foreground-color-neutral-focused: $ods-color-neutral-800;
$ods-notifier-foreground-color-critical-default: $ods-color-critical-800;
$ods-notifier-foreground-color-critical-focused: $ods-color-critical-800;
