.theme-generator-color-picker {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.theme-generator-color-picker:not(:has(.theme-generator-color-picker__label)) {
  justify-content: flex-end;
  width: auto;
}

.theme-generator-color-picker__label {
  flex: 1;
  color: var(--ods-color-text);
}

.theme-generator-color-picker__control {
  display: flex;
  border: 0;
}

.theme-generator-color-picker__control__trigger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.theme-generator-color-picker__control__trigger:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.theme-generator-color-picker__control__trigger__swatch {
  border: 1px solid var(--ods-color-neutral-300);
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.theme-generator-color-picker__popover {
  flex-direction: column;
  gap: 16px;
  z-index: 1000;
  border: 1px solid var(--ods-color-neutral-300);
  border-radius: var(--ods-border-radius-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--ods-color-neutral-000);
  padding: 16px;
}

.theme-generator-color-picker__popover[data-state="open"] {
  display: flex;
}

.theme-generator-color-picker__popover__area {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}

.theme-generator-color-picker__popover__area__background {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 200px;
}

.theme-generator-color-picker__popover__area__thumb {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid var(--ods-color-neutral-000);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--ods-color-neutral-500);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.theme-generator-color-picker__popover__slider {
  position: relative;
  border-radius: var(--ods-border-radius-sm);
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  height: 12px;
  min-height: 12px;
}

.theme-generator-color-picker__popover__slider__track {
  border-radius: var(--ods-border-radius-sm);
  width: 100%;
  height: 100%;
}

.theme-generator-color-picker__popover__slider__thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--ods-color-neutral-000);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--ods-color-neutral-500);
  cursor: pointer;
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
}

.theme-generator-color-picker__popover__slider__transparency-grid {
  position: absolute;
  border-radius: var(--ods-border-radius-sm);
  background-image:
    linear-gradient(45deg, var(--ods-color-neutral-200) 25%, transparent 25%),
    linear-gradient(-45deg, var(--ods-color-neutral-200) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--ods-color-neutral-200) 75%),
    linear-gradient(-45deg, transparent 75%, var(--ods-color-neutral-200) 75%);
  background-position: 0 0, 0 4px, 4px -4px, -4px 0;
  background-size: 8px 8px;
  width: 100%;
  height: 100%;
}

.theme-generator-color-picker__popover__inputs {
  display: flex;
  gap: 8px;
  min-width: 200px;
}

