@use '../../../../../style/focus';
@use '../../../../../style/state';
@use '../tab-list/tabList.module' as tab-list;

@layer ods-molecules {
  .tab {
    display: block;
    border-top: none;
    border-right: none;
    border-bottom: solid tab-list.$tab-list-border-bottom-size var(--ods-color-neutral-100);
    border-left: none;
    border-top-left-radius: var(--ods-border-radius-md);
    border-top-right-radius: var(--ods-border-radius-md);
    background: none;
    cursor: pointer;
    padding: 2px 16px;
    text-align: center;
    white-space: nowrap;
    color: var(--ods-color-text);
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;

    &:focus-visible {
      @include focus.ods-focus();

      z-index: 1;
      outline-offset: calc(var(--ods-outline-offset) * -1);
    }

    &:focus-visible:not([disabled], [aria-selected="true"]),
    &:hover:not([disabled], [aria-selected="true"]) {
      border-color: var(--ods-color-neutral-050);
      background-color: var(--ods-color-neutral-050);
    }

    &[disabled] {
      @include state.ods-is-disabled();

      border-color: var(--ods-color-neutral-100);
      background-color: inherit;
    }

    &[aria-selected="true"] {
      &:not([disabled]) {
        border-color: var(--ods-color-primary-500);
        color: var(--ods-color-primary-500);
      }

      &[disabled] {
        border-color: var(--ods-color-neutral-500);
      }
    }
  }
}
