@import '~@ovhcloud/ods-common-theming/color/ods-component-color';
@import './osds-select.mixins';

@mixin osds-select-theme-color-error-state() {
  .ods-error {
    $border: ods-get-color-variable($intent-name: error, $hue: '500');

    @include osds-select-on-select-element {
      border-color: $border;
    }

    @include osds-select-on-overlay-element {
      border-color: $border;
    }
  }
}

@mixin osds-select-theme-color() {
  /** Override error state colors in */
  @include osds-select-theme-color-error-state;

  /** main colors */
  :host {
    .select-trigger {
      outline: none;
      border-color: ods-get-color-variable($intent-name: primary, $hue: '200');
      background-color: var(--ods-color-primary-000);
      color: ods-get-color-variable($intent-name: primary, $hue: '500');

      &:hover {
        background-color: ods-get-color-variable($intent-name: primary, $hue: '100');
      }

      &.opened,
      &:focus {
        background-color: ods-get-color-variable($intent-name: primary, $hue: '200');
      }

      slot[name="placeholder"] {
        color: ods-get-color-variable($intent-name: primary, $hue: '500');
      }
    }

    .overlay {
      border-color: var(--ods-color-primary-200);
      background-color: var(--ods-color-primary-000);
    }
  }

  :host([disabled]),
  :host([disabled]:focus) {
    .select-trigger {
      &:hover {
        background-color: inherit;
      }
    }
  }
}
