@import 'styles/osds-skeleton.mixins';
@import 'styles/osds-skeleton.size';
@import '~@ovhcloud/ods-common-theming/ods-theme';

:host {
  display: flex;
  position: relative;
  min-height: .5rem;

  &::before {
    font-size: inherit;
    content: "\00a0";
  }

  .loader {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    border-radius: .5rem;
    background-color : #f2f2f2;
    background-image: linear-gradient(-90deg, #f2f2f2, #e6e6e6 46%, #e6e6e6 61%, #f2f2f2);
    background-position: -200% 0;
    background-repeat: repeat-y;
    background-size: 50% 12.5rem;
    height: .5rem;
    min-height: 10px;
    animation: skeleton linear 2s infinite;

    @keyframes skeleton {
      to {
        background-position: 200% 0;
      }
    }
  }
}

:host([inline]) {
  @include osds-skeleton-on-selected-host {
    display: inline-block;
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-skeleton-theme-size;
}
