/// @access private
@function ods-get-typography-properties-base-template($level-name, $size-name) {
  $template: (
    font-family: var(--ods-typography-#{$level-name}-#{$size-name}-font-family),
    font-size: var(--ods-typography-#{$level-name}-#{$size-name}-font-size),
    font-style: var(--ods-typography-#{$level-name}-#{$size-name}-font-style),
    font-weight: var(--ods-typography-#{$level-name}-#{$size-name}-font-weight),
    letter-spacing: var(--ods-typography-#{$level-name}-#{$size-name}-letter-spacing),
    line-height: var(--ods-typography-#{$level-name}-#{$size-name}-line-height),
  );
  @return $template;
}

/// @access private
@function ods-get-typography-level-definition-base-template($level-name, $size-list) {
  $template: ();
  @each $size-name in $size-list {
    $base: ods-get-typography-properties-base-template($level-name, $size-name);
    $template: map-merge($template, (#{$size-name}: $base));
  }
  @return $template;
}

/// the typography definitions for each level and size.
/// @access public
$ods-typography-definitions: (
  heading: ods-get-typography-level-definition-base-template(heading, ("100", "200", "300", "400", "500", "600", "700", "800")),
  subheading: ods-get-typography-level-definition-base-template(subheading, ("100", "200")),
  body: ods-get-typography-level-definition-base-template(body, ("100", "200", "300", "400", "500", "600")),
  button: ods-get-typography-level-definition-base-template(button, ("100")),
  caption: ods-get-typography-level-definition-base-template(caption, ("100"))
);
