@layer ods-organisms {
  .query-filter-content {
    --ods-query-filter-group-option-padding-horizontal: calc(var(--ods-semantic-size-space-inset-inline) * 3);

    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--ods-semantic-color-interaction-control-hover);
    background: var(--ods-semantic-color-surface-control);
    padding: 0;
    max-height: 400px;
    overflow: auto;

    &--invalid {
      border-color: var(--ods-semantic-color-border-critical);
    }

    &--open-bottom {
      border-radius: 0 0 var(--ods-semantic-size-radius-overlay) var(--ods-semantic-size-radius-overlay);
    }

    &--open-top {
      border-radius: var(--ods-semantic-size-radius-overlay) var(--ods-semantic-size-radius-overlay) 0 0;
    }

    &__empty {
      display: flex;
      align-items: center;
      padding: 0 var(--ods-semantic-size-space-inset-inline);
      min-height: 32px;
    }
  }
}
