<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0' />
  <title>Dev ods-link</title>

  <script type='module' src='/build/ods-link.esm.js'></script>
  <script nomodule src='/build/ods-link.js'></script>
  <link rel="stylesheet" href="/build/ods-link.css">
</head>

<body>
  <p>Default</p>
  <ods-link href="test" label="link clickable" target="_blank">
  </ods-link>

  <p>With text</p>
  <p>
    Want to discover OVH? Check <ods-link href="test" label="OVH website ppp" target="_blank"></ods-link>
  </p>

  <p>Disabled</p>
  <ods-link href="test" label="link disabled" is-disabled target="_blank">
  </ods-link>

  <p>Icon right (Default)</p>
  <ods-link href="test" label="link icon clickable" icon="arrow-right">
  </ods-link>

  <p>Icon left</p>
  <ods-link href="test" label="link icon clickable" icon="arrow-left" icon-alignment="left">
  </ods-link>

  <p>Icon Only</p>
  <ods-link href="test" icon="arrow-right">
  </ods-link>

  <p>Icon Disabled</p>
  <ods-link href="test" label="link icon disabled" icon="arrow-right" is-disabled>
  </ods-link>

  <p>Custom CSS</p>
  <ods-link class="my-link" href="test" label="link custom css">
  </ods-link>

  <p>Ellipsis</p>
  <ods-link id="link-ellipsis" class="my-link-ellipsis" href="test" label="link ellipsis" target="_blank">
  </ods-link>
  <ods-tooltip trigger-id="link-ellipsis" with-arrow="">
    link ellipsis
  </ods-tooltip>

  <style>
    .my-link::part(link) {
      color: green;
      font-size: 32px;
    }

    .my-link-ellipsis::part(link) {
      width: 50px;
    }
  </style>
</body>
</html>
