@use '../../../../../style/focus';

.ods-accordion {
  &__wrapper {
    transition: .3s border-color ease-out;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;

    &:focus-visible {
      @include focus.ods-focus();
    }

    &:focus-visible,
    &:hover {
      border-color: var(--ods-color-primary-200);
    }

    &--is-open,
    &--is-open:hover,
    &--is-open:focus-visible {
      border-color: var(--ods-color-primary-500);
    }

    &--is-disabled {
      opacity: .5;
      cursor: no-drop;

      &:hover,
      &.ods-accordion__wrapper--is-open {
        border-color: transparent;
      }

    }

    &__summary {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 24px;
      list-style: none;

      &--is-open {
        padding-bottom: 24px;
      }

      &--is-disabled {
        opacity: .5;
        cursor: no-drop;

        &:hover {
          border-color: transparent;
        }
      }

      &__icon {
        color: var(--ods-color-primary-500);
      }
    }

    &__content {
      padding: 0 24px 24px;
    }
  }
}
