@use '../../../../../style/focus';
@use '../../../../../style/state';

$ods-accordion-border-size: 1px;
$ods-accordion-padding: 24px;

.ods-accordion {
  &__details {
    $details: &;

    &:not([open]) {
      &:not(&#{$details}--disabled) {
        #{$details}__summary {
          &:focus-visible,
          &:hover {
            transition: .3s border-color ease-out;
            border-color: var(--ods-color-primary-200);
          }
        }
      }
    }

    &[open] {
      &:not(&#{$details}--disabled) {
        #{$details}__summary {
          transition: none;
          border-color: var(--ods-color-primary-500);
          border-bottom-color: transparent;
        }
      }
    }

    &--disabled {
      opacity: .5;

      #{$details}__summary {
        @include state.ods-is-disabled();

        #{$details}:not([open]) {
          border-bottom-color: transparent;
        }

        &__icon {
          color: state.$ods-state-is-disabled-text-color;
        }
      }

      #{$details}__content {
        @include state.ods-is-disabled();

        border-top-color: transparent;
      }
    }

    &__summary {
      $summary: &;

      display: grid;
      grid-template-columns: 1fr max-content;
      column-gap: $ods-accordion-padding;
      align-items: center;
      margin-bottom: -$ods-accordion-border-size;
      border: $ods-accordion-border-size solid transparent;
      cursor: pointer;
      padding: $ods-accordion-padding;

      &::-webkit-details-marker {
        display: none;
      }

      &:focus-visible {
        @include focus.ods-focus();
      }

      &__icon {
        color: var(--ods-color-primary-500);
        font-size: 0.875rem;
      }
    }

    &__content {
      border-right: solid 1px var(--ods-color-primary-500);
      border-bottom: solid 1px var(--ods-color-primary-500);
      border-left: solid 1px var(--ods-color-primary-500);
      padding: 0 $ods-accordion-padding $ods-accordion-padding;
    }
  }
}
