@layer ods-atoms {
  .toggle-labels {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    pointer-events: none;

    &__label-on,
    &__label-off {
      display: none;
      position: absolute;
      transition: color 0.2s;
    }

    &__label-on {
      left: 2px;
      color: var(--ods-toggle-control-label-on-text-color);

      &--checked {
        display: flex;
      }

      &--disabled {
        color: var(--ods-theme-text-color-disabled);
      }
    }

    &__label-off {
      $label-off: &;

      right: 2px;
      color: var(--ods-toggle-control-label-off-text-color);

      &--unchecked {
        display: flex;
      }

      &--disabled {
        color: var(--ods-theme-text-color-disabled);
      }
    }
  }
}
