@import 'styles/osds-datepicker.mixins';
@import 'styles/osds-datepicker.color';
@import 'styles/osds-datepicker.size';
@import 'styles/osds-datepicker.typography';
@import '~@ovhcloud/ods-common-theming/color/ods-theming-color';
@import '~@ovhcloud/ods-common-theming/ods-theme';

// CSS targeted only for this component
// /!\ for theming purposes, it has to be done in theming files
// (i.e. packages/libraries/theming/...)
@keyframes datepicker-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:host(.osds-datepicker) {
  display: flex;
  flex-direction: column;
}

.osds-datepicker {
  &__hidden-input {
    display: none;
  }
}

:host {
  .datepicker {
    display: none;
    position: relative;
    z-index: 99;
    animation: datepicker-appear 0.2s ease-in-out;

    * {
      transition: background-color 0.1s ease-in-out;
    }

    .datepicker-picker {
      position: absolute;
      border-style: solid;

      .datepicker-header,
      .datepicker-controls {
        display: flex;
        justify-content: space-between;

        .prev-btn,
        .next-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
        }

        .prev-btn[disabled],
        .next-btn[disabled] {
          opacity: 0.5;
          pointer-events: none;
        }

        .view-switch {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
        }
      }

      .datepicker-main {
        .datepicker-grid {
          display: grid;

          .datepicker-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
          }

          .disabled {
            opacity: 0.5;
          }
        }

        .datepicker-view {
          .days {
            .days-of-week {
              display: grid;

              .dow {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: default;
              }
            }

            .datepicker-grid {
              display: grid;

              .datepicker-cell {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                cursor: pointer;
              }

              .prev.no-displayed,
              .next.no-displayed {
                opacity: 0;
                cursor: default;
                pointer-events: none;
              }

              .prev,
              .next,
              .disabled {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

:host([hasFocus]) {
  .datepicker {
    display: flex;
  }
}

:host([inline]) {
  display: inline-block;
}

:host([disabled]) {
  .datepicker {
    display: none;
  }
}

// apply the theme template for the component
@include ods-theme-component {
  @include osds-datepicker-theme-color;
  @include osds-datepicker-theme-size;
  @include osds-datepicker-theme-typography;
}
