@layer ods-organisms {
  .query-filter-tags {
    display: flex;
    flex-flow: row wrap;
    gap: var(--ods-semantic-size-space-gap-block) var(--ods-semantic-size-space-gap-inline);
    margin: 0;
    padding: 0;
    list-style-type: "";

    &__tag {
      white-space: nowrap;
    }
  }
}
