@import '~@ovhcloud/ods-theming/color/ods-component-color';
@import './osds-tab-bar-item.mixin';

@mixin osds-tab-item-theme-color() {

  // NOMINAL case
  :host {
    color: var(--ods-color-primary-500);
    border-bottom-color: transparent;
  }

  :not([disabled]):hover {
    @include osds-tab-bar-item-on-selected-host() {
      color: var(--ods-color-primary-700);
      border-bottom-color: var(--ods-color-primary-700);
    }
  }
  :host([active]) {
    border-bottom-color: inherit;
  }

  :host(:focus-visible) {
    outline: 2px gray dotted;
  }

  // DISABLED case
  [disabled] {
    @include osds-tab-bar-item-on-selected-host() {
      opacity: .5;
    }
  }

  // CONTRASTED case
  [contrasted] {
    @include osds-tab-bar-item-on-selected-host() {
      color: var(--ods-color-primary-000);
    }

    &:not([disabled]):hover {
      @include osds-tab-bar-item-on-selected-host() {
        border-bottom-color: var(--ods-color-primary-100);
        color: var(--ods-color-primary-100);
      }
    }


    &[active] {
      &:hover {
        @include osds-tab-bar-item-on-selected-host() {
          border-bottom-color: var(--ods-color-primary-100);
        }
      }

      @include osds-tab-bar-item-on-selected-host() {
        border-bottom-color: var(--ods-color-primary-000);
      }
    }
  }

}
