.media-product-card {
  overflow: hidden;

  &__body {
    display: flex;
    flex-flow: column;
    row-gap: calc(var(--ods-semantic-size-space-gap-block) * 3);
    padding: calc(var(--ods-semantic-size-space-inset-block) * 2) calc(var(--ods-semantic-size-space-inset-inline) * 2);

    &__logo {
      align-self: center;
    }

    &__content {
      display: flex;
      flex-flow: column;
      row-gap: calc(var(--ods-semantic-size-space-gap-block) * 2);
    }
  }

  &__footer {
    background-color: var(--ods-semantic-color-surface-readonly);
    padding: calc(var(--ods-semantic-size-space-inset-block) * 2) calc(var(--ods-semantic-size-space-inset-inline) * 2);
  }
}
