.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.gallery__item {
  display: grid;
  grid-template-rows: 1fr max-content;
  row-gap: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

/* increase weight to override default storybook style */
.gallery .gallery__item__preview {
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 100%;
}

.gallery__item__title {
  justify-self: center;
  font-size: 1.25rem;
}
