@use '../../../../../style/radio';

.ods-radio {
  display: inline-flex;
  width: inherit;
  height: inherit;

  &__radio {
    @include radio.ods-radio();

    &--error {
      border-color: var(--ods-color-form-element-border-critical);
    }
  }
}
