:host {
  /* overlay important properties */
  display: inline-block; /* best practice for web component */
  position: var(--ods-popover-position, relative); /* must be here to make the positioning working well */
  padding: 0; /* must be here to make the computing works. If you need padding, apply it on trigger or surface */
  text-align: initial; /* must be here to make the positioning working well for RTL alignment */
  /* end overlay important properties */
}

::slotted([slot=popover-trigger]) {
  display: inline-flex;
}

/** base colors */
:host {
  border-color: transparent;
}

ocdk-surface {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1490196078);
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFF 0% 0% no-repeat padding-box;
}

/** no variant specified: default variant colors */
ocdk-surface {
  padding: 8px;
  width: max-content;
  max-width: 300px;
}