import { Component, type FunctionalComponent, Host, Prop, h } from '@stencil/core';

@Component({
  shadow: true,
  styleUrl: 'ods-{{> component-name }}.scss',
  tag: 'ods-{{> component-name }}',
})
export class Ods{{> ComponentName }} {
  @Prop({ reflect: true }) public dummy?: string;

  render(): FunctionalComponent {
    return (
      <Host
        class="ods-{{> component-name }}"
        role="article">
        <p>
          ODS Template Component: { this.dummy }
        </p>
      </Host>
    );
  }
}
