import classNames from 'classnames';
import { type ComponentPropsWithRef, type FC, type JSX, forwardRef } from 'react';
import style from './ods{{> ComponentName }}.module.scss';

interface Ods{{> ComponentName }}Prop extends ComponentPropsWithRef<'div'> {
  // ...
}

const Ods{{> ComponentName }}: FC<Ods{{> ComponentName }}Prop> = forwardRef(({
  className,
  ...props
}, ref): JSX.Element => {
  return (
    <div
      className={ classNames(style['ods-{{> component-name }}'], className) }
      ref={ ref }
      { ...props }>
    </div>
  );
});

export {
  Ods{{> ComponentName }},
  type Ods{{> ComponentName }}Prop,
};
