@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-group {
    margin: 0;
    padding: 0;

    &__label {
      display: flex;
      align-items: center;
      padding: 0 8px;
      min-height: 32px;
      color: var(--ods-color-heading);
      font-weight: 600;
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }
  }
}
