@use '../../../../../style/state';

@layer ods-organisms {
  .combobox-group {
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: solid var(--ods-theme-input-border-width) var(--ods-theme-split-border-color);
    }

    &__label {
      display: flex;
      align-items: center;
      padding: 0 var(--ods-theme-input-padding-horizontal);
      min-height: var(--ods-theme-input-min-height);
      color: var(--ods-theme-heading-text-color);
      font-weight: 600;

      &--disabled {
        @include state.ods-is-disabled();
      }
    }

    &__option {
      padding: 0 var(--ods-combobox-group-option-padding-horizontal);
    }
  }
}
